/out
/.hgtags
/.hgignore
/dsos.iml
/db/update.sql
/web/WEB-INF/cfg/config.xml.orig
/test/cfg/config.xml
/test/client/vagrant/.vm_v*
/test/client/vagrant/.vagrant
/test/client/log/*
/src/hibernate.cfg.xml
/atlassian-ide-plugin.xml
/web/WEB-INF/cfg/schema.sql
/web/data/javascript/gfxpakversion.js
/src/net/driftingsouls/ds2/server/scripting/roles/parser/Role__.g
/src/net/driftingsouls/ds2/server/scripting/roles/parser/RoleParser.java
/src/net/driftingsouls/ds2/server/scripting/roles/parser/RoleLexer.java
/src/net/driftingsouls/ds2/server/scripting/roles/parser/Role.tokens
/*.log*
/*.patch
/.hg
/build
/.idea
/build.properties
/bin
/bin-tests
/lox
/db-dumps
/generated
/screenshots
/web/downloads
/web/data/dynamicContent
/web/data/downloads
/web/data/logos
/web/data/planetendesign
/web/data/starmap/_tilecache
/web/WEB-INF/cfg/config.xml
*.iml
/game/target
/templates/target
/game/src/main/webapp/WEB-INF/cfg/config.xml
/game/src/main/webapp/WEB-INF/cfg/schema.sql
/game/*.log*
/game/src/main/ds.log
/game/src/main/lox
game/src/main/webapp/null
flyway.conf

