<div class="gfxbox" style="width:435px;text-align:center">
	{if deak.list}
		<!-- BEGIN deak.listitem -->
			<span style="color:red">{deak.name} deaktiviert</span><br />
		<!-- END deak.listitem --> 
	{/endif}
	{if activate.list}
		<!-- BEGIN activate.listitem -->
			{if activate.success}
				<span style="color:green">{activate.name} aktiviert</span><br />
			{else}
				<span style="color:red">{activate.name} kann nicht aktiviert werden</span><br />
			{/endif}
		<!-- END activate.listitem -->
	{else}
		<br /><span style="color:red">Geb&auml;ude deaktiviert</span><br />
	{/endif}
</div>
<div>
	<br />
	{!link_to zur&uuml;ck, default, css_class:back, module:base, col:$base.id}<br />
</div>