<div class="gfxbox" id="basenBox">
<table class="datatable">
<colgroup>
	<col class="idCol" />
	<col class="nameCol" />
	<col class="locationCol" />
	<col class="bewohnerCol" />
	<col class="energieCol" />
	<col class="mangelCol" />
	<col class="lagerCol" />
	<col class="einheitenCol" />
	<col class="gebaeudeCol" />
</colgroup>
<thead>
<tr>
	<th class="sortable">
		<div>
			ID
			<a class="sort" href="./ds?module=basen&amp;ord=id&amp;l={global.l}&amp;order={if global.omode > 0}-1{else}1{/endif}">
				<img src="./data/interface/sort{if global.order.id}{if global.omode > 0}-down{else}-up{/endif}{/endif}.png" />
			</a>
		</div>
	</th>
	<th class="sortable">
		<div>
			Name
			<a class="sort" href="./ds?module=basen&amp;ord=name&amp;l={global.l}&amp;order={if global.omode > 0}-1{else}1{/endif}">
				<img src="./data/interface/sort{if global.order.name}{if global.omode > 0}-down{else}-up{/endif}{/endif}.png" />
			</a>
		</div>
	</th>
	<th class="sortable">
		<div>
			Koordinaten
			<a class="sort" href="./ds?module=basen&amp;ord=sys&amp;l={global.l}&amp;order={if global.omode > 0}-1{else}1{/endif}">
				<img src="./data/interface/sort{if global.order.sys}{if global.omode > 0}-down{else}-up{/endif}{/endif}.png" />
			</a>
		</div>
	</th>
	<th class="sortable">
		<div>
			Bewohner
			<a class="sort" href="./ds?module=basen&amp;ord=bew&amp;l={global.l}&amp;order={if global.omode > 0}-1{else}1{/endif}">
				<img src="./data/interface/sort{if global.order.bew}{if global.omode > 0}-down{else}-up{/endif}{/endif}.png" />
			</a>
		</div>
	</th>
	<th class="sortable">
		<div>
			Energie
			<a class="sort" href="./ds?module=basen&amp;ord=e&amp;l={global.l}&amp;order={if global.omode > 0}-1{else}1{/endif}">
				<img src="./data/interface/sort{if global.order.e}{if global.omode > 0}-down{else}-up{/endif}{/endif}.png" />
			</a>
		</div>
	</th>
	<th><div>Mangel <img src="data/interface/time.gif" alt="" /></div></th>
	<th>
		<div>
			Lager
			{if global.l > 0}
				<a href="./ds?module=basen&amp;l=-1"><span style="font-size:8pt">(nicht anzeigen)</span></a>
			{else}
				<a href="./ds?module=basen&amp;l=1"><span style="font-size:8pt">(anzeigen)</span></a>
			{/endif}
		</div>
	</th>
	<th>
		<div>
			Einheiten
		</div>
	</th>
	<th>
		<div>Spezialgebäude</div>
	</th>
</tr>
</thead>
<tbody>
<!-- BEGIN bases.listitem -->
	<tr>
		<td>
			{!link_to $base.id, default, module:base, col:$base.id}
		</td>
		<td>
			<a href="./ds?module=base&amp;col={base.id}">
				<img class="baseIcon" src="{base.klasse.lrsimage}" alt="Kolonie" />&nbsp;
				{base.name}
			</a>
		</td>
		<td class="locationCol"><a href="./client#/map/{base.system}/{base.x}/{base.y}">{base.system}:{base.x}/{base.y}</a></td>
		<td class="bewohnerCol">{base.bewohner}</td>
		<td class="energieCol">
			{base.e}
			{if base.e.diff < 0}
				<span style="color:red">-{base.e.diff}</span>
			{/endif}
			{if base.e.diff > 0}
				<span style="color:green">+{base.e.diff}</span>
			{/endif}
		</td>
		<td class="mangelCol">
			<!-- BEGIN bases.mangel.listitem -->
				<span class="nobr" title="{mangel.plainname}: verbraucht in {mangel.rounds} Ticks">
					<img src="{mangel.image}" alt="" />
					{if mangel.rounds < 100}{mangel.rounds}{/endif}
				</span>
			<!-- END bases.mangel.listitem -->
		</td>
		<td class="cargoCol">
			{if global.l > 0}
				<!-- BEGIN bases.cargo.listitem -->
					<span class="nobr"><img src="{res.image}" alt="" title="{res.plainname}" />{res.cargo}</span>
				<!-- END bases.cargo.listitem -->
				<span class="nobr"><img src="data/interface/leer.gif" alt="" title="Leer" />{bases.cargo.empty}</span>
			{else}
				{!link_to (anzeigen), default, css_style:font-size:8pt, l:1}
			{/endif}
		</td>
		<td class="unitCol">
			<!-- BEGIN bases.units.listitem -->
			<img src="{res.picture}" alt="" />{!link_to $res.name, default, module:unitinfo, unit:$res.id} {res.count}
			<br />
			<!-- END bases.units.listitem -->
		</td>
		<td class="gebaeudeCol">
			{base.shortcuts}
		</td>
	</tr>
<!-- END bases.listitem -->
</tbody>
</table>
</div>