<div id="baseContent">
	{if base.message}
		<div class="smallfont">
			{base.message}<br /><br />
		</div>
	{/endif}
	<input type="hidden" id="baseId" value="{base.id}" />
	<a title="Zur Sternenkarte wechseln" class="forschinfo" href="./ds?module=client#/map/{base.system}/{base.x}/{base.y}">{base.system}:{base.x}/{base.y}</a> - <span id="baseName">{base.name}</span> ({base.id})
	<a class="noborder" id="changename" name="changename" onclick="Base.changeName()" href="#">
		<img style="vertical-align:middle; border:0px" src="./data/interface/pen.gif" alt="Namen &auml;ndern" />
	</a>
	<br />
	<br />
	<span class="smallfont">
		Core:
		{if base.core}
			{if base.core.active}
				{!link_to $core.name, default, css_class:ok, module:core, col:$base.id}
			{else}
				{!link_to $core.name, default, css_class:error, module:core, col:$base.id}
			{/endif}
		{else}
			{!link_to leer, default, css_class:ok, module:core, col:$base.id}
		{/endif}
	</span>
	<br /><br />

<table class="noBorder" cellspacing="5" cellpadding="2" style="table-layout:fixed">
<tr>
	<td style="width:{base.map.width}px" class="Border">Karte</td>
	<td style="width:5px" class="noBorder"></td>
	<td style="width:280px" class="Border">Cargo</td>
	<td style="width:5px" class="noBorder"></td>
	<td style="width:240px" class="Border">Aktionen</td>
</tr>
<tr>
	<td class="schiffData" style="vertical-align:top; width:{base.map.width}px;height:{base.cargo.height}px;">
		<div id="baseMap" style="width:{base.map.width}px; height:{base.cargo.height}px;">
		<!-- +START+ Karte -->
		<!-- BEGIN base.map.listitem -->
			{if tile.beginrow}
			<div class="tilerow">
			{/endif}
			<div class="tile">
				<div class="p{tile.id} {if tile.building}building{tile.building.id}{/endif}">
					{if ! tile.overlay}
						{if tile.building}
							<a class="tooltip" {if tile.building.json}onclick="Base.showBuilding({tile.field});return false;"{/endif}
								href="./ds?module=building&amp;col={base.id}&amp;field={tile.field}">
								<span class="ttcontent">{tile.building.name}</span>
						{else}
							<a href="./ds?module=build&amp;col={base.id}&amp;field={tile.field}">
						{/endif}
					{/endif}
					<img style="border:0px" src="{tile.building.image}" alt="" />
					{if ! tile.overlay}</a>{/endif}
				</div>
				{if tile.overlay}
					<div class="o{tile.id} overlay">
						{if tile.building}
							<a class="tooltip" {if tile.building.json}onclick="Base.showBuilding({tile.field});return false;"{/endif}
								href="./ds?module=building&amp;col={base.id}&amp;field={tile.field}">
								<span class="ttcontent">{tile.building.name}</span>
						{else}
							<a href="./ds?module=build&amp;col={base.id}&amp;field={tile.field}">
						{/endif}
						<img style="border:0px" src="data/buildings/{tile.overlay.image}" alt="" />
						</a>
					</div>
				{/endif}
			</div>
			{if tile.endrow}
			</div>
			{/endif}
		<!-- END base.map.listitem -->
		<!-- +END+ Karte -->
		</div>
	</td>
	<td class="noBorder" style="width:5px">&nbsp;</td>
	<td style="vertical-align:top; width:280px;height:{base.cargo.height}px;" class="schiffWaren">
		<ul id="cargoBox">
			<!-- +START+ Cargo -->
			<!-- BEGIN base.cargo.listitem -->
				<li>
				<img src="{res.image}" alt="" />
				{res.name} {res.cargo1} {if res.plaincount2}{res.cargo2}{/endif}
				</li>
			<!-- END base.cargo.listitem -->
			<img src="data/interface/leer.gif" alt="" />Leer {base.cargo.empty} {base.cstat}<br />
			<!-- +END+ Cargo -->
		</ul>
	</td>
	<td class="noBorder" style="width:5px">&nbsp;</td>
	<td style="vertical-align:top; width:240px" class="schiffWaren">
		<ul class="buildingActions">
			<!-- BEGIN base.massonoff.listitem -->
				<li onmouseover="Base.highlightBuilding('building{building.id}')" onmouseout="Base.noBuildingHighlight()">
					{building.name}
					{if building.allowoff}
						<a title="Gebäude deaktivieren" class="action deaktivieren" href="ds?module=base&action=changeBuildingStatus&col={base.id}&buildingonoff={building.id}&act=0">
							<img alt="" src="data/interface/nenergie.gif">
						</a>
					{/endif}
					{if building.allowon}
						<a title="Gebäude aktivieren" class="action aktivieren" href="ds?module=base&action=changeBuildingStatus&col={base.id}&buildingonoff={building.id}&act=1">
							<img alt="" src="data/interface/energie.gif">
						</a>
					{/endif}
				</li>
			<!-- END base.massonoff.listitem -->
		</ul>
		<ul class="baseActions">
			<li>{!link_to Alles aktivieren, default, css_style:font-size:14px, css_class:ok, module:activateall, col:$base.id}</li>
			<li>{!link_to Alles deaktivieren, default, css_style:font-size:14px, css_class:error, module:activateall, col:$base.id, deaconly:1}</li>
		</ul>
		<ul class="baseActions">
			{if base.isfeeding}
				<li>{!link_to Versorgung abschalten, changeFeeding, css_style:font-size:14px, css_class:ok, module:base, col:$base.id, feeding:0}</li>
			{else}
				<li>{!link_to Versorgung anschalten, changeFeeding, css_style:font-size:14px, css_class:error, module:base, col:$base.id, feeding:1}</li>
			{/endif}
		</ul>
	</td>
</tr>
<tr>
	<td colspan="5" class="noBorderS">
		<br />
		{if base.marines}
			<div class="gfxbox">
				<!-- BEGIN base.units.listitem -->
				<img style="vertical-align:middle" src="{res.picture}" alt="" />{!link_to $res.name, default, module:unitinfo, unit:$res.id} {res.count}<br />
				<!-- END base.units.listitem -->
			</div>
		{/endif}
		<div class="gfxbox" id="statsBox">
			Gespeicherte Energie: {base.e}<br />
			Energiebilanz: {base.estat}<br />
			<br />
			Bev&ouml;lkerung: {base.bewohner}<br />
			Arbeiter ben&ouml;tigt: {base.arbeiter.needed}<br />
			Wohnraum: {base.wohnraum}<br />
			<div class="arbeiteranzeige" style="width:{arbeiterProzent}%"></div>
			<div class="arbeitslosenanzeige" style="width:{arbeitslosProzent}%"></div>
			<div class="wohnraumfreianzeige" style="width:{wohnraumFreiProzent}%"></div>
			<div class="wohnraumfehltanzeige" style="width:{wohnraumFehltProzent}%"></div>
			<br /><br />
		</div>
	</td>
</tr>
</table>
</div>