<div class="smallfont">
{if academy.message}
	{academy.message}
	<br />
{/endif}
<br />
<span style="font-weight:bold">{academy.actualbuilds}/{academy.maxbuilds} Pl&auml;tzen belegt</span>
<br />
<br />
<br />
{if academy.show.trainnewoffi}
	<div class="gfxbox" style="width:800px">
		{if trainnewoffi.error}
			<span class="error">{trainnewoffi.error}</span><br />
		{/endif}
		{if trainnewoffi.train}
			Training beginnt<br />
		{/endif}
	</div>
	<br />
{/endif}
{if academy.show.trainoffi}
	<div class="gfxbox" style="width:800px">
		Trainiere {offizier.name}:<br />
		<!-- BEGIN academy.train.listitem -->
		verbessere {offizier.train.ability} um {offizier.train.lvl} Stufen <br />
		<!-- END academy.train.listitem -->
		<br />
		 - Gesamtkosten: <img src="data/interface/time.gif" alt="Dauer" />{offizier.train.dauer}
		<img src="{resource.silizium.image}" alt="" />{offizier.train.silizium} <img src="{resource.nahrung.image}" alt="" />{offizier.train.nahrung}<br />

		{if trainoffi.error}
			<span class="error">{trainoffi.error}</span><br />
		{/endif}
		{if trainoffi.conf}
			<br />
			<div style="text-align:center">
				<form action="./ds" method="post">
					<input type="hidden" name="waffen" value="{trainoffi.waf}"/>
					<input type="hidden" name="navigation" value="{trainoffi.nav}"/>
					<input type="hidden" name="technik" value="{trainoffi.tec}"/>
					<input type="hidden" name="sicherheit" value="{trainoffi.sec}"/>
					<input type="hidden" name="kommando" value="{trainoffi.com}"/>
					<input type="hidden" name="off" value="{trainoffi.id}"/>
					<input type="hidden" name="col" value="{base.id}"/>
					<input type="hidden" name="field" value="{base.field}"/>
					<input type="hidden" name="module" value="building"/>
					<input type="hidden" name="conf" value="ok"/>
					<input type="submit" value="Training durchf&uuml;hren"/>
				</form>
			</div>
		{/endif}
		{if trainoffi.train}
			<br />Training beginnt<br />
		{/endif}
	</div>
	<br />
{/endif}
{if academy.show.training}
	<div class="gfxbox" style="width:800px">
	 	<h3>Bildet aus</h3>
	 	<table class="noBorderX" border="0" style="width:100%">
	 	<tr>
	 		<td class="noBorderX">Name</td>
	 		<td class="noBorderX">Ausbildung</td>
	 		<td class="noBorderX"><span style="font-weight:bold">Dauer:</span></td>
	 		<td class="noBorderX"></td>
	 		<td class="noBorderX">Optionen</td>
	 	</tr>
	 	<!-- BEGIN academy.training.listitem -->
	 	<tr>
	 		<td class="noBorderX">
		 		{if trainoffizier.offi}
		 			<img style="vertical-align:middle" src="{trainoffizier.picture}" alt="" />
		 			<a class="academy" href="./choff?off={trainoffizier.id}">{trainoffizier.name}</a>
		 		{else}
		 			{trainoffizier.name}
		 		{/endif}
	 		</td>
	 		<td class="noBorderX">{trainoffizier.attribute}</td>
			<td class="noBorderX"><img align="middle" src="data/interface/time.gif" alt="" />{trainoffizier.remain}</td>
			<td class="noBorderX">
			{if trainoffizier.build}
				<img style="vertical-align:middle" src="data/interface/werft/active.png" alt="" />
			{/endif}
			</td>
			<td class="noBorderX">
				{if trainoffizier.showup}
					<a class="academy" href="./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;up=1&amp;queueid={trainoffizier.queue.id}"><img style="vertical-align:middle" src="data/interface/werft/up.png" alt="Hoch" title="Hoch" /></a>
				{/endif}
				{if trainoffizier.showdown}
					<a class="academy" href="./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;down=1&amp;queueid={trainoffizier.queue.id}"><img style="vertical-align:middle" src="data/interface/werft/down.png" alt="Runter" title="Runter" /></a>
				{/endif}
				<a href="javascript:DS.ask('Soll die Ausbildung wirklich abgebrochen werden?','./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;cancel=1&amp;queueid={trainoffizier.queue.id}')">
				<img style="vertical-align:middle;border:0px" src="data/interface/werft/delete.gif" alt="Abbrechen" title="Abbrechen" /></a>
			</td>
		</tr>
		<!-- END academy.training.listitem -->
		</table>
	 </div>
	 <br />
{/endif}
{if academy.show.trainnew}
	<div class="gfxbox" style="width:800px">

	<h3>Neuen Offizier ausbilden</h3>
	Kosten: <img src="data/interface/time.gif" alt="" />{dauer.costs} <img src="{resource.silizium.image}" alt="" />{resource.silizium.costs} <img src="{resource.nahrung.image}" alt="" />{resource.nahrung.costs}<br /><br />
	<table class="noBorderX" border="1">
	<tr>
		<td class="noBorderX">Name</td>
		<td class="noBorderX">Technik</td>
		<td class="noBorderX">Waffen</td>
		<td class="noBorderX">Navigation</td>
		<td class="noBorderX">Sicherheit</td>
		<td class="noBorderX">Kommandoeffizienz</td>
	</tr>
	<!-- BEGIN academy.trainnew.listitem -->
		<tr>
			<td class="noBorderX"><a class="academy" href="./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;newo={offizier.id}">{offizier.name}</a></td>
			<td class="noBorderX" style="text-align:center">{offizier.ing}</td>
			<td class="noBorderX" style="text-align:center">{offizier.waf}</td>
			<td class="noBorderX" style="text-align:center">{offizier.nav}</td>
			<td class="noBorderX" style="text-align:center">{offizier.sec}</td>
			<td class="noBorderX" style="text-align:center">{offizier.com}</td>
		</tr>
	<!-- END academy.trainnew.listitem -->
	</table>
	<br />

	</div>
	<br />
{/endif}
{if academy.show.offilist}
	{if academy.offilistausb.list}
		<div class="gfxbox" style="width:800px">
		<h3>Offiziere in Ausbildung</h3>
		<table class="noBorderX" border="1">
		<tr>
			<td class="noBorderX">Name</td>
			<td class="noBorderX">Technik</td>
			<td class="noBorderX">Waffen</td>
			<td class="noBorderX">Navigation</td>
			<td class="noBorderX">Sicherheit</td>
			<td class="noBorderX">Kommandoeffizienz</td>
			<td class="noBorderX">Spezial</td>
		</tr>
		<!-- BEGIN academy.offilistausb.listitem -->
			<tr>
			<td class="noBorderX" style="white-space:nowrap">
			<img style="vertical-align:middle" src="{offizier.picture}" alt="" />
			<a class="academy" href="./choff?off={offizier.id}">{offizier.name}</a>
			</td>

			<td class="noBorderX" align="center">

				{offizier.ing} {if offizier.toing > 0} -> {offizier.toing}{/endif}

			</td>

			<td class="noBorderX" align="center">

				{offizier.waf} {if offizier.towaf > 0} -> {offizier.towaf}{/endif}

			</td>

			<td class="noBorderX" align="center">

				{offizier.nav} {if offizier.tonav > 0} -> {offizier.tonav}{/endif}

			</td>

			<td class="noBorderX" align="center">

				{offizier.sec} {if offizier.tosec > 0} -> {offizier.tosec}{/endif}

			</td>

			<td class="noBorderX" align="center">

				{offizier.com} {if offizier.tocom > 0} -> {offizier.tocom}{/endif}

			</td>

			<td class="noBorderX">{offizier.special}</td>
			</tr>
		<!-- END academy.offilistausb.listitem -->
		</table><br />
		</div>
	{/endif}
	<br />
	{if academy.offilist.list}
		<div class="gfxbox" style="width:800px">
		<h3>Anwesende Offiziere</h3>
		<table class="noBorderX" border="1">
		<tr>
			<td class="noBorderX">Name</td>
			<td class="noBorderX">Spezial</td>
			<td class="noBorderX">Technik</td>
			<td class="noBorderX">Waffen</td>
			<td class="noBorderX">Navigation</td>
			<td class="noBorderX">Sicherheit</td>
			<td class="noBorderX">Kommandoeffizienz</td>
			<td class="noBorderX">Aktion</td>
		</tr>
		<!-- BEGIN academy.offilist.listitem -->
		<tr>
			<form action="./ds" method="post">
				<td class="noBorderX" style="white-space:nowrap">
					<img style="vertical-align:middle" src="{offizier.picture}" alt="" />
					<a class="academy" href="./choff?off={offizier.id}">{offizier.name}</a>
					<input type="hidden" name="off" value="{offizier.id}"/>
					<input type="hidden" name="col" value="{base.id}"/>
					<input type="hidden" name="field" value="{base.field}"/>
					<input type="hidden" name="module" value="building"/>
				</td>
				<td class="noBorderX">{offizier.special}</td>

				<td class="noBorderX" align="center">
				{if offilist.allowactions}
					{offizier.ing} +<input type="number" id="technik" name="technik" min="0" step="10" max="1000" style="width:50px;text-align: right" value="0"/>
				{else}
					{offizier.ing}
				{/endif}
				</td>

				<td class="noBorderX" align="center">
				{if offilist.allowactions}
					{offizier.waf} +<input type="number" id="waffen" name="waffen" min="0" step="10" max="1000" style="width:50px;text-align: right" value="0"/>
				{else}
					{offizier.waf}
				{/endif}
				</td>

				<td class="noBorderX" align="center">
				{if offilist.allowactions}
					{offizier.nav} +<input type="number" id="navigation" name="navigation" min="0" step="10" max="1000" style="width:50px;text-align: right" value="0"/>
				{else}
					{offizier.nav}
				{/endif}
				</td>

				<td class="noBorderX" align="center">
				{if offilist.allowactions}
					{offizier.sec} +<input type="number" id="sicherheit" name="sicherheit" min="0" step="10" max="1000" style="width:50px;text-align: right" value="0"/>
				{else}
					{offizier.sec}
				{/endif}
				</td>

				<td class="noBorderX" align="center">
				{if offilist.allowactions}
					{offizier.com} +<input type="number" id="kommando" name="kommando" min="0" step="10" max="1000" style="width:50px;text-align: right" value="0"/>
				{else}
					{offizier.com}
				{/endif}
				</td>
				<td>
					<input type="submit" value="Trainieren"/>
				</td>
			</form>
		</tr>
		<!-- END academy.offilist.listitem -->
		</table><br />
		</div>
		<br />
	{/endif}
{/endif}
<br />
{!link_to zur&uuml;ck zur Akademie, default, css_class:back, module:building, col:$base.id, field:$base.field}
<br />
<br />
</div>