<div class="smallfont">
{if academy.message}
	{academy.message}
	<br />
{/endif}
<br />
<span style="font-weight:bold">{academy.actualbuilds}/{academy.maxbuilds} Pl&auml;tzen belegt</span>
<br />
<br />
<br />
{if academy.show.trainnewoffi}
	<div class="gfxbox" style="width:600px">
		{if trainnewoffi.error}
			<span class="error">{trainnewoffi.error}</span><br />
		{/endif}
		{if trainnewoffi.train}
			Training beginnt<br />
		{/endif}
	</div>
	<br />
{/endif}
{if academy.show.trainoffi}
	<div class="gfxbox" style="width:600px">
		Trainiere {offizier.name}:<br />
		verbessere {offizier.train.ability}
		 - Kosten: <img src="data/interface/time.gif" alt="Dauer" />{offizier.train.dauer}
		<img src="{resource.silizium.image}" alt="" />{offizier.train.silizium} <img src="{resource.nahrung.image}" alt="" />{offizier.train.nahrung}<br />

		{if trainoffi.error}
			<span class="error">{trainoffi.error}</span><br />
		{/endif}
		{if trainoffi.conf}
			<br />
			<div style="text-align:center">
				<a class="back" href="./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;train={trainoffi.trainid}&amp;off={trainoffi.id}&amp;conf=ok">Training durchf&uuml;hren</a>
			</div>
		{/endif}
		{if trainoffi.train}
			<br />Training beginnt<br />
		{/endif}
	</div>
	<br />
{/endif}
{if academy.show.training}
	<div class="gfxbox" style="width:600px">
	 	<h3>Bildet aus</h3>
	 	<table class=noBorderX" border="0" style="width:100%">
	 	<tr>
	 		<td class="noBorderX">Name</td>
	 		<td class="noBorderX">Ausbildung</td>
	 		<td class="noBorderX"><span style="font-weight:bold">Dauer:</span></td>
	 		<td class="noBorderX"></td>
	 		<td class="noBorderX">Optionen</td>
	 	</tr>
	 	<!-- BEGIN academy.training.listitem -->
	 	<tr>
	 		<td class="noBorderX">
		 		{if trainoffizier.offi}
		 			<img style="vertical-align:middle" src="{trainoffizier.picture}" alt="" />
		 			<a class="academy" href="./ds?module=choff&amp;off={trainoffizier.id}">{trainoffizier.name}</a>
		 		{else}
		 			{trainoffizier.name}
		 		{/endif}
	 		</td>
	 		<td class="noBorderX">{trainoffizier.attribute}</td>
			<td class="noBorderX"><img align="middle" src="data/interface/time.gif" alt="" />{trainoffizier.remain}</td>
			<td class="noBorderX">
			{if trainoffizier.build}
				<img style="vertical-align:middle" src="data/interface/werft/active.png" alt="" />
			{/endif}
			</td>
			<td class="noBorderX">
				{if trainoffizier.showup}
					<a class="academy" href="./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;up=1&amp;queueid={trainoffizier.queue.id}"><img style="vertical-align:middle" src="data/interface/werft/up.png" alt="Hoch" title="Hoch" /></a>
				{/endif}
				{if trainoffizier.showdown}
					<a class="academy" href="./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;down=1&amp;queueid={trainoffizier.queue.id}"><img style="vertical-align:middle" src="data/interface/werft/down.png" alt="Runter" title="Runter" /></a>
				{/endif}
				<a href="javascript:DS.ask('Soll die Ausbildung wirklich abgebrochen werden?','./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;cancel=1&amp;queueid={trainoffizier.queue.id}')">
				<img style="vertical-align:middle;border:0px" src="data/interface/werft/delete.gif" alt="Abbrechen" title="Abbrechen" /></a>
			</td>
		</tr>
		<!-- END academy.training.listitem -->
		</table>
	 </div>
	 <br />
{/endif}
{if academy.show.trainnew}
	<div class="gfxbox" style="width:600px">

	<h3>Neuen Offizier ausbilden</h3>
	Kosten: <img src="data/interface/time.gif" alt="" />{dauer.costs} <img src="{resource.silizium.image}" alt="" />{resource.silizium.costs} <img src="{resource.nahrung.image}" alt="" />{resource.nahrung.costs}<br /><br />
	<table class="noBorderX" border="1">
	<tr>
		<td class="noBorderX">Name</td>
		<td class="noBorderX">Technik</td>
		<td class="noBorderX">Waffen</td>
		<td class="noBorderX">Navigation</td>
		<td class="noBorderX">Sicherheit</td>
		<td class="noBorderX">Kommandoeffizienz</td>
	</tr>
	<!-- BEGIN academy.trainnew.listitem -->
		<tr>
			<td class="noBorderX"><a class="academy" href="./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;newo={offizier.id}">{offizier.name}</a></td>
			<td class="noBorderX" style="text-align:center">{offizier.ing}</td>
			<td class="noBorderX" style="text-align:center">{offizier.waf}</td>
			<td class="noBorderX" style="text-align:center">{offizier.nav}</td>
			<td class="noBorderX" style="text-align:center">{offizier.sec}</td>
			<td class="noBorderX" style="text-align:center">{offizier.com}</td>
		</tr>
	<!-- END academy.trainnew.listitem -->
	</table>
	<br />

	</div>
	<br />
{/endif}
{if academy.show.offilist}
	{if academy.offilistausb.list}
		<div class="gfxbox" style="width:600px">
		<h3>Offiziere in Ausbildung</h3>
		<table class="noBorderX" border="1">
		<tr>
			<td class="noBorderX">Name</td>
			<td class="noBorderX">Technik</td>
			<td class="noBorderX">Waffen</td>
			<td class="noBorderX">Navigation</td>
			<td class="noBorderX">Sicherheit</td>
			<td class="noBorderX">Kommandoeffizienz</td>
			<td class="noBorderX">Spezial</td>
		</tr>
		<!-- BEGIN academy.offilistausb.listitem -->
			<tr>
			<td class="noBorderX" style="white-space:nowrap">
			<img style="vertical-align:middle" src="{offizier.picture}" alt="" />
			<a class="academy" href="./ds?module=choff&amp;off={offizier.id}">{offizier.name}</a>
			</td>

			<td class="noBorderX" align="center">
			{if offilist.allowactions}
				<a class="academy" href="./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;train=1&amp;off={offizier.id}">{offizier.ing}</a>
			{else}
				{offizier.ing}
			{/endif}
			</td>

			<td class="noBorderX" align="center">
			{if offilist.allowactions}
				<a class="academy" href="./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;train=2&amp;off={offizier.id}">{offizier.waf}</a>
			{else}
				{offizier.waf}
			{/endif}
			</td>

			<td class="noBorderX" align="center">
			{if offilist.allowactions}
				<a class="academy" href="./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;train=3&amp;off={offizier.id}">{offizier.nav}</a>
			{else}
				{offizier.nav}
			{/endif}
			</td>

			<td class="noBorderX" align="center">
			{if offilist.allowactions}
				<a class="academy" href="./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;train=4&amp;off={offizier.id}">{offizier.sec}</a>
			{else}
				{offizier.sec}
			{/endif}
			</td>

			<td class="noBorderX" align="center">
			{if offilist.allowactions}
				<a class="academy" href="./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;train=5&amp;off={offizier.id}">{offizier.com}</a>
			{else}
				{offizier.com}
			{/endif}
			</td>

			<td class="noBorderX">{offizier.special}</td>
			</tr>
		<!-- END academy.offilistausb.listitem -->
		</table><br />
		</div>
	{/endif}
	<br />
	{if academy.offilist.list}
		<div class="gfxbox" style="width:600px">
		<h3>Anwesende Offiziere</h3>
		<table class="noBorderX" border="1">
		<tr>
			<td class="noBorderX">Name</td>
			<td class="noBorderX">Technik</td>
			<td class="noBorderX">Waffen</td>
			<td class="noBorderX">Navigation</td>
			<td class="noBorderX">Sicherheit</td>
			<td class="noBorderX">Kommandoeffizienz</td>
			<td class="noBorderX">Spezial</td>
		</tr>
		<!-- BEGIN academy.offilist.listitem -->
			<tr>
			<td class="noBorderX" style="white-space:nowrap">
			<img style="vertical-align:middle" src="{offizier.picture}" alt="" />
			<a class="academy" href="./ds?module=choff&amp;off={offizier.id}">{offizier.name}</a>
			</td>

			<td class="noBorderX" align="center">
			{if offilist.allowactions}
				<a class="academy" href="./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;train=1&amp;off={offizier.id}">{offizier.ing}</a>
			{else}
				{offizier.ing}
			{/endif}
			</td>

			<td class="noBorderX" align="center">
			{if offilist.allowactions}
				<a class="academy" href="./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;train=2&amp;off={offizier.id}">{offizier.waf}</a>
			{else}
				{offizier.waf}
			{/endif}
			</td>

			<td class="noBorderX" align="center">
			{if offilist.allowactions}
				<a class="academy" href="./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;train=3&amp;off={offizier.id}">{offizier.nav}</a>
			{else}
				{offizier.nav}
			{/endif}
			</td>

			<td class="noBorderX" align="center">
			{if offilist.allowactions}
				<a class="academy" href="./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;train=4&amp;off={offizier.id}">{offizier.sec}</a>
			{else}
				{offizier.sec}
			{/endif}
			</td>

			<td class="noBorderX" align="center">
			{if offilist.allowactions}
				<a class="academy" href="./ds?module=building&amp;col={base.id}&amp;field={base.field}&amp;train=5&amp;off={offizier.id}">{offizier.com}</a>
			{else}
				{offizier.com}
			{/endif}
			</td>

			<td class="noBorderX">{offizier.special}</td>
			</tr>
		<!-- END academy.offilist.listitem -->
		</table><br />
		</div>
		<br />
	{/endif}
{/endif}
<br />
{!link_to zur&uuml;ck zur Akademie, default, css_class:back, module:building, col:$base.id, field:$base.field}
<br />
<br />
</div>