<div style="font-weight:bold">GCP Com-net - 4. Testversion<br /></div>
{if show.inputform}
	<div>
		{if show.vorschau}
			Frequenz: {channel.name} - Vorschau<br /><br />
		{else}
			Frequenz: {channel.name}<br /><br />
		{/endif}
	</div>
{/endif}
{if show.vorschau}
	<div class="gfxbox" style="width:100%">
	<table width="100%" cellspacing="3" cellpadding="3" class="noBorderX">
	<tr>
		<td style="width:90px; text-align:center; vertical-align:top" class="noBorderX">
			{!link_to $post.name, default, module:userprofile, css_class:profile, user:$post.id}
			<span class="tooltip">
				<img align="middle" src="{user.rang.image}" alt=""/>
				<span class="ttcontent">
					{user.rang.name}
				</span>
			</span>
			{if user.id < 0}
				[NPC]
			{/endif}
			<br /><br />
			<img src="data/logos/user/{post.pic}.gif" width="75" height="75" alt="logo" />
			{if post.allypic}
				<img src="data/logos/ally/{post.allypic}.gif" width="75" height="75" alt="Allylogo" />
			{/endif}
		</td>
		<td class="noBorderX" valign="top">
			<table class="noBorderX" width="100%">
			<tr>
				<td style="height:10px; width:20%; text-align:center" class="noBorderX">Post {post.postid}</td>
				<td style="height:10px; width:60%; text-align:center" class="noBorderX">
					Titel: {post.title}
				</td>
				<td style="height:10px; width:20%; text-align:center" class="noBorderX">{post.time}<br /><span style="color:yellow;">[{post.ingametime}]</span></td>
			</tr>
			<tr>
				<td class="noBorderX" colspan="3">
					<hr style="height:1px; border:0px; background-color:#606060; color:#606060" />
					{post.text}
				</td>
			</tr>
			</table>
		</td>
	</tr>
	</table>
	</div>
	<div>
		<br /><br />
	</div>
{/endif}
{if show.searchform}
	<div class="gfxbox" style="width:590px">
		<form method="post" action="./ds">
		<table cellpadding="3" cellspacing="3" class="noBorder">
		<tr>
			<td class="noBorderX">Suchbereich</td>
			<td class="noBorderX">
				<select name="searchtype">
					<option value="Titel">Titel</option>
					<option value="Inhalt">Inhalt</option>
					<option value="UserId">UserID</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="noBorderX" valign="top">Suchtext</td>
			<td class="noBorderX">
				<input type="text" name="search" style="width:422px" value="{post.raw.text}" />
			</td>
		</tr>
		<tr>
			<td align="center" class="noBorderX">&nbsp;</td>
			<td align="center" class="noBorderX">
				{!form_create_hidden search, channel:$channel.id}
				<input name="back" type="hidden" value="0" />
				<input type="submit" style="width:300px" value="suchen" />
			</td>
		</tr>
		</table>
		</form>
		<br />
		<div style="text-align:center">
			{!link_to abbrechen und zur&uuml;ck zum Com-net Men&uuml;, default}
		</div>
	</div>
	<div>
		<br /><br />
	</div>
{/endif}
{if show.inputform}
	<div class="gfxbox" style="width:590px">
		<form method="post" action="./ds">
		<table cellpadding="3" cellspacing="3" class="noBorder">
		<tr>
			<td class="noBorderX">Titel</td>
			<td class="noBorderX">
				<input type="text" name="head" style="width:422px" value="{post.raw.title}" />
			</td>
		</tr>
		<tr>
			<td class="noBorderX" valign="top">Text</td>
			<td class="noBorderX">
				<textarea name="text" style="width:422px" cols="60" rows="20">{post.raw.text}</textarea>
			</td>
		</tr>
		<tr>
			<td align="center" class="noBorderX">&nbsp;</td>
			<td align="center" class="noBorderX">
				{!form_create_hidden -, channel:$channel.id}
				{if show.vorschau}
					<input type="submit" name="action" style="width:200px" value="vorschau" />
					<input type="submit" name="action" style="width:200px" value="senden" />
				{else}
					<input type="submit" name="action" style="width:300px" value="vorschau" />
				{/endif}
			</td>
		</tr>
		</table>
		</form>
		<div style="text-align:center">
			<br />
			{!link_to abbrechen und zur&uuml;ck zum Com-net Men&uuml;, default}
		</div>
	</div>
	<div>
		<br /><br />
		<span style="font-weight:bold">Folgende Tags sind erlaubt:</span><br />
		<span style="font-size:8pt">
			[url]http://www.dieGew&uuml;nschteSeite.de[/url]<br />
			[url=http://www.dieGew&uuml;nschteSeite.de]Eine Beschreibung[/url]<br />
			[img]AdresseDesBildes[/img]<br />
			[email]Irgendeine@EmailAdresse.de[/email]<br />
			[email=Irgendeine@EmailAdresse.de]Eine Beschreibung[/email]<br />
			[size=SchriftGr&ouml;&szlig;e]Irgendein Text[/size]<br />
			Eine Auflistung erzeugt man so:<br />
			[list=ListenTyp]<br />[*]Eintrag1<br />[*]Eintrag2<br />[/list]<br />
			ListenTyp kann z.B. circle,I,i,A usw. sein<br />
			=ListTyp kann aber auch einfach weggelassen werden<br />
			[color=TextFarbe]Irgendein Text[/color]<br />
			[font=Schriftart]Irgendein Text[/font]<br />
			[align=Textausrichtung]Irgendein Text[/align]<br />
			[mark=HintergrundFarbe]Irgendein Text[/mark]<br />
			[b] text [/b] <br />
	    		[i] text [/i] <br />
			[u] text [/u]
			[youtube=breite,h&ouml;he]Youtube-Code[/youtube]<br />
			Zudem gibt es auch einige speziellere Tags:<br />
			[shiptype]ShiffsTyp-Id[/shiptype]<br />
			[ship=ID]Eine Beschreibung[/ship]<br />
			[map]Sys:X/Y[/map]<br />
			[base=BaseID]Eine Beschreibung[/base]<br />
			[userprofile=SpielerID]Eine Beschreibung[/userprofile]<br />
			[resource=iID|0|0,PARAM]Anzahl[/resource]</br />
			Als PARAM kann i oder n angegeben werden, um nur den Namen oder nur das Bild anzeigen zu lassen. Das ,PARAM kann aber auch komplett weggelassen werden.<br />
			Beispiel f&uuml;r 5 Nahrung: [resource=i16|0|0]5[/resource]<br />
		</span>
	</div>
{/endif}
{if show.channellist}
	<div>
		<br />
		Subraum-Tranciever ... Aktiviert<br />
		Kommunikations-System einsatzbereit<br /><br />
	</div>
	<table class="noBorder">
	<tr>
		<td class="noBorderS" colspan="2" style="font-weight:bold">&Ouml;ffentliche Frequenzen:</td>
	</tr>
	<!-- BEGIN channels.listitem -->
		{if thischannel.showprivateinfo}
			<tr>
				<td class="noBorderS" colspan="2" style="font-weight:bold"><br />Allianz-Frequenzen:</td>
			</tr>
		{/endif}

 			<tr>
 				<td class="noBorderS" style="width:10px">&nbsp;+</td>
				<td class="noBorderS">{thischannel.name}

		{if thischannel.readable}
			 - {!link_to Lesen, read, channel:$thischannel.id} - {!link_to Scannen, search, channel:$thischannel.id}
		{/endif}

		{if thischannel.writeable}
			 - {!link_to Senden, write, channel:$thischannel.id}
		{/endif}

		{if thischannel.newposts}
			 - <span style="color:yellow; font-weight:bold">NEU</span></td></tr>
		{else}
			</td></tr>
		{/endif}
	<!-- END channels.listitem -->
	</table>
{/endif}
{if show.submit}
	<div>
		Transmission gesendet... Erhalt wurde vom GCP Com-net best&auml;tigt.<br /><br /><br />
		{!link_to zur&uuml;ck zum Com-net Men&uuml;, default, channel:$channel.id}
	</div>
{/endif}
{if show.searcherror}
	<div>
		<br />
		<span style="color:red">Zu ihrer Suche wurden leider keine Ergebnisse gefunden.</span><br />
		<br />
		{!link_to zur&uuml;ck zum Com-net Men&uuml;, default, channel:$channel.id}
	</div>
{/endif}
{if show.read}
	<div>
		<br />
		{!link_to zur&uuml;ck zum Com-net Men&uuml;, default, channel:$channel.id}
		{if channel.writeable}
			- {!link_to Antworten, write, channel:$channel.id}
		{/endif}
		<br /><br />
		Eingegangene Nachrichten: <br />
		{if read.nextpossible}
			{!link_to vor, $posts.action, back:$show.vor, channel:$channel.id, search:$search.string, searchtype:$search.type}
		{else}
			<span class="smallfont">vor</span>
		{/endif}

		---
		{if show.back}
			{!link_to zur&uuml;ck, $posts.action, back:$show.back, channel:$channel.id, search:$search.string, searchtype:$search.type}
		{else}
			<span class="smallfont">zur&uuml;ck</span>
		{/endif}
		<br /><br />
	</div>
	<!-- BEGIN posts.listitem -->
		<div class="gfxbox" style="width:95%">
		<table width="100%" cellspacing="3" cellpadding="3" class="noBorderX">
		<tr>
			<td style="width:90px; text-align:center; vertical-align:top" class="noBorderX">
				{!link_to $post.name, default, module:userprofile, css_class:profile, user:$post.user.id}<br />
				<span class="tooltip">
					<img align="middle" src="{post.user.rang.image}" alt=""/>
					<span class="ttcontent">
						{post.user.rang.name}
					</span>
				</span>
				{if post.user.id < 0}
					<br />[NPC]
				{/endif}

				<br /><br />
				<img src="data/logos/user/{post.pic}.gif" width="75" height="75" alt="logo" />
				{if post.allypic}
					<img src="data/logos/ally/{post.allypic}.gif" width="75" height="75" alt="Allylogo" />
				{/endif}
			</td>
			<td class="noBorderX" valign="top">
				<table class="noBorderX" width="100%">
				<tr>
					<td style="height:10px; width:20%; text-align:center" class="noBorderX">Post {post.postid}</td>
					<td style="height:10px; width:60%; text-align:center" class="noBorderX">
						Titel: {post.title}
					</td>
					<td style="height:10px; width:20%; text-align:center" class="noBorderX">{post.time}<br /><span style="color:yellow;">[{post.ingametime}]</span></td>
				</tr>
				<tr>
					<td class="noBorderX" colspan="3">
						<hr style="height:1px; border:0px; background-color:#606060; color:#606060" />
						{post.text}
					</td>
				</tr>
				</table>
			</td>
		</tr>
		</table>
		</div>
		<div>
			<br />
		</div>
	<!-- END posts.listitem -->
	<div>
		{if read.nextpossible}
			{!link_to vor, $posts.action, back:$show.vor, channel:$channel.id, search:$search.string, searchtype:$search.type}
		{else}
			<span class="smallfont">vor</span>
		{/endif}
		---
		{if show.back}
			{!link_to zur&uuml;ck, $posts.action, back:$show.back, channel:$channel.id, search:$search.string, searchtype:$search.type}
		{else}
			<span class="smallfont">zur&uuml;ck</span>
		{/endif}
	</div>
{/endif}
