<div class="gfxbox" style="width:940px">
	<table class="noBorderX" cellpadding="2" cellspacing="2" width="100%">
	{if tech.race.notall}
		<tr><td width="200" colspan="2" class="noBorderX">{tech.name}</td>
	{else}
		<tr><td width="200" class="noBorderX">{tech.name}</td>
	{/endif}

	<td class="noBorderX">Vorraussetzungen</td>
	<td width="140" class="noBorderX">Kosten</td>
	<td class="noBorderX">Erm&ouml;glicht</td>
	</tr>

	<tr>
	<td class="noBorderX"><img src="{tech.image}" alt="Kein Bild vorhanden" /></td>
	{if tech.race.notall}
		<td class="noBorderX" width="80">{tech.race.name}</td>
	{/endif}

	<td class="noBorderX">
	<!-- BEGIN tech.needs.listitem -->
		{if tech.needs.item.break}
			,<br />
		{/endif}
		{if tech.needs.item.researchable}
			{!link_to $tech.needs.item.name, default, res:$tech.needs.item.id}
		{else}
			### Nicht erf&uuml;lbar
		{/endif}
	<!-- END tech.needs.listitem -->
	&nbsp;</td>
	<td class="noBorderX">
	<img style="vertical-align:middle" src="data/interface/time.gif" alt="Dauer" />{tech.time}
	<img style="vertical-align:middle" src="data/interface/forschung/specpoints.gif" alt="Spezialisierungskosten" />{tech.speccosts}
	<!-- BEGIN tech.res.listitem -->
		<img style="vertical-align:middle" src="{tech.res.item.image}" alt="" />{tech.res.item.cargo}
	<!-- END tech.res.listitem -->
	</td>
	<td class="noBorderX" valign="top">
	<!-- BEGIN tech.allows.listitem -->
		{if tech.allows.item.break}
			,<br />
		{/endif}
		{if tech.allows.item.hidden}
			<a class="error" style="font-style:italic" href="./ds?module=forschinfo&res={tech.allows.item.id}">[{tech.allows.item.name}]</a>
		{else}
			{!link_to $tech.allows.item.name, default, res:$tech.allows.item.id}
		{/endif}
	<!-- END tech.allows.listitem -->
	</td>
	</tr>
	{if tech.descrip}
		<tr>
			<td class="noBorderX" colspan="{tech.descrip.colspan}">
				<hr noshade="noshade" size="1" style="color:#cccccc" />
				{tech.descrip}
			</td>
		</tr>
	{/endif}
	</table>
</div>
<br />
<br />
{if tech.buildings.list}
	<div class="gfxbox" style="width:940px">
		<table class="noBorderX" width="100%">
		<tr>
			<td class="noBorderX" colspan="2" width="100">Geb&auml;ude</td>
			<td class="noBorderX">Baukosten</td>
			<td class="noBorderX" width="100">Verbrauch</td>
			<td class="noBorderX" width="100">Produktion</td>
			<td class="noBorderX" width="90">Arbeiter</td>
			<td class="noBorderX" width="100">Effekt</td>
		</tr>
		<!-- BEGIN tech.buildings.listitem -->
			{if tech.building.hr}
				<tr><td colspan="7" class="noBorderX"><hr noshade="noshade" size="1" style="color:#cccccc" /></td></tr>
			{/endif}
			<tr>
				<td class="noBorderX">
					<img src="{tech.building.picture}" alt="" />
				</td>
				<td class="noBorderX">{tech.building.name}</td>
				<td class="noBorderX" valign="top">
				{if tech.building.buildcosts.list}
					<!-- BEGIN tech.building.buildcosts.listitem -->
						<img style="vertical-align:middle" src="{res.image}" alt="" />{res.cargo}
					<!-- END tech.building.buildcosts.listitem -->
				{else}
					--
				{/endif}
				</td>
				<td class="noBorderX" valign="top">
				{if tech.building.consumes.list}
					<!-- BEGIN tech.building.consumes.listitem -->
						<img style="vertical-align:middle" src="{res.image}" alt="" />{res.cargo}
					<!-- END tech.building.consumes.listitem -->
				{else}
					-
				{/endif}
				</td><td class="noBorderX" valign="top">
				{if tech.building.produces.list}
					<!-- BEGIN tech.building.produces.listitem -->
						<img style="vertical-align:middle" src="{res.image}" alt="" />{res.cargo}
					<!-- END tech.building.produces.listitem -->
				{else}
					-
				{/endif}
				</td><td class="noBorderX" valign="top">
				{if tech.building.arbeiter}
					<img src="data/interface/narbeiter.gif" alt="Arbeiter" />{tech.building.arbeiter}
				{else}
					-
				{/endif}
				</td><td class="noBorderX" valign="top">
				{if tech.building.bewohner}
					<img src="data/interface/arbeiter.gif" alt="Bev&ouml;lkerung" />{tech.building.bewohner}
				{else}
					-
				{/endif}
				</td>
			</tr>
		<!-- END tech.buildings.listitem -->
		</table>
	</div>
<br />
<br />
{/endif}

{if tech.cores.list}
	<div class="gfxbox" style="width:940px">
		<table class="noBorderX" width="100%">
		<tr>
			<td class="noBorderX" width="100" colspan="2">Core</td>
			<td class="noBorderX">Baukosten</td>
			<td class="noBorderX" width="100">Verbrauch</td>
			<td class="noBorderX" width="130">Produktion</td>
			<td class="noBorderX" width="90">Arbeiter</td>
			<td class="noBorderX" width="100">Effekt</td>
		</tr>
		<!-- BEGIN tech.cores.listitem -->
			{if tech.core.hr}
				<tr><td colspan="7" class="noBorderX"><hr noshade="noshade" size="1" style="color:#cccccc" /></td></tr>
			{/endif}
			<tr>
			<td class="noBorderX">
				<img src="{tech.core.astitype.lrsimage}" alt="" />
			</td>
			<td class="noBorderX">{tech.core.name}&nbsp;</td>
			<td class="noBorderX" valign="top">
				{if tech.core.buildcosts.list}
					<!-- BEGIN tech.core.buildcosts.listitem -->
						<img style="vertical-align:middle" src="{res.image}" alt="" />{res.cargo}
					<!-- END tech.core.buildcosts.listitem -->
				{else}
					-
				{/endif}
			</td>
			<td class="noBorderX" valign="top">
				{if tech.core.consumes.list}
					<!-- BEGIN tech.core.consumes.listitem -->
						<img style="vertical-align:middle" src="{res.image}" alt="" />{res.cargo}
					<!-- END tech.core.consumes.listitem -->
				{else}
					-
				{/endif}
			</td>
			<td class="noBorderX" valign="top">
				{if tech.core.produces.list}
					<!-- BEGIN tech.core.produces.listitem -->
						<img style="vertical-align:middle" src="{res.image}" alt="" />{res.cargo}
					<!-- END tech.core.produces.listitem -->
				{else}
					-
				{/endif}
			</td>
			<td class="noBorderX" valign="top">
				{if tech.core.arbeiter}
					<img src="data/interface/narbeiter.gif" alt="Arbeiter" />{tech.core.arbeiter}
				{else}
					-
				{/endif}
			</td>
			<td class="noBorderX" valign="top">
				{if tech.core.bewohner}
					<img src="data/interface/arbeiter.gif" alt="Bev&ouml;lkerung" />{tech.core.bewohner}
				{else}
					-
				{/endif}
			</td>
			</tr>
		<!-- END tech.cores.listitem -->
		</table>
	</div>
{/endif}

{if tech.ships.list}
	<div class="gfxbox" style="width:940px">
		<table class="noBorderX" width="100%">
		<tr>
			<td class="noBorderX" width="130">Schiff</td>
			<td class="noBorderX" width="470">Kosten</td>
			<td class="noBorderX">Ben&ouml;tigt au&szlig;.</td>
		</tr>
		<!-- BEGIN tech.ships.listitem -->
			{if tech.ship.hr}
				<tr><td colspan="3" class="noBorderX"><hr noshade="noshade" size="1" style="color:#cccccc" /></td></tr>
			{/endif}
			<tr>
				<td class="noBorderX">
					<a class="tooltip" onclick="ShiptypeBox.show({tech.ship.id});return false;"
						href="./ds?module=schiffinfo&ship={tech.ship.id}">
						<img border="0" src="{tech.ship.picture}" alt="" />
						<span class="ttcontent">{tech.ship.name}</span>
					</a>
				</td>
				<td class="noBorderX">
					{if tech.ship.dauer}
						<img src="data/interface/time.gif" alt="Dauer" />{tech.ship.dauer}
					{/endif}
					<!-- BEGIN tech.ship.costs.listitem -->
						<img style="vertical-align:middle" src="{res.image}" alt="" />{res.cargo}
					<!-- END tech.ship.costs.listitem -->
					{if tech.ship.ekosten}
						<img src="data/interface/energie.gif" alt="Energie" />{tech.ship.ekosten}
					{/endif}
					{if tech.ship.crew}
						<img src="data/interface/narbeiter.gif" alt="Crew" />{tech.ship.crew}
					{/endif}
				</td>
				<td class="noBorderX">
					<!-- BEGIN tech.ship.techs.listitem -->
						{if tech.ship.tech.break}
							,<br />
						{/endif}
						{!link_to $tech.ship.tech.name, default, res:$tech.ship.tech.id}
					<!-- END tech.ship.techs.listitem -->
				</td>
			</tr>
		<!-- END tech.ships.listitem -->
		</table>
	</div>
	<br />
	<br />
{/endif}

{if tech.fac.list}
	<div class="gfxbox" style="width:940px">
		<table class="show" cellpadding="2" cellspacing="2" width="100%">
		<tr>
			<td class="noBorderX">Fabrik-Eintr&auml;ge</td>
		</tr>
		<tr>
			<td colspan="2" class="noBorderX" width="50%">Produktion</td>
			<td class="noBorderX" width="50%">Kosten</td>
		</tr>
		<!-- BEGIN tech.fac.listitem -->
			{if tech.fac.hr}
				<tr><td colspan="5" class="noBorderX"><hr noshade="noshade" size="1" style="color:#cccccc" /></td></tr>
			{/endif}
			<tr>
				<td class="noBorderX" width="120">
					<!-- BEGIN tech.fac.production.listitem -->
						<img style="vertical-align:middle" src="{res.image}" alt="" />{res.cargo}
					<!-- END tech.fac.production.listitem -->
				</td>
				<td class="noBorderX">
					<img src="data/interface/time.gif" alt="Dauer" />{tech.fac.dauer}
					<!-- BEGIN tech.fac.buildcosts.listitem -->
						<img style="vertical-align:middle" src="{res.image}" alt="" />{res.cargo}
					<!-- END tech.fac.buildcosts.listitem -->
				</td>
		<!-- END tech.fac.listitem -->
		</table>
	</div>
{/endif}

{if tech.dropable}
	{!link_to Spezialisierung aufgeben, drop, module:forschinfo, css_style:font-weight:bold, res:$tech.id}
{/endif}