{if iteminfo.message}
	<div class="gfxbox" style="width:460px">
	{iteminfo.message}<br />
	</div>
{/endif}

{if iteminfo.details}
	<div class="gfxbox" style="width:460px">
		<div style="text-align:center;margin-bottom:5px;"><img src="{item.largePicture}" alt="" /></div>
		<table cellspacing="3" style="width:100%">
		<tr>
			<td style="width:80px">Name</td>
			<td>
				{item.name}
			</td>
		</tr>
		<tr>
			<td style="width:80px">Cargo</td>
			<td>{item.cargo}</td>
		</tr>
		{if item.accesslevel}
			<tr>
				<td style="width:80px">Accesslevel</td>
				<td style="color:red">{item.accesslevel}</td>
			</tr>
		{/endif}
		{if item.allyitem}
			<tr>
				<td style="width:80px">Allyitem</td>
				<td>ja</td>
			</tr>
		{/endif}
		{if item.isspawnable}
			<tr>
				<td style="width:80px">Zusatz</td>
				<td>Das Vorkommen dieser Ressource ist regional begrenzt.</td>
			</tr>
		{/endif}
		<tr>
			<td style="width:80px">Typ</td>
			<td>{item.class}</td>
		</tr>
		<!-- BEGIN itemdetails.entry -->
			<tr>
				<td valign="top">{entry.name}</td>
				<td valign="top">{entry.data}</td>
			</tr>
		<!-- END itemdetails.entry -->
		<tr>
			<td colspan="2">
				<hr style="height:1px; border:0px; background-color:#606060; color:#606060" />
			</td>
		</tr>
		<tr>
			<td colspan="2">
				{item.description}
			</td>
		</tr>
		</table>
	</div>
{/endif}

{if iteminfo.knownlist}
	<div class="gfxbox" style="min-width:460px;display:inline-block">
		<table cellpadding="3">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Name</th>
				<th>Typ</th>
				<th>Gr&ouml;&szlig;e</th>
				<th>Menge</th>
			</tr>
		</thead>
		<tbody>
		<!-- BEGIN knownlist.listitem -->
			<tr>
				<td><img src="{item.picture}" alt="" /></td>
				<td>
					{!link_to $item.name, details, item:$item.id}
				</td>
				<td>{item.class}</td>
				<td align="center">{item.cargo}</td>
				<td>
					{if item.count}
						{if item.locationtext}
							<a class="forschinfo tooltip" href="#">
								{item.count}
								<span class="ttcontent">{item.locationtext}</span>
							</a>
						{else}
							{item.count}
						{/endif}
					{else}
						-
					{/endif}
				</td>
			</tr>
		<!-- END knownlist.listitem -->
		</tbody>
		</table>
	</div>
{/endif}