<style type="text/css">
	@import url("./data/css/menu.css");
</style>
<ul id="menu">
<li class="statusfield">
	<a id="mailicon" href="./ds?module=comm&action=showInbox" target="main"><img src="./data/interface/menubar/mail.png" alt="Neue Nachricht" title="Du hast neue Nachrichten erhalten" /></a>
	<a id="comneticon" href="./ds?module=comnet" target="main"><img src="./data/interface/menubar/cn.png" alt="Neue Com-Net Eintrag" title="Neuer Com-Net Eintrag" /></a>
</li>
<li id="currentpage">
	<dl>
		<dt>
			<span id="page_currentpage" class="currentPage">empty <img id="page_currentpage_dropdown" src="./data/interface/menubar/submenu.png" alt="" /></span>
		</dt>
	</dl>
</li>
<li>
	<dl>
		<dt>
			<a id="page_ueber" href="./ds?module=ueber" target="main">&Uuml;bersicht</a>
		</dt>
	</dl>
</li>
<li>
	<dl>
		<dt>
			<a id="page_basen" href="./ds?module=basen" target="main">Basen <img src="./data/interface/menubar/submenu.png" alt="" /></a>
		</dt>
		<!-- BEGIN bases.listitem -->
			<dd>
				<a href="./ds?module=base&amp;col={base.id}" target="main">
					{base.name}
				</a>
			</dd>
		<!-- END bases.listitem -->
		{if bases.list}
			<dd class="lastelement">
				<span></span>
			</dd>
		{/endif}
	</dl>
</li>
<li>
	<dl>
		<dt>
			<a id="page_schiffe" href="./ds?module=schiffe" target="main">Schiffe</a>
			<a class="low" href="./ds?module=schiffe&amp;low=9" target="main">X</a>
			<img src="./data/interface/menubar/submenu.png" alt="" />
		</dt>
		<dd>
			<span>
				<a href="./ds?module=schiffe&amp;only=zivil" target="main">
					Zivilschiffe
				</a>
				<a class="low" href="./ds?module=schiffe&amp;only=zivil&amp;low=9" target="main">X</a>
			</span>
		</dd>
		<dd>
			<span>
				<a href="./ds?module=schiffe&amp;only=tank" target="main">
					Tanker
				</a>
				<a class="low" href="./ds?module=schiffe&amp;only=tank&amp;low=9" target="main">X</a>
			</span>
		</dd>
		<dd>
			<span>
				<a href="./ds?module=schiffe&amp;only=mine" target="main">
					Miner
				</a>
				<a class="low" href="./ds?module=schiffe&amp;only=mine&amp;low=9" target="main">X</a>
			</span>
		</dd>
		<dd>
			<span>
				<a href="./ds?module=schiffe&amp;only=trans" target="main">
					Frachter
				</a>
				<a class="low" href="./ds?module=schiffe&amp;only=trans&amp;low=9" target="main">X</a>
			</span>
		</dd>
		<dd>
			<span>
				<a href="./ds?module=schiffe&amp;only=versorger" target="main">
					Versorger
				</a>
				<a class="low" href="./ds?module=schiffe&amp;only=versorger&amp;low=9" target="main">X</a>
			</span>
		</dd>
		<dd>
			<span>
				<a href="./ds?module=schiffe&amp;only=cargo" target="main">
					Stationen
				</a>
				<a class="low" href="./ds?module=schiffe&amp;only=cargo&amp;low=9" target="main">X</a>
			</span>
		</dd>
		<dd>
			<span>
				<a href="./ds?module=schiffe&amp;only=werften" target="main">
					Werften
				</a>
				<a class="low" href="./ds?module=schiffe&amp;only=werften&amp;low=9" target="main">X</a>
			</span>
		</dd>
		<dd>
			<span>
				<a href="./ds?module=schiffe&amp;only=sensor" target="main">
					Awacs
				</a>
				<a class="low" href="./ds?module=schiffe&amp;only=sensor&amp;low=9" target="main">X</a>
			</span>
		</dd>
		<dd>
			<span>
				<hr style="margin:0px;" noshade="noshade" size="1" style="color:#cccccc" />
			</span>
		</dd>
		<dd>
			<span>
				<a href="./ds?module=schiffe&amp;only=kampf" target="main">
					Kriegsschiffe
				</a>
				<a class="low" href="./ds?module=schiffe&amp;only=kampf&amp;low=9" target="main">X</a>
			</span>
		</dd>
		<dd>
			<span>
				<a href="./ds?module=schiffe&amp;only=kampf&amp;kampf_only=2" target="main">
					Zerst&ouml;rer
				</a>
				<a class="low" href="./ds?module=schiffe&amp;only=kampf&amp;kampf_only=2&amp;low=9" target="main">X</a>
			</span>
		</dd>
		<dd>
			<span>
				<a href="./ds?module=schiffe&amp;only=kampf&amp;kampf_only=15" target="main">
					Tr&auml;ger
				</a>
				<a class="low" href="./ds?module=schiffe&amp;only=kampf&amp;kampf_only=15&amp;low=9" target="main">X</a>
			</span>
		</dd>
		<dd>
			<span>
				<a href="./ds?module=schiffe&amp;only=kampf&amp;kampf_only=5" target="main">
					Korvetten
				</a>
				<a class="low" href="./ds?module=schiffe&amp;only=kampf&amp;kampf_only=5&amp;low=9" target="main">X</a>
			</span>
		</dd>
		<dd>
			<span>
				<a href="./ds?module=schiffe&amp;only=kampf&amp;kampf_only=7" target="main">
					Schwere Kreuzer
				</a>
				<a class="low" href="./ds?module=schiffe&amp;only=kampf&amp;kampf_only=7&amp;low=9" target="main">X</a>
			</span>
		</dd>
		<dd>
			<span>
				<a href="./ds?module=schiffe&amp;only=kampf&amp;kampf_only=6" target="main">
					Kreuzer
				</a>
				<a class="low" href="./ds?module=schiffe&amp;only=kampf&amp;kampf_only=6&amp;low=9" target="main">X</a>
			</span>
		</dd>
		<dd>
			<span>
				<a href="./ds?module=schiffe&amp;only=kampf&amp;kampf_only=21" target="main">
					Fregatten
				</a>
				<a class="low" href="./ds?module=schiffe&amp;only=kampf&amp;kampf_only=21&amp;low=9" target="main">X</a>
			</span>
		</dd>
		<dd>
			<span>
				<a href="./ds?module=schiffe&amp;only=kampf&amp;kampf_only=9" target="main">
					J&auml;ger
				</a>
				<a class="low" href="./ds?module=schiffe&amp;only=kampf&amp;kampf_only=9&amp;low=9" target="main">X</a>
			</span>
		</dd>
		<dd>
			<span>
				<a href="./ds?module=schiffe&amp;only=kampf&amp;kampf_only=17" target="main">
					Bomber
				</a>
				<a class="low" href="./ds?module=schiffe&amp;only=kampf&amp;kampf_only=17&amp;low=9" target="main">X</a>
			</span>
		</dd>
		<dd>
			<span>
				<a href="./ds?module=schiffe&amp;only=def" target="main">
					Orbitalabwehr
				</a>
				<a class="low" href="./ds?module=schiffe&amp;only=def&amp;low=9" target="main">X</a>
			</span>
		</dd>
		<dd class="lastelement">
			<span></span>
		</dd>
	</dl>
</li>
<li>
	<dl>
		<dt>
			Kommunikation <img src="./data/interface/menubar/submenu.png" alt="" />
		</dt>
		<dd>
			<a href="./ds?module=comm&action=showInbox" target="main">
				PMs
			</a>
		</dd>
		<dd>
			<a href="./ds?module=comnet" target="main">
				Com-Net
			</a>
		</dd>
		<dd>
			<a href="./ds?module=handel" target="main">
				Handel
			</a>
		</dd>
		<dd>
			<a href="./ds?module=ersteigern" target="main">
				Fraktionen
			</a>
		</dd>
		<dd>
			<a href="./ds?module=ally" target="main">
				Allianzen
			</a>
		</dd>
		<dd>
			<a href="{SCRIPT_FORUM}" target="_blank">
				Forum
			</a>
		</dd>
		<dd class="lastelement">
			<span></span>
		</dd>
	</dl>
</li>
<li>
	<dl>
		<dt>
			Datenbank <img src="./data/interface/menubar/submenu.png" alt="" />
		</dt>
		<dd>
			<a href="./ds?module=client#/map" target="main">Sternenkarte</a>
		</dd>
		<dd>
			<a href="./ds?module=stats" target="main">Statistik</a>
		</dd>
		<dd>
			<a href="./client#/techliste" target="main">Forschungen</a>
		</dd>
		<dd>
			<a href="./ds?module=buildings" target="main">Geb&auml;ude</a>
		</dd>
		<dd>
			<a href="./ds?module=iteminfo&amp;action=known" target="main">Gegenst&auml;nde</a>
		</dd>
		<dd>
			<a href="./ds?module=unitinfo&amp;action=list" target="main">Einheiten</a>
		</dd>
		<dd>
			<a href="./ds?module=shipsinfo" target="main">
				Schiffsliste
			</a>
		</dd>
		<!--
		<dd>
			<a href="http://ds.drifting-souls.net/Schiffsvergleich.htm" target="main">
				Schiffsvergleich
			</a>
		</dd>
		-->
		<dd>
			<a href="http://de.drifting-souls.wikia.com" target="_blank">Wiki</a>
		</dd>
		<dd class="lastelement">
			<span></span>
		</dd>
	</dl>
</li>
<li>
	<dl>
		<dt>
			Optionen <img src="./data/interface/menubar/submenu.png" alt="" />
		</dt>
		<dd>
			<a href="./ds?module=options" target="main">
				Allgemein
			</a>
		</dd>
		<dd>
			<a href="./ds?module=options&amp;action=changeNamePass" target="main">
				Name / Passwort
			</a>
		</dd>
		<dd>
			<a href="./ds?module=options&amp;action=xtra" target="main">
				Erweitert
			</a>
		</dd>
		<dd>
			<a style="color:red" href="./ds?module=options&amp;action=delAccount" target="main">
				L&ouml;schantrag
			</a>
		</dd>
		<dd class="lastelement">
			<span></span>
		</dd>
	</dl>
</li>
{if user.npc}
	<li>
		<dl>
			<dt>
				Spezial <img src="./data/interface/menubar/submenu.png" alt="" />
			</dt>
			<dd>
				<a id="page_npcorder" href="./ds?module=client#/npc/order" target="main">NPC</a>
			</dd>
			{if user.adminSichtbar}
				<dd>
					<a id="page_admin" href="./ds?module=admin" target="main">Admin</a>
				</dd>
			{/endif}
			<dd class="lastelement">
				<span></span>
			</dd>
		</dl>
	</li>
{else}
	{if user.adminSichtbar}
		<li>
			<dl>
				<dt>
					Spezial <img src="./data/interface/menubar/submenu.png" alt="" />
				</dt>
				<dd>
					<a id="page_admin" href="./ds?module=admin" target="main">Admin</a>
				</dd>
				<dd class="lastelement">
					<span></span>
				</dd>
			</dl>
		</li>
	{/endif}
{/endif}
<li class="actionfield">
	<a href="#" onclick="boxOpen('#helpbox')">
		<img id="helpicon" src="./data/interface/menubar/help.png" alt="Hilfe" title="Hilfe" />
	</a>
	{if admin.showconsole}
		<a href="#" onclick="adminBox.open()">
			<img id="adminconsoleicon" src="./data/interface/menubar/adminconsole.png" alt="Adminconsole" title="Adminconsole" />
		</a>
	{/endif}
	<a href="#" onclick="SearchBox.open()">
		<img id="searchicon" src="./data/interface/menubar/search.png" alt="Suchen" title="Suchen" />
	</a>
	<a href="#" onclick="boxOpen('#noticebox')">
		<img id="noticeicon" src="./data/interface/menubar/notice.png" alt="Notizen" title="Notizen verwalten" />
	</a>
	<a id="infoicon" href="#" onclick="InfoBox.open()">i</a>
	&nbsp;
	<a href="./ds?module=logout" target="main">
		<img src="./data/interface/menubar/logout.png" alt="Logout" title="Ausloggen" />
	</a>
</li>
</ul>

<!-- Notizbox -->
<div id="noticebox" class="gfxbox popupbox">
	<h3>Notizen</h3>
	<div class="content">
		<textarea rows="15" cols="50">{user.notizen}</textarea>
	</div>
	<button type="button" onclick="boxClose('noticebox')" value="Schlie&szlig;en">Schlie&szlig;en</button>
</div>

<!-- Hilfebox -->
<div id="helpbox" class="gfxbox popupbox">
	<h3>Hilfe</h3>
	<div class="content">
		<div id="helpboxtext"></div>
	</div>
	<button type="button" onclick="boxClose('helpbox')" value="Schlie&szlig;en">Schlie&szlig;en</button>
</div>

{if admin.showconsole}
	<!-- Adminconsole -->
	<div id="adminconsolebox" class="gfxbox" style="display:none">
		<div class="content">
			<div id="adminConsoleResponse"> </div>
			<div class="input">
				<input id="adminConsoleCommand" type="text" name="search" />
				<button type="button" onclick="adminBox.execute()">ausf&uuml;hren</button>
			</div>
		</div>
	</div>
{/endif}

<!-- Suche -->
<div id="searchbox" class="gfxbox" style="display:none">
	<div class="content">
		<input id="searchInput" type="text" name="search" style="width:300px" />
		<button class="submit" type="button" style="width:60px" onclick="SearchBox.execute()">Suchen</button>
		<div id="searchResult"></div>
	</div>
</div>

<!-- Info -->
<div id="infobox" class="gfxbox" style="display:none">
	<div class="content">
		<h3>Version</h3>
		<table>
			<tbody>
				<tr><td>Datum</td><td id="lastBuild"></td></tr>
				<tr><td>Build</td><td id="build"></td></tr>
				<tr><td>Commit</td><td id="commit"></td></tr>
			</tbody>
		</table>
		<h3>Letzte Änderungen</h3>
		<table id="commits" class="datatable">
			<thead><tr><th></th><th>Commit</th><th>Beschreibung</th><th>von</th></tr></thead>
			<tbody></tbody>
		</table>
	</div>
</div>

<!-- Frame -->
<iframe id="mainframe" name="main" scrolling="auto" frameborder="0" src="./ds?module=ueber">
	Dein Browser unterst&uuml;tzt leider keine iframes. Am besten installierst du einen Browser neueren Datums wie z.B. den <a class="forschinfo" href="http://www.mozilla.org">Mozilla Firefox</a>
</iframe>