<div class="smallfont">
	<br />
	{if options.message}
		{options.message}
		<br />
	{/endif}
</div>
{if options.changenamepwd}
	<div class="gfxbox" style="width:710px">
		<div style="text-align:justify">
			Es k&ouml;nnen die BBCode-Tags [b], [i], [u], [color], [font], [mark] und [align] verwendet werden.<br />
			Nach der Password-&Auml;nderung wird Ihnen eine Best&auml;tigungsmail geschickt - das Password wird verschl&uuml;sselt gespeichert.<br />
			Wenn sie nur den Benutzernamen bearbeiten wollen, lassen sie bitte die Passwort-Felder leer.<br /><br />
		</div>
		<form action="./ds" method="post">
		<div style="text-align:center">
			<table class="noBorderX">
			<tr>
				<td class="noBorderX">Neuer Name:</td>
				<td class="noBorderX"><input name="name" type="text" size="30" value="{options.changenamepwd.nickname}" /></td>
			</tr>
			<tr>
				<td class="noBorderX">Neues Passwort:</td>
				<td class="noBorderX"><input name="pw" type="password" size="30" /></td>
			</tr>
			<tr>
				<td class="noBorderX">Passwort wiederholen:</td>
				<td class="noBorderX"><input name="pw2" type="password" size="30" /></td>
			</tr>
			<tr>
				<td class="noBorderX" colspan="2">
					{!form_create_hidden changeNamePass}
				</td>
			</tr>
			<tr>
				<td class="noBorderX" colspan="2" align="center">
					<input type="submit" value="&auml;ndern" />&nbsp;
					<input type="reset" value="reset" />
				</td>
			</tr>
			</table>
		</div>
		</form>
	</div>
{/endif}
{if options.delaccountform}
	<div class="gfxbox" style="width:580px">
		<div style="text-align:center; color:red">
			L&ouml;schen des Accounts beantragen
			<br />
		</div>
		<form action="ds" method="post">
			<div class="smallfont">
				Bitte geben sie ein paar Gr&uuml;nde f&uuml;r das L&ouml;schen des Accounts an.
				Wir w&uuml;rden uns dar&uuml;ber sehr freuen, da wir somit Drifting Souls verbessern k&ouml;nnen<br />
				<br />
				<div style="text-align:center">
					<textarea cols="80" rows="17" name="reason"></textarea><br />
					{!form_create_hidden delAccount, del:1}
					<input type="submit" value="L&ouml;schung beantragen" />
				</div>
			</div>
		</form>
	</div>
{/endif}
{if options.delaccountresp}
	<div class="gfxbox" style="width:580px;text-align:justify">
		<div style="text-align:center; font-weight:bold; color:red">Der Antrag auf L&ouml;schung des Accounts wurde versendet</div><br />
		Es kann jedoch einige Tage oder Wochen dauern, bis die L&ouml;schung durchgef&uuml;hrt wird.<br />
		Sollten sie es sich dennoch anders &uuml;berlegen, schreiben sie bitte
		eine PM an einen Administrator (IDs: {delaccountresp.admins})<br />
	</div>
{/endif}
{if options.xtra}
	<form action="ds" method="post" id="options-xtra">

	<div class="gfxbox" style="width:560px">
		<table style="width:100%">
		<tr>
			<td>Schiffsgruppen-Multiplikator<br />(0=Keine Gruppierungen):</td>
			<td><input name="shipgroupmulti" type="text" size="8" value="{user.wrapfactor}" /></td>
		</tr>
		<tr>
			<td>Tutorial anzeigen:</td>
			<td><input name="inttutorial" type="checkbox" value="1" {if user.inttutorial}checked="checked"{/endif} /></td>
		</tr>
		{if user.showScriptdebug}
			<tr>
				<td>Scripts debuggen:</td>
				<td>
					<input name="scriptdebug" type="hidden" value="1" />
					<input type="checkbox" name="scriptdebugstatus" {if user.scriptdebug}checked="checked"{/endif} value="1" />
				</td>
			</tr>
		{/endif}
		<tr>
			<td>Diplomatie (Standard):</td>
			<td>
				<span class="nobr">
					<select name="defrelation" size="1">
						<option value="1" {if user.defrelation == 1}selected="selected"{/endif}>Feindlich</option>
						<option value="0" {if user.defrelation == 0}selected="selected"{/endif}>Neutral</option>
						<option value="2" {if user.defrelation == 2}selected="selected"{/endif}>Freundlich</option>
					</select>
				</span>
			</td>
		</tr>
		<tr>
			<td>Personennamen:</td>
			<td>
			<span class="nobr">
				<select name="personenNamenGenerator">
					<!-- BEGIN personenNamenGenerator.listitem -->
						<option value="{personenNamenGenerator.name}" {if personenNamenGenerator.selected}selected="selected"{/endif}>{personenNamenGenerator.label}</option>
					<!-- END personenNamenGenerator.listitem -->
				</select>
				<input type="button" value="Beispiele" onclick="Options.generierePersonenNamenBeispiele()" />
			</span>
			</td>
		</tr>
		<tr>
			<td>Schiffsnamen:</td>
			<td>
				<span class="nobr">
					<select name="schiffsKlassenNamenGenerator">
						<!-- BEGIN schiffsKlassenNamenGenerator.listitem -->
						<option value="{schiffsKlassenNamenGenerator.name}" {if schiffsKlassenNamenGenerator.selected}selected="selected"{/endif}>{schiffsKlassenNamenGenerator.label}</option>
						<!-- END schiffsKlassenNamenGenerator.listitem -->
					</select>
					<select name="schiffsNamenGenerator">
						<!-- BEGIN schiffsNamenGenerator.listitem -->
						<option value="{schiffsNamenGenerator.name}" {if schiffsNamenGenerator.selected}selected="selected"{/endif}>{schiffsNamenGenerator.label}</option>
						<!-- END schiffsNamenGenerator.listitem -->
					</select>
					<input type="button" value="Beispiele" onclick="Options.generiereSchiffsNamenBeispiele()" />
				</span>
			</td>
		</tr>
        <tr>
            <td>Mitteilung bei Schlachter&ouml;ffnung:</td>
            <td><input name="battle_pm" type="checkbox" value="1" {if user.battlepm}checked="checked"{/endif} /></td>
        </tr>
        <tr>
            <td>Mitteilung bei fertiggesteller Forschung:</td>
            <td><input name="research_pm" type="checkbox" value="1" {if user.researchpm}checked="checked"{/endif} /></td>
        </tr>
        <tr>
            <td>Mitteilung bei fertiggestellten Schiffen:</td>
            <td><input name="ship_build_pm" type="checkbox" value="1" {if user.shipbuildpm}checked="checked"{/endif} /></td>
        </tr>
        <tr>
            <td>Mitteilung bei fertiggestellten Offizieren:</td>
            <td><input name="officer_build_pm" type="checkbox" value="1" {if user.officerbuildpm}checked="checked"{/endif} /></td>
        </tr>
        <tr>
            <td>Mitteilung bei fertiggestellten Einheiten:</td>
            <td><input name="unit_build_pm" type="checkbox" value="1" {if user.unitbuildpm}checked="checked"{/endif} /></td>
        </tr>
        <tr>
            <td>Mitteilung bei ausgefallenen Basen:</td>
            <td><input name="base_down_pm" type="checkbox" value="1" {if user.basedownpm}checked="checked"{/endif} /></td>
        </tr>
		<tr>
			<td colspan="2" align="center"><br />
				{!form_create_hidden changeXtra}
				<input type="submit" value="speichern" />
			</td>
		</tr>
		</table>
	</div>

	</form>
{/endif}

{if options.general}
	{if user.noob}
		<div class="gfxbox" style="width:510px">
			Sie stehen noch unter GCP-Schutz. Klicken sie hier um diesen vorzeitig zu beenden.<br /><br />
			<div style="text-align:center">
				<input type="button" value="GCP-Schutz verlassen" style="width:300px" onclick="DS.ask('Haben sie es sich auch genau &uuml;berlegt?\nEs gibt kein Zur&uuml;ck mehr!',DS.getUrl()+'?module=options&action=dropNoobProtection')" />
				<br />
			</div>
			<br />
			<span style="color:red">Ohne GCP-Schutz k&ouml;nnen sie JEDERZEIT angegriffen werden.
			Sobald sie einmal den GCP-Schutz verlassen haben gibt es kein zur&uuml;ck mehr!</span>
		</div>
		<br />
	{/endif}
	<div class="gfxbox" style="width:510px">
		<table class="noBorderX" cellpadding="2" cellspacing="2">
		<tr>
			<td class="noBorderX">Eigenes Logo</td>
			{if user.ally}
				<td class="noBorderX">Allianzlogo</td>
			{/endif}
		</tr>
		<tr>
			<td class="noBorderX"><img src="data/logos/user/{user.id}.gif" width="75" height="75" alt="Kein Logo vorhanden" /></td>
			{if user.ally}
				<td class="noBorderX"><img src="data/logos/ally/{user.ally}.gif" width="75" height="75" alt="Kein Allylogo vorhanden" /></td>
			{/endif}
		</tr>
		</table>
		<br />
		<form action="./ds" method="post" enctype="multipart/form-data">
			<div>
				Neues Logo hochladen:<br />
				<input type="file" name="logofile" />
				{!form_create_hidden logo, MAX_FILE_SIZE:307200}
				<input type="submit" value="Speichern" /><br />
				(gif-format, 75*75 pixel, max 300kb)
			</div>
		</form>
	</div>
	<div>
		<br />
	</div>
	<div class="gfxbox" style="width:510px">
		<form action="./ds" method="post">
			<div>
				<span style="font-weight:bold">Anzeige</span><br />
				{!checkbox Schiffe gruppieren, wrapfactor, user.wrapfactor}<br /><br />
				<span style="font-weight:bold">Hilfe</span><br />
				{!checkbox Anzeigen, showtooltip, user.tooltip}<br /><br />
				{!form_create_hidden saveOptions}<br /><br />
				<input type="submit" value="Speichern" /><br />
			</div>
		</form>
	</div>
	<div>
		<br />
	</div>
	<div class="gfxbox" style="width:510px">
		<form action="./ds" method="post">
			<div>
				<span style="font-weight:bold">Vacation-Modus:</span><br />
				<p>Du kannst den Vacation-Modus maximal {vacation.maxtime} Tage lang aktivieren.</p>
				{!form_create_hidden vacMode}
				<input type="text" maxlength="5" size="5" name="vacdays" /> Tage
				<input type="submit" value="ok" /><br /><br />
				<span style="font-size:10px">Nach dem Starten den Vacationmodus dauert es einige Ticks bis dieser auch aktiviert wird.
					W&auml;hrenddessen kannst du jeder Zeit den Vacationmodus abbrechen. Auch eine normale Nutzung des Accounts ist m&ouml;glich.
					Sobald der Vacationmodus allerdings vollst&auml;ndig aktiviert ist, ist ein Login nicht mehr m&ouml;glich bis entweder der Vacationmodus abgelaufen ist oder durch einen Administrator abgeschaltet wurde.
				</span>
			</div>
		</form>
	</div>
{/endif}