<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">

		<title>DS2 - Drifting Souls 2</title>

		<meta name="keywords" content="Spiel,Game,Games,Spiele,Browsergame,Strategie,Weltraum,Freespace,Strategiespiel,Strategiespiele,Browsergames,GTVA,Shivaner,Vasudaner,Onlinegame,Onlinespiel,Browserspiel,Indiegame,freetoplay" />
		<meta name="description" content="Drifting Souls 2 - ein kostenloses Indie-Weltraum-RPG-Aufbau-Strategie-Browsergame, welches auf der Narration der Freespace-Spiele basiert. Es wird seit 2001 ständig weiterentwickelt." />

		<link type="text/css" rel="stylesheet" href="data/css/ds_2_portal.css" />

		<script type="text/javascript" src="data/javascript/jquery.js"></script>
		<script type="text/javascript" src="data/javascript/facebox.js"></script>
		<script type="text/javascript">
		jQuery(document).ready(function($)
		{
			$('a[rel*=facebox]').facebox()
		})

		</script>
</head>
<body>
<audio id="audio_with_controls" autoplay loop src="data/sounds/welcome.mp3" type="audio/mp3"></audio>
<div id="header">

		<!-- hier sind die Drifting Souls Bilder der ersten Portalseite-->
	<div class="logo">
			<img src="./data/interface/portal/gcp-logo.png" alt="DS2 LOGO" />
	</div>
	<div class="ueberschrift">
        <h1><img src="./data/interface/portal/driftingsouls.png" alt="Drifting Souls 2" /></h1>
 </div>
<div  id="navigation">
	<ul class="navi">
			<li><a  title="Home" href="./ds?module=portal">Home</a></li>
 			<li><a  title="Portal" href="./ds?module=portal">Portal</a>
 					<ul class="subnav1">
							<li><a  title="Github Repository" href="https://github.com/sgift/driftingsouls" target="_blank">Github</a></li>
					</ul>
			</li>
 			<li><a>Community</a>
 					<ul class="subnav1">
 							<li><a  title="Discord" href="https://discord.gg/cpxxAGy" target="_blank">Discord</a></li>
 							<li><a  title="Forum" href="http://ds.rnd-it.de/index.php" target="_blank">Forum</a></li>
 							<li><a  title="Drifting Souls Wiki" href="http://de.drifting-souls.wikia.com" target="_blank">Wiki</a></li>
							<li><a  title="Facebook-Seite" href="https://www.facebook.com/DriftingSouls2/"_blank">FB-Seite</a></li>
							<li><a  title="Facebook-Gruppe" href="https://www.facebook.com/groups/156787224385374" target="_blank">FB-Gruppe</a></li>
							<li><a  title="Twitter" href="https://twitter.com/driftingsouls2" target="_blank">Twitter</a></li>
 					</ul>
			</li>
			<li><a  title="zu den AGB" href="./ds?module=portal&amp;action=infosAgb">AGB</a></li>
			<li><a  title="zum Impressum" href="./ds?module=portal&amp;action=impressum">Impressum</a></li>
 	</ul>
</div>
</div>

<div>
			<p class="schiff"><img src="./data/interface/portal/FINAL4-1.png" alt="Ein Traeger" /></p>
</div>
 <!-- Bis hier der Headerbereich -->
<div id="content">
 <div class="linke-spalte">

	<div id="document">

		{if show.msg.login.wrongpassword}

	<p>
			<span class="red">Das Passwort stimmt nicht!</span><br />
			<span class="white">Offenbar ist etwas schiefgelaufen... Versuch geloggt</span>
	</p>

		{/endif}
		{if show.login.msg.accdisabled}

	<p>
			<span class="red">Der Account wurde gesperrt! Login nicht möglich!</span>
	</p>

		{/endif}
		{if show.login.msg.tick}

	<p>
			<span class="red">Der Tick bearbeitet gerade einige Ihrer Accountdaten. Bitte versuchen Sie es gleich noch einmal!</span>
	</p>

		{/endif}
		{if show.login.logindisabled}

	<p>
			<span class="red">Es ist zurzeit leider nicht möglich, sich in Drifting Souls 2 einzuloggen</span>
	</p>

			<p>Grund: {login.logindisabled.msg}</p>

		{/endif}
		{if show.login.vacmode.msg.accerror}

	<p>
			<span class="red">Es liegt ein Problem mit den Accountdaten vor.<br />Bitte loggen Sie sich neu ein und versuchen Sie es noch einmal!</span>
	</p>

		{/endif}
		{if show.register.msg.wrongname}

	<p>
			<a href="./ds?module=portal&amp;action=register"><span class="red">Der von Ihnen gewünschte Name ist bereits belegt.</span></a>
	</p>

		{/endif}
		{if show.register.msg.wrongemail}

	<p>
			<a href="./ds?module=portal&amp;action=register"><span class="red">Die E-Mail-Adresse wird bereits von einem anderen Account verwendet</span></a>
	</p>

		{/endif}
		{if show.register.msg.wrongrace}

	<p>
			<a href="./ds?module=portal&amp;action=register"><span class="red">Die von Ihnen gewünschte Rasse ist leider nicht spielbar. Bitte wählen Sie eine andere Rasse aus!</span></a>
	</p>

		{/endif}
		{if show.register.msg.wrongpassword}

	<p>
			<a href="./ds?module=portal&amp;action=register"><span class="red">Die von Ihnen angegebenen Passwörter sind leider nicht identisch</span></a>
	</p>

		{/endif}
		{if show.register.msg.wrongkey}

	<p>
			<a href="./ds?module=portal&amp;action=register"><span class="red">Der von Ihnen angegebene Registrierungsschlüssel ist ungültig</span></a>
	</p>

		{/endif}
		{if show.register.msg.ok}

		<h1>Registrierung erfolgreich.</h1>
		<p>
					Dein Account hat die ID "{register.newid}" bekommen. Außerdem wurde Dir das Passwort via E-Mail zugesendet.<br />
					Viel Spaß bei Drifting Souls 2!
		</p>

		<p><a href="./ds?module=portal&amp;action=login" title="Zurück zum Login">Zurück zum Login</a></p>

		{/endif}
		{if show.register.registerdisabled}

		<p>
				<span class="red">Es ist zurzeit leider nicht möglich, sich bei Drifting Souls 2 anzumelden.</span>
		</p>
				<p>	Grund: {register.registerdisabled.msg}
		</p>

		{/endif}
		{if show.register.acceptagb}
		<p>
			<span class="red">{register.acceptagb.msg}</span>
		</p>
		{/endif}
		{if show.login.vacmode}

		<p>
				<span class="red">Du bist noch für {login.vacmode.dauer} Ticks im Urlaub.</span>
		</p>

		{/endif}

		{if ! show.register}
			{if ! show.register.choosesystem}
				{if ! show.register.msg.ok}
					{if ! is.logged.in}
						<div id="login">
							<form action="./ds" method="post">

							<p><span class="left">Name: </span><input class="name-input" style="width:170px" name="username" type="text" maxlength="40" value="{login.username}" /></p>

							<p><span class="left">Passwort: </span><input  class="pw-input" style="width:170px" name="password" type="password" value="" /></p>

						<p><input type="hidden" name="action" value="login" />
							<input type="hidden" name="module" value="portal" /></p>
							<p><span class="submit"><input type="submit" value="Login" style="width:100px"/></span></p>
						</form>
					</div>

				<div id="lostpass">
						<p><a href="./ds?module=portal&amp;action=passwordLost" title="Passwort vergessen">Passwort vergessen?</a></p>
				</div>

			<div id="teaser">
				<p><a id="registerlink" href="./ds?module=portal&amp;action=register"> Registrieren </a></p>
			</div>
					{else}
			<div>
							<form action="./ds" method="post">
									<h2>Willkommen zur&uuml;ck</h2>
									<input type="hidden" name="action" value="relogin" />
									<input type="hidden" name="module" value="portal" />
									<span class="submit"><input type="submit" value="Zum Spiel" style="width:100px"/></span>
							</form>
				</div>

					{/endif}
				{/endif}
			{/endif}
		{/endif}


		{if show.register.choosesystem}
		<script type="text/javascript">
		<!--
			var lastSystemSelect = {register.system.id};

			function actionSystemSelectChange(action) {
				if( document.getElementById("register_systemdesc_"+action) != null ) {
					document.getElementById("register_systemdesc_"+action).style.display = 'inline';
				}
				if( document.getElementById("register_systemdesc_"+lastSystemSelect) != null ) {
					document.getElementById("register_systemdesc_"+lastSystemSelect).style.display = 'none';
				}
				lastSystemSelect = action;
			}
		-->
		</script>
		<!-- zweite Seite nach dem Klick auf Registrieren -->
			<div id="register-neusiedler-startsystem">
				<h2>Startpunkt</h2>
				<p>
					Es wurde automatisch das Sternensystem {register.system.name} als günstigster Startpunkt für Sie festgestellt.<br />
					Sollten Sie einen anderen Startpunkt bevorzugen, können Sie diesen nun auswählen:<br />
					<div style="text-align:left">
						<form action="./ds" method="post">
						<select name="system" size="1" style="width:300px" onchange="actionSystemSelectChange(this.options[this.options.selectedIndex].value)">
						<!-- BEGIN register.systems.listitem -->
							<option value="{system.id}" {if system.selected}selected="selected"{/endif}>{system.name}{if system.selected} (empfohlen){/endif}</option>
						<!-- END register.systems.listitem -->
						</select>
						<br /><br />
						{!form_create_hidden register}
						<input type="hidden" name="username" value="{register.username}" />
						<input type="hidden" name="email" value="{register.email}" />
						<input type="hidden" name="race" value="{register.race}" />
						<input type="hidden" name="acceptAgb" value="{register.acceptAgb}" />
						{if register.needkey}
							<input type="hidden" name="key" value="{register.key}" />
						{/endif}
						<span class="submit"><input type="submit" value="weiter" style="width:100px" /></span>
						</form>
					</div>
				</p>

			<!-- BEGIN register.systemdesc.listitem -->
				{if system.description}

					<div id="register_systemdesc_{system.id}" {if ! system.selected}style="display:none"{else}style="display:inline"{/endif}>

							<div id="register-info-system">
									<h2> {system.name} </h2>
									<p>
												{system.description}
									</p>
							</div>
			</div>
				{/endif}
			<!-- END register.systemdesc.listitem -->
	</div>
		{/endif}

		{if show.register}
		<form action="./ds" method="post">
			<script type="text/javascript">
			<!--
				var lastRaceSelect = {register.rassen.selected};

				function actionRaceSelectChange(action) {
					if( document.getElementById("register_rassendesc_"+action) != null ) {
						document.getElementById("register_rassendesc_"+action).style.display = 'inline';
					}
					if( document.getElementById("register_rassendesc_"+lastRaceSelect) != null ) {
						document.getElementById("register_rassendesc_"+lastRaceSelect).style.display = 'none';
					}
					lastRaceSelect = action;
				}
			-->
			</script>

			<div id="register-neusiedler-daten">
				<h2>Registrierung</h2>
				<p>Bitte fülle alle Felder aus.<br />
				Das Passwort wird Dir anschließend via E-Mail zugesandt.</p>
				<p><span class="red">Das setzt die Angabe einer gültigen E-Mail-Adresse voraus.</span></p>

				<p>
					<span class="left">Spezies</span>
					<select name="race" size="1" style="width:200px" onchange="actionRaceSelectChange(this.options[this.options.selectedIndex].value)">
					<!-- BEGIN register.rassen.listitem -->
						<option value="{rasse.id}" {if rasse.selected}selected="selected"{/endif}>{rasse.name}</option>
					<!-- END register.rassen.listitem -->
					</select>
				</p>
				<p>
					<span class="left">Loginname</span> <input name="username" type="text" style="width:200px"  maxlength="40" value="{register.username}" />
					<br /><br />Hinweis: Der Loginname ist <span class="red">nicht</span> der Ingame-Name. Dieser kann später bestimmt und geändert werden. <br /><br />
					<span class="left">E-Mail</span> <input name="email" type="text" style="width:200px" maxlength="60" value="{register.email}" />
					<br />
				</p>
			{if register.needkey}
				<p>
					Reg.Schl&uuml;ssel <input name="key" type="text" style="width:200px" />
					<br />
				</p>
			{/endif}
				<p class="checkbox">
					<input type="checkbox" id="login_acceptagb" name="acceptAgb" value="true" />
					<label for="login_acceptagb"><a  href="./ds?module=portal&amp;action=infosAgb" target="_blank">AGB</a> akzeptieren</label>
				</p>
				<p>
					<input type="hidden" name="action" value="register" />
					<input type="hidden" name="module" value="portal" />
					<span class="submit"><input type="submit" value="Account registrieren" style="width:200px" /></span>
				</p>

		<!-- BEGIN register.rassendesc.listitem -->
			{if rasse.description}
			<div id="register_rassendesc_{rasse.id}" {if ! rasse.selected}style="display:none"{else}style="display:inline"{/endif}>
				<div id="register-info-rassen">
								<h2> {rasse.name} </h2>
								<p>
												{rasse.description}
								</p>
				</div>
			</div>
		</div>
			{/endif}
			<!-- END register.rassendesc.listitem -->
		</form>
		{/endif}

		{if show.passwordlost.msg.ok}

				<p>
					<span class="green">Das Passwort wurde erstellt und zu Ihrer E-Eail-Adresse gesendet.</span>
				</p>

		{/endif}
		{if show.passwordlost.msg.error}

				<p>
					<span class="green">Der angegebene Username existiert nicht! Fehleingabe?</span><br />
					Offenbar ist etwas schiefgelaufen... Versuch geloggt
				</p>

		{/endif}
		{if show.passwordlost}

				<p>
					<form action="./ds" method="post">
					<span class="red">Passwort vergessen?</span><br />
					Bitte geben Sie Ihren Usernamen ein!<br />Ein neues Passwort wird dann erstellt und Ihnen an die gespeicherte E-Mail-Adresse gesandt.<br />
					<br />
					<span class="left">Username: </span><input name="username" type="text" value="" /><br />
					<span class="submit"><input type="submit" value=".: ok" /></span>
					<input type="hidden" name="action" value="passwordLost" />
					<input type="hidden" name="module" value="portal" />
					</form>
				</p>

		{/endif}
</div> <!-- Ende ID document -->
	</div> <!-- Ende Linke Spalte -->

	<div class="rechte-spalte">
	<div id="re-inhalt" >
		{if show.register}
		<div id="register-fraktionsbeschreibung">
			<h2>Die Fraktionen</h2>
			<p>In den bekannten Sternensystemen gibt es drei Hauptfraktionen, die jeweils eine wesentliche Macht darstellen. Da ihre Ziele
			oft entgegen gesetzt sind, kann ein Spieler sich nur einer davon anschließen, durch seine jeweilige Rasse ist diese
			Auswahl aber weiter eingeschränkt.</p>
			<p>Neben diesen Hauptfraktionen gibt es andere, oft kleinere Fraktionen zu entdecken, mit denen man auf verschiedene
			Arten interagieren kann.</p>
			<ul>
				<li>
					<ol>
						<li><img src="./data/interface/portal/gtve.gif" alt="" />Galactic Terran-Vasudan Republic (GTVR)</li>
						<li>Ein Zusammenschluss von Siedlern, der sich für die gemeinsame, friedliche Besiedlung der Systeme einsetzt. Für Weiteres siehe <a href="https://drifting-souls.fandom.com/de/wiki/Galactic_Terran-Vasudan_Republic">hier</a>.</li>
					</ol>
				</li>
				<li>
					<ol>
						<li><img src="./data/interface/portal/ntf.gif" alt="" />Neo-Terranische Front (NTF)</li>
						<li>Eine rein terranische Fraktion, die Vasudaner bekämpft. Für Weiteres siehe <a href="https://drifting-souls.fandom.com/de/wiki/Neo-Terranische_Front">hier</a>.</li>
					</ol>
				</li>
				<li>
					<ol>
						<li><img src="./data/interface/portal/vi.gif" alt="" />Vasudanisches Imperium (VI)</li>
						<li>Eine rein vasudanische Fraktion, die Terraner bekämpft. Für Weiteres siehe <a href="https://drifting-souls.fandom.com/de/wiki/Vasudanisches_Imperium">hier</a>.</li>
					</ol>
				</li>
			</ul>
		</div>
		{/endif}

	{if show.register.choosesystem}
	<div id="register-systembeschreibung">
	<h2>Die Systeme</h2>
	<p>Hier sind die derzeit besiedelungsfähigen Sternensysteme aufgelistet.</p>
	<p><ul>
			<li>Eta Nebular (605)</li>
	</ul>
</p>
	<p>Andere Systeme existieren, sind aber aufgrund verschiedener Ereignisse derzeit nicht (mehr) erreichbar oder nicht zur anfänglichen Besiedelung geeignet.</p>
	</div>
	{/endif}
		{if show.banner}
<!-- bannerseite entfernt -->
		{/endif}
		{if show.agb}

	<div id="seite-agb">

					<h2>Allgemeine Geschäftsbedingungen (AGB)</h2>
					<ol id="agb">
						<li>§ 1 Grundsätzliches
							<ol>
								<li>I. Drifting Souls 2 (im folgenden: Spiel) ist ein Online-Browser Spiel, welches von Ralf Hajek, Schönauer Straße 4, 65232 Taunusstein (im folgenden: Betreiber) betrieben wird. Der Betreiber stellt das Spiel grundsätzlich allen Benutzern (im folgenden: Spieler) zur Verfügung. Der Betreiber wird vertreten durch die Spielleitung.</li>
								<li>II. Alle im Rahmen vom Spiel veröffentlichten Inhalte, sowie Medien und Nachrichten unterliegen den Vorgaben dieser AGB sowie anderer, vom Betreiber oder der Spielleitung herausgegebenen Regelungen. Bei einem Konflikt zwischen AGB und anderen Regelungen gehen die AGB vor.</li>
								<li>III. Durch das Anklicken des Häkchens "AGB akzeptieren" bestätigt der Spieler die AGB und ihre Bestimmungen vollumfänglich zur Kenntnis genommen zu haben. Durch das Absenden der Daten unterbreitet der Spieler dem Betreiber und der Spielleitung ein Angebot zum Abschluss eines Endbenutzer-Lizenzvertrags.</li>
								<li>IV. Diese Vereinbarungen und andere Regelungen können vom Betreiber oder der Spielleitung mit Wirkung für die Zukunft verändert werden. Eine solche Veränderung wird nur aus einem wichtigen Grund durchgeführt. Die Spieler werden rechtzeitig über eine solche informiert und müssen dieser zustimmen.</li>
							</ol>
						</li>
						<li>§ 2 Endbenutzer-Lizenzvertrag
							<ol>
								<li>I. Der Endbenutzer-Lizenzvertrags ist kostenlos und kommt zustande über den Zugang des Angebotes gemäß § 1 Abs. 3 AGB und der Freischaltung des Spielerkontos (im folgenden: Account) seitens des Betreibers oder der Spielleitung.</li>
								<li>II. Der Spieler hat keinen Anspruch auf Teilhabe am Spiel. Ein bestehender Endbenutzer-Lizenzvertrags kann von Seiten des Spielers, des Betreibers oder der Spielleitung jederzeit gekündigt werden.</li>
								<li>III. Das Spiel steht grundsätzlich nur Personen über 16 Jahren zur Verfügung. Werden dem Betreiber Umstände bekannt, nach denen ein Spieler unter dem  Mindestalter liegt, so muss dieser auf Nachfrage eine Einwilligung eines Erziehungsberechtigten vorlegen.</li>
							</ol>
						</li>
						<li>§ 3 Account
							<ol>
								<li>I. Ein bestehender Endbenutzer-Lizenzvertrags berechtigt den Spieler zu einem Account. Mit diesem kann er am Spiel teilnehmen, seinen Namen sowie sein Profilbild ändern, Nachrichten verfassen und am internen Forum (Com-Net) teilhaben. Der Account teilt das Schicksal des gekündigten oder sonst wie wirkungslosen Endbenutzer-Lizenzvertrags.</li>
								<li>II. Der Betreiber behält sich vor Accountnamen, Anzeigenamen sowie alle vom Spieler eingebrachten Inhalte aus technischen, ethischen sowie rechtlichen Gründen zu ändern oder zu löschen.</li>
								<li>III. Das Erstellen von mehreren Accounts (Multiaccounting) ist verboten. Verstöße hiergegen können neben der Kündigung des Endbenutzer-Lizenzvertrags mit den Multiaccounts auch zur Kündigung  des Endbenutzer-Lizenzvertrags mit dem Hauptaccount des Spielers führen.</li>
								<li>IV. Jeder Account ist an den jeweiligen Spieler gebunden. Das Führen eines fremden Accounts ist unzulässig und kann zu Kündigung des Endbenutzer-Lizenzvertrags mit dem Hauptaccount des fremden sowie des eigenen Spielers führen.</li>
								<li>V. Bei inaktiven Accounts gilt der Endbenutzer-Lizenzvertrags als gekündigt. Als inaktiv gilt ein Account, auf den seit mindestens 6 Monaten nicht mehr zugegriffen wurde oder der sich seit mindestens 12 Monate im Urlaubsmodus (VAC) befindet.</li>
								<li>VI. Der Spieler ist dazu verpflichtet die Zugangsdaten zu seinem Account mit größter Sorgfalt zu behandeln und ein Abhandenkommen nach allen Umständen zu verhindern. Das Verlieren der Zugangsdaten muss unverzüglich dem Betreiber angezeigt werden.</li>
							</ol>
						</li>
						<li>
							§ 4 Spielregeln
							<ol>
								<li>I. Der Spieler ist ohne die Erlaubnis des Betreibers nicht berechtigt, Mechanismen, Software, Programme oder sonstige Routinen zu verwenden, die den Server oder die Systeme stören könnten. Er darf keine Maßnahmen ergreifen, die zu einer unzumutbaren Überbelastung der Systeme führen könnten. Die Nutzung von besonderer Software, insbesondere zur systematischen oder automatischen Steuerung der Spiele oder einzelner Spielfunktionen (Bots, Makros), zur Reproduktion oder Auswertung der Spiele, ist unzulässig.</li>
								<li>II. Es ist verboten, Bugs bzw. Fehler in der Programmierung des Spiels und im Spielverlauf, die einen Vorteil für den Spieler darstellen können, für eigene und/oder für fremde Zwecke auszunutzen. Wurden Bugs bzw. Fehler vorsätzlich ausgenutzt, kann dies zur fristlosen Kündigung des Endbenutzer-Lizenzvertrags führen.</li>
								<li>III. Es ist ohne die Erlaubnis des Betreibers verboten, Software zu benutzen, die "Datamining" ermöglicht oder auf andere Weise im Zusammenhang mit dem Spiel stehende Informationen sammelt.</li>
								<li>IV. Es ist verboten, Spielinhalte außerhalb der Spiele zu nutzen, für reales Geld zu kaufen oder zu verkaufen oder zu tauschen.</li>
								<li>V. Der Betreiber oder die Spielleitung kann jederzeit weitere Regeln mit Wirkung für die Zukunft erlassen; vgl. § 1 Abs. 4 AGB. Zum Verhältnis der AGB und den sonstigen Spielregeln vgl. § 1 Abs. 2 AGB.</li>
							</ol>
						</li>
						<li>
							§ 5 Haftung
							<ol>
								<li>I. Grundsätzlich ist jegliche Haftung des Betreibers ausgeschlossen und findet nur im Einzelfall und nach Maßgabe der folgenden Regelungen statt.</li>
								<li>II. Der Betreiber haftet auf Schadensersatz und Ersatz vergeblicher Aufwendungen („Schadensersatz") wegen Verletzung vertraglicher oder außervertraglicher Pflichten nur:
									<ol>
										<li>1. bei Vorsatz oder grober Fahrlässigkeit,</li>
										<li>2. bei fahrlässiger oder vorsätzlicher Verletzung des Lebens, des Körpers oder der 	Gesundheit,</li>
										<li>3. bei fahrlässiger oder vorsätzlicher Verletzung wesentlicher Vertragspflichten,</li>
										<li>4. wegen der Übernahme einer Beschaffenheitsgarantie,</li>
										<li>5. aufgrund zwingender Haftung nach dem Produkthaftungsgesetz sowie im Anwendungsbereich des § 44a TKG oder</li>
										<li>6. aufgrund sonstiger zwingender Haftung</li>
									</ol>
								</li>
								<li>III. Der Schadensersatz für die Verletzung wesentlicher Vertragspflichten ist auf den vertragstypischen, vorhersehbaren Schaden begrenzt, soweit nicht Vorsatz oder grobe Fahrlässigkeit vorliegt oder wegen der Verletzung des Lebens, des Körpers oder der Gesundheit oder der Übernahme einer Beschaffenheitsgarantie oder aus Produkthaftung gehaftet wird.</li>
							</ol>
						</li>
						<li>§ 6 Datenschutz
							<ol>
								<li>I. Der Betreiber speichert nur die unmittelbar zur Teilnahme am Spiel notwendigen Daten. Diese sind nur durch den Betreiber einsehbar und werden nicht zu werbe- oder sonstigen kommerziellen Zwecken genutzt oder gehandelt.</li>
								<li>II. Die gespeicherten Daten umfassen:
									<ol>
										<li>1. die zur Anmeldung angegebene E-Mailadresse des Spielers</li>
										<li>die IP-Adresse; diese wird für 30 Tage gespeichert und dann automatisch gelöscht</li>
										<li>ein „Sessioncookie“ zur Authentifizierung des Spielers; dieses wird mit Schließen des jeweiligen Browsers automatisch gelöscht. Das Spiel benutzt keinerlei „Third Party Cookies“.</li>
									</ol>
								</li>
								<li>III. Der Spieler kann jederzeit und ohne Angaben von Gründen die Löschung seiner persönlichen Daten verlangen. In einem solchen Fall endet der Endbenutzer-Lizenzvertrag mit der Löschung. Eine erneute Spielteilnahme ist nur unter den Voraussetzungen des § 1 Abs. 3 AGB wieder möglich.</li>
							</ol>
						</li>
						<li>§ 7 Änderungen der AGB
							<ol>
								<li>I. Gemäß § 1 Abs. 4 AGB können die AGB geändert werden. In einem solchen Fall wird der Spieler über das interne Nachrichtensystem (PM) sowie mittels Ankündigung auf der Startseite des Spiels über die Änderungen informiert.</li>
								<li>II. Diese Vereinbarungen gelten als angenommen, wenn der Spieler ihnen nicht innerhalb von 14 Tagen nach Information hierüber widersprochen hat. In Zukunft veränderte AGB gelten ebenfalls als angenommen, wenn der Spieler nicht innerhalb von 14 Tagen nach der Information hierüber diesen widerspricht.</li>
								<li>III. Der Widerspruch ist dem Betreiber oder die Spielleitung anzuzeigen. Folge des Widerspruchs ist die Beendigung des Endbenutzter-Lizenzvertrages.</li>
							</ol>
						</li>
					</ol>
			</div>

		{/endif}
		{if show.impressum}

	<div id="impressum">
				<h2>Impressum</h2>
			<p>
				Webmaster: Ralf Hajek - Alias: Guzman<br />
				Schönauer Straße 4<br />
				65232 Taunusstein<br />
				E-Mail: R.Hajek@t-online.de<br />
				Administratoren: Yuma, Madison<br />
				(weitere) Hauptentwickler: Lee Blackwell, Syndikat - unterstützt durch viele weitere fleißige Helfer<br />
				Ehemalige Programmierer: Ra, BoLt,  Kakashi, Firewing, Gargair, Rhonabwy, bKtHeG<br />
			</p>
			<p>
				Bei der Webseitengestaltung haben geholfen:<br />
				Yuma,<br />
				Antiker,<br />
				Mav aus der Perry-Rhodan-Community<br />
				vielen Dank für die Bilder
			</p>
			<p>
				Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehme
 				ich keine Haftung für die Inhalte externer Links. <br />Für den Inhalt der
 				verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
			</p>
		</div>
		{/endif}

		{if show.overview}
			<!-- was war hier drin? -->
		{/endif}


		{if show.news}

	<ul id="news">
				<h2>News</h2>
			<!-- BEGIN news.listitem -->
			<li class="newsitem">
					<h3 class="title">{news.title}</h3>
					<span class="authoring">{news.author}, {news.date}</span>
					<p class="newstext">{news.text}</p>
			</li>
	<!-- END news.listitem -->
		</ul>

	<div id="archiv">
					<p>
							<a  title="Zum News-Archiv" href="./ds?module=portal&amp;action=default&amp;archiv=1">Zum News-Archiv</a>
					</p>
	</div>
		{/endif}

	</div>  <!-- Ende class. re-inhalt (gegenstueck "documents") -->
	</div>	<!-- Ende class. Rechte Spalte -->
</div> <!-- Ende ID Container -->

<!-- hier wird von wo anders der Schluss eingefügt -->
