<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
	
		<title>DS2 - Drifting Souls 2</title>
		
		<meta name="keywords" content="Spiel,Game,Games,Spiele,Browsergame,Strategie,Weltraum,Freespace,Strategiespiel,Strategiespiele,Browsergames,GTVA,Shivaner,Vasudaner,Onlinegame,Onlinespiel" />
		<meta name="description" content="Drifting Souls 2 - Ein kostenloses werbefreies Browsergame, welches im Weltraum spielt und sich an Freespace anlehnt" />

		<link type="text/css" rel="stylesheet" href="data/css/ds_2_portal.css" />
			
		<script type="text/javascript" src="data/javascript/jquery.js"></script>
		<script type="text/javascript" src="data/javascript/facebox.js"></script>
		<script type="text/javascript">
		jQuery(document).ready(function($) 
		{
			$('a[rel*=facebox]').facebox()
		})
		
		</script>
</head>
<body>
<div id="header">
	
		<!-- hier sind die Drifting Souls Bilder der ersten Portalseite-->
	<div class="logo">
			<img src="./data/interface/portal/gcp-logo.png" alt="DS2 LOGO" />
	</div>
	<div class="ueberschrift">
        <h1><img src="./data/interface/portal/driftingsouls.png" alt="Drifting Souls" /></h1>
 </div>  
<div  id="navigation"> 
	<ul class="navi">
			<li><a  title="Home" href="./ds?module=portal">Home</a></li>
 			<li><a  title="Portal" href="./ds?module=portal">Portal</a>
 					<ul class="subnav1">
							<li><a  title="Github Repository" href="https://github.com/sgift/driftingsouls" target="_blank">Github</a></li>
					</ul>
			</li>
 			<li><a>Community</a>
 					<ul class="subnav1">
 							<li><a  title="IRC" href="http://de.drifting-souls.wikia.com/wiki/IRC" target="_blank">IRC</a></li>
 							<li><a  title="Forum" href="http://ds.rnd-it.de/index.php" target="_blank">Forum</a></li>
 							<li><a  title="Wiki" href="http://de.drifting-souls.wikia.com" target="_blank">Wiki</a></li>
 					</ul>
			</li>
 	</ul>
</div> 	
</div> 

<div>
			<p class="schiff"><img src="./data/interface/portal/FINAL4-1.png" alt="Ein Traeger" /></p>
</div>   
 <!-- Bis hier der Headerbereich -->
<div id="content">
 <div class="linke-spalte">
 
	<div id="document">

		{if show.msg.login.wrongpassword}
			
	<p>
			<span class="red">Das Passwort stimmt nicht!</span><br />
			<span class="white">Offenbar ist etwas schiefgelaufen .... Versuch geloggt</span>
	</p>
			
		{/endif}
		{if show.login.msg.accdisabled}
			
	<p>
			<span class="red">Der Account wurde gesperrt! Login nicht m&ouml;glich!</span>
	</p>
		
		{/endif}
		{if show.login.msg.tick}
			
	<p>
			<span class="red">Der Tick bearbeitet gerade einige ihrer Accountdaten. Bitte versuchen sie es gleich nochmal!</span>
	</p>
			
		{/endif}
		{if show.login.logindisabled}
			
	<p>
			<span class="red">Es ist zur Zeit leider nicht m&ouml;glich sich in Drifting Souls einzuloggen</span>
	</p>
					
			<p>Grund: {login.logindisabled.msg}</p>
			
		{/endif}
		{if show.login.vacmode.msg.accerror}
		
	<p>
			<span class="red">Es liegt ein Problem mit den Accountdaten vor.<br />Bitte loggen sie sich neu ein und versuchen sie es nocheinmal!</span>
	</p>
		
		{/endif}
		{if show.register.msg.wrongname}
			
	<p>
			<a href="./ds?module=portal&amp;action=register"><span class="red">Der von Ihnen gew&uuml;nschte Name ist bereits belegt.</span></a>
	</p>
			
		{/endif}
		{if show.register.msg.wrongemail}
		
	<p>
			<a href="./ds?module=portal&amp;action=register"><span class="red">Die E-Mail Adresse wird bereits von einem anderen Account verwendet</span></a>
	</p>
			
		{/endif}
		{if show.register.msg.wrongrace}
		
	<p>
			<a href="./ds?module=portal&amp;action=register"><span class="red">Die von Ihnen gew&uuml;nschte Rasse ist leider nicht spielbar. Bitte w&auml;hlen sie eine andere Rasse aus!</span></a>
	</p>		
			
		{/endif}
		{if show.register.msg.wrongpassword}
			
	<p>
			<a href="./ds?module=portal&amp;action=register"><span class="red">Die von Ihnen angegebenen Passw&ouml;rter sind leider nicht identisch</span></a>
	</p>
		
		{/endif}
		{if show.register.msg.wrongkey}
			
	<p>
			<a href="./ds?module=portal&amp;action=register"><span class="red">Der von Ihnen angegebene Registrierungsschl&uuml;ssel ist ung&uuml;ltig</span></a>
	</p>
			
		{/endif}
		{if show.register.msg.ok}
			
		<h1>Registrierung erfolgreich.</h1>
		<p>
					Dein Account hat die ID "{register.newid}" bekommen. Au&szlig;erdem wurde dir das Passwort via E-Mail zugesendet.<br />
					Viel Spa&szlig; bei Drifting Souls 2
		</p>

		<p><a href="./ds?module=portal&amp;action=login" title="Zurück zum Login">Zurück zum Login</a></p>
			
		{/endif}
		{if show.register.registerdisabled}
		
		<p>
				<span class="red">Es ist zur Zeit leider nicht m&ouml;glich sich bei Drifting Souls anzumelden</span>
		</p>
				<p>	Grund: {register.registerdisabled.msg}
		</p>
			
		{/endif}
		{if show.login.vacmode}
	
		<p>
				<span class="red">Du bist noch f&uuml;r {login.vacmode.dauer} Ticks im Urlaub.</span>
		</p>
			
		{/endif}
		
		{if ! show.register}
			{if ! show.register.choosesystem}
				{if ! show.register.msg.ok}
					{if ! is.logged.in}
						<div id="login">
							<form action="./ds" method="post">
								
							<p><span class="left">Name: </span><input class="name-input" style="width:170px" name="username" type="text" maxlength="40" value="{login.username}" /></p>
								
							<p><span class="left">Passwort: </span><input  class="pw-input" style="width:170px" name="password" type="password" value="" /></p>
						
						<!--	<p class="checkbox"><input type="checkbox" id="login_usegfxpak" name="usegfxpak" value="1" checked="checked" /><label for="login_usegfxpak">Grafikpack verwenden</label></p> -->
							<p class="checkbox"><input type="checkbox" id="login_rememberme" name="rememberme" value="true" /><label for="login_rememberme">Eingeloggt bleiben</label></p>
						
						<p><input type="hidden" name="action" value="login" />
							<input type="hidden" name="module" value="portal" /></p>
							<p><span class="submit"><input type="submit" value="Login" style="width:100px"/></span></p>
						</form>
					</div>
			
				<div id="lostpass">
						<p><a href="./ds?module=portal&amp;action=passwordLost" title="Passwort vergessen">Passwort vergessen?</a></p>
				</div>
						
			<div id="teaser">
				<p><a id="registerlink" href="./ds?module=portal&amp;action=register"> Registrieren </a></p>
			</div>
					{else}
			<div>
							<form action="./ds" method="post">
									<h2>Willkommen zur&uuml;ck</h2>
									<input type="hidden" name="action" value="relogin" />
									<input type="hidden" name="module" value="portal" />
									<span class="submit"><input type="submit" value="Zum Spiel" style="width:100px"/></span>
							</form>
				</div>
					
					{/endif}
				{/endif}
			{/endif}
		{/endif}
		
		
		{if show.register.choosesystem}
		<script type="text/javascript">
		<!--
			var lastSystemSelect = {register.system.id};
			
			function actionSystemSelectChange(action) {
				if( document.getElementById("register_systemdesc_"+action) != null ) {
					document.getElementById("register_systemdesc_"+action).style.display = 'inline';
				}
				if( document.getElementById("register_systemdesc_"+lastSystemSelect) != null ) {
					document.getElementById("register_systemdesc_"+lastSystemSelect).style.display = 'none';
				}
				lastSystemSelect = action;
			}
		-->
		</script>
		<!-- zweite Seite nach dem Klick auf Registrieren -->
			<div id="register-neusiedler-startsystem">
				<h2>Startpunkt</h2>
				<p>
					Es wurde automatisch das Sternensystem {register.system.name} als g&uuml;nstigster Startpunkt f&uuml;r sie festgestellt.<br />
					Sollten sie einen anderen Startpunkt bevorzugen k&ouml;nnen sie diesen nun ausw&auml;hlen:<br />
					<div style="text-align:left">
						<form action="./ds" method="post">
						<select name="system" size="1" style="width:300px" onchange="actionSystemSelectChange(this.options[this.options.selectedIndex].value)">
						<!-- BEGIN register.systems.listitem -->
							<option value="{system.id}" {if system.selected}selected="selected"{/endif}>{system.name}{if system.selected} (empfohlen){/endif}</option>
						<!-- END register.systems.listitem -->
						</select>
						<br /><br />
						{!form_create_hidden register}
						<input type="hidden" name="username" value="{register.username}" />
						<input type="hidden" name="email" value="{register.email}" />
						<input type="hidden" name="race" value="{register.race}" />
						{if register.needkey}
							<input type="hidden" name="key" value="{register.key}" />
						{/endif}
						<span class="submit"><input type="submit" value="weiter" style="width:100px" /></span>
						</form>
					</div>
				</p>
		
			<!-- BEGIN register.systemdesc.listitem -->
				{if system.description}
				
					<div id="register_systemdesc_{system.id}" {if ! system.selected}style="display:none"{else}style="display:inline"{/endif}>
					
							<div id="register-info-system">
									<h2> {system.name} </h2>
									<p>
												{system.description}
									</p>
							</div>
			</div>
				{/endif}
			<!-- END register.systemdesc.listitem -->
	</div>
		{/endif}

		{if show.register}
		<form action="./ds" method="post">
			<script type="text/javascript">
			<!--
				var lastRaceSelect = {register.rassen.selected};
				
				function actionRaceSelectChange(action) {
					if( document.getElementById("register_rassendesc_"+action) != null ) {
						document.getElementById("register_rassendesc_"+action).style.display = 'inline';
					}
					if( document.getElementById("register_rassendesc_"+lastRaceSelect) != null ) {
						document.getElementById("register_rassendesc_"+lastRaceSelect).style.display = 'none';
					}
					lastRaceSelect = action;
				}
			-->
			</script>
			
			<div id="register-neusiedler-daten">
				<h2>Registrierung</h2>
				<p>Bitte f&uuml;lle alle Felder aus<br />
				Das Passwort wird dir anschlie&szlig;end via E-Mail zugesandt</p>
				<p><span class="red">Das setzt die Angabe einer g&uuml;ltigen E-mail Adresse voraus.</span></p>
				
				<p>
					<span class="left">Spezies</span>
					<select name="race" size="1" style="width:200px" onchange="actionRaceSelectChange(this.options[this.options.selectedIndex].value)">
					<!-- BEGIN register.rassen.listitem -->
						<option value="{rasse.id}" {if rasse.selected}selected="selected"{/endif}>{rasse.name}</option>
					<!-- END register.rassen.listitem -->
					</select>
				</p>
				<p>
					<span class="left">Loginname</span> <input name="username" type="text" style="width:200px"  maxlength="40" value="{register.username}" />
					<br /><br />Hinweis: Der Loginname ist <span class="red">nicht</span> der Ingamename <br /><br />
					<span class="left">E-Mail</span> <input name="email" type="text" style="width:200px" maxlength="60" value="{register.email}" />
					<br />
				</p>
			{if register.needkey}
				<p>
					Reg.Schl&uuml;ssel <input name="key" type="text" style="width:200px" />
					<br />
				</p>
			{/endif}
				<p>
					<input type="hidden" name="action" value="register" />
					<input type="hidden" name="module" value="portal" />
					<span class="submit"><input type="submit" value="Account registrieren" style="width:200px" /></span>
				</p>
			
		<!-- BEGIN register.rassendesc.listitem -->
			{if rasse.description}
			<div id="register_rassendesc_{rasse.id}" {if ! rasse.selected}style="display:none"{else}style="display:inline"{/endif}>
				<div id="register-info-rassen">
								<h2> {rasse.name} </h2>
								<p>
												{rasse.description}
								</p>
				</div>
			</div>
		</div>
			{/endif}
			<!-- END register.rassendesc.listitem -->
		</form>
		{/endif}
		
		{if show.passwordlost.msg.ok}
			
				<p>
					<span class="green">Das Password wurde erstellt und zu ihrer Email-Adresse gesendet</span>
				</p>
			
		{/endif}
		{if show.passwordlost.msg.error}
		
				<p>
					<span class="green">Der angegebene Username existiert nicht! Fehleingabe?</span><br />
					Offenbar ist etwas schiefgelaufen .... Versuch geloggt
				</p>
		
		{/endif}
		{if show.passwordlost}
		
				<p>
					<form action="./ds" method="post">
					<span class="red">Passwort vergessen?</span><br />
					Bitte geben Sie Ihren Usernamen ein!<br />Ein neues Passwort wird dann erstellt und Ihnen an die gespeicherte E-Mail-Adresse gesandt.<br />
					<br />
					<span class="left">Username: </span><input name="username" type="text" value="" /><br />
					<span class="submit"><input type="submit" value=".: ok" /></span>
					<input type="hidden" name="action" value="passwordLost" />
					<input type="hidden" name="module" value="portal" />
					</form>
				</p>
			
		{/endif}
</div> <!-- Ende ID document -->
	</div> <!-- Ende Linke Spalte -->

	<div class="rechte-spalte">
	<div id="re-inhalt" >
		{if show.register}
		<div id="register-fraktionsbeschreibung">
			<h2>Die Fraktionen</h2>
			<p>In den Lost Lands gibt es drei Hauptfraktionen, die jeweils eine wesentliche Macht darstellen. Da ihre Ziele
			oft entgegen gesetzt sind kann ein Spieler sich nur einer davon anschließen, durch die jeweilige Rasse ist diese
			Auswahl weiter eingeschr&auml;nkt.</p>
			<p>Neben diesen Hauptfraktionen gibt es andere, oft kleinere, zu entdecken mit denen man auf verschiedene
			Arten interagieren kann.</p>
			<ul>
				<li>
					<ol>
						<li><img src="./data/interface/portal/gtve.gif" alt="" />Galactic Terran-Vasudan Empire (GTVE)</li>
						<li>Ein Zusammenschlu&szlig; von Siedlern, der sich für die gemeinsame, friedliche Besiedlung der Systeme einsetzt.</li>
					</ol>
				</li>
				<li>
					<ol>
						<li><img src="./data/interface/portal/ntf.gif" alt="" />Neo-Terranische Front (NTF)</li>
						<li>Eine rein terranische Fraktion, die Vasudaner bek&auml;mpft.</li>
					</ol>
				</li>
				<li>
					<ol>
						<li><img src="./data/interface/portal/vi.gif" alt="" />Vasudanisches Imperium (VI)</li>
						<li>Eine rein vasudanische Fraktion, die Terraner bek&auml;mpft.</li>
					</ol>
				</li>
			</ul>
		</div>
		{/endif}
		
	{if show.register.choosesystem}
	<div id="register-systembeschreibung">
	<h2>Die Systeme</h2>
	<p>Hier sind die bekannten Systeme der Lost Lands aufgelistet.</p>
	<p><ul>
			<li>Eta Nebular (605)</li>
	</ul>
</p>
	<p>Andere Systeme existieren, sind aber aufgrund verschiedener Ereignisse derzeit nicht (mehr) erreichbar.</p>
	</div>	
	{/endif}
		{if show.banner}
<!-- bannerseite entfernt -->
		{/endif}
		{if show.agb}
		
	<div id="seite-agb">
	
					<h2>Allgemeine Gesch&auml;ftsbedingungen</h2>
					<ol id="agb">
						<li>Durch die Benutzung von DS2 erkennt der Spieler diese AGB automatisch an</li>
						<li>Die Registrierung/Betreibung mehrerer Accounts durch die selbe Person ist untersagt.</li>
						<li>Ausnahmegenehmigungen k&ouml;nnen durch die Administration erteilt werden.</li>
						<li>Eine kurzzeitige &uuml;bernahme eines fremden Accounts zum Zwecke der Vertretung ist gestattet, sofern nur die Grundfunktionen aufrecht gehalten werden. Hierzu ist es erlaubt Waren vom eigenen Account zum vertretenen Account zu transferieren. Warentransfers in die andere Richtung sind dabei untersagt.</li>
						<li>Es besteht kein Recht auf einen Account</li>
						<li>Es wird keinerlei Haftung f&uuml;r Sch&auml;den &uuml;bernommen, welche durch die Benutzung von Drifting Souls 2 und damit zusammenh&auml;ngender Produkte entstehen.</li>
						<li>Es besteht keinerlei Anspruch auf die Teilnahme an Drifting Souls.</li>
						<li>Die Administration beh&auml;lt sich das Recht vor, jederzeit und ohne Ank&uuml;ndigung Accounts und ohne Nennung von Gr&uuml;nden zu sperren oder zu l&ouml;schen.</li>
						<li>Durch die Teilnahme an Drifting Souls werden diese Nutzungsbedingungen automatisch akzeptiert</li>
						<li>Drifting Souls ist kostenlos und werbefrei.</li>
						<li>Das Ausnutzen von Bugs zum Vorteil seines Accounts oder eines anderen bzw. zum Schaden eines anderen ist untersagt.</li>
						<li>Durch den Nutzer gefundene Bugs sind der Administration unverz&uuml;glich zu melden.</li>
						<li>Das Benutzen von Programmen, bei denen es sich nicht eindeutig um Internetbrowser handelt, um auf Drifting Souls 2 zuzugreifen ist nur gestattet, wenn die Administration informiert wurde und eine Genehmigung erteilt wurde. Auf Nachfrage sind die Quellentexte des Programms zu Kontrollzwecken herauszugeben sowie eine Zug&auml;nglichmachung f&uuml;r alle DS2-Spieler durchzuf&uuml;hren.</li>
						<li>Die Administration beh&auml;lt sich das Recht vor diese AGB jederzeit zu &auml;ndern.</li>
					</ol>
			</div>
			
		{/endif}
		{if show.impressum}
		
	<div id="impressum">
				<h2>Impressum</h2>
			<p>
				Webmaster/Administrator: Ralf Hajek - Alias: Guzman<br />
				Sch&ouml;nauer Stra&szlig;e 4<br />
				65232 Taunusstein<br />
				E-Mail: R.Hajek@t-online.de<br />
				Co-Administrator: Christopher Jung - Alias: bKtHeG<br />
				Fleissige Helfer: Madison<br />
				Ehemalige Programmierer: Ra, BoLt,  Kakashi, Firewing, Gargair, Rhonabwy<br />
			</p>
			<p>
				Bei der Webseitengestaltung haben geholfen:<br />
				Yuma,<br />
				Antiker,<br />
				Mav aus der Perry Rhodan Community<br />
				vielen Dank für die Bilder 
			</p>
			<p>
				Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehme 
 				ich keine Haftung für die Inhalte externer Links. <br />Für den Inhalt der 
 				verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
			</p>
		</div>
		{/endif}
		
		{if show.overview}
			<!-- was war hier drin? -->
		{/endif}
	
	
		{if show.news}
		
	<ul id="news">
				<h2>News</h2>
			<!-- BEGIN news.listitem -->
			<li class="newsitem">
					<h3 class="title">{news.title}</h3>
					<span class="authoring">{news.author}, {news.date}</span>
					<p class="newstext">{news.text}</p>
			</li>
	<!-- END news.listitem -->
		</ul>
		
	<div id="archiv">
					<p>
							<a  title="Zum News-Archiv" href="./ds?module=portal&amp;action=default&amp;archiv=1">Zum News-Archiv</a>
					</p>
	</div>
		{/endif}
	
	</div>  <!-- Ende class. re-inhalt (gegenstueck "documents") -->
	</div>	<!-- Ende class. Rechte Spalte -->
</div> <!-- Ende ID Container -->

<!-- Ende Contentbereich - Beginn Footernavigation -->
		<div id="footer">
				<ul id="footernavigation">
						<li><a  title="Zur AGB" href="./ds?module=portal&amp;action=infosAgb">AGB</a></li>
						<li> | </li>
						<li><a  title="Zum Impressum" href="./ds?module=portal&amp;action=impressum">Impressum</a></li>
				</ul>
		</div>
		
<!-- hier wird von wo anders der Schluss eingefügt -->