<table width="100%" class="show" cellpadding="3" cellspacing="3" align="center">
<tr>
	<td class="schiff" colspan="{ship.jdocks}">J&auml;gerdocks
		{if ship.docklist}
			- <a class="forschinfo" href="./ds?module=transport&amp;from={ship.id}&amp;to={ship.docklist}&amp;way=stos">Alle Auftanken</a>
		 	- <a class="forschinfo" href="./ds?module=schiff&amp;ship={ship.id}&amp;action=plugin&amp;plugin={global.pluginid}&amp;jdocks_ops[act]=unload">Alle Entladen</a>
			- <a class="forschinfo" href="./ds?module=schiff&amp;ship={ship.id}&amp;action=start&amp;shiplist={ship.docklist}">Alle J&auml;ger starten</a>
			{if ship.docklist.nofleet}
				- <a class="forschinfo" href="javascript:PopupWnd('&shiplist={ship.docklist}&action=create')">Flotte bilden</a>
			{/endif}
		{/endif}
	</td>
</tr>
<tr>
<!-- BEGIN jdocks.listitem -->
	{if docks.endrow}
		</tr><tr>
	{/endif}
	{if docks.entry.id}
		<td class="schiffData" valign="top" width="{docks.width}%" align="center">
			<a class="forschinfo" href="./ds?module=schiff&amp;ship={docks.entry.id}">{docks.entry.name} ({docks.entry.id})</a><br />
			<a class="noborder" target="_blank" onclick="ShiptypeBox.show({docks.entry.type});return false;"
				href="./ds?module=schiffinfo&amp;ship={docks.entry.type}">
				<img src="{docks.entry.image}" alt="" />
			</a><br />
			<a class="forschinfo" href="./ds?module=schiff&amp;ship={ship.id}&amp;action=start&amp;shiplist={docks.entry.id}">abladen</a><br>
			<a class="forschinfo" href="./ds?module=transport&amp;to={docks.entry.id}&amp;from={ship.id}&amp;way=stos">Auftanken</a>
		</td>
	{else}
		<td align="center" valign="middle" class="BorderS">Leer</td>
	{/endif}
<!-- END jdocks.listitem -->
</tr></table>
