<div id="modul-schiffe">
<script type="text/javascript">
<!--
	function FleetWnd(params)
	{
		fenster1=window.open("./ds?module=fleetmgnt&sess={global.sess}"+params,
							 "Flotten",
							"width=370,height=400,locationbar=0,menubar=0,scrollbars=1,statusbar=0,toolbar=0,resizeable=yes,directories=0");
	}
// -->
</script>
<table class="noBorder" cellspacing="0" cellpadding="0" width="100%">
<tr>
	<td class="noBorderS" colspan="2">
		<span style="color:#ff0505; font-weight:bold">Schiffe</span>
	</td>
</tr>
<tr>
	{if only.tank}
		<td class="noBorderS" align="right">{!link_to Sammelbefehl an alle Tanker, default, module:deutall, css_class:ok}</td>
	{/endif}
	{if only.stationen}
		<td class="noBorderS" align="right">
			<form action="./ds" method="post" style="margin:0px">
				<div>
					<input type="checkbox" name="showHandelsposten" id="form_showHandelsposten" value="1" {only.stationen.showHandelsposten} />
					<label for="form_showHandelsposten">Nur Handelsposten anzeigen?</label>
					{!form_create_hidden changeHandelsposten, only:cargo, low:$global.low, crewless:$global.crewless}
					<input type="submit" value="ok" />
				</div>
			</form>
		</td>
	{/endif}
	{if only.kampf}
		<td class="noBorderS" align="right">
		<form action="./ds" method="post" style="margin:0px">
			<div>
				<select size="1" name="kampf_only">
					<option value="0" {only.kampf.selected-1}>alle</option>
					<option value="2" {only.kampf.selected2}>Zerst&ouml;rer</option>
					<option value="5" {only.kampf.selected5}>Korvetten</option>
					<option value="6" {only.kampf.selected6}>Kreuzer</option>
					<option value="7" {only.kampf.selected7}>Schwere Kreuzer</option>
					<option value="21" {only.kampf.selected21}>Fregatte</option>
					<option value="9" {only.kampf.selected9}>J&auml;ger</option>
					<option value="15" {only.kampf.selected15}>Tr&auml;ger</option>
					<option value="16" {only.kampf.selected16}>Kommandoschiffe</option>
					<option value="17" {only.kampf.selected17}>Bomber</option>
				</select>
				<input type="checkbox" name="showLJaeger" id="form_showLJaeger" value="1" {only.kampf.showljaeger} /><label for="form_showLJaeger">Gelandete Schiffe anzeigen?</label>
				{!form_create_hidden changeJDocked, only:kampf, low:$global.low, crewless:$global.crewless} 
				<input type="submit" value="ok" />
			</div>
		</form>
		</td>
	{/endif}
	{if only.other}
		<td class="noBorderS" align="right"></td>
	{/endif}
</tr>
<tr>
	<td class="noBorderS" colspan="2">
	<table class="show" width="100%">
	<tr>
	<td class="Border">{!link_to ID, changeOrder, order:id, only:$global.only, low:$global.low, crewless:$global.crewless, kampf_only:$global.kampf_only}</td>
	<td class="Border">{!link_to Name, changeOrder, order:name, only:$global.only, low:$global.low, crewless:$global.crewless, kampf_only:$global.kampf_only}</td>
	<td class="Border">{!link_to Klasse, changeOrder, order:type, only:$global.only, low:$global.low, crewless:$global.crewless, kampf_only:$global.kampf_only}</td>
	<td class="Border">{!link_to Koordinaten, changeOrder, order:sys, only:$global.only, low:$global.low, crewless:$global.crewless, kampf_only:$global.kampf_only}</td>
	<td class="Border">{!link_to Zustand, changeOrder, order:hull, only:$global.only, low:$global.low, crewless:$global.crewless, kampf_only:$global.kampf_only}</td>
	<td class="Border">{!link_to Crew, changeOrder, order:crew, only:$global.only, low:$global.low, crewless:$global.crewless, kampf_only:$global.kampf_only}</td>
	<td class="Border">{!link_to Alarm, changeOrder, order:alarm, only:$global.only, low:$global.low, crewless:$global.crewless, kampf_only:$global.kampf_only}</td>
	<td class="Border">{!link_to Energie, changeOrder, order:e, only:$global.only, low:$global.low, crewless:$global.crewless, kampf_only:$global.kampf_only}</td>
	<td class="Border">Fracht</td>
	<td class="Border">Einheiten</td></tr>
	<!-- BEGIN schiffe.listitem -->
		<tr>
		<td class="schiffData">{!link_to $ship.id, default, module:schiff, ship:$ship.id}</td>
		{if ship.battle}
			<td class="schiffData"><a href="./ds?module=angriff&amp;sess={global.sess}&amp;battle={ship.battle}&amp;ship={ship.id}"><img style="vertical-align:middle" src="battle_small.gif" alt="Schlacht" /></a> {ship.name}
		{else}
			<td class="schiffData" nowrap>{ship.name}
		{/endif}
		{if ship.fleet}
			<br /><a class="forschinfo" style="font-style:italic" href="javascript:FleetWnd('&amp;fleet={ship.fleet}&amp;act=show')">{ship.fleet.name}</a>
		{/endif}
		{if ship.docked.id}
			<br />An {!link_to $ship.docked.name, default, css_style:font-style:italic, module:schiff, ship:$ship.docked.id}
		{/endif}
		{if ship.landed.id}
			<br />Auf {!link_to $ship.landed.name, default, css_style:font-style:italic, module:schiff, ship:$ship.landed.id}
		{/endif}
		{if ship.docks}
			<br />
			{if ship.adocks}
				<img src="data/interface/schiffe/{user.race}/icon_container.gif" alt="" /><a style="color:#CCAA33" class="nonbold" href="./ds?module=schiff&amp;sess={global.sess}&amp;ship={ship.id}">[{ship.adocks.docked}/{ship.adocks}]</a>
				<br />
			{/endif}
			{if ship.jdocks}
				<img src="data/interface/schiffe/{user.race}/icon_schiff.gif" alt="" /><a style="color:#CCAA33" class="nonbold" href="./ds?module=schiff&amp;sess={global.sess}&amp;ship={ship.id}">[{ship.jdocks.docked}/{ship.jdocks}]</a>
			{/endif}
		{/endif}
		{if ship.werft}
			{if ship.werft.building}
				<br />
				<img src="data/interface/schiffinfo/werftslots.png" alt="Werft" title="Werft" />
				<a style="color:#CCAA33" class="nonbold tooltip" href="./ds?module=werft&amp;sess={global.sess}&amp;ship={ship.id}">
					[{ship.werft.entries}]
					<span class="ttcontent">
						{ship.werft.popup}
					</span>
				</a>
			{else}
				<br />{!link_to [frei], default, module:werft, css_class:nonbold, css_style:color:#CCAA33, ship:$ship.id}
			{/endif}
		{/endif}
		</td>
		<td class="schiffData">
			<a class="tooltip" onclick="ShiptypeBox.show({ship.type});return false;"
				href="./ds?module=schiffinfo&amp;sess={global.sess}&amp;ship={ship.type}">
				<img src="{ship.image}" alt="" />
				<span class="ttcontent">
					{ship.type.name}
				</span>
			</a>
		</td>
		<td class="schiffData"><a class="forschinfo" href="./client#/map/{ship.location.url}">{ship.location}</a></td>
		<td class="schiffData"><span style="color:{ship.hullcolor}">{ship.hull}</span>
		{if ship.ablativearmor}
			<br /><span style="color:#808080"> {ship.ablativearmor}</span>
		{else}
			{if ship.spec}
				<br /><span style="color:red"> 0</span>
			{/endif}
		{/endif}
		{if ship.shields}
			<br /><span style="color:orange"> {ship.shields}</span>
		{else}
			{if ship.spec}
				<br /><span style="color:red"> 0</span>
			{/endif}
		{/endif}		
		</td>
		<td class="schiffData" nowrap><span style="color:{ship.crewcolor}">{ship.crew}</span>{ship.offi}<br />{if ship.mangel_nahrung}<span style="color:red">{else}<span style="color:green">{/endif}{ship.nahrungcargo}</span><img src="data/resources/Nahrung.gif" alt="" />{if ship.versorger}{if ship.feedingstatus == 1}<img src="data/interface/schiffe/feedingstatus1.gif" />{else}{if ship.feedingstatus == 2}<img src="data/interface/schiffe/feedingstatus2.gif" />{else}<img src="data/interface/schiffe/feedingstatus3.gif" />{/endif}{/endif}{/endif}</td>
		<td class="schiffData"><div class="alarm {ship.alarm}" ></div></td>
		<td class="schiffData">{ship.e}</td>
		<td class="schiffData">
		<!-- BEGIN schiffe.resitem -->
			<img src="{res.image}" alt="" title="{res.plainname}" />{if res.color}<span style="color:{res.color}">{/endif}{res.count}{if res.color}</span>{/endif}
		<!-- END schiffe.resitem -->
		{if ship.restcargo.show}
			<img src="data/interface/leer.gif" alt="" title="Leer" />{ship.restcargo}
		{/endif}
		{if ship.e.none}
			<img src="data/interface/energie.gif" alt="" title="Energie" /><span style="color:red">x</span>
		{/endif}
		&nbsp;</td>
		<td class="schiffData">
		<!-- BEGIN schiffe.unititem -->
			<img src="{unit.picture}" alt="" title="{unit.name}" />{!link_to $unit.count, default, module:unitinfo, unit:$unit.id}
		<!-- END schiffe.unititem -->
		<img src="data/interface/leer.gif" alt="" title="Leer" />{ship.unitspace}
		&nbsp;</td>
		</tr>
	<!-- END schiffe.listitem -->
		<tr>
			<td class="schiffData" style="text-align:center" colspan="10">
				{if schiffe.hasprevoffset}
					{!link_to <-- Zur&uuml;ck, default, css_class:ok, only:$global.only, low:$global.low, crewless:$global.crewless, kampf_only:$global.kampf_only, listoffset:$schiffe.prevoffset}
				{/endif}
				{if schiffe.nextoffset}
					{!link_to Weiter -->, default, css_class:ok, only:$global.only, low:$global.low, crewless:$global.crewless, kampf_only:$global.kampf_only, listoffset:$schiffe.nextoffset}
				{/endif}
			</td>
		</tr>

	</table>
	</td>
</tr>

{if only.tank}
	<tr><td class="noBorderS" colspan="2"><br />{!link_to Sammelbefehl an alle Tanker, default, module:deutall, css_class:ok}</td></tr>
{/endif}
</table>
</div>