<div class="gfxbox" style="width:700px">
<table id="infotable" cellspacing="3" cellpadding="6" class="noBorderX">
<tr>
	<td valign="top" class="noBorderX">
		<span style="color:#FFFFFF;font-weight:bold;">{shiptype.nickname}</span><br />
		{if shiptype.showinvisible}
			<span class="verysmallfont" style="color:red;font-style:italic;font-weight:normal">unsichtbar</span>
			<br />
		{/endif}
		{if shiptype.showbuildable}
			<span class="verysmallfont" style="color:red;font-style:italic;font-weight:normal">baubar mit {shiptype.visibletech}</span>
			<br />
		{/endif}
		{if shiptype.showorderable}
			<span class="verysmallfont" style="color:red;font-style:italic;font-weight:normal">orderbar f&uuml;r {shiptype.ordercost}</span>
			<br />
		{/endif}
		<span class="verysmallfont" style="font-style:italic">{shiptype.class}</span><br />
		<img src="{shiptype.image}" alt="" />
	</td>

	<td valign="top" class="noBorderX">
		<h3>Reaktorwerte</h3>
		<table class="noBorderX">
		<tr><td class="noBorderX">{shiptype.ru}</td><td class="noBorderX"><img src="{uran.image}" alt="" /></td><td class="noBorderX">Uran</td></tr>
		<tr><td class="noBorderX">{shiptype.rd}</td><td class="noBorderX"><img src="{deuterium.image}" alt="" /></td><td class="noBorderX">Deuterium</td></tr>
		<tr><td class="noBorderX">{shiptype.ra}</td><td class="noBorderX"><img src="{antimaterie.image}" alt="" /></td><td class="noBorderX">Antimaterie</td></tr>
		<tr><td class="noBorderX">{shiptype.rm}</td><td class="noBorderX"><img src="data/interface/energie.gif" alt="" /></td><td class="noBorderX">maximal</td></tr>
		</table>
	</td>

	{if shiptype.buildable}
		<td valign="top" class="noBorderX">
			<h3>Vorrausetzungen</h3>
			{if global.login}
				{if shiptype.tr1}
					{!link_to $shiptype.tr1.name, default, module:forschinfo, css_class:$shiptype.tr1.status, res:$shiptype.tr1}<br />
				{/endif}
				{if shiptype.tr2}
					{!link_to $shiptype.tr2.name, default, module:forschinfo, css_class:$shiptype.tr2.status, res:$shiptype.tr2}<br />
				{/endif}
				{if shiptype.tr3}
					{!link_to $shiptype.tr3.name, default, module:forschinfo, css_class:$shiptype.tr3.status, res:$shiptype.tr3}<br />
				{/endif}
	
			{else}
				{if shiptype.tr1}
					<span style="color:#ff4444">{shiptype.tr1.name}</span><br />
				{/endif}
				{if shiptype.tr2}
					<span style="color:#ff4444">{shiptype.tr2.name}</span><br />
				{/endif}
				{if shiptype.tr3}
					<span style="color:#ff4444">{shiptype.tr3.name}</span><br />
				{/endif}
			{/endif}
	
			<br />
			Rasse: {shiptype.race}<br />
		</td>
	{/endif}
</tr>
<tr>
	<td colspan="3" class="noBorderX">
		<hr noshade="noshade" size="1" style="color:#cccccc" />
	</td>
</tr>
<tr>
	{if shiptype.buildable}
		<td valign="top" class="noBorderX">
			<h3>Produktionskosten</h3>
			<table cellpadding="2" cellspacing="1" class="noBorderX">
			<!-- BEGIN res.listitem -->
				<tr>
					<td class="noBorderX">{res.name}</td>
					<td align="left" class="noBorderX"><img src="{res.image}" alt="" />{res.count}</td>
					<td class="noBorderX"></td>
				</tr>
			<!-- END res.listitem -->
			<tr><td class="noBorderX">Energie</td><td align="left" class="noBorderX"><img src="data/interface/energie.gif" alt="" />{shiptype.cost.energie}</td></tr>
			<tr><td class="noBorderX">Besatzung</td><td align="left" class="noBorderX"><img src="data/interface/besatzung.gif" alt="" />{shiptype.cost.crew}</td></tr>
			<tr><td class="noBorderX">Dauer</td><td align="left" class="noBorderX"><img src="data/interface/time.gif" alt="" />{shiptype.cost.dauer}</td></tr>
			<tr><td class="noBorderX">Werftslots</td><td align="left" class="noBorderX"><img src="data/interface/schiffinfo/werftslots.png" alt="" />{shiptype.cost.werftslots}</td></tr>
			</table>
		</td>
	{/endif}

	<td valign="top" class="noBorderX">
		<h3>Bewaffnung</h3>
		<table cellpadding="2" cellspacing="1" class="noBorderX">
		<!-- BEGIN shiptype.weapons.listitem -->
			<tr>
				<td class="noBorderX" width="150">
					<a class="tooltip forschinfo" href="#">
						{shiptype.weapon.name}
						<span class="ttcontent">
							{shiptype.weapon.description}
						</span>
					</a>
				</td>
				<td class="noBorderX">{shiptype.weapon.count}</td>
			</tr>
		<!-- END shiptype.weapons.listitem -->
		{if shiptype.noweapons}<tr><td class="noBorderX">-keine-</td></tr>{/endif}
		</table>
	</td>

	<td valign="top" class="noBorderX">
		<h3>Antrieb</h3>
		{shiptype.cost} Flugkosten<br />{shiptype.heat} &Uuml;berhitzung<br /><br />
		Gr&ouml;&szlig;e/Beweglichkeit: {shiptype.size}<br />
		Sensorreichweite: {shiptype.sensorrange}<br /><br />
		
		<h3>Ausstattung</h3>
		{shiptype.eps} Energiespeicher<br />{shiptype.cargo} Cargo<br />{shiptype.crew} Kabinen<br />
		{if shiptype.jdocks}
			{shiptype.jdocks} J&auml;gerdocks<br />
		{/endif}
		{if shiptype.adocks}
	        Externe Dockinganlage (Kapazit&auml;t: {shiptype.adocks})<br />
		{/endif}
		{if shiptype.moduleslots}
			{shiptype.moduleslots} Modulsteckpl&auml;tze 
			<a href="#" class="forschinfo tooltip">
				<img border="0" src="data/interface/schiffinfo/info.gif" alt="i" style="vertical-align:middle" />
				<span class="ttcontent">
					<h1>Modulsteckpl&auml;tze</h1>
					{shiptype.moduleslots.desc}
				</span>
			</a>
			<br />
		{/endif}
		{if shiptype.werftslots}
			{shiptype.werftslots} Werftslots<br />
		{/endif}

		<br />
		{if shiptype.shields}
				Schildst&auml;rke: {shiptype.shields}<br />
		{/endif}
		{if shiptype.ablativearmor}
			Ablative Panzerung: {shiptype.ablativearmor}<br />
		{/endif}
		H&uuml;llenst&auml;rke: {shiptype.hull}<br  />
		{if shiptype.panzerung}Panzerung: {shiptype.panzerung}<br />{/endif}
		{if shiptype.units}
			Platz f&uuml;r Einheiten: {shiptype.unitspace}<br />
		{/endif}
		Maximale Einheitengr&ouml;&szlig;e: {shiptype.maxunitsize}<br />
		Nahrungsspeicher: {shiptype.nahrungcargo}<br />
		{if shiptype.deutfactor}
			Tanker: <img src="{deuterium.image}" alt="Deuterium" />{shiptype.deutfactor} f&uuml;r <img src="data/interface/energie.gif" alt="Energie" />1<br />
		{/endif}
		{if shiptype.hydro}
			Produziert: <img src="{nahrung.image}" alt="Nahrung" />{shiptype.hydro}<br />
		{/endif}
		{if shiptype.torpedodef}
			Torpedoabwehr: {shiptype.torpedodef}%<br />
		{/endif}
		{if shiptype.recost}
			Betriebskosten: {shiptype.recost} RE<br />
		{/endif}
		<!-- BEGIN shiptypeflags.listitem -->
			{shiptypeflag.name} 
			{if shiptypeflag.description}
				<a href="#" class="forschinfo tooltip">
					<img border="0" src="data/interface/schiffinfo/info.gif" alt="i" style="vertical-align:middle" />
					<span class="ttcontent">
						{shiptypeflag.description}
					</span>
				</a>
			{/endif}<br />
		<!-- END shiptypeflags.listitem -->
		{if shiptype.flagschiff}
			<span style="color:#EECC44">Flagschiff</span>
			<a href="#" class="forschinfo tooltip">
				<img border="0" src="data/interface/schiffinfo/info.gif" alt="i" style="vertical-align:middle" />
				<span class="ttcontent">
					Ein Flagschiff ist das Zentrum einer gesamten Flotte.<br />
					Es ist deutlich St&auml;rker als andere Schiffe. Daher darf<br />
					jeder Spieler <span style="text-decoration:underline">nur ein einziges Flagschiff</span> besitzen.
				</span>
			</a>
			<br />
		{/endif}
	</td>
</tr>
<tr>
	<td colspan="3" class="noBorderX">
		<hr noshade="noshade" size="1" style="color:#cccccc" />
	</td>
</tr>
<tr>
	{if shiptype.buildable}
		<td colspan="3" valign="top" class="noBorderX">
	{else}
		<td colspan="2" valign="top" class="noBorderX">
	{/endif}
		<h3>Beschreibung</h3>
		{shiptype.description}
	</td>
</tr>
</table>
</div>