<script type="text/javascript">
<!--
	function PopupWnd(params)
	{
		var script = DS.getUrl()+"?module=fleetmgnt";
		var title = "Flotten";

		F1 = window.open(script + params, title, "width=370,height=400,locationbar=0,menubar=0,scrollbars=1,statusbar=0,toolbar=0,resizeable=yes,directories=0");
	}
// -->
</script>
<div id="modul-schiff">
<div class="verysmallfont">
{if ship.message}
	{ship.message}<br />
{/endif}
</div>
{if ship.showui}
	<div id="impobjectsbox"></div>

	<table class="show" cellspacing="3" cellpadding="3">
	<tr>
		<td class="schiff">
			{ship.name} ({ship.id}) {if ! ship.islanded} - <a class="forschinfo" href="./client#/map/{ship.location.url}">{ship.location}</a> {/endif}
		</td>
		<td class="schiff">Navigation</td>
		<td class="schiff" style="width:10px" align="right">
			<a id="systeminfo" name="systeminfo" class="noborder" onclick="Schiff.openImpObjects({ship.location.system})" href="#">
				<img src="data/interface/impobjects.gif" alt="?" />
			</a>
		</td>
		<td class="schiff">Cargo</td>
		{if ship.marines}
		<td class="schiff">Einheiten</td>
		{/endif}
	</tr>
	<tr>
		<td class="schiffData" style="width:360px" valign="top">
			<a class="noborder" target="_blank" onclick="ShiptypeBox.show({ship.type});return false;"
				href="./ds?module=schiffinfo&amp;sess={global.sess}&amp;ship={ship.type}">
				<img src="{shiptype.picture}" alt="{shiptype.name}" style="margin-right:5px; margin-left:5px; margin-top:5px; margin-bottom:5px" />
			</a> <br>
			<table class="show">
			<tr class="show">
				<td>Zustand:</td>
			</tr>
			{if shiptype.shields}
				<tr>
				<td>+ Schildst&auml;rke:</td>
				<td style="color:{ship.shields.color}">{ship.shields}/{shiptype.shields}</td>
				</tr>
			{/endif}
			{if shiptype.ablativearmor}
				<tr>
				<td>+ Ablative Panzerung:</td>
				<td style="color:{ship.ablativearmor.color}">{ship.ablativearmor}/{shiptype.ablativearmor}</td>
				</tr>
			{/endif}
			<tr>
				<td>+ H&uuml;llenst&auml;rke:</td>
				<td style="color:{ship.hull.color}">{ship.hull}/{shiptype.hull}</td>
			</tr>
			<tr><td>Subsysteme:</td></tr>
			{if shiptype.cost}
			<tr>
				<td>+ Antrieb:</td>
				<td style="color:{ship.engine.color}">{ship.engine}</td>
			</tr>
			{/endif}
			{if shiptype.weapons}
			<tr>
				<td>+ Waffen:</td>
				<td style="color:{ship.weapons.color}">{ship.weapons}</td>
			</tr>
			{/endif}
			<tr>
			<td>+ Kommunikation:</td>
			<td style="color:{ship.comm.color}">{ship.comm}</td>
			</tr>
			<tr>
			<td>+ Sensoren:</td>
			<td style="color:{ship.sensors.color}">{ship.sensors}</td>
			</tr>
			{if shiptype.crew}
			<tr>
				<td>Crew:</td>
				<td style="color:{ship.crew.color}">{ship.crew}/{shiptype.crew}</td>
			</tr>
			{/endif}
			<tr>
			<td>Energie:</td>
			<td style="color:{ship.e.color}">{ship.e}/{shiptype.eps}</td>
			</tr>
			{if shiptype.cost}
			<tr>
				<td>Triebwerks&uuml;berhitzung:</td>
				<td style="color:{ship.s.color}">{ship.s}/100</td>
			</tr>
			{/endif}
			{if offiziere.list}
			<tr><td>
				Offizier:
				<!-- BEGIN offiziere.listitem -->
					{if offiziere.list}, {/endif}
					<span class="nobr"><img src="{offizier.picture}" alt="Rang {offizier.rang}" /> {!link_to $offizier.name, default, module:choff, off:$offizier.id}</span>
				<!-- END offiziere.listitem -->
			</td></tr>
			{/endif}
			{if ship.fleet}
			<tr><td>
				Flotte: <a class="forschinfo" href="javascript:PopupWnd('&amp;fleet={fleet.id}&amp;act=show')">{fleet.name}</a>
				{!link_to (X), join, css_class:error, ship:$ship.id}
			</td></tr>
			{/endif}
			</table>
			<a class="noborder" href="./ds?module=schiff&amp;action=destroy&amp;sess={global.sess}&amp;ship={ship.id}">
				<img src="data/interface/schiffe/schiff_selfdest.gif" alt="Selbstzerst&amp;ouml;rung" />
			</a>
			{if shiptype.werft}
				<a class="forschinfo" href="./ds?module=werft&amp;sess={global.sess}&amp;ship={ship.id}">
					<img src="data/interface/schiffe/werft.gif" alt="Werftfunktionen" />
				</a>
			{/endif}
			{if sector.handel}
				<a class="noborder tooltip" href="./ds?module=trade&amp;sess={global.sess}&amp;ship={ship.id}&amp;tradepost={sector.handel}">
					<img src="data/interface/schiffe/schiff_handel.gif" alt="Handeln" />
					<span class="ttcontent">mit {sector.handel.name} handeln</span>
				</a>
			{/endif}
			{if tooltip.admin}
				<a id="shipstatustip" class="noborder tooltip" href="#">
					<img src="data/interface/admin.png" alt="?" />
					<span class="ttcontent">{tooltip.admin}</span>
				</a>
			{/endif}
			{if ship.npcislandlink}
				<a class="noborder tooltip" href="./ds?module=schiff&amp;sess={global.sess}&amp;ship={ship.id}&amp;action=insel">
					<img src="data/interface/schiffe/tunnel.png" alt="Insel der Gl&uuml;cksehligkeit" />
					<span class="ttcontent">
						zur Insel
					</span>
				</a>
			{/endif}
			{if tooltip.module}
				<a class="noborder tooltip" href="#">
					<img src="data/interface/info.png" alt="?" />
					<span class="ttcontent">{tooltip.module}</span>
				</a>
			{/endif}
			{if tooltip.moduleext}
				<div id="moduleextBox">{tooltip.moduleext}</div>
				<script type="text/javascript">
					$('#moduleextBox').dsBox({
						centerX:true,
						width:300,
						height:300,
						draggable:true
					});
				</script>
				<a class="noborder" onclick="$('#moduleextBox').dsBox('show')" href="#">
					<img src="data/interface/info.png" alt="?" />
				</a>
			{/endif}
			{if tooltip.tradepost}
				<a class="noborder tooltip" href="./ds?module=tradepost&amp;sess={global.sess}&amp;ship={ship.id}&amp;action=default">
					<img src="data/interface/hppref.png" alt="Handelsposten" />
					<span class="ttcontent">Konfiguration des Handelspostens</span>
				</a>
			{/endif}
			<br />
			<hr style="height:1px; border:0px; background-color:#606060; color:#606060" />
			{if ship.shields.reloade}
				<form action="./ds" method="post">
					<div>
						<label for="shup">Schilde:</label>
						<input id="shup" name="shup" type="text" size="5" value="{ship.shields.reloade}" />
						{!form_create_hidden shup, ship:$ship.id}
						<input type="submit" value="aufladen" />
					</div>
				</form>
			{/endif}
			{if ship.showalarm}
				<form action="./ds" method="post">
					<div>
						<label for="alarm">Befehle:</label>
						<select id="alarm" name="alarm">
							<!-- BEGIN ship.alarms.listitem -->
								<option {if alarm.selected}selected="selected"{/endif} value="{alarm.id}">{alarm.name}</option>
							<!-- END ship.alarms.listitem -->
						</select>
						{!form_create_hidden alarm, ship:$ship.id}
						<input type="submit" value="ok" />
					</div>
				</form>
			{/endif}

			<form action="./ds" method="post">
				<div>
					<label for="newname">Name:</label>
					<input id="newname" name="newname" type="text" size="15" value="{ship.name}" maxlength="50" />
					{!form_create_hidden rename, ship:$ship.id}
					<input type="submit" value="rename" />
				</div>
			</form>

			{if ship.consignable}
				<form action="./ds" method="post">
					<div>
						<label for="newowner">An User</label>
						<input id="newowner" name="newowner" type="text" size="5" value="0" />
						{!form_create_hidden consign, ship:$ship.id}
						<input type="submit" value="&uuml;bergeben" />
					</div>
				</form>
			{/endif}
		</td>
		<td class="schiff" style="width:230px" valign="top" align="center" colspan="2">
			{plugin.navigation}
		</td>
		<td class="schiffWaren" style="width:260px" valign="top">
			{plugin.cargo}
		</td>
		{if ship.marines}
		<td class="schiffWaren" style="width:260px" valign="top">
			{plugin.units}
		</td>
		{/endif}
	</tr>
	</table>
	<div>
		<br />

	{if ship.scriptparseroutput}
		<div class="gfxbox" style="width:890px">
			{ship.scriptparseroutput}
		</div>
		<br />
	{/endif}
	<!-- BEGIN plugins.listitem -->
		{plugin.output}
		{if plugin.output}
			<br />
		{/endif}
	<!-- END plugins.listitem -->
		<br />
	</div>
{else}
	{if ship.scriptparseroutput}
		<div class="gfxbox" style="width:890px">
			{ship.scriptparseroutput}
		</div>
		<div>
			<br />
		</div>
	{/endif}
{/endif}
</div>
