<!-- BEGIN schiff.cargo.reslist.listitem -->
	<img style="vertical-align:middle" src="{res.image}" alt="" />{res.name} {res.cargo}
	<br />
<!-- END schiff.cargo.reslist.listitem -->
<img src="data/interface/leer.gif" alt="Leer" />Leer {schiff.cargo.empty}<br />
{if schiff.cargo.speicher}
	<hr style="height:1px; border:0px; background-color:#606060; color:#606060" />
	Nahrungsspeicher: {if schiff.cargo.mangel_nahrung}<span style="color:red">{else}<span style="color:green">{/endif}{schiff.cargo.speicher.amount}</span> / {schiff.cargo.speicher.maxamount}
{/endif}
<hr style="height:1px; border:0px; background-color:#606060; color:#606060" />
{if schiff.cargo.speicher}
	<form action="./ds" method="post">
		<div>
			Nahrung in Speicher transferieren:<br />
			<input name="cargo_ops[usenahrung]" type="text" size="2" value="0" />
			{!form_create_hidden plugin, ship:$ship.id, plugin:$global.pluginid}
			<input type="hidden" name="cargo_ops[act]" value="usenahrung" />
			<input type="submit" value="Einladen" />
			<input type="submit" name="cargo_ops[max]" value="max" /><br />
		</div>
	</form><br />
{/endif}
<form action="./ds" method="post">
		<div>
			Nahrung von anderem Schiff in Speicher transferieren:<br />
			Schiffsid: <input name="cargo_ops[othership]" type="text" size="2" value="0" />
			{!form_create_hidden plugin, ship:$ship.id, plugin:$global.pluginid}
			<input type="hidden" name="cargo_ops[act]" value="feedcargo" />
			<input type="submit" value="Auff&uuml;llen" />
		</div>
	</form><br />
<!--{if schiff.cargo.batterien}
	<form action="./ds" method="post">
		<div>
			Batterien entladen:<br />
			<input name="cargo_ops[unload]" type="text" size="2" value="0" />
			{!form_create_hidden plugin, ship:$ship.id, plugin:$global.pluginid}
			<input type="hidden" name="cargo_ops[act]" value="unload" />
			<input type="submit" value="entladen" />
			<input type="submit" name="cargo_ops[max]" value="max" /><br />
		</div>
	</form><br />
{/endif}
{if schiff.cargo.lbatterien}
	<form action="./ds" method="post">
		<div>
			Batterien aufladen:<br />
			<input name="cargo_ops[load]" type="text" size="2" value="0" />
			{!form_create_hidden plugin, ship:$ship.id, plugin:$global.pluginid}
			<input type="hidden" name="cargo_ops[act]" value="load" />
			<input type="submit" value="aufladen" />
			<input type="submit" name="cargo_ops[max]" value="max" />
		</div>
	</form><br />
{/endif}-->
{if schiff.cargo.tanker}
	<form action="./ds" method="post">
		<div>
			Automatisch <img style="vertical-align:middle" src="{resource.RES_DEUTERIUM.image}" alt="Deuterium" /> sammeln:<br />
			<input id="cargo_ops_autodeut" name="cargo_ops[autodeut]" type="checkbox" value="1" {if schiff.cargo.tanker.autodeut}checked="checked"{/endif} />
			<label for="cargo_ops_autodeut">aktivieren</label>&nbsp;
			{!form_create_hidden plugin, ship:$ship.id, plugin:$global.pluginid}
			<input type="hidden" name="cargo_ops[setautodeut]" value="1" />
			<input type="submit" value="ok" />
		</div>
	</form>
{/endif}
{if schiff.cargo.miner}
	<form action="./ds" method="post">
		<div>
			Automatisch Felsbrocken abbauen:<br />
			<input id="cargo_ops_automine" name="cargo_ops[automine]" type="checkbox" value="1" {if schiff.cargo.miner.automine}checked="checked"{/endif} />
			<label for="cargo_ops_automine">aktivieren</label>&nbsp;
			{!form_create_hidden plugin, ship:$ship.id, plugin:$global.pluginid}
			<input type="hidden" name="cargo_ops[setautomine]" value="1" />
			<input type="submit" value="ok" />
		</div>
	</form>
{/endif}
{if schiff.cargo.traeger}
	<form action="./ds" method="post">
		<div>
			Automatisch J&auml;ger starten:<br />
			<input id="cargo_ops_startfighter" name="cargo_ops[startfighter]" type="checkbox" value="1" {if schiff.cargo.traeger.startfighter}checked="checked"{/endif} />
			<label for="cargo_ops_startfighter">aktivieren</label>&nbsp;
			{!form_create_hidden plugin, ship:$ship.id, plugin:$global.pluginid}
			<input type="hidden" name="cargo_ops[setstartfighter]" value="1" />
			<input type="submit" value="ok" />
		</div>
	</form>
{/endif}
{if schiff.cargo.secondrow}
	<form action="./ds" method="post">
		<div>
			Automatisch in 2. Reihe verlegen:<br />
			<input id="cargo_ops_gotosecondrow" name="cargo_ops[gotosecondrow]" type="checkbox" value="1" {if schiff.cargo.secondrow.gotosecondrow}checked="checked"{/endif} />
			<label for="cargo_ops_gotosecondrow">aktivieren</label>&nbsp;
			{!form_create_hidden plugin, ship:$ship.id, plugin:$global.pluginid}
			<input type="hidden" name="cargo_ops[setgotosecondrow]" value="1" />
			<input type="submit" value="ok" />
		</div>
	</form>
{/endif}
{if schiff.cargo.versorger}
	<form action="./ds" method="post">
		<div>
			Automatisch versorgen:<br />
			<input id="cargo_ops_isfeeding" name="cargo_ops[isfeeding]" type="checkbox" value="1" {if schiff.cargo.versorger.isfeeding}checked="checked"{/endif} />
			<label for="cargo_ops_isfeeding">aktivieren</label>&nbsp;
			{!form_create_hidden plugin, ship:$ship.id, plugin:$global.pluginid}
			<input type="hidden" name="cargo_ops[setfeeding]" value="1" />
			<input type="submit" value="ok" />
		</div>
	</form>
	<form action="./ds" method="post">
		<div>
			Allianzschiffe automatisch versorgen:<br />
			<input id="cargo_ops_isallyfeeding" name="cargo_ops[isallyfeeding]" type="checkbox" value="1" {if schiff.cargo.versorger.isallyfeeding}checked="checked"{/endif} />
			<label for="cargo_ops_isallyfeeding">aktivieren</label>&nbsp;
			{!form_create_hidden plugin, ship:$ship.id, plugin:$global.pluginid}
			<input type="hidden" name="cargo_ops[setallyfeeding]" value="1" />
			<input type="submit" value="ok" />
		</div>
	</form>
{/endif}
