<div id="shipsinfo">
<div class="gfxbox">
	<h1>Baubar auf Asteroiden</h1>
    <table class="datatable">
    <thead>
        <tr>
            <th colspan="2">Name</th>
            <th>Baukosten</th>
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN asteroidinfo.shiplist.listitem -->
        <tr>
            <td><img src="{ship.picture}" alt="{ship.name}" /></td>
            <td>{!link_to $ship.name, default, module:schiffinfo, ship:$ship.id}</td>
            <td>
                {if ship.buildcosts.asteroid.list}
                <!-- BEGIN ship.buildcosts.asteroid.listitem -->
                <img src="{res.image}" alt="" title="{res.plainname}" />{res.cargo}
                <!-- END ship.buildcosts.asteroid.listitem -->
                {else}
                -
                {/endif}
            </td>
        </tr>
        <!-- END asteroidinfo.shiplist.listitem -->
    </tbody>
    </table>
</div>
<div class="gfxbox">
	<h1>Baubar in Raumwerften</h1>
    <table class="datatable">
        <thead>
            <tr>
				<th colspan="2">Name</th>
                <th>Baukosten</th>
            </tr>
        </thead>
        <tbody>
        <!-- BEGIN ganymedinfo.shiplist.listitem -->
        <tr>
            <td><img src="{ship.picture}" alt="{ship.name}" /></td>
            <td>{!link_to $ship.name, default, module:schiffinfo, ship:$ship.id}</td>
            <td>
                {if ship.buildcosts.ganymed.list}
                <!-- BEGIN ship.buildcosts.ganymed.listitem -->
                <img src="{res.image}" alt="" title="{res.plainname}" />{res.cargo}
                <!-- END ship.buildcosts.ganymed.listitem -->
                {else}
                -
                {/endif}
            </td>
        </tr>
        <!-- END ganymedinfo.shiplist.listitem -->
        </tbody>
    </table>
</div>
<div class="gfxbox">
	<h1>Erforschbar</h1>
    <table class="datatable">
        <thead>
        <tr>
			<th colspan="2">Name</th>
            <th>Baukosten</th>
        </tr>
        </thead>
        <tbody>
        <!-- BEGIN researchableinfo.shiplist.listitem -->
        <tr>
            <td><img src="{ship.picture}" alt="{ship.name}" /></td>
            <td>{!link_to $ship.name, default, module:schiffinfo, ship:$ship.id}</td>
            <td>
                {if ship.buildcosts.ganymed.list}
                <!-- BEGIN ship.buildcosts.researchable.listitem -->
                <img src="{res.image}" alt="" title="{res.plainname}" />{res.cargo}
                <!-- END ship.buildcosts.researchable.listitem -->
                {else}
                -
                {/endif}
            </td>
        </tr>
        <!-- END researchableinfo.shiplist.listitem -->
        </tbody>
    </table>
</div>
<div class="gfxbox">
	<h1>Baubar von anderen Spezies</h1>
    <table class="datatable">
        <thead>
        <tr>
			<th colspan="2">Name</th>
            <th>Baukosten</th>
        </tr>
        </thead>
        <tbody>
        <!-- BEGIN otherinfo.shiplist.listitem -->
        <tr>
            <td><img src="{ship.picture}" alt="{ship.name}" /></td>
            <td>{!link_to $ship.name, default, module:schiffinfo, ship:$ship.id}</td>
            <td>
                {if ship.buildcosts.ganymed.list}
                <!-- BEGIN ship.buildcosts.others.listitem -->
                <img src="{res.image}" alt="" title="{res.plainname}" />{res.cargo}
                <!-- END ship.buildcosts.others.listitem -->
                {else}
                -
                {/endif}
            </td>
        </tr>
        <!-- END otherinfo.shiplist.listitem -->
        </tbody>
    </table>
</div>
<div class="gfxbox">
	<h1>Nicht baubar</h1>
    <table class="datatable">
        <thead>
            <tr>
				<th colspan="2">Name</th>
                <th>Baukosten</th>
            </tr>
        </thead>
        <tbody>
        <!-- BEGIN restinfo.shiplist.listitem -->
        <tr>
            <td><img src="{ship.picture}" alt="{ship.name}" /></td>
            <td>{!link_to $ship.name, default, module:schiffinfo, ship:$ship.id}</td>
            <td>
                -
            </td>
        </tr>
        <!-- END restinfo.shiplist.listitem -->
        </tbody>
    </table>
</div>
</div>