<span class="smallfont">
{if tc.message}
	<div class="gfxbox" style="width:440px;text-align:center">
		{tc.message}
	</div>
	<br />
	<br />
{/endif}
{if tc.selectoffizier}
 	<div class="gfxbox" style="width:740px">
 		<span style="font-weight:bold">Anwesende Offiziere:</span><br />
		<table class="noBorderX" width="100%">
		<tr>
			<td class="noBorderX" colspan="2">Name</td>
			<td class="noBorderX">Technik</td>
			<td class="noBorderX">Waffen</td>
			<td class="noBorderX">Navigation</td>
			<td class="noBorderX">Sicherheit</td>
			<td class="noBorderX">Kommando</td>
			<td class="noBorderX">Spezial</td>
		</tr>
		<!-- BEGIN tc.offiziere.listitem -->
			<tr>
				<td class="noBorderX"><img src="{tc.offizier.picture}"></td>
				<td class="noBorderX">
					{!link_to $tc.offizier.name, $tc.mode, ship:$tc.ship, target:$tc.target, off:$tc.offizier.id}
				</td>
				<td class="noBorderX">{tc.offizier.ability.ing}</td>
				<td class="noBorderX">{tc.offizier.ability.waf}</td>
				<td class="noBorderX">{tc.offizier.ability.nav}</td>
				<td class="noBorderX">{tc.offizier.ability.sec}</td>
				<td class="noBorderX">{tc.offizier.ability.com}</td>
				<td class="noBorderX">{tc.offizier.special}</td>
			</tr>
		<!-- END tc.offiziere.listitem -->
		{if show.fleetupload}
			<tr>
				<td class="noBorderX" colspan="8"><hr style="height:1px; border:0px; background-color:#606060; color:#606060" /></td>
			</tr>
			<tr>
				<td class="noBorderX" colspan="8" style="text-align:center">
					<a class="forschinfo" href="javascript:DS.ask('Achtung! Es werden beliebige Offiziere von diesem Asteroiden zu Schiffen der Flotte ohne Offizier transferier!\nWollen sie dies wirklich?',DS.getUrl()+'?module=tc&action={tc.fleetmode}&ship={tc.ship}&target={tc.target}')">Flotte mit Offizieren ausr&uuml;sten</a>
				</td>
			</tr>
		{/endif}
		</table>
	</div>
	<br />
{/endif}
{if tc.stos}
	{if ! tc.selectoffizier}
		{if tc.confirm}
			<div class="gfxbox" style="width:690px;text-align:center">
				Wollen sie den Offizier {tc.offizier.name} wirklich auf die {tc.target.name} ({tc.target}) transferieren?<br /><br />
				{!link_to Offizier transferieren, $tc.mode, css_class:ok, ship:$tc.ship, target:$tc.target, conf:ok}
			</div>
			<br />
		{else}
			<div class="gfxbox" style="width:440px;text-align:center">
	 			{tc.offizier.name} wurde erfolgreich transferiert
		 	</div>
			 <br />
		{/endif}
	{/endif}
	{!link_to zur&uuml;ck, default, css_class:back, module:schiff, ship:$tc.ship}
	{if tc.target.isown}
		 | <a class="back" href="./ds?module=schiff&ship={tc.target}">zur {tc.target.name}</a>
	{/endif}
	<br /><br />
{/endif}
	
{if tc.stob}
	{if ! tc.selectoffizier}
		{if tc.confirm}
			<div class="gfxbox" style="width:690px;text-align:center">
				Wollen sie den Offizier {tc.offizier.name} wirklich nach {tc.target.name} transferieren?<br /><br />
				{!link_to Offizier transferieren, shipToBase, css_class:ok, ship:$tc.ship, target:$tc.target, conf:ok}
			</div>
			<br />
		{else}
			<div class="gfxbox" style="width:440px;text-align:center">
		 		{tc.offizier.name} wurde erfolgreich transferiert
		 	</div>
		 	<br />
		{/endif}
	{/endif}
	{!link_to zur&uuml;ck, default, css_class:back, module:schiff, ship:$tc.ship}
	{if tc.target.isown}
		| <a class="back" href="./ds?module=base&col={tc.target}">zur {tc.target.name}</a>
	{/endif}
	<br /><br />
{/endif}
	
{if tc.captainzuweisen}
	{if tc.offizier}
		<div class="gfxbox" style="width:440px;text-align:center">
	 		{tc.offizier.name} wurde erfolgreich transferiert
	 	</div>
	 	<br />
	{/endif}
	{!link_to zur&uuml;ck, default, css_class:back, module:schiff, ship:$tc.ship}<br /><br />
{/endif}
</span>