<span class="smallfont">
{if trade.message}
	{trade.message}
	<br />
{/endif}

<script type="text/javascript">
		function toggle(source) {
		  checkboxes = document.getElementsByName('box');
		  for(var i=0, n=checkboxes.length;i<n;i++) {
		    checkboxes[i].checked = source.checked;
		  }
		  for(var i=0, n=checkboxes.length;i<n;i++){
			  setValue(checkboxes[i]);
		  }
		}

		function setValue(source){
			texts= document.getElementsByName(source.id+'to');
			if(source.checked){
				texts[0].value = source.value;
			}
			else{
				texts[0].value="0";
			}
		}
</script>
{if res.list}
	<div class="gfxbox" style="width:470px;text-align:center">
		<form action="./ds" method="post">
			<table class="noBorderX" cellpadding="2" width="100%">
			{if ! is.full}
			<tr>
				<td colspan="4" class="noBorderX">
					<span style="font-weight:bold">Waren verkaufen:</span>
				</td>
			</tr>
			<tr> 
				<td></td><td><span style="color: #C7C7C7">Alle ausw&auml;hlen</span></td>
				<td><input type="checkbox" onClick="toggle(this)" /></td>
			</tr>
			{/endif}
			{if is.full}
			<tr>
				<td class="noBorderX" colspan="4" align="center">{res.msg}</td>
			</tr>
			{/endif}
			<!-- BEGIN res.listitem -->
				<tr>
					<td class="noBorderX"><img src="{res.img}"alt="" />{res.name}</td>
					<td class="noBorderX">{res.cargo}</td>
					<td class="noBorderX"><input type="checkbox" onClick="setValue(this)" name="box" id="{res.id}" value="{res.cargo}"  /></td>
					<td class="noBorderX"><input name="{res.id}to" type="text" size="3" value="0" /></td>
					<td class="noBorderX">{res.re}</td>
				</tr>
			<!-- END res.listitem -->
			{if ! is.full}
			<tr>
				<td class="noBorderX" colspan="4">
					<hr noshade="noshade" size="1" style="color:#cccccc" />
				</td>
			</tr>
			<tr>
				<td class="noBorderX" colspan="4" align="center">
					{!form_create_hidden sell, ship:$global.shipid, tradepost:$global.tradepost}
					<input type="submit" value="verkaufen" style="width:200px" />
				</td>
			</tr>
			{/endif}
			</table>
		</form>
	</div>
{/endif}
{if resbuy.list}
	<div class="gfxbox" style="width:470px;text-align:center">
		<form action="./ds" method="post">
		<table class="noBorderX" cellpadding="2" width="100%">
		<tr>
			<td colspan="4" class="noBorderX">
				<span style="font-weight:bold">Waren kaufen:</span>
			</td>
		</tr>
		<!-- BEGIN resbuy.listitem -->
			<tr>
				<td class="noBorderX"><img src="{resbuy.img}"alt="" />{resbuy.name}</td>
				<td class="noBorderX">{resbuy.cargo}</td>
				<td class="noBorderX"><input name="{resbuy.id}from" type="text" size="3" value="0" /></td>
				<td class="noBorderX">{resbuy.re}</td>
			</tr>
		<!-- END resbuy.listitem -->
		<tr>
			<td class="noBorderX" colspan="4">
				<hr noshade="noshade" size="1" style="color:#cccccc" />
			</td>
		</tr>
		<tr>
			<td class="noBorderX" colspan="4" align="center">
				{!form_create_hidden buy, ship:$global.shipid, tradepost:$global.tradepost}
				<input type="submit" value="kaufen" style="width:200px" />
			</td>
		</tr>
		</table>
		</form>
	</div>
{/endif}

<br />
{!link_to zur&uuml;ck, default, css_class:back, module:schiff, ship:$global.shipid}
</span>