{if userprofile.message}
	{userprofile.message}<br /><br />
{/endif}
<div class="gfxbox" style="width:840px;text-align:left">
	<table class="noBorderX" width="100%">
	<tr>
		<td class="noBorderX" width="75" align="left">
			<img width="75" height="75" src="data/logos/user/{user.id}.gif" alt="logo" />
		</td>
		<td class="noBorderX" align="center">
			{user.name}<br />
			{!link_to PM, default, module:comm, css_style:font-size:10px, to:$user.id}<br />
			{if relation.enemy}
				[<span style="font-size:10px;color:#E00000">feindlich</span>] -
				{!link_to neutral, changeRelation, css_style:font-size:10px;color:#c7c7c7, user:$user.id, relation:0} -
				{!link_to freundlich, changeRelation, css_class:ok, css_style:font-size:10px, user:$user.id, relation:2}
			{/endif}
			{if relation.neutral}
				{!link_to feindlich, changeRelation, css_class:error, css_style:font-size:10px, user:$user.id, relation:1} -
				[<span style="font-size:10px;color:#c7c7c7">neutral</span>] -
				{!link_to freundlich, changeRelation, css_class:ok, css_style:font-size:10px, user:$user.id, relation:2}
			{/endif}
			{if relation.friend}
				{!link_to feindlich, changeRelation, css_class:error, css_style:font-size:10px, user:$user.id, relation:1} -
				{!link_to neutral, changeRelation, css_style:font-size:10px;color:#c7c7c7, user:$user.id, relation:0} -
				[<span style="font-size:10px;color:#00E000">freundlich</span>]
			{/endif}
			{if user.allyrelationchange}
				<br />
				<span style="font-size:10px">F&uuml;r alle ihre Allianzmitglieder:</span><br />
				{!link_to feindlich, changeRelationAlly, css_class:error, css_style:font-size:10px, user:$user.id, relation:1} -
				{!link_to neutral, changeRelationAlly, css_style:font-size:10px;color:#c7c7c7, user:$user.id, relation:0} -
				{!link_to freundlich, changeRelationAlly, css_class:ok, css_style:font-size:10px, user:$user.id, relation:2}
			{/endif}
		</td>
		<td class="noBorderX" width="75" align="right">
			{if user.ally}
				<img width="75" height="75" src="data/logos/ally/{user.ally}.gif" alt="logo" />
			{else}
				<img width="75" height="75" src="data/logos/user/{user.id}.gif" alt="logo" />
			{/endif}
		</td>
	</tr>
	</table>
</div>
<table class="noBorderS">
<tr>
	<td class="noBorderS" width="395" valign="top">
		<div class="gfxbox" style="width:395px;text-align:left">
			<div style="height:102px; overflow:auto">
				Rasse: {user.rasse.name}<br />
				{if user.ally}
					Allianz: {!link_to $user.ally.name, details, module:allylist, css_class:profile, details:$user.ally.id}<br />
				{/endif}
				{if user.ally.position}
					Position: {user.ally.position}<br />
				{/endif}
				Beziehung zu Ihnen: <span style="color:{user.relation.color}">{user.relation}</span><br />
				{if user.faction}
					Fraktion: {user.faction}<br />
				{/endif}
				Rang: <img align="middle" title="{user.rang.name}" src="{user.rang.image}" alt="" /><br />
				<!-- BEGIN user.npcrang -->
					Rang bei {npcrang.npc}: <img align="middle" title="{npcrang.name}" src="{npcrang.image}" alt="" /><br />
				<!-- END user.npcrang -->
			</div>
		</div>
		<div class="gfxbox" style="width:395px;text-align:left">
			<div style="height:102px; overflow:auto">
				Dabei seit: {user.signupdate}<br />
				Vac-Status: {user.vacstatus}<br />
			</div>
		</div>
	</td>
	<td class="noBorderS" align="right" width="398" valign="top">
		<div class="gfxbox" style="width:398px;text-align:left">
			<div style="height:240px; overflow:auto; font-size:11px">
				<ul style="width:323px; list-style-position:outside; padding-left:15px; text-align:justify">
				<!-- BEGIN history.listitem -->
					<li>{history.line}</li>
				<!-- END history.listitem -->
				</ul>
			</div>
		</div>
	</td>
</tr>
</table>
<div class="gfxbox" style="width:840px;text-align:left">
	<div style="width:760px; height:124px; overflow:auto">
		<!-- BEGIN medals.listitem -->
			<img class="medalimg" id="_medal{medal.index}" name="_medal{medal.index}"
				src="{medal.image}" alt="" title="{medal.name}" />
		<!-- END medals.listitem -->
	</div>
</div>