<div id="techlisteRassenauswahlPopup"
	 class="gfxbox"
	 ds-popup="techlisteRassenauswahlPopup"
	 ds-popup-title="Rasse auswählen"
	 ds-popup-width="400"
	 ds-popup-height="210">
	<a ng-repeat="rasse in viewModel.auswaehlbareRassen" ng-click="wechselZuRasse(rasse.id)" ds-popup-control-close="@this">
		<img style="border:0" ng-src="{{rasse.picture}}" alt=""/>
	</a>
</div>

<div id="techliste">
	<div class="gfxbox rassenauswahl">
		Rasse: <a ds-popup-control-open="techlisteRassenauswahlPopup">{{viewModel.rassenName}}</a>
	</div>

	<div class="gfxbox forschungsboxen" ui-if="viewModel.erforschbar.length > 0">
		<span style="color:yellow">Erforschbar</span><br />
		<div class="forschungsbox" ng-repeat="forschung in viewModel.erforschbar">
			<a class="forschinfo" href="./ds?module=forschinfo&res={{forschung.id}}">
				<img style="border:0" ng-src="{{forschung.image}}" alt="" />
			</a>
			<br />
			<a style="font-weight:bold" href="./ds?module=forschinfo&res={{forschung.id}}" ng-bind-html-unsafe="forschung.name"></a>
			<br />
			<div>
			<span class="kosteneintrag" ui-if="forschung.verbleibendeDauer!=null">
				[noch <img src="data/interface/time.gif" alt="Restzeit" />{{forschung.verbleibendeDauer}}]
			</span>
			<span class="kosteneintrag" ui-if="forschung.verbleibendeDauer==null">
				<img src="data/interface/time.gif" alt="Dauer" />{{forschung.dauer}}
			</span>
			<br />
			<span class="kosteneintrag" ui-if="forschung.spezialisierungspunkte>0">
				<img src="data/interface/forschung/specpoints.gif" alt="Spezialisierungskosten" />{{forschung.spezialisierungspunkte}}
			</span>
			<span class="kosteneintrag" ng-repeat="res in forschung.kosten">
				<img ng-src="{{res.image}}" alt="{{res.plainname}}" />
				<span ds-bind-html-unsafe="res.cargo1"></span>
			</span>
			</div>
		</div>
		<div style="clear:both"></div>
	</div>

	<div class="gfxbox forschungsliste" ui-if="viewModel.nichtErforscht.length > 0">
		<span style="color:red">Noch nicht erforschbar</span><br />
		<table>
			<thead>
				<tr>
					<td>Name</td>
					<td>Kosten</td>
					<td>Vorraussetzungen</td>
				</tr>
			</thead>
			<tbody ng-repeat="forschung in viewModel.nichtErforscht" ng-include="'data/cltemplates/techliste/_forschungslisteneintrag.html'"></tbody>
		</table>
	</div>

	<div class="gfxbox forschungsliste" ui-if="viewModel.unsichtbar.length > 0">
		<span style="color:grey">Unsichtbar</span><br />
		<table>
			<thead>
			<tr>
				<td>Name</td>
				<td>Kosten</td>
				<td>Vorraussetzungen</td>
			</tr>
			</thead>
			<tbody ng-repeat="forschung in viewModel.unsichtbar" ng-include="'data/cltemplates/techliste/_forschungslisteneintrag.html'"></tbody>
		</table>
	</div>

	<div class="gfxbox forschungsliste" ui-if="viewModel.erforscht.length > 0">
		<span style="color:green">Bereits erforscht</span><br />
		<table>
			<thead>
			<tr>
				<td>Name</td>
				<td>Kosten</td>
				<td>Vorraussetzungen</td>
			</tr>
			</thead>
			<tbody ng-repeat="forschung in viewModel.erforscht" ng-include="'data/cltemplates/techliste/_forschungslisteneintrag.html'"></tbody>
		</table>
	</div>
</div>
