<div id="mapmenubar" class="gfxbox"><div class="content">
	<a id="showSystemauswahl" title="System auswählen" ng-click="showSystemSelection()"><img src="data/interface/impobjects.gif" alt="?" /></a>
	<a id="gotoLocation" title="Zu Position springen" ng-click="showJumpToPosition()"><img src="data/interface/goto.svg" alt="?" /></a>
	<a id="showStarmap" title="Bekannte Sternensysteme" ds-popup-control-open="starmapSystemOverviewPopup"><img src="data/interface/jumpnode.svg" alt="?" /></a>
</div></div>

<div id="mapcontent"></div>

<div id="kartenaktionslog">
	<ds-log list="log" entry="entry">
		<span ng-bind-html-unsafe="entry.message"/>
	</ds-log>
</div>

<div id="kartenaktion" ui-if="fokusaktion.aktion">
	<span ui-if="fokusaktion.aktion=='flug'">
		<span ui-if="fokusaktion.ziel">
			Soll {{fokusaktion.flotte && 'die Flotte' || 'das Schiff'}} '{{fokusaktion.flotte.name || fokusaktion.schiff.name}}' wirklich nach {{fokusaktion.ziel.x}}/{{fokusaktion.ziel.y}} ({{fokusaktion.entfernung}} Felder) fliegen?
		</span>
		<span ui-if="!fokusaktion.ziel">
			Bitte wähle die Zielposition für {{fokusaktion.flotte && 'die Flotte' || 'das Schiff'}} '{{fokusaktion.flotte.name || fokusaktion.schiff.name}}' aus...
		</span>
	</span>
	<span class="abbruch" ng-click="kartenaktionAbbrechen()">abbruch</span>
	<span ui-if="fokusaktion.ziel" class="bestaetigung" ng-click="kartenaktionBestaetigen()">ja</span>
</div>

<div id="starmapSystemOverviewPopup"
	 class="gfxbox"
	 ds-popup="starmapSystemOverviewPopup"
	 ds-popup-title="Sternensysteme"
	 ds-popup-width="750"
	 ds-popup-height="550"
	 ng-controller="MapSystemuebersichtController">
	<div ds-graph="sysGraph" class="starsystem" group-nodes="true" draggable="systemkarteEditierbar">
		<div class="nodecontent" ng-class="node.basis && 'basis' || ''" >
			<div class="jumpToSystem" ng-click="wechselZuSystem(node)" title="System anzeigen"></div>
			<div class="label">{{node.label}}</div>
			<div class="sysid">{{node.id}}</div>
			<div class="icons">
				<div class="allianz" ui-if="node.allianz"><img title="Vorherschende Fraktion: {{node.allianz.plainname}}" ng-src="data/logos/ally/{{node.allianz.id}}.gif" /></div>
				<div class="schiff" ui-if="node.schiff"><img title="Eigene Schiffe im System" src="data/interface/schiffe/1/icon_schiff.gif" /></div>
			</div>
		</div>
	</div>
	<div class="aktionen" ui-if="ansicht.systemkarteEditierbar || ansicht.adminSysteme || ansicht.npcSysteme">
		<div ui-if="ansicht.systemkarteEditierbar" class="aktion">
			<span ng-click="speichern()">speichern</span>
		</div>
		<div ui-if="ansicht.adminSysteme" class="aktion">
			<span ng-click="ansicht.toggleAdminSystemeAnzeigen()">
				Admin-Systeme: {{ansicht.adminSystemeAnzeigen && 'ja' || 'nein'}}
			</span>
		</div>
		<div ui-if="ansicht.npcSysteme" class="aktion">
			<span ng-click="ansicht.toggleNpcSystemeAnzeigen()">
				NPC-Systeme: {{ansicht.npcSystemeAnzeigen && 'ja' || 'nein'}}
			</span>
		</div>
	</div>
</div>

<div id="starmapSectorPopup"
	 class="gfxbox"
	 ds-popup="starmapSectorPopup"
	 ds-popup-title="Sektorinformationen"
	 ds-popup-width="550"
	 ds-popup-height="400"
	 ng-controller="MapSectorPopupController">
	<div ng-hide="geladen">
		Lade Sektor {{position.system}}:{{position.x}}/{{position.y}}
	</div>
	<div ng-show="geladen">
		<div class="header"><span>Sektor {{position.system}}:{{position.x}}/{{position.y}}</span></div>
		<div class="warnung" ui-if="sektor.roterAlarm"><span>Warnung: Mindestens ein feindliches Schiff hat seine Waffensysteme aktiviert und wird angreifen solltest du mit einem Schiff in den Sektor fliegen.</span></div>
		<div ui-if="sektor.nebel"><img class="nebel" ng-src="{{sektor.nebel.image}}" alt="Nebel" /></div>
		<div ui-if="sektor.jumpnodes.length>0">
			<ul class='jumpnodes'>
				<li ng-repeat="jumpnode in sektor.jumpnodes">
					<img src='./data/interface/jumpnode.svg' />
					<div class="name">Sprungpunkt</div>
					<div class='details'>{{jumpnode.name}}<span ng-show="jumpnode.blocked"> - blockiert</span>
					</div>
				</li>
			</ul>
		</div>
		<div ui-if="sektor.bases.length>0">
			<ul class='bases'>
				<li ng-repeat="base in sektor.bases">
					<img ng-src='{{base.image}}' />
					<div class='name'>
						<a ui-if="base.eigene" href="./ds?module=base&action=default&col={{base.id}}">{{base.name}}</a>
						<span ui-if="!base.eigene">{{base.name}}</span>
					</div>
					<div class='typ'>{{base.typ}}</div>
					<div class='owner' ng-bind-html-unsafe="base.username"></div>
				</li>
			</ul>
		</div>
		<div ui-if="sektor.battles.length>0">
			<ul class='battles'>
				<li ng-repeat="battle in sektor.battles">
					<img src='./data/interface/battle.svg' />
					<div class="name" ui-if="!battle.einsehbar">Schlacht</div>
					<div class="name" ui-if="battle.einsehbar"><a href="./ds?module=angriff&battle={{battle.id}}">Schlacht</a></div>
					<div class='details'>
						<div ng-repeat="side in battle.sides" class="side">
							<a ui-if="side.ally" href="ds?module=allylist&action=details&details={{side.ally.id}}" ng-bind-html-unsafe="side.ally.name"></a>
							<a ui-if="!side.ally" href="ds?module=userprofile&action=default&user={{side.commander.id}}" ng-bind-html-unsafe="side.commander.name"></a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div ui-if="sektor.subraumspaltenCount>0" class="subraumspalten">
			<img src='./data/objects/subraumspalt.gif' />
			<div class="name">{{sektor.subraumspaltenCount}} Subraumspalte{{sector.subraumspaltenCount > 1 && 'n' || ''}}</div>
		</div>
		<div class='ships'>
			<div ng-repeat="user in sektor.users">
				<div class="toggle" ng-class="user.expanded && 'expanded' || ''" ng-click="toggle(user)">
					<span ng-bind-html-unsafe="user.name"></span>
					<span style="float:right;">{{user.shipcount}}</span>
				</div>
				<ul class="shipclasses toggleContent">
					<li ng-repeat="shiptype in user.shiptypes">
						<div class="shiptype toggle" ng-class="shiptype.expanded && 'expanded' || ''" ng-click="toggle(shiptype)">
							{{shiptype.ships.length}}x {{shiptype.name}}
							<a href="./ds?module=schiffinfo&ship={{shiptype.id}}" onclick="ShiptypeBox.show({{shiptype.id}});return false;">
								<img class="schiffstypengrafik" ng-src="{{shiptype.picture}}" />
							</a>
						</div>
						<table class="toggleContent">
							<tbody ng-repeat="ship in shiptype.ships" ng-mouseenter="highlightSensoren(ship)" ng-mouseleave="unhighlightSensoren(ship)">
								<tr>
									<td class="name">
										<a ui-if="user.eigener" href="./ds?module=schiff&action=default&ship={{ship.id}}">{{ship.name}}</a>
										<span ui-if="!user.eigener">{{ship.name}}</span>
									</td>
									<td class="status">
										<span ui-if="ship.maxGedockt>0" title="gedockte Schiffe">
											<img ng-src="./data/interface/schiffe/{{user.race}}/icon_container.gif" alt="" />
											{{ship.gedockt}}/{{ship.maxGedockt}}
										</span>
										<span ui-if="ship.maxGelandet>0" title="gelandete Schiffe">
											<img ng-src="./data/interface/schiffe/{{user.race}}/icon_schiff.gif" alt="" />
											{{ship.gelandet}}/{{ship.maxGelandet}}
										</span>
										<span ui-if="ship.maxEnergie>0" title="Energie">
											<img ng-src="./data/interface/energie.gif" alt="" />
											{{ship.energie}}/{{ship.maxEnergie}}
										</span>
										<span ui-if="ship.ueberhitzung>0" title="Triebwerksüberhitzung">
											<img ng-src="./data/interface/ueberhitzung.svg" alt="" />
											{{ship.ueberhitzung}}
										</span>
									</td>
									<td class="aktionen">
										<a ui-if="ship.kannFliegen" title="{{ship.fleet && 'Flotte' || 'Schiff'}} bewegen" ng-click="fliegeMitSchiff(ship)" ds-popup-control-close="@this">
											<img ng-src="./data/interface/move.svg" alt="" />
										</a>
									</td>
								</tr>
								<tr class="details" ui-if="ship.fleet">
									<td colspan="3">
										<span ui-if="ship.fleet">
											{{ship.fleet.name}}
										</span>
									</td>
								</tr>
							</tbody>
						</table>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="starmapGotoLocationPopup"
	class="gfxbox"
	ds-popup="gotoLocationPopup"
	ds-popup-title="Zur Position springen"
	ds-popup-width="400"
	ng-controller="MapGeheZuPositionController">

	<form ng-submit="zurPositionSpringen()">
		<div class="bekannteObjekte">
			<ul>
				<li ng-show="sprungpunkte.length>0">Sprungpunkte
					<ul>
						<li ng-repeat="sprungpunkt in sprungpunkte">
							<a ds-popup-control-close="@this" ng-click="zurPositionSpringen(sprungpunkt)">{{sprungpunkt.x}}/{{sprungpunkt.y}} - {{sprungpunkt.name}}</a>
						</li>
					</ul>
				</li>
				<li ng-show="posten.length>0">Handelsposten
					<ul>
						<li ng-repeat="hp in posten">
							<a ds-popup-control-close="@this" ng-click="zurPositionSpringen(hp)">{{hp.x}}/{{hp.y}} - {{hp.name}}</a>
						</li>
					</ul>
				</li>
				<li ng-show="basen.length>0">Basen
					<ul>
						<li ng-repeat="basis in basen">
							<a ds-popup-control-close="@this" ng-click="zurPositionSpringen(basis)">{{basis.x}}/{{basis.y}} - {{basis.name}}</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<label>Eigene Position eingeben</label>
		<input type="text" ng-model="x" size="3" />/
		<input type="text" ng-model="y" name="ystart" size="3" />
		<input type="submit" value="ok" ds-popup-control-close="@this"/>
	</form>
</div>

<div id="systemauswahl"
	ds-popup="systemSelection"
	ds-popup-title="Kartenausschnitt"
	ds-popup-width="400"
	ng-controller="MapSystemauswahlController">

	<form ng-submit="sternenkarteLaden()">
		<table cellpadding="3">
			<tr>
				<td colspan="2">
					System<br />
					<select name="sys" ng-model="systemSelected" ng-options="sys.label for sys in systeme" />
				</td>
			</tr>
			<tr>
				<td>
					Position
				</td>
				<td>
					<input type="text" name="xstart" size="3" value="1" ng-model="locationX"/>
					/
					<input type="text" name="ystart" size="3" value="1" ng-model="locationY"/>
				</td>
			</tr>
			<tr ng-show="adminSichtVerfuegbar">
				<td colspan="2">
					<input type="checkbox" ng-model="adminSicht" id="adminSicht" name="adminSicht" /><label for="adminSicht">Admin-Sicht</label>
				</td>
			</tr>
		</table>
		<input type="submit" value="Sternenkarte laden"/>
	</form>
</div>