<style>
	h3 {margin-top:20px !important}
	h3:first-child {margin-top:5px !important}
	.starsystems {
		width:100%;
		height:600px;
		position:relative;
	}
	.starsystem {
		border:1px solid darkred;
		background-color: #003d1f;
		width:100px;
		height:25px;
		padding:10px;
		position:absolute;
	}
</style>
<div class="gfxbox" style="width:600px">
	<h3>Popup</h3>
	<a ds-external-popup="demo/popup.html" ds-popup-title="Testpopup" ng-controller="DemoPopupController">Test</a>
	
	<h3>Autocomplete (Users)</h3>
	<span><input type="text" ds-autocomplete="users"/></span>
	
	<h3>LineChart</h3>
	<div ds-line-chart="lineChartData" title="Line Chart">
		<x-axis label="Tag" pad="1" tick-interval="1"/>
		<y-axis label="Umgefallene Deuteriumfässer" />
		<legend location="e" />
	</div>
	<a ng-click="generateNewLineChartData()">Neue Daten generieren</a>

	<h3>PieChart</h3>
	<div ds-pie-chart="pieChartData" title="Pie Chart" percent-values="true" label-threshold="5">
		<legend location="e" />
	</div>
	<a ng-click="generateNewPieChartData()">Neue Daten generieren</a>

	<h3>Graph</h3>
	<div class="starsystems">
		<div ds-graph="sysGraph" class="starsystem" graph-width="600" graph-height="600"
			 node-width="120" node-height="45">
			{{node.label}} ({{node.id}})
		</div>
	</div>

</div>