/*
	Wichtige Objekte (impobjects)
*/

#impobjectsbox {
	position:absolute;
	display:none;
	width:360px;
	text-align:center;
}

#impobjectsbox .content {
	height:350px;
	overflow-y:auto;
	margin-right:3px;
}
#impobjectsbox ul {
	padding-left:5px;
}
#impobjectsbox li {
	list-style-type:none;
	clear:both;
	margin-bottom:5px;
	margin-top:5px;
	color:#FEB626;
}
#impobjectsbox dl {
	font-size:12px;
	color:#C7C7C7;
}
#impobjectsbox dt {
	float:left;
	width:65px;
	text-align:center;
}
#impobjectsbox dd {
	margin-left:70px;
	margin-bottom:5px;
}

/*
	Schiffstyp
*/

#shiptypeBox {
	text-align:center;
	width:700px;
}

#shiptypeBox .content {
	height:600px;
	overflow-y:auto;
	margin-right:3px;
}