#mapmenubar {
	position:fixed;
	left:-20px;
	top:200px;
	width:25px;
}

#mapmenubar .content {
	padding-left:10px;
}

#mapmenubar .content a {
	display:block;
	margin-bottom:8px;
}

#mapmenubar img {
	width:20px;
}

#kartenaktion,
#kartenaktionslog .log {
	position:absolute;
	bottom:0px;
	border: 1px solid #999999;
	border-bottom:0px;
	font-size:75%;
	padding:2px 5px;
	color:#c7c7c7;
	border-radius: 4px 4px 0px 0px;
	background: rgba(50, 50, 50, 0.70);
}

#kartenaktion {
	right:25px;
	max-width:50%;
	min-height:18px;
}

#kartenaktionslog .log {
	left:25px;
	width:40%;
	overflow:hidden;
}
#kartenaktionslog .log .logcontainer {
	overflow-y:hidden;
	max-height:18px;
}
#kartenaktionslog .log.expanded .logcontainer {
	max-height:200px;
	overflow-y:auto;
	margin-right:12px;
}
#kartenaktionslog .log .toggleSize {
	position:absolute;
	right:4px;
	top:5px;
	display:block;
	cursor:pointer;

	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #47E767;
}

#kartenaktionslog .log.expanded .toggleSize {
	border: 5px solid transparent;
	border-top-color: #47E767;
	border-bottom: 0px none;
}

#kartenaktionslog .logentry {
	padding:3px 2px;
}

#kartenaktion > span {
	float:left;
}

#kartenaktion .bestaetigung,
#kartenaktion .abbruch {
	display:block;
	float:right;
	margin-left:5px;
	font-weight:bold;
	cursor:pointer;
}

#kartenaktion .abbruch {
	color:red;
}

#kartenaktion .bestaetigung {
	color:green;
}

#systemauswahl {
	text-align:center;
}

#systemauswahl table {
	text-align:left;
	margin: 5px auto 10px;
}

#starmapSectorPopup{
	max-height:400px;
	min-height:150px;
	margin-bottom:3px;
}
#starmapSectorPopup .header {
	font-weight:bold;
	text-align: center;
}

#starmapSectorPopup .warnung {
	font-size:70%;
	padding:6px 0px;
}

#starmapSectorPopup ul
{
	list-style-type: none;
	margin:3px 0px 7px 3px;
	padding-left:8px;
	padding-bottom:5px;
}

#starmapSectorPopup .nebel {
	float:left;
	width:50px;
	margin-right:8px;
	margin-top:8px;
	margin-left:0px;
	padding-right:20px;
}

#starmapSectorPopup .subraumspalten {
	padding-right:20px;
}

#starmapSectorPopup .bases,
#starmapSectorPopup .jumpnodes,
#starmapSectorPopup .battles,
#starmapSectorPopup .subraumspalten{
	margin-top:8px;
	margin-left:0px;
	padding-left:0px;
	float:left;
}

#starmapSectorPopup .bases img,
#starmapSectorPopup .jumpnodes img,
#starmapSectorPopup .subraumspalten img{
	margin-right:auto;
	margin-left:auto;
	margin-bottom:8px;
	height: 50px;
	display:block;
}

#starmapSectorPopup .bases .typ {
	font-size:80%;
	line-height:1.5
}

#starmapSectorPopup .battles img{
	width: 40px;
	margin-right:10px;
	margin-bottom:5px;
}

#starmapSectorPopup .battles .details {
	width:275px;
	display:inline-block;
	vertical-align: top;
}

#starmapSectorPopup .battles .details .side:after {
	content:"vs";
	display:block;
}

#starmapSectorPopup .battles .details .side:last-child:after {
	display:none;
}

#starmapSectorPopup .battles .name {
	display:inline-block;
	width:100px;
}

#starmapSectorPopup .bases li,
#starmapSectorPopup .jumpnodes li {
	float:left;
	padding-right:20px;
}

#starmapSectorPopup .battles li,
#starmapSectorPopup .ships {
	clear:both;
}

#starmapSectorPopup .toggle:before {
	content: '+';
	width:8px;
	display:inline-block;
}

#starmapSectorPopup .toggle.expanded:before {
	content: '-';
}

#starmapSectorPopup .toggle + .toggleContent {
	display:none;
}

#starmapSectorPopup .toggle.expanded + .toggleContent {
	display:block;
	border: dashed #c7c7c7;
	border-width: 0px 0px 0px 1px;
}

#starmapSectorPopup .toggle.expanded + table.toggleContent {
	display: table;
}

#starmapSectorPopup .ships {
	padding-top:8px;
}

#starmapSectorPopup .ships .toggle {
	cursor:pointer;
}

#starmapSectorPopup .ships li {
	margin-top:8px;
}

#starmapSectorPopup .ships li:first-child {
	margin-top:0px;
}

#starmapSectorPopup .ships .shiptype {
	background-color: rgba(196, 255, 196, 0.1);
	height: 44px;
	padding:2px 1px;
}

#starmapSectorPopup .ships .shiptype a {
	display:block;
	float:right;
	padding:2px;
}
#starmapSectorPopup .ships .schiffstypengrafik {
	height:40px;
}

#starmapSectorPopup .ships table {
	width:98%;
	margin-left:2%;
	font-size:12px;
}

#starmapSectorPopup .ships table .name {
	width:45%;
}

#starmapSectorPopup .ships table .status {
	width:45%;
}

#starmapSectorPopup .ships table .aktionen {
	width:10%;
	text-align:right;
}

#starmapSectorPopup .ships table .status img {
	max-height:15px;
}
#starmapSectorPopup .ships table .aktionen img {
	max-height:15px;
}

#starmapSectorPopup .ships .details td {
	padding-left:10px;
	padding-bottom:5px;
}

#starmapSystemOverviewPopup .graph {
	position:absolute;
	left:5px;
	top:5px;
	right:5px;
	bottom:5px;
}

#starmapSystemOverviewPopup .starsystem {
	background-size: 30px 30px;
	background: rgba(200, 200, 200, 0.15);
	border: 1px solid #999999;
	border-radius:5px;
	text-shadow: 1px 1px 0px black, -1px -1px 0px black, 2px 2px 0px black, -2px -2px 0px black;
	position:absolute;
	text-align:center;
	margin:10px;
}

#starmapSystemOverviewPopup .nodecontent.basis {
	background: url('../../interface/system_mit_basis.png') no-repeat center 3px;
}

#starmapSystemOverviewPopup .nodecontent {
	background: url('../../interface/system.png') no-repeat center 3px;
	padding:35px 5px 5px 5px;
	height:25px;
	width:115px;
}

#starmapSystemOverviewPopup .jumpToSystem {
	position:absolute;
	left:50%;
	top:3px;
	margin-left:-15px;
	width:30px;
	height:30px;
	cursor:pointer;
}

#starmapSystemOverviewPopup .starsystem .icons {
	position:absolute;
	left:2px;
	top:3px;
	width:40px;
	text-align: left;
}

#starmapSystemOverviewPopup .starsystem .icons div {
	display:inline-block;
}

#starmapSystemOverviewPopup .starsystem .icons img {
	width:18px;
	vertical-align: middle;
}

#starmapSystemOverviewPopup .sysid {
	position: absolute;
	right: 4px;
	top: 2px;
}

#starmapSystemOverviewPopup .border {
	stroke:rgb(130,47,0);
	stroke-width:3;
	stroke-dasharray:13 13
}

#starmapSystemOverviewPopup .group {
	stroke-width:2;
}

#starmapSystemOverviewPopup .group0 {
	fill:rgb(33,0,61);
	stroke:rgb(33,0,61);
}
#starmapSystemOverviewPopup .group1 {
	fill:#444400;
	stroke:#444400;
}
#starmapSystemOverviewPopup .group2 {
	fill:rgb(33,61,33);
	stroke:rgb(33,61,33);
}
#starmapSystemOverviewPopup .group3 {
	fill:rgb(0,68,65);
	stroke:rgb(0,68,65);
}
#starmapSystemOverviewPopup .group4 {
	fill:#333333;
	stroke:#333333;
}
#starmapSystemOverviewPopup .group5 {
	fill:rgb(50, 30, 10);
	stroke:rgb(50, 30, 10);
}
#starmapSystemOverviewPopup .group6 {
	fill:rgb(10, 30, 50);
	stroke:rgb(10, 30, 50);
}

#starmapSystemOverviewPopup .noGroup {
	display:none;
}

#starmapSystemOverviewPopup .aktionen {
	position:absolute;
	left:0;
	top:0;
	height:20px;
	padding:2px;
	width:5px;
	overflow:hidden;

	background: none repeat scroll 0 0 rgba(200, 200, 200, 0.25);
	border: 1px solid #999999;
	border-radius: 0px 5px 5px 0px;

	text-shadow: 1px 1px 0 black, -1px -1px 0 black, 2px 2px 0 black, -2px -2px 0 black;
}
#starmapSystemOverviewPopup .aktionen:hover {
	height:auto;
	min-height:20px;
	width:auto;
}

#starmapSystemOverviewPopup .aktionen:hover .aktion {
	display:block;
	margin:4px 0;
}

#starmapSystemOverviewPopup .aktion {
	display:none;
}

#starmapSystemOverviewPopup .aktion span {
	cursor:pointer;
}

#starmapGotoLocationPopup .bekannteObjekte {
	border-bottom:1px solid #aaaaaa;
	text-align:left;
	max-height:150px;
	margin:0px 0px 10px 0px;
	overflow:auto;
}

#starmapGotoLocationPopup .bekannteObjekte ul {
	margin:0px 0px 0px 0px;
	padding:0px 0px 10px 20px;
}

#starmapGotoLocationPopup form {
	width:100%;
	text-align:center;
}

#starmapGotoLocationPopup form input[type=text] {
	margin:0px 4px;
	width:50px;
}

#jumpnodebox .content {
	text-align:center;
}

#jumpnodebox #jumpnodelist {
	text-align:left;
	margin-top:5px;
	margin-bottom:10px;
}

.starmap {
	position:absolute;
	left:45px;
	top:5px;
	right:5px;
	bottom:20px;
}

.starmap #legend
{
	table-layout: fixed;
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	border: 0px none;
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	font-size:9px;
}

.starmap #legend .top {
	height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width:100%;
}

.starmap #legend .bottom {
	bottom: 0px;
    left: 0px;
    position: absolute;
    width:100%;
    height:25px;
}

.starmap #legend .hbar {
	left: 25px;
	right:25px;
    position: absolute;
    top: 0px;
    height:25px;
    overflow:hidden;
}

.starmap #legend .hbar .scroll div {
	float:left;
	text-align:center;
	vertical-align:middle;
	width:25px;
	height:25px;
	line-height: 20px;
}

.starmap #legend .left {
    left: 0px;
    position: absolute;
    top: 25px;
    bottom:25px;
    width: 25px;
}

.starmap #legend .right {
    right: 0px;
    position: absolute;
    top: 25px;
    width: 25px;
    bottom:25px;
}

.starmap #legend .vbar {
	position: absolute;
	overflow:hidden;
	height:100%;
	width:25px;
}

.starmap #legend .vbar .scroll div {
	text-align:center;
	vertical-align:middle;
	width:25px;
	height:25px;
	line-height: 20px;
}

.starmap #legend .corner {
	text-align:center;
	line-height: 20px;
	width:25px;
	height:25px;
}

.starmap #legend .scroll {
	position:absolute;
}

.starmap #legend td
{
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	border: 0px none;
	width:25px;
	height:25px;
	background: no-repeat 0px 0px;
	text-align:center;
	vertical-align:middle;
}

.starmap #legend .border {
	font-size:9px;
}

.starmap #mapview {
	position:absolute;
	top:25px;
	left:25px;
	right:25px;
	bottom:25px;
	overflow:hidden;
}

.starmap #actionOverlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.starmap #tiles {
	position:absolute;
	top:0;
	left:0;
	opacity:0.5;
}

.starmap #tiles img {
	width:500px;
	height:500px;
	position:absolute;
}

.starmap #tileOverlay {
	position:absolute;
	top:0;
	left:0;
}

.starmap #tileOverlay div {
	width:25px;
	height:25px;
	position:absolute;
}

.starmap #tileOverlay .highlight {
	border:1px solid #FEB626;
}

.starmap #tileOverlay .highlight.lrs {
	border:0;
	background-color: rgba(50,160,50,0.3);
}

@-webkit-keyframes starmap_tile_battle { from { background-color: rgba(255,0,0,0.2); } to { background-color: rgba(255,0,0,0.45); }  }
        @keyframes starmap_tile_battle { from { background-color: rgba(255,0,0,0.2); } to { background-color: rgba(255,0,0,0.45); }  }

.starmap #tileOverlay .battle {
	background-color: rgba(255,0,0,0.25);
	-webkit-animation: starmap_tile_battle 2s linear 0s infinite alternate;
	        animation: starmap_tile_battle 2s linear 0s infinite alternate;
}

.starmap #tileOverlay .roter-alarm {
	background-color: rgba(255,164,0,0.25);
}

#starmaploader .content {
	text-align:center;
}
#starmaploader .content img {
	margin-top:10px;
	width:200px;
	height:22px;
}