<!DOCTYPE handel [
	<!ELEMENT handel ((message)?, (angebot)*)>
	<!ELEMENT message (#PCDATA)*>
	<!ELEMENT angebot (owner,date,want,need,description)>
	<!ATTLIST angebot
		id	CDATA	#REQUIRED
	>
	<!ELEMENT owner (#PCDATA)>
	<!ATTLIST owner
		id	CDATA	#REQUIRED
	>
	<!ELEMENT date (#PCDATA)>
	<!ELEMENT want (res)*>
	<!ELEMENT need (res)*>
	<!ELEMENT description (#PCDATA)>
	<!ELEMENT res (#PCDATA)>
	<!ATTLIST res
		id		CDATA	#REQUIRED
  		image	CDATA	#REQUIRED
  	>
]>
<handel>
	{if handel.message}
		<message>{handel.message}</message>
	{/endif}
	{if handel.view}
		<!-- BEGIN angebote.listitem -->
			<angebot id="{angebot.id}">
				<owner id="{angebot.owner}"><![CDATA[{angebot.owner.name}]]></owner>
				<date>{angebot.date}</date>
				<want>
					{if xml.angebot.want.list}
						<!-- BEGIN angebot.want.listitem -->
							<res id="{res.id}" image="{res.image}"><![CDATA[{res.cargo}]]></res>
						<!-- END angebot.want.listitem -->
					{/endif}
				</want>
				<need>
					{if xml.angebot.need.list}
						<!-- BEGIN angebot.need.listitem -->
							<res id="{res.id}" image="{res.image}"><![CDATA[{res.cargo}]]></res>
						<!-- END angebot.need.listitem -->
					{/endif}
				</need>
				<description>
					<![CDATA[
						{angebot.description}
					]]>
				</description>
			</angebot>
		<!-- END angebote.listitem -->
		<!-- BEGIN emptyangebote.listitem -->
		<!-- END emptyangebote.listitem -->
	{/endif}
	<!-- BEGIN addresources.listitem -->
	<!-- END addresources.listitem -->
</handel>