<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>DS2 - Drifting Souls 2</title>

    <link type="text/css" rel="stylesheet" href="/css/ds_2_portal.css"/>
</head>
<body>
<div id="header" th:replace="portal/fragments :: header">
    <!-- hier sind die Drifting Souls Bilder der ersten Portalseite-->
    <div class="logo">
        <img src="/images/interface/portal/gcp-logo.png" alt="DS2 LOGO"/>
    </div>
    <div class="ueberschrift">
        <h1><img src="/images/interface/portal/driftingsouls.png" alt="Drifting Souls"/></h1>
    </div>
    <div id="navigation">
        <ul class="navi">
            <li><a title="Home" href="">Home</a></li>
            <li><a title="Portal" href="">Portal</a>
                <ul class="subnav1">
                    <li><a title="Github Repository" href="" target="_blank">Github</a></li>
                </ul>
            </li>
            <li><a>Community</a>
                <ul class="subnav1">
                    <li><a title="IRC" href="" target="_blank">IRC</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div>
    <p class="schiff"><img src="/images/interface/portal/FINAL4-1.png" alt="Ein Traeger"/></p>
</div>

<div id="content">
    <div class="linke-spalte">

        <div id="document">

            <p th:if="${message}">
                <span class="red" th:text="${message}">Das Passwort stimmt nicht!</span><br/>
            </p>

            <div id="login">
                <form th:action="@{/login}" action="#" method="post">

                    <p><span class="left">Name: </span><input class="name-input" style="width:170px" name="username"
                                                              type="text" maxlength="40" value=""/></p>

                    <p><span class="left">Passwort: </span><input class="pw-input" style="width:170px" name="password"
                                                                  type="password" value=""/></p>
                    <p><span class="submit"><input type="submit" value="Login" style="width:100px"/></span></p>
                </form>
            </div>

            <div id="lostpass">
                <p><a href="#" title="Passwort vergessen">Passwort vergessen?</a></p>
            </div>

            <div id="teaser">
                <p><a id="registerlink" href="#" th:href="@{/portal/register}">Registrieren</a></p>
            </div>
        </div> <!-- Ende ID document -->
    </div> <!-- Ende Linke Spalte -->
</div> <!-- Ende ID Container -->

<!-- Ende Contentbereich - Beginn Footernavigation -->
<div id="footer" th:replace="portal/fragments :: footer">
    <ul id="footernavigation">
        <li><a title="Zum Impressum" href="#">Impressum</a></li>
    </ul>
</div>
</body>