#mapmenubar {
	position:fixed;
	left:-20px;
	top:200px;
	width:45px;
}

#mapmenubar .content {
	padding-left:30px;
}

#mapmenubar .content a {
	display:block;
	margin-bottom:8px;
}

#systemauswahl {
	position:fixed;
	top:200px;
	margin-left:auto;
	margin-right:auto;
	z-index:95;
	left:0px;
	right:0px;
	width:400px;
	text-align:center;
}

#systemauswahl table {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	margin-bottom:10px;
	margin-top:5px;
}

#jumpnodebox {
	position:fixed;
	top:200px;
	margin-left:auto;
	margin-right:auto;
	z-index:100;
	left:0px;
	right:0px;
	width:400px;
	text-align:center;
}

#jumpnodebox #jumpnodelist {
	text-align:left;
	margin-top:5px;
	margin-bottom:10px;
}

.invisible{
	display:none;
}

#sectortable{
	position: fixed;
	top: 200px;
	margin-left:auto;
	margin-right:auto;
	z-index:90;
	left:0px;
	right:0px;
}

#mapcontent {
	position:relative;
	left:30px;
}

#legend
{
	table-layout: fixed;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	border-style: none;
	position:absolute;
	left:10px;
	top:10px;
}

#legend td
{
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	border-style: none;
	width:25px;
	height:25px;
	background-position:0px 0px;
	background-repeat:no-repeat;
	text-align:center;
	vertical-align:middle;
}

#legend .border {
	font-size:9px;
}

#tiles {
	position:absolute;
	top:35px;
	left:35px;
	overflow:hidden;
	opacity:0.5;
}

#tiles div {
	width:500px;
	height:500px;
	position:absolute;
}

#tileOverlay {
	position:absolute;
	top:35px;
	left:35px;
	overflow:hidden;
}

#tileOverlay div {
	width:25px;
	height:25px;
	position:absolute;
}
#sectorview ul
{
    list-style-type: none;
}

#sectorview .loader {
	text-align:center;
}
#sectorview .loader img {
	margin-top:10px;
	width:200px;
	height:22px;
}