.invisible{
	display:none;
}

#sectortable{
	position: fixed;
	top: 200px;
	margin-left:auto;
	margin-right:auto;
}

table#starmap
{
	table-layout: fixed;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	border-style: none;
	position:absolute;
	left:10px;
	top:10px;
}

table#starmap td
{
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	border-style: none;
	width:25px;
	height:25px;
	background-position:0px 0px;
	background-repeat:no-repeat;
	text-align:center;
	vertical-align:middle;
}

#starmap .border {
	font-size:9px;
}

#starmap td img {
	width:25px;
	height:25px;
}

#tiles {
	position:absolute;
	top:35px;
	left:35px;
	overflow:hidden;
	opacity:0.4;
}

#tiles div {
	width:500px;
	height:500px;
	position:absolute;
}

#tileOverlay {
	position:absolute;
	top:35px;
	left:35px;
	overflow:hidden;
}

#tileOverlay div {
	width:25px;
	height:25px;
	position:absolute;
}

td.scan
{
}
.noscan
{
	opacity: 0.4;
}

#sectorview ul
{
    list-style-type: none;
}