html {
	overflow: hidden;
	width:100%;
	height:100%;
}

body {
	overflow: hidden;
	padding:0px;
	margin:0px;
	background-color: #000000;
	width:100%;
	height:100%;
	color: #C7C7C7;
	font-family: arial, helvetica;
	font-size: 14px;
}

img {
	border:0px;
	vertical-align:middle;
}

/* Menueleiste */

#menu {
	list-style-type:none;
	padding:0px 5px 0px 5px;
	margin:0px;
	height:30px;
	background: url('./data/interface/border/centerbottom.gif') bottom right repeat-x;text-align:center;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
}

#menu li#currentpage {
	width:130px;
}

#menu li.statusfield {
	float:left;
	padding:6px 3px 3px 0px;
	margin:0 1px 0 0;
	position:relative;
	width:40px;
	height:15px;
}
#menu li.actionfield {
	float:right;
	padding:6px 10px 3px 0px;
	margin:0 1px 0 0;
	position:relative;
	height:15px;
	text-align:right;
	white-space: nowrap;
	width: auto;
}
#menu li {
	float:left;
	padding:0;
	margin:0px 1px 0px 0px;
	position:relative;
	width:110px;
	height:22px;
	z-index:100;
}
#menu li dl {
	position:absolute;
	top:0px;
	left:0px;
	padding-bottom:0px;
	padding-top:5px;
}
#menu li a, #menu li a:visited {
	text-decoration:none;
}
#menu li dd {
	display:none;
}
#menu li a:hover {
	border:0px;
}
#menu li:hover dd, #menu li a:hover dd {
	display:block;
}
#menu li:hover dl, #menu li a:hover dl {
	padding-bottom:10px;
}
#menu dl {
	width: 110px; margin:0px; padding:0px; background: transparent;
}
#menu dt {
	margin:0px;
	padding: 0px 0px 5px 0px;
	font-size:13px;
	white-space: nowrap;
}
#menu dd {
	margin:0px;
	padding:0px;
	padding-right:5px;
	background: url('./data/interface/border/centerright.gif') top right no-repeat;
}

#menu dd.lastelement {
	margin:0px;
	padding:0px 18px 0px 0px;
	background: url('./data/interface/border/border_bottomright.gif') bottom right no-repeat;
}

#menu dd span, #menu dd > a {
	display:block;
	background:url("./data/interface/border/centerleft.gif") no-repeat left top;
	padding:5px 0px 0px 5px;
	margin:0px;
	text-align:center;
}

#menu dd.lastelement span {
	display:block;
	background:url("./data/interface/border/bottomleft.gif") no-repeat left bottom;
	padding:18px 0px 0px 18px;
	margin:0px;
	text-align:center;
}

#menu li dt a:link		{color: #c7c7c7; font-size:13px; font-weight: normal; text-decoration: none;}
#menu li dt a:visited	{color: #c7c7c7; font-size:13px; font-weight: normal; text-decoration: none;}
#menu li dt a:hover		{color: #719bef; font-size:13px; font-weight: normal; text-decoration: none;}
#menu li dt a:active	{color: #719bef; font-size:13px; font-weight: normal; text-decoration: none;}

#menu li dt a.currentPage:link {
	color: #47e767;
	font-size:13px;
	font-weight: bold;
	text-decoration: none;
}
#menu li dt a.currentPage:visited {
	color: #47e767;
	font-size:13px;
	font-weight: bold;
	text-decoration: none;
}
#menu li dt a.currentPage:hover {
	color: #719bef;
	font-size:13px;
	font-weight: bold;
	text-decoration: none;
}
#menu li dt a.currentPage:active {
	color: #719bef;
	font-size:13px;
	font-weight: bold;
	text-decoration: none;
}

#menu li dt span.currentPage {
	color: #47e767;
	font-size:13px;
	font-weight: bold;
	text-decoration: none;
}

#menu li dt a.low:link		{color: #c72121; font-family: verdana, helvetica; font-size:13px; font-weight: bold; text-decoration: none;}
#menu li dt a.low:visited	{color: #c72121; font-family: verdana, helvetica; font-size:13px; font-weight: bold; text-decoration: none;}
#menu li dt a.low:hover		{color: #ff0000; font-family: verdana, helvetica; font-size:13px; font-weight: bold; text-decoration: none;}
#menu li dt a.low:active	{color: #ff0000; font-family: verdana, helvetica; font-size:13px; font-weight: bold; text-decoration: none;}

#menu li dd a:link		{color: #c7c7c7; font-size:11px; font-weight: normal; text-decoration: none;}
#menu li dd a:visited	{color: #c7c7c7; font-size:11px; font-weight: normal; text-decoration: none;}
#menu li dd a:hover		{color: #719bef; font-size:11px; font-weight: normal; text-decoration: none;}
#menu li dd a:active	{color: #719bef; font-size:11px; font-weight: normal; text-decoration: none;}

#menu li dd a.low:link		{color: #c72121; font-family: verdana, helvetica; font-size:11px; font-weight: bold; text-decoration: none; margin-bottom:2px}
#menu li dd a.low:visited	{color: #c72121; font-family: verdana, helvetica; font-size:11px; font-weight: bold; text-decoration: none; margin-bottom:2px}
#menu li dd a.low:hover		{color: #ff0000; font-family: verdana, helvetica; font-size:11px; font-weight: bold; text-decoration: none; margin-bottom:2px}
#menu li dd a.low:active	{color: #ff0000; font-family: verdana, helvetica; font-size:11px; font-weight: bold; text-decoration: none; margin-bottom:2px}

#menu #infoicon {
	color: green;
	display: inline-block;
	border: 1px solid green;
	border-radius: 50%;
	width: 14px;
	height: 15px;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}

#menu #infoicon.highlight {
	color: #FEB626;
	border-color: #FEB626;
}

#mailicon { display:none }

#page_currentpage {display:none}
#page_currentpage_dropdown {vertical-align:middle; display:none}

#mainframe { position:absolute; top:30px; margin:0px; padding:0px 0px 0px 0px; width:100%; height:95% }

/* Notizbox */
#noticebox {
	width:300px;
}

#noticebox div {
	text-align:center;
}

#noticebox button, #noticebox textarea {
	width:250px;
}

/* Adminconsole */
#adminconsolebox {
	font-size:10px;
	font-family:monospace;
}

#adminconsolebox .ui-autocomplete{
	box-shadow: none;
}

#adminconsoleframe {
	margin:0;
	padding:0 0 0 0;
}

#adminConsoleResponse {
	overflow:auto;
	position:absolute;
	top:0;
	left:5px;
	right:5px;
	bottom:35px;
	background-color:black;
	padding:4px;
	font-size:11px;
	border: 1px solid #A7A7A7;
}

#adminConsoleResponse .failure {
	color:red;
}

#adminConsoleResponse .success {
	color:green;
}

#adminconsolebox .input {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:30px;
	text-align:center;
}

#adminconsolebox .input input[type=text]  {
	width:70%;
}

#adminconsolebox .input button {
	width:25%;
}

/* Hilfebox */
#helpbox {
	width:550px;
}

#helpbox {
	text-align:center;
}
#helpboxtext {
	height: 400px;
	overflow:auto;
	text-align:left;
	padding-right:3px;
}

/* Suchen */
#searchbox .content {
	text-align:center;
}

#searchbox .datatable {
	width:100%;
	margin:0px auto 0px auto;
}

#searchbox .datatable tbody td {
	padding-bottom:2px;
}

#searchbox .datatable tbody td:first-child {
	width:35px;
}

#searchbox .datatable img {
	width:25px;
}

/* Info */
#infobox table {
	margin-bottom:10px;
	margin-top: 5px;
}
#infobox #commits td {
	vertical-align: top;
	font-size:11px;
}
#infobox #commits td:nth-child(4) {
	white-space: nowrap;
}

#infobox #commits .bug {
	background-color: rgba(255,0,0,0.2);
}

#infobox #commits .bug .symbol {
	color:red;
}

#infobox #commits .feature {
	background-color: rgba(0,255,0,0.1);
}

#infobox #commits .feature .symbol {
	color:green;
}