input.goto-link{
    border:none;
    background:transparent;
    color:#0060f0;
    font-weight:normal;
    text-decoration:none;
}

.goto-link:hover{
    color: #f0a000;
}

.fg.battle{
    background-color: rgba(255, 0, 0, 0.25);
}
.clickable:hover{
    cursor:pointer;
}

.dashed-list {
    display: block;
    border: dashed #c7c7c7;
    border-width: 0 0 0 1px;
}

.signum
{
    padding-right:5px;
}

.scanrange {
    background-color: white;
    transform: translate(-50%, -50%);
}
