<div id="npc">
	<ng-include src="'data/cltemplates/npc/_header.html'"></ng-include>
	<div id="npclp" class="content">
		<div class="gfxbox userInput">
			<form ng-submit="changeUser()">
				LP von Spieler bearbeiten:
				<input type="text" name="edituser" ng-model="editUserId" ds-autocomplete="users"/>
				<input type="submit" value="bearbeiten" />
			</form>
		</div>
		<div ng-show="edituser">
			<div class="gfxbox lpbox">
				<div class="user">
					<a class="profile" href="./ds?module=userprofile&action=default&user={{edituser.id}}">
						<span ng-bind-html-unsafe="edituser.name"></span>
					</a>
				</div>
				<div>
					Rang bei Ihnen: {{rang}}
				</div>
				<div class="lpcount">
					Loyalitätspunkte bei Ihnen: {{lpBeiNpc}}
				</div>
				<form ng-submit="lpAendern()">
					<table width="100%" class="datatable">
						<thead>
							<tr>
								<th>Zeitpunkt</th>
								<th>durch</th>
								<th>für</th>
								<th>Anmerkungen</th>
								<th>Punkte</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="lp in lpListe">
								<td>{{lp.zeitpunkt.time | date:'medium'}}</td>
								<td>
									<a href="./ds?module=userprofile&action=default;&user={{lp.verliehenDurch.id}}">
										<span ng-bind-html-unsafe="lp.verliehenDurch.name"></span>
									</a>
								</td>
								<td>{{lp.grund}}</td>
								<td><textarea readonly="readonly" ng-model="lp.anmerkungen"></textarea></td>
								<td>{{lp.anzahlPunkte}}</td>
								<td>
									<a style="color:red" ng-click="lpLoeschen(lp)">
										x
									</a>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td></td>
								<td></td>
								<td><input ng-model="lpNeu.grund" type="text" maxlength="255" size="30" /></td>
								<td><textarea ng-model="lpNeu.anmerkungen" name="anmerkungen"></textarea></td>
								<td>
									<input ng-model="lpNeu.punkte" type="text" size="4" name="punkte" value="0" />
								</td>
								<td>
									<input type="submit" name="add" value="+" />
								</td>
							</tr>
						</tfoot>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>