<!DOCTYPE html>
<html xml:lang="de" lang="de">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9">

  <title>Drifting Souls 2</title>

  <link rel="stylesheet" type="text/css" href="./data/css/format.css"/>
  <link rel="stylesheet" type="text/css" href="./data/css/ui-darkness/00_jquery-ui-1.8.20.css"/>
  <link rel="stylesheet" type="text/css" href="./data/css/ui-darkness/10_jquery-ui.css"/>
</head>

<body>
  <script src="./data/javascript/ds.js" type="text/javascript"></script>
  <div id="error-placeholder"></div>


  <span class="smallfont" th:if="${not inhalt.text.isEmpty()}" th:text="${inhalt.text}"><br /><br /></span>

  <div id="choffBox" class="gfxbox">
    <form action="./choff" method="post">
      <table class="datatable">
        <thead>
        <tr>
          <th colspan="2">Name</th>
          <th>Technik</th>
          <th>Waffen</th>
          <th>Navigation</th>
          <th>Sicherheit</th>
          <th>Kommandoeffizienz</th>
          <th>Spezial</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <img th:src="${inhalt.off.getPicture()}" alt="" />
          </td>
          <td>
            <input name="name" type="text" size="15" th:value="${inhalt.off.getName()}" />
          </td>
          <td th:text="${inhalt.off.getING()}">Ability.ING</td>
          <td th:text="${inhalt.off.getWAF()}">Ability.WAF</td>
          <td th:text="${inhalt.off.getNAV()}">Ability.NAV</td>
          <td th:text="${inhalt.off.getSEC()}">Ability.SEC</td>
          <td th:text="${inhalt.off.getCOM()}">Ability.COM</td>
          <td th:text="${inhalt.off.getSpecial().getName()}">Special</td>
          <td><input type="submit" value="&Auml;ndern"></td>
        </tr>
        </tbody>
      </table>
      <input type="hidden" name="action" value="rename">
      <input type="hidden" name="module" value="choff">
      <input type="hidden" name="off" value="-1" th:value="${inhalt.off.getID()}">
    </form>
  </div>
  <br />

  <a class="back" th:if="${inhalt.baseid > 0}" th:href="@{'ds'(module='base',action='default',col=${inhalt.baseid})}" >zur&uuml;ck zur Basis</a>
  <a class="back" th:if="${inhalt.shipid > 0}" th:href="@{'ds'(module='schiff',action='default',ship=${inhalt.shipid})}" >zur&uuml;ck zum Schiff</a>
  <script type="text/javascript">
    if (parent && parent.setCurrentPage) {
      parent.setCurrentPage('choff','Offizier');
      parent.completePage();
    }
  </script>
</body>
</html>