<!DOCTYPE html>
<html xml:lang="de" lang="de">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9">

  <title>Drifting Souls 2</title>

  <link rel="stylesheet" type="text/css" href="./data/css/format.css"/>
  <link rel="stylesheet" type="text/css" href="./data/css/ui-darkness/00_jquery-ui-1.8.20.css"/>
  <link rel="stylesheet" type="text/css" href="./data/css/ui-darkness/10_jquery-ui.css"/>
</head>

<body>
  <div th:if="${error}" id="error-placeholder">
    <div id="error-box" align="center">
      <div class="gfxbox" style="width:470px">
        <div style="text-align:center; font-size:14px; font-weight:bold">Es sind Fehler aufgetreten:</div>
        <ul>
          <li><a class="error" style="font-size:14px; font-weight:normal" href="./ds?module=ueber&amp;action=default" th:utext="${error.text}">Der Zugang zu dieser Seite ist gesperrt!</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div th:if="${out}">
    <span class="smallfont" th:if="${not out.isEmpty()}" th:text="${out}"><br /><br /></span>
  </div>

  <div th:if="${starsystems}" id="gamemasterbox" class="gfxbox">
    <form action="./gamemaster" method="post">
      <input type="hidden" name="action" value="tick">
      <input type="hidden" name="module" value="gamemaster">
      <ul class="systems" >
        <li th:each="system: ${starsystems}">
          <input type="checkbox"
              th:field="System_${system.id}"
              th:value="${system.id}"
              th:name="systemcheckbox" />
          <label
              th:for="System_${system.id}"
              th:text="${system.name}"></label>
        </li>
      </ul>

      <input type="submit" value="Kampagnentick f&uuml;r ausgew&auml;hlte Systeme">
    </form>
  </div>
  <script type="text/javascript">
    if (parent && parent.setCurrentPage) {
      parent.setCurrentPage('gamemaster','GameMaster');
      parent.completePage();
    }
  </script>
</body>
</html>