<!DOCTYPE html>
<html xml:lang="de" lang="de">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9">

  <title>Drifting Souls 2</title>

  <link rel="stylesheet" type="text/css" href="./data/css/format.css"/>
  <link rel="stylesheet" type="text/css" href="./data/css/ui-darkness/00_jquery-ui-1.8.20.css"/>
  <link rel="stylesheet" type="text/css" href="./data/css/ui-darkness/10_jquery-ui.css"/>
</head>

<body>
  <div th:if="${error}" id="error-placeholder">
    <div id="error-box" align="center">
      <div class="gfxbox" style="width:470px">
        <div style="text-align:center; font-size:14px; font-weight:bold">Es sind Fehler aufgetreten:</div>
        <ul>
          <li><a class="error" style="font-size:14px; font-weight:normal" th:href="${error.link}" href="./ds?module=ueber&amp;action=default" th:utext="${error.text}">Der Zugang zu dieser Seite ist gesperrt!</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="admin">
    <div class="gfxbox treemenu">
      <ul style="display: block;">
        <li><img src="data/interface/admin/editor.png"><a class="forschinfo " href="#" onclick="toggleBoxes(this)" data-box="startbox" >Kampagne starten</a></li>
        <li><img src="data/interface/admin/editor.png"><a class="forschinfo " href="#" onclick="toggleBoxes(this)" data-box="tickbox" >Kampagnentick</a></li>
        <li><img src="data/interface/admin/editor.png"><a class="forschinfo " href="#" onclick="toggleBoxes(this)" data-box="endbox" >Kampagne beenden</a></li>
      </ul>
    </div>
    <div id="adminplugin">

      <div id="out" th:style="${out == null ? 'display:none' : 'display:block'}" >
        <span class="smallfont" th:if="${out && not out.isEmpty()}" th:text="${out}"><br /><br /></span>
      </div>

      <div id="tickbox" class="gfxbox gmbox" style="display: none;">
        <form action="./gamemaster" method="post">
          <div>Systeme f&uuml;r Kampagnentick ausw&auml;hlen:</div>
          <input type="hidden" name="action" value="tick">
          <input type="hidden" name="module" value="gamemaster">
          <ul class="systems" >
            <li th:each="system: ${starsystems}">
              <input type="checkbox"
                  th:field="'System_'+${system.id}"
                  th:value="${system.id}"
                  th:name="systemcheckbox" />
              <label
                  th:for="'System_'+${system.id}"
                  th:text="${system.name}"></label>
            </li>
          </ul>
          <input type="submit" value="Kampagnentick ausf&uuml;hren">
        </form>
      </div>

      <div id="startbox" class="gfxbox gmbox" style="display: none;">
        <form action="./gamemaster" method="post">
          <div>Teilnehmende Spieler ausw&auml;hlen:</div>
          <ul class="users" >
            <li th:each="user: ${users}">
              <input type="checkbox"
                  th:field="'User_'+${user.getId()}"
                  th:value="${user.getId()}"
                  th:name="usercheckbox" />
              <label
                  th:for="'User_'+${user.getId()}"
                  th:text="${user.getId()} + ' ' + ${user.getName()}"></label>
            </li>
          </ul>
          <input type="hidden" name="action" value="start">
          <input type="hidden" name="module" value="gamemaster">
          <input type="submit" value="Kampagne starten">
        </form>
      </div>

      <div id="endbox" class="gfxbox gmbox" style="display: none;">
        <form action="./gamemaster" method="post">
          <input type="hidden" name="action" value="end">
          <input type="hidden" name="module" value="gamemaster">
          <input type="submit" value="Kampagne beenden">
        </form>
      </div>

    </div>
  </div>



  <script type="text/javascript">
    if (parent && parent.setCurrentPage) {
      parent.setCurrentPage('gamemaster','GameMaster');
      parent.completePage();
    }

    function toggleBoxes(ele){
      //alle Boxen ausblenden
      let gmboxes = document.getElementsByClassName("gmbox");
      for(var i = 0; i < gmboxes.length;i++){
        gmboxes[i].style.display = "none";
      }
      //output-Box ausblenden
      document.getElementById("out").style.display = "none";
      //ausgewaehlte Box anzeigen
      document.getElementById(ele.dataset.box).style.display = "block";
    }
  </script>
</body>
</html>