<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" href="./data/css/format.css"/>
        <link rel="stylesheet" type="text/css" href="./data/css/ui-darkness/00_jquery-ui-1.8.20.css"/>
        <link rel="stylesheet" type="text/css" href="./data/css/ui-darkness/10_jquery-ui.css"/>

        <script>
            window.top.location.href = './portal';
        </script>

        <title>Logout erfolgreich -- Drifting-Souls 2</title>
    </head>
    <body>
        <p>Abmeldung erfolgreich. Zur&uuml;ck zum <a href="./portal" target="_top">Portal</a></p>
    </body>
</html>