<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">

    <title>Drifting Souls 2</title>

    <link rel="stylesheet" type="text/css" href="./data/css/format.css"/>
    <link rel="stylesheet" type="text/css" href="./data/css/ui-darkness/00_jquery-ui-1.8.20.css"/>
    <link rel="stylesheet" type="text/css" href="./data/css/ui-darkness/10_jquery-ui.css"/>
    <link type="text/css" rel="stylesheet" href="data/css/ds_2_portal.css"/>

    <script type="text/javascript" src="data/javascript/jquery.js"></script>
    <script type="text/javascript" src="data/javascript/facebox.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('a[rel*=facebox]').facebox()
        })

    </script>
</head>

<body>
<input type='hidden' name='currentDsModule' id='currentDsModule' value=''/>
<div id="error-placeholder"></div>
<audio autoplay loop>
    <source src="data/sounds/welcome.mp3" type="audio/mp3">
</audio>
<div id="header">

    <!-- hier sind die Drifting Souls Bilder der ersten Portalseite-->
    <div class="logo">
        <img src="./data/interface/portal/gcp-logo.png" alt="DS2 LOGO"/>
    </div>
    <div class="ueberschrift">
        <h1><img src="./data/interface/portal/driftingsouls.png" alt="Drifting Souls 2"/></h1>
    </div>
    <div id="navigation">
        <ul class="navi">
            <li><a title="Home" href=".">Home</a></li>
            <li><a title="Portal" href=".">Portal</a>
                <ul class="subnav1">
                    <li><a title="Github Repository" href="https://github.com/sgift/driftingsouls" target="_blank">Github</a>
                    </li>
                </ul>
            </li>
            <li><a>Community</a>
                <ul class="subnav1">
                    <li><a title="Discord" href="https://discord.gg/cpxxAGy" target="_blank">Discord</a></li>
                    <li><a title="Forum" href="http://ds.rnd-it.de/index.php" target="_blank">Forum</a></li>
                    <li><a title="Drifting Souls Wiki" href="http://de.drifting-souls.wikia.com"
                           target="_blank">Wiki</a></li>
                    <li><a title="Facebook-Seite" href="https://www.facebook.com/DriftingSouls2/" target="_blank">FB-Seite</a>
                    </li>
                    <li><a title="Facebook-Gruppe" href="https://www.facebook.com/groups/156787224385374"
                           target="_blank">FB-Gruppe</a></li>
                    <li><a title="Twitter" href="https://twitter.com/driftingsouls2" target="_blank">Twitter</a></li>
                </ul>
            </li>
            <li><a title="zu den AGB" href="./agb">AGB</a></li>
            <li><a title="zum Impressum" href="./impressum">Impressum</a></li>
        </ul>
    </div>
</div>

<div>
    <p class="schiff"><img src="./data/interface/portal/FINAL4-1.png" alt="Ein Traeger"/></p>
</div>
<!-- Bis hier der Headerbereich -->
<div id="content">
    <div class="linke-spalte">
        <p id="document">
            Ein neues Passwort wurde an die mit dem Benutzernamen verbundene Mailadresse geschickt.
            Weiterhin viel Spa&szlig; mit Drifting-Souls.
        </p>
    </div> <!-- Ende Linke Spalte -->

    <div class="rechte-spalte">
        <div id="re-inhalt">
        </div>  <!-- Ende class. re-inhalt (gegenstueck "documents") -->
    </div>    <!-- Ende class. Rechte Spalte -->

</div> <!-- Ende ID Container -->

<!-- hier wird von wo anders der Schluss eingef&uuml;gt -->
<script type="text/javascript">
    if (parent && parent.setCurrentPage) {
        parent.setCurrentPage('', 'null');
        parent.completePage();
    }
</script>
</body>
</html>