<div class="gfxbox" style="width:95%">
	<table class="datatable" width="100%">
	<thead>
		<tr>
			<th colspan="2">Name</th>
			<th>Baukosten</th>
			<th>Verbrauch</th>
			<th>Produktion</th>
			<th>Arbeiter</th>
			<th>Effekt</th>
		</tr>
	</thead>
	<tbody>
	<!-- BEGIN buildings.listitem -->
		{if buildings.list}
			<tr>
				<td colspan="8">
					<hr style="height:1px; border:0px; background-color:#606060; color:#606060" />
				</td>
			</tr>
		{/endif}
		<tr>
			<td><img src="{building.picture}" alt="" /></td>
			<td>{building.name}</td>
			<td valign="top">
				{if building.buildcosts.list}
					<!-- BEGIN building.buildcosts.listitem -->
						<img style="vertical-align:middle" src="{res.image}" alt="" title="{res.plainname}" />{res.cargo}
					<!-- END building.buildcosts.listitem -->
				{else}
					-
				{/endif}
			</td>
			<td valign="top">
				{if building.consumes.list}
					<!-- BEGIN building.consumes.listitem -->
						<img style="vertical-align:middle" src="{res.image}" alt="" title="{res.plainname}" />{res.cargo}
					<!-- END building.consumes.listitem -->
				{else}
					-
				{/endif}
			</td>
			<td valign="top">
				{if building.produces.list}
					<!-- BEGIN building.produces.listitem -->
						<img style="vertical-align:middle" src="{res.image}" alt="" title="{res.plainname}" />{res.cargo}
					<!-- END building.produces.listitem -->
				{else}
					-
				{/endif}
			</td>
			<td valign="top">
				{if building.arbeiter}
					<img src="data/interface/narbeiter.gif" alt="Arbeiter" />{building.arbeiter}
				{else}
					-
				{/endif}
			</td>
			<td valign="top">
				{if building.bewohner}
					<img src="data/interface/arbeiter.gif" alt="Bev&ouml;lkerung" />{building.bewohner}
				{else}
					-
				{/endif}
			</td>
		</tr>
		{if building.addinfo}
			<tr>	
				<td>&nbsp;</td>
				<td colspan="7">{building.addinfo}</td>
			</tr>
		{/endif}
	<!-- END buildings.listitem -->
	</tbody>
	</table>
</div>
<br />
{if cores.list}
	<br />
	<div class="gfxbox" style="width:95%">
		<span style="color:#cdcdcd">Cores:</span><br />
		<table class="datatable" width="100%">
		<thead>
			<tr>
				<th>Name</th>
				<th colspan="2">Passt in</th>
				<th>Baukosten</th>
				<th>Verbrauch</th>
				<th>Produktion</th>
				<th>Arbeiter</th>
				<th>Effekt</th>
			</tr>
		</thead>
		<tbody>
		<!-- BEGIN cores.listitem -->
			<tr>
				<td>{core.name}</td>
				<td>
					<img src="{core.astitype.lrsimage}" alt="" />
				</td>
				<td>{core.basetype.name}</td>
				<td valign="top">
					{if core.buildcosts.list}
						<!-- BEGIN core.buildcosts.listitem -->
							<img style="vertical-align:middle" src="{res.image}" alt="" title="{res.plainname}" />{res.cargo}
						<!-- END core.buildcosts.listitem -->
					{else}
						-
					{/endif}
				</td>
				<td valign="top">
					{if core.consumes.list}
						<!-- BEGIN core.consumes.listitem -->
							<img style="vertical-align:middle" src="{res.image}" alt="" title="{res.plainname}" />{res.cargo}
						<!-- END core.consumes.listitem -->
					{else}
						-
					{/endif}
				</td>
				<td valign="top">
					{if core.produces.list}
						<!-- BEGIN core.produces.listitem -->
							<img style="vertical-align:middle" src="{res.image}" alt="" title="{res.plainname}" />{res.cargo}
						<!-- END core.produces.listitem -->
					{else}
						-
					{/endif}
				</td>
				<td valign="top">
					{if core.arbeiter}
						<img src="data/interface/narbeiter.gif" alt="Arbeiter" />{core.arbeiter}
					{else}
						-
					{/endif}
				</td>
				<td valign="top">
					{if core.bewohner}
						<img src="data/interface/arbeiter.gif" alt="Bev&ouml;lkerung" />{core.bewohner}
					{else}
						-
					{/endif}
				</td>
			</tr>
		<!-- END cores.listitem -->
		</tbody>
		</table>
	</div>
{/endif}
<div class="smallfont">
	<br />
	{if base.field}
		{!link_to zur&uuml;ck, default, css_class:back, module:build, col:$base.id, field:$base.field}
	{else}
		{if base.id}
			{!link_to zur&uuml;ck, default, module:base, css_class:back, col:$base.id}
		{/endif}
	{/endif}
</div>