<div class="smallfont">
{if academy.message}
	{academy.message}
	<br />
{/endif}
{if academy.show.trainnewoffi}
	{!table_begin 500,left}
		{if trainnewoffi.error}
			<span class="error">{trainnewoffi.error}</span><br />
		{/endif}
		{if trainnewoffi.train}
			Training beginnt<br />
		{/endif}
	{!table_end}
	<br />
{/endif}
{if academy.show.trainoffi}
	{!table_begin 500,left}
		Trainiere {offizier.name}:<br />
		verbessere {offizier.train.ability}
		 - Kosten: <img src="{URL}data/interface/time.gif" alt="Dauer" />{offizier.train.dauer}
		<img src="{resource.silizium.image}" alt="" />{offizier.train.silizium} <img src="{resource.nahrung.image}" alt="" />{offizier.train.nahrung}<br />
		 
		{if trainoffi.error}
			<span class="error">{trainoffi.error}</span><br />
		{/endif}
		{if trainoffi.conf}
			<br />
			<div style="text-align:center">
				<a class="back" href="./main.php?module=building&amp;sess={global.sess}&amp;col={base.id}&amp;field={base.field}&amp;train={trainoffi.trainid}&amp;off={trainoffi.id}&amp;conf=ok">Training durchf&uuml;hren</a>
			</div>
		{/endif}
		{if trainoffi.train}
			<br />Training beginnt<br />
		{/endif}
	{!table_end}
	 <br />
{/endif}
{if academy.show.training}
	 {!table_begin 400,left}
	 	<span style="font-weight:bold">Bildet aus:</span>
	 	{if trainoffizier.id}
	 		<img style="vertical-align:middle" src="trainoffizier" alt="" />
	 		<a class="academy" href="./main.php?module=choff&amp;sess={global.sess}&amp;off={trainoffizier.id}">{trainoffizier.name}</a><br />
	 	{else}
		 	{trainoffizier.name}<br />
		{/endif}
		<span style="font-weight:bold">Dauer:</span> noch <img align="middle" src="{URL}data/interface/time.gif" alt="" />{training.remain} Runden<br />
	 {!table_end}
	 <br />
{/endif}
{if academy.show.trainnew}
	{!table_begin 550,left}
		
	<h3>Neuen Offizier ausbilden</h3>
	Kosten: <img src="{URL}data/interface/time.gif" alt="" />8 <img src="{resource.silizium.image}" alt="" />25 <img src="{resource.nahrung.image}" alt="" />35<br /><br />
	<table class="noBorderX" border="1">
	<tr>
		<td class="noBorderX">Name</td>
		<td class="noBorderX">Technik</td>
		<td class="noBorderX">Waffen</td>
		<td class="noBorderX">Navigation</td>
		<td class="noBorderX">Sicherheit</td>
		<td class="noBorderX">Kommandoeffizienz</td>
	</tr>
	<!-- BEGIN academy.trainnew.listitem -->
		<tr>
			<td class="noBorderX"><a class="academy" href="./main.php?module=building&amp;sess={global.sess}&amp;col={base.id}&amp;field={base.field}&amp;newo={offizier.id}">{offizier.name}</a></td>
			<td class="noBorderX" style="text-align:center">{offizier.ing}</td>
			<td class="noBorderX" style="text-align:center">{offizier.waf}</td>
			<td class="noBorderX" style="text-align:center">{offizier.nav}</td>
			<td class="noBorderX" style="text-align:center">{offizier.sec}</td>
			<td class="noBorderX" style="text-align:center">{offizier.com}</td>
		</tr>
	<!-- END academy.trainnew.listitem -->
	</table>
	<br />
	
	{!table_end}
	<br />
{/endif}
{if academy.show.offilist}
	{if academy.offilist.list}
		{!table_begin 550,left}
		<h3>Anwesende Offiziere</h3>
		<table class="noBorderX" border="1">
		<tr>
			<td class="noBorderX">Name</td>
			<td class="noBorderX">Technik</td>
			<td class="noBorderX">Waffen</td>
			<td class="noBorderX">Navigation</td>
			<td class="noBorderX">Sicherheit</td>
			<td class="noBorderX">Kommandoeffizienz</td>
			<td class="noBorderX">Spezial</td>
		</tr>
		<!-- BEGIN academy.offilist.listitem -->
			<tr>
			<td class="noBorderX" style="white-space:nowrap">
			<img style="vertical-align:middle" src="{offizier.picture}" alt="" />
			<a class="academy" href="./main.php?module=choff&amp;sess={global.sess}&amp;off={offizier.id}">{offizier.name}</a>
			</td>
			
			<td class="noBorderX" align="center">
			{if offilist.allowactions}
				<a class="academy" href="./main.php?module=building&amp;sess={global.sess}&amp;col={base.id}&amp;field={base.field}&amp;train=1&amp;off={offizier.id}">{offizier.ing}</a>
			{else}
				{offizier.ing}
			{/endif}
			</td>
			
			<td class="noBorderX" align="center">
			{if offilist.allowactions}
				<a class="academy" href="./main.php?module=building&amp;sess={global.sess}&amp;col={base.id}&amp;field={base.field}&amp;train=2&amp;off={offizier.id}">{offizier.waf}</a>
			{else}
				{offizier.waf}
			{/endif}
			</td>
			
			<td class="noBorderX" align="center">
			{if offilist.allowactions}
				<a class="academy" href="./main.php?module=building&amp;sess={global.sess}&amp;col={base.id}&amp;field={base.field}&amp;train=3&amp;off={offizier.id}">{offizier.nav}</a>
			{else}
				{offizier.nav}
			{/endif}
			</td>
			
			<td class="noBorderX" align="center">
			{if offilist.allowactions}
				<a class="academy" href="./main.php?module=building&amp;sess={global.sess}&amp;col={base.id}&amp;field={base.field}&amp;train=4&amp;off={offizier.id}">{offizier.sec}</a>
			{else}
				{offizier.sec}
			{/endif}
			</td>
			
			<td class="noBorderX" align="center">
			{if offilist.allowactions}
				<a class="academy" href="./main.php?module=building&amp;sess={global.sess}&amp;col={base.id}&amp;field={base.field}&amp;train=5&amp;off={offizier.id}">{offizier.com}</a>
			{else}
				{offizier.com}
			{/endif}
			</td>
			
			<td class="noBorderX">{offizier.special}</td>
			</tr>
		<!-- END academy.offilist.listitem -->
		</table><br />
		{!table_end}
		<br />
	{/endif}
{/endif}
<br />
</div>