{if choff.message}
	<span class="smallfont">
		{choff.message}<br /><br />
	</span>
{/endif}

<div class="gfxbox" style="width:460px;text-align:center">
	<form action="./ds" method="post">
	<table class="noBorderX">
	<tr>
		<td class="noBorderX" colspan="2">Name</td>
		<td class="noBorderX">Technik</td>
		<td class="noBorderX">Waffen</td>
		<td class="noBorderX">Navigation</td>
		<td class="noBorderX">Sicherheit</td>
		<td class="noBorderX">Kommandoeffizienz</td>
		<td class="noBorderX">Spezial</td>
		<td class="noBorderX"></td>
	</tr>
	<tr>
		<td class="noBorderX">
			<img src="{offizier.picture}" alt="" />
		</td>
		<td class="noBorderX">
			<input name="name" type="text" size="15" value="{offizier.name}" />
		</td>
		<td class="noBorderX">{offizier.ability.ing}</td>
		<td class="noBorderX">{offizier.ability.waf}</td>
		<td class="noBorderX">{offizier.ability.nav}</td>
		<td class="noBorderX">{offizier.ability.sec}</td>
		<td class="noBorderX">{offizier.ability.com}</td>
		<td class="noBorderX">{offizier.special}</td>
		<td class="noBorderX"><input type="submit" value="&auml;ndern"></td>
	</tr>
	</table>
	{!form_create_hidden rename, off:$offizier.id}
	</form>
</div>
<br />

{if base.id}
	{!link_to zur&uuml;ck zur Basis, default, module:base, css_class:back, col:$base.id}
{else}
	{!link_to zur&uuml;ck zum Schiff, default, css_class:back, module:schiff, ship:$ship.id}
{/endif}