{if colonize.message}
	{colonize.message}
{else}
	<div class="gfxbox" style="width:540px">
		Leite Kolonisierung ein<br /><br />
		Waren verf&uuml;gbar:<br />
		<!-- BEGIN res.listitem -->
			<img src="{res.image}" alt="" />{res.name} {res.cargo}<br />
		<!-- END res.listitem -->
		<br />Kolonisierung abgeschlossen<br />
	</div>
{/endif}
<br />
<br />
{if base.id}
	{!link_to Zur Kolonie, default, module:base, css_class:back, col:$base.id}
	|
	{!link_to zur Kolonie&uuml;bersicht, default, css_class:back, module:basen}
{else}
	{!link_to zur&uuml;ck, default, css_class:back, module:schiff, ship:$ship.id}
{/endif}
