<script type="text/javascript">
<!--
//<![CDATA[
	function insertTickTime(){
		document.getElementById('msg').value = document.getElementById('msg').value + "{system.time}";
		document.getElementById('msg').focus();
	}
//]]>
// -->
</script>
<table class="show" cellspacing="2" cellpadding="2">
<tr>
	<td class="noBorderS">Kommunikation</td>
	<td class="noBorder">&nbsp;</td>
	<td class="noBorder">
		<div class="gfxbox" style="width:590px;text-align:center">
			{!link_to Nachricht schreiben, default}
			&nbsp;&nbsp;|&nbsp;&nbsp;
			{!link_to Posteingang, showInbox}
			&nbsp;&nbsp;|&nbsp;&nbsp;
			{!link_to Postausgang, showOutbox}
		</div>
	</td>
</tr>
</table>
<div><br /></div>
{if show.message}
	<div class="smallfont">
		{show.message}
		<br />
		<br />
	</div>
{/endif}
{if show.preview}
	<div class="gfxbox" style="width:750px">
		<div style="position:relative; width:635px; height:240px; margin: 0px; position: relative; top: 0px; left: 0px; overflow:auto">
			{if pm.bgimage}
				<div style="position:absolute; top:0px; left:0px; margin:0px; padding:0px; width:570px; overflow:hidden; background-image: url('data/interface/pms/{pm.bgimage}');'">
					 <img src="data/interface/pms/{pm.bgimage}" width="570" alt="" />
				</div>
			{/endif}
			<div style="width:570px; position:absolute; z-index:0; top:0px; left:0px; top:0px; left:0px; margin:0px; padding:0px;">
				<div style="text-align:center; width:570px">
					<table class="show2" style="width:500px; margin-left:auto; margin-right:auto">
					{if pm.title}
						<tr>
							<td {if pm.highlight}style="color:orange"{/endif} class="BorderX" align="center">
								{pm.title}
							</td>
						</tr>
					{/endif}
					<tr>
						<td class="BorderX">
							Von: {!link_to $pm.sender.name, default, css_class:profile, link_target:main, module:userprofile, user:$pm.sender}
							Datum: {pm.time}<br />
						</td>
					</tr>
					</table>
					<br />
					</div>
					{pm.text}
				</div>
			</div>
		</div>
	</div>
	<br>
{/endif}
{if show.write}
	<div class="gfxbox" style="width:750px">
		<form action="./ds" method="post">
		<table class="noBorderX" cellspacing="2" cellpadding="4">
		<tr>
			<td class="noBorderX">An</td>
			<td class="noBorderX">
				<ul style="list-style:none;margin:0px;padding:0px;">
					<li>
						{if user.ally}<input type="radio" style="padding-right:5px" id="sendeziel_user" name="sendeziel" value="user" {if !sendeziel.ally}checked="checked"{/endif} />{/endif}
						<input id="pm_to" name="to" type="text" size="50" value="{write.to}" onfocus="$('#sendeziel_user').click()" /> (<a class="forschinfo" href="javascript:PlayerList()">Liste</a>)
					</li>
					{if user.ally}
					<li>
						<input type="radio" name="sendeziel" style="padding-right:5px" value="ally" {if sendeziel.ally}checked="checked"{/endif} />
						Gesamte Allianz
					</li>
					{/endif}
				</ul>
			</td>
		</tr>
		<tr>
			<td class="noBorderX">Betreff</td>
			<td class="noBorderX"><input name="title" type="text" style="width:500px" maxlength="100" value="{write.title}" /></td>
		</tr>
		{if write.specialui.list}
			<tr>
				<td class="noBorderX">Spezial</td>
				<td class="noBorderX">
					<select name="special" size="1">
					<!-- BEGIN write.specialui.listitem -->
						<option value="{specialui.value}" {if specialui.selected}selected="selected"{/endif}>{specialui.name}</option>
					<!-- END write.specialui.listitem -->
					</select>
				</td>
			</tr>
		{/endif}
		<tr>
			<td class="noBorderX" valign="top">Nachricht<br /><br />
				<input type="button" value="RL Zeit" onclick="insertRealTime()" style="width:80px" /><br /><br />
				<input type="button" value="Tick Zeit" onclick="insertTickTime()" style="width:80px"/><br /><br />
				<!-- <input type="button" value="Signatur" onclick="insertSignature()" style="width:80px" />
				<textarea id="signature" style="display:none;">{user.signature}</textarea> --></td>
			<td class="noBorderX"><textarea id="msg" name="msg" cols="65" rows="18" style="width:500px">{write.message}</textarea></td>
		</tr>
		<tr>
			<td class="noBorderX">
			</td>
		</tr>
		<tr>
			<td class="noBorderX" valign="top">&nbsp;</td>
			<td align="center" class="noBorderX">
				{!form_create_hidden send}
				<input type="submit" name="Vorschau" value="Vorschau" style="width:200px" onclick="this.form.action.value = 'preview'" />
				<input type="submit" name="Senden" value="Nachricht senden" style="width:200px" onclick="this.form.action.value = 'send'" /><br />
			</td>
		</tr>
		</table>
		</form>
		<hr noshade="noshade" size="1" style="color:#cccccc" />
		<span style="font-weight:bold">Hinweis:</span><br />
		Es k&ouml;nnen in der Nachricht die <a class="forschinfo" href="javascript:BBCodeInfo()">BBCodes</a> verwendet werden
	</div>
{/endif}
{if show.inbox}
	<script type="text/javascript">
	<!--
		function movePM( pmid, ordnerid ) {
			pmid = pmid.substr("inbox_pm".length);

			movePMID = pmid;
			movePMToID = ordnerid;

			document.getElementById("inbox_waiter").style.display = "block";

			var url = DS.getUrl();
			var params = {
					module:'{global.module}',
					action:'move',
					ordner:'{ordner.parent}',
					moveto:ordnerid
			};
			params['pm_'+pmid] = pmid;

			jQuery.get( url, params, finishMovePM );
		}

		var draggablePms = new Array();
	// -->
	</script>

	<form action="./ds" method="post">
	<div class="gfxbox" style="width:750px">
		<div style="position:relative; width:100%; height:240px">
			<!--  Waiter Div -->
			<div style="position:absolute; top:0px; left:0px; height:240px; width:100%; z-index:2; display:none" id="inbox_waiter">
				<div style="position:absolute; top:0px; left:0px; height:240px; width:100%; text-align:center; vertical-align:middle; background-color:black; opacity:.6"></div>
				<div style="position:absolute; top:0px; left:0px; height:240px; width:100%; text-align:center; vertical-align:middle; background-color:transparent">
					<div style=" margin-top:100px; opacity:.9; font-size:200%">Bitte warten</div>
				</div>
			</div>
			<!-- Inhalt -->
			<div style="position:absolute; top:0px; left:0px; width:100%; height:240px; overflow:auto; overflow-x:hidden">
				<table class="noBorderX" width="95%">
				<tr>
					<td class="noBorderX"></td>
					<td class="noBorderX"></td>
					<td class="noBorderX">Titel</td>
					<td class="noBorderX">Von</td>
					<td class="noBorderX">Am</td>
					<td class="noBorderX">Aktionen</td>
				</tr>
				<!-- BEGIN ordner.listitem -->
					<tr id="inbox_ordner{ordner.id}">
						<td class="noBorderX">
							<script type="text/javascript" language="javascript">
								jQuery('#inbox_ordner{ordner.id}').droppable({
									hoverClass:'inboxOrdnerHover',
									accept:'.inbox_pm',
									drop: function(event,ui) {
										movePM(jQuery(ui.draggable).attr('id'), {ordner.id});
									}
								});
							</script>

							{if ! ordner.flags.trash}
								{if ! ordner.flags.up}
									<input type="checkbox" name="ordner_{ordner.id}" value="{ordner.id}" />
								{/endif}
							{/endif}
						</td>
						<td class="noBorderX">
								<img style="border:0px" src="data/interface/pms/{if ! ordner.flags.trash}ordner{/endif}{if ordner.flags.trash}trash{if ordner.pms}-full{/endif}{/endif}.png" />

						</td>
						<td class="noBorderX">
							<a class="profile" href="./ds?module=comm&amp;action=showInbox&amp;ordner={ordner.id}">
								{ordner.name}
							</a>&nbsp;
						</td>
						<td class="noBorderX" {if pm.highlight}style="color:orange"{/endif}>
							<div id="inbox_ordner{ordner.id}_count" style="display:inline">{ordner.pms}</div>&nbsp;mails
						</td>
						<td class="noBorderX" {if pm.highlight}style="color:orange"{/endif}>
							{if ordner.name.real}
								({ordner.name.real})
							{/endif}
						</td>
						<td class="noBorderX">
							<a href="./ds?module=comm&amp;action=showInbox&amp;ordner={ordner.id}" >
								<img style="border:0px" src="data/interface/text.png" alt="&ouml;ffnen" title="&ouml;ffnen" />
							</a>
							{if ordner.flags.trash}
									<a href="javascript:DS.ask('Wollen sie wirklich alle gel&ouml;schten PMs wiederherstellen?',DS.getUrl()+'?module=comm&amp;action=recoverAll&amp;ordner={ordner.parent}')">
									<img style="border:0px" src="data/interface/pms/recover.png" alt="wiederherstellen" title="wiederherstellen" />
								</a>
							{/endif}
							{if ! ordner.flags.trash}
								{if ! ordner.flags.up}
									<a href="javascript:setRenameAction({ordner.id});" >
										<img style="border:0px" src="data/interface/pen.gif" alt="umbenennen" title="umbenennen" />
									</a>
									<a href="javascript:DS.ask('Wollen sie wirklich diesen Ordner samt enthaltener PMs und Unterordner löschen?',DS.getUrl()+'?module=comm&amp;action=delete&amp;ordner={ordner.parent}&amp;delord={ordner.id}')">
										<img style="border:0px" src="data/interface/delete.gif" alt="umbenennen" title="L&ouml;schen" /></a>
								{/endif}
							{/endif}
						</td>
					</tr>
				<!-- END ordner.listitem -->
				<!-- BEGIN pms.listitem -->
					<tr id="inbox_pm{pm.id}_row">
						<td class="noBorderX">
							{if ! pm.trash}
								<input type="checkbox" name="pm_{pm.id}" value="{pm.id}" />
							{/endif}
						</td>
						<td class="noBorderX">
							{if pm.new}<span id="pm{pm.id}" style="color:yellow; font-size:10px">NEU</span>{/endif}
							{if pm.kommentar}<span style="color:yellow; font-size:10px">[K]</span>{/endif}
						</td>
						<td class="noBorderX">
							<div id="inbox_pm{pm.id}" style=";width:100%" class="inbox_pm">
								<a class="profile" {if pm.highlight}style="color:orange"{/endif} href="javascript:showpm({pm.id});">
									{pm.title}
								</a>&nbsp;
							</div>
							<script type="text/javascript" language="javascript">
								draggablePms.push('{pm.id}');
							</script>
						</td>
						<td class="noBorderX" {if pm.highlight}style="color:orange"{/endif}>
							{!link_to $pm.sender.name, default, css_class:profile, module:userprofile, user:$pm.sender.id}&nbsp;
						</td>
						<td class="noBorderX" {if pm.highlight}style="color:orange"{/endif}>
							{pm.time}&nbsp;
						</td>
						<td class="noBorderX">
							<a href="javascript:showpm({pm.id});" ><img style="border:0px" src="data/interface/text.png" alt="lesen" /></a>
							{!image_link_to interface/pen.gif, default, reply:$pm.id}
							{if ! pm.trash}
								{!image_link_to interface/delete.gif, delete, ordner:$ordner.parent, delete:$pm.id}
							{else}
								{!image_link_to interface/pms/recover.png, recover, ordner:$ordner.parent, recover:$pm.id}
							{/endif}
						</td>
					</tr>
				<!-- END pms.listitem -->
				</table>
			</div>
		</div>
		<input id="subject" type="hidden" name="subject" />
			<div style="position:relative; top:0px; left:0px; display:inline">
				Aktionen: <select id="select_action" name="action" size="1" onchange="actionSelectChange(this.options[this.options.selectedIndex].value)">
					<optgroup label="'alle' Aktionen">
						<option value="deleteAll">alle l&ouml;schen</option>
						<option value="readAll">alle als gelesen markieren</option>
						<option value="deletePlayer">alle von Spieler # l&ouml;schen</option>
						<option value="moveAll">alle verschieben</option>
					</optgroup>
					<optgroup label="'ausgew&auml;hlte' Aktionen">
						<option value="readSelected">ausgew&auml;hlte als gelesen markieren</option>
						<option value="deleteSelected">ausgew&auml;hlte l&ouml;schen</option>
						<option value="moveSelected">ausgew&auml;hlte verschieben</option>
					</optgroup>
					<optgroup label="'Ordner' Aktionen">
						<option value="newOrdner">Ordner erstellen</option>
						<option id="rename" disabled="disabled" value="rename">Ordner umbenennen</option>
					</optgroup>
				</select>
				<input id="form_playerid" style="width:50px; display:none" type="text" name="playerid" value="ID" size="5" />
				<div style="margin:0px; padding:0px; border:0px; display:inline">
					<input id="form_ordnername" style="display:none; width:150px" type="text" name="ordnername" value="" size="5" />
				</div>
				<div style="margin:0px; padding:0px; border:0px; display:inline">
					<select name="moveto" id="form_moveto" style="display:none; width:150px">
						<!-- BEGIN availordner.listitem -->
						<option value="{availordner.id}">{availordner.name}</option>
						<!-- END availordner.listitem -->
					</select>
					<input style="display:none; width:0px" type="text" name="ordner" value="{ordner.parent}"/>
				</div>
				{!form_create_hidden -, ordner:$currentordner.id}
				<div style="display:inline; margin:0px; padding:0px; border:0px" id="form_submit">
					<input style="" type="submit" value="ok" />
				</div>
			</div>
		</form>
		<br />
	</div>
	<br />
	<div class="gfxbox" style="width:750px">
		<div id="pmviewer" style="width:100%; height:240px; overflow-y:scroll;position:relative"/>
	</div>

	<script type="text/javascript">
	<!--
		for( var i=0; i < draggablePms.length; i++ ) {
			jQuery('#inbox_pm'+draggablePms[i]).draggable({ revert:true });
		}
		draggablePms = null;
	//-->
	</script>
{/endif}
{if show.outbox}
	<div class="gfxbox" style="width:750px">
		<div style="height:240px; overflow:auto">
			<table class="noBorderX" width="100%">
			<tr>
				<td class="noBorderX">Titel</td>
				<td class="noBorderX">An</td>
				<td class="noBorderX">Am</td>
				<td class="noBorderX">Aktionen&nbsp;</td>
			</tr>
			<!-- BEGIN pms.out.listitem -->
				<tr>
					<td class="noBorderX">
						<a class="profile" {if pm.highlight}style="color:orange"{/endif} href="javascript:showpm({pm.id});">
							{pm.title}
						</a>
						&nbsp;
					</td>
					<td class="noBorderX">
						{!link_to $pm.empfaenger.name, default, css_class:profile, module:userprofile, user:$pm.empfaenger}&nbsp;
					</td>
					<td class="noBorderX" {if pm.highlight}style="color:orange"{/endif}>
						{pm.time}&nbsp;
					</td>
					<td class="noBorderX">
						<a href="javascript:showpm({pm.id});">
							<img style="border:0px" src="data/interface/text.png" alt="lesen" />
						</a>
						{!image_link_to interface/pen.gif, default, reply:$pm.id}
					</td>
				</tr>
			<!-- END pms.out.listitem -->
			</table>
		</div>
		Hinweis: Diese PMs werden mit der Zeit automatisch gel&ouml;scht<br /><br />
	</div>
	<br />
	<div class="gfxbox" style="width:750px">
		<div id="pmviewer" style="width:100%; height:240px; overflow-y:scroll;position:relative"/>
	</div>
{/endif}
{if show.pm}
	<div id="pmcontent">
		{if pm.bgimage}
			<div style="z-index:1; position:absolute; top:0px; left:0px; margin:0px; padding:0px; width:100%; overflow:hidden; background: url('./data/interface/pms/{pm.bgimage}') no-repeat;'">
				 <img src="data/interface/pms/{pm.bgimage}" width="570" alt="" />
			</div>
		{/endif}
		<table class="noBorderX" width="100%">
		<tr>
			<td class="noBorderX">
				{if pm.id}
					<div style="z-index:2; position:absolute; top:0px; left:0px; width:100%">
						<div style="text-align:center; width:100%">
							<table class="show2" style="width:500px; margin-left:auto; margin-right:auto">
							{if pm.title}
								<tr>
									<td {if pm.highlight}style="color:orange"{/endif} class="BorderX" align="center">
										{pm.title}
									</td>
								</tr>
							{/endif}
							<tr>
								<td class="BorderX">
									{if pm.sender}
										Von: {!link_to $pm.sender.name, default, css_class:profile, link_target:main, module:userprofile, user:$pm.sender}
									{else}
										An: {!link_to $pm.empfaenger.name, default, css_class:profile, link_target:main, module:userprofile, user:$pm.empfaenger}
									{/endif}
									 {!image_link_to interface/pen.gif, default, image_css_style:vertical-align:middle, link_target:main, reply:$pm.id}
									{!image_link_to interface/pms/edit-comment.png, editComment, image_css_style:vertical-align:middle, link_target:main, pm:$pm.id, ordner:$ordner.parent}<br />
									Datum: {pm.time}<br />
								</td>
							</tr>
							</table>
							<br />
						</div>
						{pm.text}
						{if pm.kommentar}
						<hr>
						{pm.kommentar}
						{/endif}
					</div>
				{else}
					<div align="center">Keine Nachricht ausgew&auml;hlt</div>
				{/endif}
			</td>
		</tr>
		</table>
	</div>
{/endif}
{if show.comment}
	<div class="gfxbox" style="width:750px">
		<form action="./ds" method="post">
		<table class="noBorderX" cellspacing="2" cellpadding="4">
		<tr>
			<td class="noBorderX" valign="top">Von:</td>
			<td class="noBorderX">{pm.sender.name}</td>
		</tr>
		<tr>
			<td class="noBorderX" valign="top">An:</td>
			<td class="noBorderX">{pm.empfaenger.name}</td>
		</tr>
		<tr>
			<td class="noBorderX" valign="top">Betreff:</td>
			<td class="noBorderX">{pm.title}</td>
		</tr>
		<tr>
			<td class="noBorderX" valign="top">Text:</td>
			<td class="noBorderX">{pm.text}</td>
		</tr>
		<tr>
			<td class="noBorderX" valign="top">Kommentar<br /><br />
				<input type="button" value="RL Zeit" onclick="insertRealTime()" style="width:80px" /><br /><br />
				<input type="button" value="Tick Zeit" onclick="insertTickTime()" style="width:80px" /><br /><br />
				<!-- <input type="button" value="Signatur" onclick="insertSignature()" style="width:80px" />
				<textarea id="signature" style="display:none;">{user.signature}</textarea>--></td>
			<td class="noBorderX"><textarea id="msg" name="msg" cols="65" rows="18" style="width:500px">{comment.text}</textarea></td>
		</tr>
		<tr>
			<td class="noBorderX" valign="top">&nbsp;</td>
			<td align="center" class="noBorderX">
				{!form_create_hidden send}
				<input type="hidden" name="pmid" value="{pm.id}" />
				<input type="hidden" name="ordner" value="{ordner.id}" />
				<input type="submit" name="Senden" value="Kommentar aktualisieren" style="width:200px" onclick="this.form.action.value = 'sendComment'" /><br />
			</td>
		</tr>
		</table>
		</form>
	</div>
{/endif}
