<span class="smallfont">
{if crewtausch.message}
	{crewtausch.message}<br /><br />
{/endif}
<div class="gfxbox" style="width:440px">
	<div align="center">
		{ship.name} ({ship.id}) zu {target.name} ({target.id})<br /><br />
	</div>
	<img src="data/interface/besatzung.gif" alt="Crew" />{ship.crew}/{ship.maxcrew}<br />

	<form action="./ds" method="post">
		<input name="send" type="text" size="3" value="{target.send}" />
		{!form_create_hidden send, ship:$ship.id, tar:$target.id, mode:$global.mode}
		&nbsp;&nbsp;
		<input type="submit" value="zu {target.name} transferieren" /><br />
	</form><br />

	<img src="data/interface/besatzung.gif" alt="Crew" />{target.crew}/{target.maxcrew}<br />

	<form action="./ds" method="post">
		<input name="rec" type="text" size="3" value="{ship.receive}" />
		{!form_create_hidden rec, ship:$ship.id, tar:$target.id, mode:$global.mode}
		&nbsp;&nbsp;
		<input type="submit" value="von {target.name} transferieren" /><br />
	</form>
</div>
<br />{!link_to zur&uuml;ck, default, css_class:back, module:schiff, ship:$ship.id}
{if global.mode.ss}
	 | {!link_to zum Zielschiff, default, css_class:back, module:schiff, ship:$target.id}
{/endif}
{if global.mode.sb}
	 | {!link_to zum Asteroid, default, module:base, css_class:back, col:$target.id}
{/endif}
</span>