{if deutsammeln.message}
	<span class="smallfont">
		{deutsammeln.message}
	</span>
	<br />
{/endif}
<div class="gfxbox" style="width:420px">
	<div align="center">
		Deuterium sammeln (Faktor: <img align="middle" src="{deuterium.image}" alt="" />{ship.type.deutfactor} pro <img align="middle" src="data/interface/energie.gif" alt="Energie" />1)<br /><br />
	</div>

	<form action="./ds" method="post">
		Aufzuwendende Energie: <input name="e" type="text" size="3" value="{ship.e}" />
		{!form_create_hidden sammeln, ship:$ship.id, fleet:$fleet.id}
		<input type="submit" value="Sammeln" />
	</form><br />
</div>
<br />
{!link_to zur&uuml;ck, default, css_class:back, module:schiff, ship:$ship.id}<br />
