{if deutsammeln.message}
	<span class="smallfont">
		{deutsammeln.message}
	</span>
	<br />
{/endif}
{!table_begin 420,left}
	<div align="center">
		Deuterium sammeln (Faktor: <img align="middle" src="{deuterium.image}" alt="" />{ship.type.deutfactor} pro <img align="middle" src="{URL}data/interface/energie.gif" alt="Energie" />1)<br /><br />
	</div>

	<form action="./main.php" method="post">
		Aufzuwendende Energie: <input name="e" type="text" size="3" value="{ship.e}" />
		{!form_create_hidden sammeln, ship:$ship.id, nebel:$nebel.id}
		<input type="submit" value="Sammeln" />
	</form><br />
{!table_end}
<br />
{!link_to zur&uuml;ck, default, css_class:back, module:schiff, ship:$ship.id}<br />
