<table class="show" cellspacing="2" cellpadding="2">
<tr>
<td class="noBorderS" align="center" style="width:160px;text-align:center">
	<span class="verysmallfont">
		<div class="dropdown" style="width:160px">
			<dl>
				<dt>{global.faction.name}<img style="vertical-align:middle; border:0px" src="data/interface/uebersicht/icon_dropdown.gif" alt="" /></dt>
				<!-- BEGIN global.factionmenu.listitem -->
					<dd>
						<a class='profile' href='./ds?module=ersteigern&action=default&faction={item.faction.id}'>{item.faction.name}</a>
					</dd>
				<!-- END global.factionmenu.listitem -->
				{global.factionmenu}
			</dl>
		</div>
		<hr style="height:1px; border:0px; background-color:#606060; color:#606060" />
		{user.konto} RE
	</span>
</td>
<td class="noBorder">&nbsp;</td>
<td class="noBorder">
	<div class="gfxbox">
		<ul class="menu">
			{if faction.general}
				<li>{!link_to Allgemeines, general, faction:$global.faction}</li>
			{/endif}
			{if faction.versteigerung}
				<li>{!link_to Versteigerungen, versteigerung, faction:$global.faction}</li>
			{/endif}
			{if faction.angebote}
				<li>{!link_to Angebote, angebote, faction:$global.faction}</li>
			{/endif}
			{if faction.shop}
				<li>{!link_to Shop, shop, faction:$global.faction}</li>
			{/endif}
			{if faction.ausbau}
				<li>{!link_to Ausbau, ausbau, faction:$global.faction}</li>
			{/endif}
			{if faction.bank}
				<li>{!link_to Bank, bank, faction:$global.faction}</li>
			{/endif}
			{if faction.aktionmelden}
				<li>{!link_to Einsatz melden, aktionMelden, faction:$global.faction}</li>
			{/endif}
			{if faction.other}
				<li>{!link_to Sonstiges, other, faction:$global.faction}</li>
			{/endif}
		</ul>
	</div>
</td>
</tr></table>
<div class="smallfont">
	<br />

	{if show.message}
		{show.message}<br /><br />
	{/endif}
</div>
{if show.ueberweisen}
	<div class="gfxbox" style="width:440px;text-align:center">
		{ueberweisen.betrag} RE an {ueberweisen.to.name} ({ueberweisen.to}) &uuml;berweisen?<br />
		{!link_to ja, ueberweisen, css_class:ok, to:$ueberweisen.to, count:$ueberweisen.betrag.plain, ack:yes, faction:$global.faction, token:$ueberweisen.token}&nbsp;|&nbsp;
		{!link_to nein, bank, css_class:error, faction:$global.faction}<br />
	</div>
	<br />
{/endif}
{if show.bid.entry}
	<div class="gfxbox" style="width:670px">
		<form action="./ds" method="post">
		<table class="noBorderX" cellspacing="3" cellpadding="3">
		<tr>
			<td class="noBorderX" align="center">Typ</td><td class="noBorderX">H&ouml;chstbietender</td><td class="noBorderX"></td>
		</tr>
		<tr>
			<td class="noBorderX" valign="middle" align="center">
				{if entry.count > 1}
					<span style="font-size:12px">{entry.count}x</span>
				{/endif}
				<a class="noborder tooltip" href="{entry.link}">
					<img style="vertical-align:middle; border:0px; {if entry.width}width:{entry.width}px; {/endif} {if entry.height}height:{entry.height}px{/endif}" src="{entry.type.image}" alt="" />
					<span class="ttcontent">{entry.type.name}</span>
				</a>
			</td>
			{if bid.player}
				<td class="noBorderX">{!link_to $bid.player,default,module:userprofile,css_class:profile,user:$bid.player.id}</td>
			{else}
				<td class="noBorderX">?</td>
			{/endif}
			<td class="noBorderX">
				{!form_create_hidden bidEntry, auk:$bid.id, faction:$global.faction}
				<input name="bid" type="text" size="15" value="{bid.price}" />
				<input type="submit" value="bieten" />
			</td>
		</tr>
		</table>
		</form>
	</div>
{/endif}

{if show.versteigerungen}
	{if gtuzwischenlager.list}
		<div class="gfxbox" style="width:670px">
			<span style="color:red">Es warten noch Waren an folgenden GTU-Posten auf Abholung:</span><br />
			<ul>
			<!-- BEGIN gtuzwischenlager.listitem -->
				<li>{gtuzwischenlager.name} - <a href="./client#/map/{gtuzwischenlager.location.url}">{gtuzwischenlager.location}</li>
			<!-- END gtuzwischenlager.listitem -->
			</ul>
		</div>
		<br />
	{/endif}

	<div class="gfxbox" style="width:670px">
		<table class="noBorderX" cellspacing="3" cellpadding="3" width="100%">
		<tr><td class="noBorderX" align="center" style="width:170px">Typ</td><td class="noBorderX">Gebot</td><td class="noBorderX">H&ouml;chstbietender</td><td class="noBorderX">Dauer</td></tr>
		<!-- BEGIN entry.listitem -->
		<tr>
			<td class="noBorderX" align="center" valign="middle">
				<span class="nobr">
					{if entry.count > 1}
						<span style="font-size:12px">{entry.count}x</span>
					{/endif}
					<a class="noborder tooltip" href="{entry.link}">
						<img style="vertical-align:middle; border:0px" {if entry.width}width="{entry.width}"{/endif} {if entry.height}height="{entry.height}"{/endif} src="{entry.type.image}" alt="" />
						<span class="ttcontent">
							{entry.type.name}
						</span>
					</a>
				</span>
			</td>
			<td class="noBorderX">
				{if entry.user}
					<span style="color:yellow" class="tooltip">
						{entry.preis}
						<span class="ttcontent">
							Diese Versteigerung wird von einem Spieler durchgef&uuml;hrt
						</span>
					</span>
				{else}
					{entry.preis}
				{/endif}
			</td>
			<td class="noBorderX">
				{if entry.bieter}
					{!link_to $entry.bieter, default, css_class:profile, module:userprofile, user:$entry.bieter.id}
				{else}
					?
				{/endif}
				{if entry.user.name}
					<br />
					[{!link_to $entry.user.name, default, css_class:profile, module:userprofile, user:$entry.user.id}]
				{/endif}
			</td>
			<td class="noBorderX">{entry.dauer}</td>
			<td class="noBorderX" align="center">
				{if entry.ownauction}
					<span style="color:yellow">Eigene Versteigerung</span>
				{else}
					{if entry.bidAllowed}
						{!link_to &uuml;berbieten, bidEntry, auk:$entry.aukid, bid:0, faction:$global.faction}
					{/endif}
				{/endif}
			</td>
		</tr>
		<!-- END entry.listitem -->

		</table><br />
	</div>
	<div class="smallfont">
		<br />
		<br />
	</div>
	<form action="./ds" method="post">
		<div class="smallfont">
			Schiffe ordern in <select name="favsys" size="1">
			<!-- BEGIN gtu.dropzones.listitem -->
				<option value="{dropzone.system.id}" {if dropzone.selected}selected="selected"{/endif}>{dropzone.system.name} ({dropzone.system.id})</option>
			<!-- END gtu.dropzones.listitem -->
			</select>
			{!form_create_hidden changeDropZone, faction:$global.faction}
			<input type="submit" value="speichern" />
		</div>
	</form>
{/endif}
{if show.angebote}
	<div class="smallfont">
		<div style="text-align:center">Sollten sie Interesse an einem Angebot haben, kontaktieren sie uns via {!link_to PM, default, module:comm, to:$global.faction}</div>
		<br />
	</div>
	<table class="noBorder" cellpadding="4" cellspacing="4" width="81%">
	<tr>
		<!-- BEGIN angebote.item -->
		<td class="noBorder" style="width:27%" valign="top">
			<div class="gfxbox" style="width:100%;text-align:center;-moz-box-sizing:border-box;box-sizing: border-box">
				<div style="font-weight:bold; font-size:15px; text-align:center">{angebot.title}<br />
				<img src="{angebot.image}" alt="" /></div><br />
				<div style="text-align:left">
					{angebot.description}
				</div>
			</div>
		</td>
		{if angebot.linebreak}
		</tr>
		<tr>
		{/endif}
		<!-- END angebote.item -->

		<!-- BEGIN angebote.emptyitem -->
			<td class="noBorderS" width="25%">&nbsp;</td>
		<!-- END angebote.emptyitem -->
	</tr>
	</table>
{/endif}
{if show.ausbau}
	<form name="form_ausbau" action="./ds" method="post">
		<div style="text-align:center">
			{!form_create_hidden ausbau, faction:$global.faction}
			<script type="text/javascript">
                <!-- BEGIN ausbau.upgradetypes.javascript.1.listitem -->
                var id_{upgradetypes.name} = 0;
                var preis_{upgradetypes.name} = 0;
                var bbs_{upgradetypes.name} = 0;
                var erz_{upgradetypes.name} = 0;
                var min_ticks_{upgradetypes.name} = 0;
                var max_ticks_{upgradetypes.name} = 0;

                function updateFrom{upgradetypes.name}Select(select) {
                    var option = select.options[select.selectedIndex];
					if( option == null ) {
						return;
					}
					id_{upgradetypes.name} = option.getAttribute('ds-id');
					preis_{upgradetypes.name} = option.getAttribute('ds-preis');
					bbs_{upgradetypes.name} = option.getAttribute('ds-bbs');
					erz_{upgradetypes.name} = option.getAttribute('ds-erz');
					min_ticks_{upgradetypes.name} = option.getAttribute('ds-min-ticks');
					max_ticks_{upgradetypes.name} = option.getAttribute('ds-max-ticks');
					updateCosts();
                }

                <!-- END ausbau.upgradetypes.javascript.1.listitem -->

				function updateCosts() {
				    var ids = "";
				    var Preis = 0;
				    var BBS = 0;
				    var Erz = 0;
				    var min_ticks = 0;
				    var max_ticks = 0;
				    var anzahl = 0;
				    <!-- BEGIN ausbau.upgradetypes.javascript.2.listitem -->
				    if (id_{upgradetypes.name} > 0)
				    {
				        anzahl = anzahl+1;
				        ids = ids + "," + id_{upgradetypes.name};
                        Preis = parseInt(Preis) + parseInt(preis_{upgradetypes.name});
                        BBS = parseInt(BBS) + parseInt(bbs_{upgradetypes.name});
                        Erz = parseInt(Erz) + parseInt(erz_{upgradetypes.name});
                        min_ticks = parseInt(min_ticks) + parseInt(min_ticks_{upgradetypes.name});
                        max_ticks = parseInt(max_ticks) + parseInt(max_ticks_{upgradetypes.name});
				    }
				    <!-- END ausbau.upgradetypes.javascript.2.listitem -->
                    Preis = parseInt(Math.pow({ausbau.rabattfaktordi}, anzahl-1)*parseInt(Preis));
                    min_ticks = parseInt(Math.pow({ausbau.zeitfaktordi}, anzahl-1)*parseInt(min_ticks));
                    max_ticks = parseInt(Math.pow({ausbau.zeitfaktordi}, anzahl-1)*parseInt(max_ticks));
				    ids = ids.substring(1, ids.length);
					$("#RE_Display").text(Preis);
					$("#BBS_Display").text(BBS);
					$("#Erz_Display").text(Erz);
					$("#Ticks_Display").text(min_ticks + "-" + max_ticks + " Runden");
					document.getElementById('upgradeids').value = ids;
				}

				function astiChanged() {
					document.getElementsByName('form_ausbau')[0].value = 0;
					document.getElementsByName('form_ausbau')[0].submit();
				}
			</script>
			<div class="gfxbox" style="width:690px;text-align:center">
			<table class="noBorderX" width="100%">
				<tr>
					<td class="noBorderX" style="width=150px; text-align:right">
						Asteroid:
					</td>
					<td class="noBorderX" style="width:20px">
						&nbsp;
					</td>
					<td class="noBorderX" style="text-align:left">
						<select name="astiid" size="1" style="width:220px" onchange="astiChanged()">
						<!-- BEGIN ausbau.asti.listitem -->
							<option value="{asti.id}" {if asti.selected}selected="selected"{/endif}>{asti.name} ({asti.id})</option>
						<!-- END ausbau.asti.listitem -->
						</select>
					</td>
				</tr>
				<tr>
					<td class="noBorderX" style="width:150px; text-align:right">
						Colonizer:
					</td>
					<td class="noBorderX" style="width:20px">
						&nbsp;
					</td>
					<td class="noBorderX" style="text-align:left">
						<select name="colonizerid" size="1" style="width:220px">
						<!-- BEGIN ausbau.colonizer.listitem -->
							<option value="{colonizer.id}">{colonizer.name} ({colonizer.id})</option>
						<!-- END ausbau.colonizer.listitem -->
						</select>
					</td>
				</tr>
                <!-- BEGIN ausbau.upgradetypes.listitem -->
				<tr>
					<td class="noBorderX" style="width:150px; text-align:right">
						{upgradetypes.selectionname}:
					</td>
					<td class="noBorderX" style="width:20px">
						&nbsp;
					</td>
					<td class="noBorderX" style="text-align:left">
						<select name="upgrade{upgradetypes.name}" size="1" style="width:220px" onchange="updateFrom{upgradetypes.name}Select(this)">
						    <option value="0" ds-id="0" ds-preis="0" ds-bbs="0" ds-erz="0" ds-min-ticks="0" ds-max-ticks="0">{upgradetypes.nullmod}</option>
                        <!-- BEGIN ausbau.upgradetypes.mods.listitem -->
							<option value="{upgradetypes.mods.id}" ds-id="{upgradetypes.mods.id}" ds-preis="{upgradetypes.mods.preis}" ds-bbs="{upgradetypes.mods.bbs}" ds-erz="{upgradetypes.mods.erz}" ds-min-ticks="{upgradetypes.mods.minticks}" ds-max-ticks="{upgradetypes.mods.maxticks}">{upgradetypes.mods.mod}</option>
						<!-- END ausbau.upgradetypes.mods.listitem -->
						</select>
					</td>
				</tr>
                <!-- END ausbau.upgradetypes.listitem -->
				<tr>
					<td class="noBorderX" style="width:150px; text-align:right">
						Zahlungsmethode:
					</td>
					<td class="noBorderX" style="width:20px">
						&nbsp;
					</td>
					<td class="noBorderX" style="text-align:left">
						<input type="radio" name="bar" value="0" checked="checked">Konto
						<input type="radio" name="bar" value="1"> BAR <br />
					</td>
				</tr>
				<tr>
					<td class="noBorderX" style="width:150px; text-align:right">
						RE:
					</td>
					<td class="noBorderX" style="width:20px">
						&nbsp;
					</td>
					<td class="noBorderX" style="text-align:left" id="RE_Display">
					0
					</td>
				</tr>
				<tr>
					<td class="noBorderX" style="width:150px; text-align:right;white-space:nowrap">
						<img style="text-align:middle" src="{bbs.image}" alt="{bbs.name}" />{bbs.name}:
					</td>
					<td class="noBorderX" style="width:20px">
						&nbsp;
					</td>
					<td class="noBorderX" style="text-align:left" id="BBS_Display">
					0
					</td>
				</tr>
				<tr>
					<td class="noBorderX" style="width:150px; text-align:right;white-space:nowrap">
						<img style="text-align:middle" src="{erz.image}" alt="{erz.name}" />{erz.name}:
					</td>
					<td class="noBorderX" style="width:20px">
						&nbsp;
					</td>
					<td class="noBorderX" style="text-align:left" id="Erz_Display">
					0
					</td>
				</tr>
                <tr>
                    <td class="noBorderX" style="width:150px; text-align:right">
                        Dauer:
                    </td>
                    <td class="noBorderX" style="width:20px">
                        &nbsp;
                    </td>
                    <td class="noBorderX" style="text-align:left" id="Ticks_Display">
                        0 Runden
                    </td>
                </tr>
				<tr>
					<td class="noBorderX" colspan="3" style="text-align:center">
						<hr style="height:1px; border:0px; background-color:#606060; color:#606060" />
                        <input type="hidden" name="upgradestring" value="" id="upgradeids"/>
						<input type="submit" name="order" style="width:110px" value="bestellen" />
					</td>
				</tr>
			</table>
			</div>
		</div>
	</form>
{/endif}
{if show.bank}
<form action="./ds" method="post">
		<div class="gfxbox" style="width:690px">
			<input name="count" type="text" value="0"> RE an
			<input type="text" id="ueberweisen_to" name="to" style="width:300px"/>
			{!form_create_hidden ueberweisen, faction:$global.faction}
			<input type="submit" value="&uuml;berweisen" />
		</div>
	</form>
	<div class="smallfont">
		<br />
		<br />
	</div>
	<table width="650" class="noBorder">
	<tr>
		<td class="noBorderS">
			Die letzten 40 Kontobewegungen:
		</td>
		<td class="noBorderS" style="text-align:right">
			<form action="ds" method="post">
			<div class="smallfont">
				{!form_create_hidden showKontoTransactionType,faction:$global.faction,type:$konto.newtranstype}
				<input type="submit" value="{konto.newtranstype.name}" />
			</div>
			</form>
		</td>
	</tr>
	</table>
	<div class="gfxbox" style="width:690px;text-align:center">
		<div style="height:200px; width:610px; overflow:auto; padding:4px">
			<table class="noBorderX" width="100%">
			<tr>
				<td class="noBorderX" align="center">Zeitpunkt</td>
				<td class="noBorderX" align="center">Von/An</td>
				<td class="noBorderX" align="center">Betrag</td>
				<td class="noBorderX" align="center">Grund</td>
			</tr>
			<tr>
				<td class="noBorderX" colspan="4">
					<hr noshade="noshade" size="1" style="color:#cccccc" />
				</td>
			</tr>
			<!-- BEGIN moneytransfer.listitem -->
				<tr>
					<td width="90" class="noBorderX" align="center">
						{moneytransfer.time}
					</td>
					<td class="noBorderX" style="width:130px" align="center">
						{!link_to $moneytransfer.player, default, module:userprofile, css_class:profile, user:$moneytransfer.player.id}
					</td>
					<td style="width:100px; color:{if moneytransfer.from}red{else}green{/endif}; text-align:center" class="noBorderX">
						{moneytransfer.count}
					</td>
					<td class="noBorderX">
						{moneytransfer.reason}
					</td>
				</tr>
			<!-- END moneytransfer.listitem -->
			</table>
		</div>
	</div>
{/endif}
{if show.other}
	<div class="smallfont">
		<br />
		<br />Handelsposten:<br />
	</div>

	<div class="gfxbox kursbox">
		<dl>
		<!-- BEGIN kurse.listitem -->
			<dt>
				{posten.name}
				{if posten.location} - {posten.location}{/endif}
				{if posten.owner.id} - {!link_to $posten.owner.name, default, css_class:profile, module:userprofile, user:$posten.owner.id}<br />{/endif}
			</dt>
			{if kurse.waren.list}
				<dd class="ankauf">
					<h3>Kauft:</h3>
					<!-- BEGIN kurse.waren.listitem -->
						<div {if ware.inaktiv}class="inaktiv"{/endif}>
							<a class="tooltip" href="./ds?module=iteminfo&amp;itemlist={ware.id}">
								<img src="{ware.image}" />
								{if ware.preis}{ware.preis} RE{else}Kein Bedarf{/endif}
								<span class="ttcontent ttitem" ds-item-id="{ware.id}">
									<img src="{ware.image}" alt="{ware.plainname}" />{ware.plainname}
								</span>
							</a>
						</div>
					<!-- END kurse.waren.listitem -->
				</dd>
			{/endif}
			{if kurse.verkaufswaren.list}
				<dd class="verkauf">
					<h3>Verkauft:</h3>
					<!-- BEGIN kurse.verkaufswaren.listitem -->
						<div {if ware.inaktiv}class="inaktiv"{/endif}>
							<a class="tooltip" href="./ds?module=iteminfo&amp;itemlist={ware.id}">
								<img src="{ware.image}" />
								{ware.preis} RE
								<span class="ttcontent ttitem" ds-item-id="{ware.id}">
									<img src="{ware.image}" alt="{ware.plainname}" />{ware.plainname}
								</span>
							</a>
						</div>
					<!-- END kurse.verkaufswaren.listitem -->
				</dd>
			{/endif}
		<!-- END kurse.listitem -->
		</dl>
	</div>
{/endif}
{if show.general}
	<div class="gfxbox" style="width:570px;text-align:center">
		<div style="text-align:center;font-size:25px;font-style:italic;font-weight:bold">
			{global.faction.name}
		</div>
		<br />
		{global.faction.text}
	</div>
{/endif}
{if show.shopOrderGanymedeSummary}
	<div class="gfxbox" style="width:570px;text-align:center">
		<div style="text-align:center;font-size:16px">
			Ganymede-Transport
			<br />
			<br />
		</div>
		<table class="noBorderX" width="90%">
		<tr>
			<td class="noBorderX" style="width:150px; text-align:right">
				Objekt:
			</td>
			<td class="noBorderX" style="width:20px">
				&nbsp;
			</td>
			<td class="noBorderX" style="text-align:left">
				{ganymede.name} ({ganymede.id})
			</td>
		</tr>
		<tr>
			<td class="noBorderX" style="width:150px; text-align:right">
				Von:
			</td>
			<td class="noBorderX" style="width:20px">
				&nbsp;
			</td>
			<td class="noBorderX" style="text-align:left">
				{source.system}:{source.x}/{source.y}
			</td>
		</tr>
		<tr>
			<td class="noBorderX" style="width:150px; text-align:right">
				Nach:
			</td>
			<td class="noBorderX" style="width:20px">
				&nbsp;
			</td>
			<td class="noBorderX" style="text-align:left">
				{target.system}:{target.x}/{target.y}
			</td>
		</tr>
		<tr>
			<td class="noBorderX" style="width:150px; text-align:right">
				Preis:
			</td>
			<td class="noBorderX" style="width:20px">
				&nbsp;
			</td>
			<td class="noBorderX" style="text-align:left">
				{transport.price}
			</td>
		</tr>
		{if transport.enableOrder}
			<tr>
				<td class="noBorderX" colspan="3" style="text-align:center">
					<form action="./ds" method="post">
						{!form_create_hidden shopOrderGanymedeSummary,faction:$global.faction,sourcesystem:$source.system,ganymedeid:$ganymede.id,targetsystem:$target.system,targetx:$target.x,targety:$target.y,transport:1}
						<hr style="height:1px; border:0px; background-color:#606060; color:#606060" />
						<input type="submit" style="width:110px" value="bestellen" />
					</form>
				</td>
			</tr>
		{/endif}
		</table>
	</div>
{/endif}
{if show.shopOrderGanymede}
	<div class="gfxbox" style="width:570px;text-align:center">
		<div style="text-align:center;font-size:16px">
			Ganymede-Transport
			<br />
			<br />
		</div>
		{if ganytrans.sourcesystem.list}
			<form name="form_ganytrans" action="./ds" method="post">
				<div style="text-align:center">
					{!form_create_hidden shopOrderGanymede, faction:$global.faction}

					<table class="noBorderX" width="90%">
					<tr>
						<td class="noBorderX" style="width:150px; text-align:right">
							Ausgangssystem:
						</td>
						<td class="noBorderX" style="width:20px">
							&nbsp;
						</td>
						<td class="noBorderX" style="text-align:left">
							<select name="sourcesystem" size="1" style="width:220px" onchange="document.getElementsByName('form_ganytrans')[0].submit()">
							<!-- BEGIN ganytrans.sourcesystem.listitem -->
								<option value="{sourcesystem.id}" {if sourcesystem.selected}selected="selected"{/endif}>{sourcesystem.name}{if sourcesystem.id} ({sourcesystem.id}){/endif}</option>
							<!-- END ganytrans.sourcesystem.listitem -->
							</select>
						</td>
					</tr>
					{if sourcesystem.known}
						<tr>
							<td class="noBorderX" style="width:150px; text-align:right">
								Ganymede:
							</td>
							<td class="noBorderX" style="width:20px">
								&nbsp;
							</td>
							<td class="noBorderX" style="text-align:left">
								<select name="ganymedeid" size="1" style="width:220px">
								<!-- BEGIN ganytrans.ganymedes.listitem -->
									<option value="{ganymede.id}" {if ganymede.selected}selected="selected"{/endif}>{ganymede.name} ({ganymede.id})</option>
								<!-- END ganytrans.ganymedes.listitem -->
								</select>
							</td>
						</tr>
						<tr>
							<td class="noBorderX" style="width:150px; text-align:right">
								Zielsystem:
							</td>
							<td class="noBorderX" style="width:20px">
								&nbsp;
							</td>
							<td class="noBorderX" style="text-align:left">
								<select name="targetsystem" size="1" style="width:220px">
								<!-- BEGIN ganytrans.targetsystem.listitem -->
									<option value="{targetsystem.id}" {if targetsystem.selected}selected="selected"{/endif}>{targetsystem.name}{if targetsystem.id} ({targetsystem.id}){/endif}</option>
								<!-- END ganytrans.targetsystem.listitem -->
								</select>
							</td>
						</tr>
						<tr>
							<td class="noBorderX" style="width:150px; text-align:right">
								Zielkoordinaten:
							</td>
							<td class="noBorderX" style="width:20px">
								&nbsp;
							</td>
							<td class="noBorderX" style="text-align:left">
								<input type="text" name="targetx" size="3" value="0" />/<input type="text" name="targety" size="3" value="0" />
							</td>
						</tr>
						<tr>
							<td class="noBorderX" colspan="3" style="text-align:center">
								<hr style="height:1px; border:0px; background-color:#606060; color:#606060" />
								<input type="submit" style="width:110px" value="weiter" />
							</td>
						</tr>
					{/endif}
					</table>
				</div>
			</form>
		{else}
			<div style="text-align:center;color:red">
				Sie verf&uuml;gen &uuml;ber keine Ganymedes
			</div>
		{/endif}
	</div>
{/endif}
{if show.shopOrderLocation}
	<div class="gfxbox" style="width:570px;text-align:center">
		<div style="text-align:center;font-size:16px">
			Lieferkoordinaten
			<br />
			<br />
		</div>
		<div style="text-algin:center">
			{if order.count > 1}{order.count}x {/endif}{order.name}<br /><br />
		</div>
		<form name="form_ganytrans" action="./ds" method="post">
			<div style="text-align:center">
				{!form_create_hidden shopOrder, faction:$global.faction, shopentry:$order.entry, ordercount:$order.count}
				<input type="text" name="ordersys" size="4" value="0" /> :
				<input type="text" name="orderx" size="4" value="0" /> /
				<input type="text" name="ordery" size="4" value="0" />
				<hr style="height:1px; border:0px; background-color:#606060; color:#606060" />
				<input type="submit" value="bestellen" style="width:150px" />
			</div>
		</form>
	</div>
{/endif}
{if show.shop}
	{if shop.orderlist.list}
		<div class="gfxbox" style="width:670px;text-align:center">
			<table class="noBorderX" width="100%">
			<tr>
				<td class="noBorderX"></td>
				<td class="noBorderX" style="text-align:center" colspan="2">Typ</td>
				<td class="noBorderX" style="text-align:center">Preis</td>
				<td class="noBorderX" style="text-align:center;width:180px">Status</td>
			</tr>
			<!-- BEGIN shop.orderlist.listitem -->
				<tr>
				<td style="text-align:center" class="noBorderX">
					<div style="background-color:{orderentry.bgcolor};height:40px;width:20px" class="tooltip">
						&nbsp;&nbsp;
						<span class="ttcontent">
							{orderentry.status}
						</span>
					</div>
				</td>
				<td class="noBorderX">
					<span class="nobr">
						{if orderentry.count > 1}{orderentry.count}x {/endif}
						<img style="vertical-align:middle; border:0px" width="50" src="{orderentry.type.image}" alt="" />
					</span>
				</td>
				<td class="noBorderX">
					<a class="forschinfo" href="{orderentry.link}">
						{orderentry.name}
					</a>
					{if orderentry.adddata}
						<br />
						{orderentry.adddata}
					{/endif}
				</td>
				<td class="noBorderX" style="width:50px;text-align:center">
					{orderentry.price}RE
					{if orderentry.lpkosten}{orderentry.lpkosten}LP{/endif}
				</td>
				<td class="noBorderX" style="text-align:center">
					&nbsp;{orderentry.status}&nbsp;
				</td>
				</tr>
			<!-- END shop.orderlist.listitem -->
			</table>
		</div>
		<br />
	{/endif}
	{if shop.shopownerlist.list}
		<div class="gfxbox" style="width:670px;text-align:center">
			<table class="noBorderX" width="100%">
			<tr>
				<td class="noBorderX"></td>
				<td class="noBorderX" style="text-align:center">Spieler</td>
				<td class="noBorderX" style="text-align:center">Typ</td>
				<td class="noBorderX" style="text-align:center">Preis</td>
				<td class="noBorderX" style="text-align:center;width:180px">Status</td>
			</tr>
			<!-- BEGIN shop.shopownerlist.listitem -->
				<tr>
				<td style="text-align:center" class="noBorderX">
					<div style="background-color:{orderentry.bgcolor};height:40px;width:20px" class="tooltip">
						&nbsp;&nbsp;
						<span class="ttcontent">
							{orderentry.status.name}
						</span>
					</div>
				</td>
				<td class="noBorderX" style="width:20px;text-align:center">
					{!link_to $orderentry.owner.name,default,module:userprofile,css_class:profile,user:$orderentry.owner}
				</td>
				<td class="noBorderX">
					&nbsp;{orderentry.count}x
					<a class="forschinfo" href="{orderentry.link}">
						{orderentry.name}
					</a>
					{if orderentry.adddata}
						<br />
						{orderentry.adddata}
					{/endif}
				</td>
				<td class="noBorderX" style="width:50px;text-align:center">
					{orderentry.price}RE
					{if orderentry.lpkosten}{orderentry.lpkosten}LP{/endif}
				</td>
				<td class="noBorderX" style="text-align:center">
					<form action="./ds" method="post" style="display:inline">
						<select name="orderstatus" size="1" style="width:100px">
							<option value="0" {if orderentry.status == 0}selected="selected"{/endif}>Neu</option>
							<option value="1" {if orderentry.status == 1}selected="selected"{/endif}>In Bearbeitung</option>
							<option value="2" {if orderentry.status == 2}selected="selected"{/endif}>Auslieferung</option>
							<option value="3" {if orderentry.status == 3}selected="selected"{/endif}>Nicht verf&uuml;gbar</option>
							<option>-------------------</option>
							<option value="4">L&ouml;schen</option>
						</select>
						{!form_create_hidden changeShopOrderStatus, orderentry:$orderentry.id, faction:$global.faction}
						<input type="submit" value="ok" />
					</form>
				</td>
				</tr>
			<!-- END shop.shopownerlist.listitem -->
			</table>
		</div>
		<br />
	{/endif}
	<div class="gfxbox" style="width:670px;text-align:center">
		<table class="noBorderX" width="100%">
		<thead>
		<tr>
			<td class="noBorderX" colspan="3" style="text-align:center">Typ</td>
			<td class="noBorderX"></td>
			<td class="noBorderX" style="text-align:center">Benötigter Rang</td>
			<td class="noBorderX" style="text-align:center">Preis</td>
			<td class="noBorderX"></td>
		</tr>
		</thead>
		<tbody>
		<!-- BEGIN shop.listitem -->
			<form action="./ds" method="post" style="display:inline">
			<tr>
				<td style="text-align:left;width:30px" class="noBorderX">
					<div style="background-color:{entry.availability.color};height:40px;width:20px" class="tooltip">
						&nbsp;&nbsp;
						<span class="ttcontent">
							{entry.availability.name}
						</span>
					</div>
				</td>
				<td class="noBorderX">
					<img style="vertical-align:middle; border:0px" width="50" src="{entry.type.image}" alt="" />
				</td>
				<td class="noBorderX">
					<a class="forschinfo" href="{entry.link}">
						{entry.name}
					</a>
				</td>
				<td class="noBorderX" style="width:20px">
					&nbsp;
				</td>
				<td class="noBorderX">
					{if shop.owner}
						<input type="text" size="3" name="entryRang" value="{entry.rang}" />
					{else}
						<img title="{entry.npcrang.name}" src="{entry.npcrang.image}" alt="" />
					{/endif}
				</td>
				<td class="noBorderX">
					{if shop.owner}
						<input type="text" size="9" name="entryPrice" value="{entry.price}" />RE
						<input type="text" size="2" name="entryLpKosten" value="{entry.lpkosten}" />LP
					{else}
						{entry.price}RE
						{if entry.lpkosten}{entry.lpkosten}LP{/endif}
					{/endif}
				</td>
				<td class="noBorderX">
					{if shop.owner}
						<select name="availability" size="1" style="width:100px">
							<option value="0" {if entry.availability == 0}selected="selected"{/endif}>normal</option>
							<option value="1" {if entry.availability == 1}selected="selected"{/endif}>1-3</option>
							<option value="2" {if entry.availability == 2}selected="selected"{/endif}>nichts</option>
						</select>
						{!form_create_hidden shopChangeEntry, shopentry:$entry.id, faction:$global.faction}
						<input type="submit" name="operation" value="&auml;ndern" />
						<input type="submit" name="operation" value="Löschen" />
					{else}
						{if entry.orderable}
							<form action="./ds" method="post">
								{if entry.showamountinput}
									<input type="text" name="ordercount" size="6" value="0" />
								{/endif}
								{!form_create_hidden shopOrder, shopentry:$entry.id, faction:$global.faction}
								<input type="submit" value="bestellen" />
							</form>
						{/endif}
					{/endif}
				</td>
			</tr>
			</form>
		<!-- END shop.listitem -->
		</tbody>
		{if shop.owner}
			<tfoot>
				<tr>
					<td colspan="7" class="noBorderX">
						<form action="./ds" method="post">
							<select name="entryType" size="1">
								<option value="item" selected="selected">Gegenstand</option>
								<option value="ship">Schiff</option>
								<option value="transport">Ganymede-Transport</option>
							</select>
							<input type="text" name="entryTypeId" id="entryTypeId" value="" size="15"/>
							für
							<input type="text" name="entryCost" id="entryCost" value="" size="6"/>RE
							<input type="text" name="entryLpKosten" id="entryLpKosten" value="" size="3"/>LP
							{!form_create_hidden shopEntryCreate, faction:$global.faction}
							<input type="submit" value="erstellen" />
						</form>
					</td>
				</tr>
			</tfoot>
		{/endif}
		</table>
	</div>
{/endif}
{if show.aktionmelden}
	<div class="gfxbox" style="width:600px">
		<h3>Einsatz bei Fraktion melden</h3>
		<form action="./ds" method="post">
			<label for="meldungstext">Beschreibung der Aktion:</label>
			<textarea name="meldungstext" id="meldungstext" style="width:100%;height:150px"></textarea>
			{!form_create_hidden aktionsMeldungErstellen, faction:$global.faction}
			<input type="submit" value="Aktion melden" />
		</form>
		<p>Achtung: Jede Aktion kann nur bei einer Fraktion gemeldet werden. Meldungen der gleichen Aktion bei mehreren Fraktionen bewirken,
		dass keine Fraktion sich für die Aktion interessiert (es gibt keine Loyalitätspunkte).</p>
	</div>
{/endif}
