<script type="text/javascript">
	$(document).ready(function() {
		reloadMainpage();
	});
</script>
<span class="smallfont">
{if fleetmgnt.message}
	{fleetmgnt.message}<br /><br />
{/endif}
{if show.create}
	<span style="font-weight:bold; font-style:italic">Flotte erstellen</span><br /><br />
	<form action="ds" method="post">
		{!form_create_hidden create2, shiplist:$create.shiplist}
		Name der Flotte: <input type="text" name="fleetname" value="Neue Flotte" /><br />
		<input type="submit" value="Flotte erstellen" />
	</form>
{/endif}
{if show.rename}
	<div class="gfxbox" style="width:390px;text-align:center">
		<span style="font-weight:bold; font-style: italic">Flotte umbenennen</span><br />
		<span style="font-style:italic">&gt; {fleet.name} &lt;</span><br /><br />
		<form action="ds" method="post">
			{!form_create_hidden rename2, fleet:$fleet.id}
			<table class="noBorder">
			<tr>
				<td class="noBorderX">Name: <input type="text" name="fleetname" value="{fleet.name}" /></td>
			</tr>
			<tr>
				<td class="noBorderX" align="center"><input type="submit" value="Flotte umbenennen" /></td>
			</tr>
			</table>
		</form>
	</div>
{/endif}
{if show.export}
	[{fleet.name}]<br />
	<!-- BEGIN exportships.listitem -->
		{ship.id},{ship.name}<br />
	<!-- END exportships.listitem -->
{/endif}
{if show.kill}
	<div class="gfxbox" style="width:390px;text-align:center">
		<span style="font-weight:bold; font-style: italic">Flotte aufl&ouml;sen</span><br />
		<span style="font-style:italic">&gt; {fleet.name} &lt;</span><br /><br />
		Wollen sie die Flotte wirklich aufl&ouml;sen?<br />
		{!link_to Nein, default, css_class:ok, fleet:$fleet.id} -
		{!link_to Ja, kill2, css_class:error, fleet:$fleet.id}
	</div>
{/endif}
{if show.dismantle}
	<div class="gfxbox" style="width:390px;text-align:center">
		<span style="font-weight:bold; font-style: italic">Flotte verschrotten</span><br />
		<span style="font-style:italic">&gt; {fleet.name} &lt;</span><br /><br />
		Wollen sie die Flotte wirklich verschrotten?<br />
		{!link_to Nein, default, css_class:ok, fleet:$fleet.id} -
		{!link_to Ja, dismantle, css_class:error, fleet:$fleet.id}
	</div>
{/endif}
{if show.repair}
	<div class="gfxbox" style="width:390px;text-align:center">
        <span style="font-weight:bold; font-style: italic">Flotte reparieren</span><br />
        <span style="font-style:italic">&gt; {fleet.name} &lt;</span><br /><br />
        Wollen sie die Flotte wirklich reparieren?<br />
        {!link_to Nein, default, css_class:ok, fleet:$fleet.id} -
        {!link_to Ja, repair, css_class:error, fleet:$fleet.id}
    </div>
{/endif}
{if show.newowner}
	<div class="gfxbox" style="width:390px;text-align:center">
		<span style="font-weight:bold; font-style: italic">Flotte &uuml;bergeben</span><br />
		<span style="font-style:italic">&gt; {fleet.name} &lt;</span><br /><br />
		<form action="ds" method="post">
			{!form_create_hidden newowner2, fleet:$fleet.id}
			Neuer Besitzer: <input type="text" name="ownerid" value="0" size="4" />
			<input type="submit" value="ok" />
		</form>
	</div>
{/endif}
{if show.newowner2}
	<div class="gfxbox" style="width:390px;text-align:center">
		<span style="font-weight:bold; font-style:italic">Flotte &uuml;bergeben</span><br />
		<span style="font-style:italic">&gt; {fleet.name} &lt;</span><br /><br />
		Wollen sie die Flotte wirklich an {newowner.name} &uuml;bergeben?<br />
		{!link_to Nein, default, css_class:ok, fleet:$fleet.id} -
		{!link_to Ja, newowner3, css_class:error, fleet:$fleet.id, ownerid:$newowner.id} 
	</div>
{/endif}
{if show.renameShips}
	<div class="gfxbox" style="width:390px;text-align:center">
		<h3>Schiffe umbenennen</h3>
		<span style="font-style:italic">&gt; {fleet.name} &lt;</span><br /><br />
		<form action="ds" method="post">
			{!form_create_hidden renameShips2, fleet:$fleet.id}
			Namensmuster: <input type="text" name="name" value="{fleet.name} $(number)" maxlength="50" />
			<input type="submit" value="ok" />
		</form>
		<br />
		<h3>Platzhalter</h3>
		<ul>
			<li>$(number) - Gibt jedem Schiff eine individuelle Nummer beginnend bei 1</li>
			<li>$(roman) - Gibt jedem Schiff eine individuelle Nummer in Form einer r&ouml;mischen Ziffer beginnend bei I (1)</li>
		</ul>
	</div>
{/endif}
{if show.view}
	<div class="gfxbox" style="width:390px;text-align:center">
		<span style="font-style:italic">{fleet.name}</span><br /><br />
		<table class="noBorderX">
		<tr>
			<td class="noBorderX" style="text-align:center; width:50px">ID</td>
			<td class="noBorderX" style="text-align:center; width:150px">Name</td>
			<td class="noBorderX" style="text-align:center; width:150px">Typ</td>
			<td class="noBorderX"></td>
		</tr>
		<!-- BEGIN ships.listitem -->
			<tr>
				<td class="noBorderX">
					<a class="forschinfo" href="javascript:showShip('{ship.id}')">{ship.id}</a>
				</td>
			
				<td class="noBorderX">
					{if ship.showwarning}
						<img src="data/interface/warnung.png" alt="Warnung" />
					{/endif}
					{if ship.showbattle}
						<a href="javascript:showBattle('{ship.showbattle}','{ship.id}')">
							<img src="battle_small.gif" alt="Schlacht" />
						</a>
					{/endif}
					<a class="forschinfo" href="javascript:showShip('{ship.id}')">
						{ship.name}
					</a>
				</td>
			
				<td class="noBorderX">{ship.type.name}</td>
				<td class="noBorderX">
					<a class="error" href="javascript:removeShip('{ship.id}')">[x]</a>
				</td>
			</tr>
		<!-- END ships.listitem -->
		</table>
		<br />
		<hr noshade="noshade" size="1" style="color:#cccccc" />
		<div align="left">
			<script type="text/javascript">
			<!--
				function actionSelectChange(action) {
					{if jaegertypes.list}
						if( action == "jland" ) {
							$("#jaegertype").css('display', 'inline');
						}
						else {
							$("#jaegertype").css('display', 'none');
						}
					{/endif}
					{if fleetcombine.list}
						if( action == "fleetcombine" ) {
							$("#fleetcombine").css('display', 'inline');
						}
						else {
							$("#fleetcombine").css('display', 'none');
						}
					{/endif}
					if( action == "alarm" ) {
						$("#alarm").css('display', 'inline');
					}
					else {
						$("#alarm").css('display', 'none');
					}
					
					if(action == "getCrew")
					{
						$("#crewinpercent").css('display', 'inline');
						$("#percent").css('display', 'inline');
					}
					else
					{
						$("#crewinpercent").css('display', 'none');
						$("#percent").css('display', 'none');
					}
					
					if( action == "build" ) {
						$("#buildcount").css('display', 'inline');
						$("#buildid").css('display', 'inline');
					}
					else {
						$("buildcount").css('display', 'none');
						$("buildid").css('display', 'none');
					}
				}
			-->
			</script>

			<span style="font-style:italic">Aktionen:</span><br />
			<form action="./ds" method="post">
				<input type="hidden" name="fleet" value="{fleet.id}" />
				<input type="hidden" name="module" value="fleetmgnt" />
				<select name="action" size="1" onchange="actionSelectChange(this.options[this.options.selectedIndex].value)">
					<option value="shup">Schilde aufladen</option>
					<!--<option value="chargeBatteries">Batterien aufladen</option>
					<option value="dischargeBatteries">Batterien entladen</option>-->
					<option value="alarm">Alarmstufe &auml;ndern</option>
					<option value="show">---------</option>
					<option value="jstart">J&auml;ger starten</option>
					{if jaegertypes.list}
						<option value="jland">J&auml;ger aufsammeln</option>
					{/endif}
					<option value="undock">Schiffe abdocken</option>
					<option value="redock">Container aufsammeln</option>
					<option value="redock2">Gesch&uuml;tze aufsammeln</option>
					<option value="show">---------</option>
					{if fleetcombine.list}
						<option value="fleetcombine">Flotten zusammenlegen</option>
					{/endif}
					{if buildableships.list}
						<option value="build">Schiffe bauen</option>
					{/endif}
					{if astiinsector}
						<option value="getCrew">Schiffe bemannen</option>
					{/endif}
					{if shipyardinsector}
						<option value="askDismantle">Flotte demontieren</option>
                        <option value="askRepair">Flotte reparieren</option>
					{/endif}
                    {if hastanker}
                        <option value="activateTanker">Tanker anschalten</option>
                        <option value="deactivateTanker">Tanker abschalten</option>
                    {/endif}
                    <option value="fillFood">Nahrung transferieren</option>
					<option value="rename">Flotte umbenennen</option>
					<option value="kill">Flotte aufl&ouml;sen</option>
					<option value="newowner">Flotte &uuml;bergeben</option>
					<option value="renameShips">Schiffe umbenennen</option>
					<option value="show">---------</option>
					<option value="export">Flotte exportieren</option>
				</select>
				{if jaegertypes.list}
					<select id="jaegertype" name="jaegertype" size="1" style="display:none">
						<option value="-1">alle</option>
						<!-- BEGIN jaegertypes.listitem -->
							<option value="{jaegertype.id}">{jaegertype.name}</option>
						<!-- END jaegertypes.listitem -->
					</select>
				{/endif}
				{if fleetcombine.list}
					<select id="fleetcombine" name="fleetcombine" size="1" style="display:none">
						<!-- BEGIN fleetcombine.listitem -->
							<option value="{fleetcombine.id}">{fleetcombine.name} - {fleetcombine.shipcount} Schiffe</option>
						<!-- END fleetcombine.listitem -->
					</select>
				{/endif}
				<select id="alarm" name="alarm" size="1" style="display:none">
					<option value="0">gr&uuml;n</option>
					<option value="1">gelb</option>
					<option value="2">rot</option>
				</select>
				<input type="text" id="crewinpercent" name="crewinpercent" style="display:none" size="3" maxlength="3" /><span id="percent" name="percent" style="display:none">%</span>
				{if buildableships.list}
					<input type="text" id="buildcount" name="buildcount" style="display:none" size="3" maxlength="3" />
					<select id="buildid" name="buildid" size="1" style="display:none">
							<!-- BEGIN buildableships.listitem -->
								<option value="{buildableships.id}">{buildableships.name}</option>
							<!-- END buildableships.listitem -->
					</select>
				{/endif}
				<input type="submit" value="ok" />
			</form>
		</div>
	</div>
{/endif}
</span>

<script type="text/javascript">
<!--
	function showShip( ship ) {
		opener.parent.frames['main'].location.href = DS.getUrl()+'?module=schiff&ship='+ship;
	}

	function refreshOwn() {
		window.location.href = DS.getUrl()+'?module=fleetmgnt&fleet={fleet.id}';
	}

	function removeShip( ship ) {
		opener.parent.frames['main'].location.href = DS.getUrl()+'?module=schiff&ship='+ship+'&action=join&join=0';
		window.setTimeout("refreshOwn()", 1000);
	}

	function showBattle( battle, ship ) {
		opener.parent.frames['main'].location.href = DS.getUrl()+'?module=angriff&battle='+battle+'&ship='+ship;
		window.close();
	}

	function reloadMainpage() {
		window.setTimeout(function() {
			reloadMainpage2();
		}, 1000);
	}
	
	{if jscript.reloadmain}
		var shipid = {jscript.reloadmain.ship};
		
		function reloadMainpage2() {
			var szUrl = opener.parent.frames['main'].location.href;
			if( (szUrl.search(/\?/) == -1) && (szUrl.search(/ship=/) == -1) && (shipid > 0) ) {
				szUrl = szUrl + '?&ship='+shipid;
			}
			szUrl = szUrl + "&tmp=1";

			var szUrl2 = szUrl.replace(/plugin=(.*)\&/,"&");
			szUrl2 = szUrl2.replace(/join=(.*)\&/,"&");
			szUrl2 = szUrl2.replace(/node=(.*)\&/,"&");
			szUrl2 = szUrl2.replace(/newname=(.*)\&/,"&");
			szUrl2 = szUrl2.replace(/shup=(.*)\&/,"&");
			szUrl2 = szUrl2.replace(/land=(.*)\&/,"&");
			szUrl2 = szUrl2.replace(/newowner=(.*)\&/,"&");
			szUrl2 = szUrl2.replace(/land=(.*)\&/,"&");
			szUrl2 = szUrl2.replace(/shiplist=(.*)\&/,"&");
			szUrl2 = szUrl2.replace(/\&tmp=(.*)1/,"");
			szUrl2 = szUrl2.replace(/\&action=(.*)\&/,"&action=default&");

			opener.parent.frames['main'].location = szUrl2;
		}
	{else}
		function reloadMainpage2() {	
		}
	{/endif}
-->
</script>
