<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
	<head>
		<title>DS2 - Drifting Souls 2</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="keywords" content="Spiel,Game,Games,Spiele,Browsergame,Strategie,Weltraum,Freespace,Strategiespiel,Strategiespiele,Browsergames,GTVA,Shivaner,Vasudaner,Onlinegame,Onlinespiel" />
		<meta name="description" content="Drifting Souls 2 - Ein kostenloses werbefreies Browsergame, welches im Weltraum spielt und sich an Freespace anlehnt" />
		
		<link rel="stylesheet" type="text/css" href="data/css/format.css" />
		<link type="text/css" rel="stylesheet" href="data/css/ds2.css" />
	</head>
	<body>
		<h1>{news.headline}</h1>
		<p>{news.date}</p>
		<p>{news.text}</p>