<table class="show" cellspacing="2" cellpadding="2">
<tr>
	<td class="noBorderS">NPC-Men&uuml;</td>
	<td class="noBorder">&nbsp;</td>
	<td class="noBorder">
		<div class="gfxbox" style="width:400px;text-align:center">
			<ul class="menu">
				<li>{!link_to Ordermen&uuml;, default}</li>
	            <li>{!link_to Orden &amp; R&auml;nge, medals}</li>
	            <li>{!link_to Loyalitätspunkte, lp}</li>
				{if npcorder.shop}
					<li>{!link_to Gany-Transport, viewTransports}</li>
				{/endif}
			</ul>
		</div>
	</td>
</tr>
</table>
<br />
<br />
<span class="smallfont">
	{if npcorder.message}
		{npcorder.message}
		<br />
		<br />
	{/endif}
	{if npcorder.ordermenu}
		<span style="font-weight:bold">Kommandopunkte: {user.npcpunkte}</span><br /><br />
		<div class="gfxbox npcorderbox">
			<form action="./ds" method="post">
			{!form_create_hidden orderShips}
				<table>
					<thead>
						<tr>
							<td>Schiff</td>
							<td>Kosten</td>
							<td>Anzahl</td>
							<td>Geordert</td>
						</tr>
					</thead>
					<tbody>
					<!-- BEGIN ships.listitem -->
						{if ship.newclass}
							<tr>
								<td colspan="4">{ship.newclass.name}</td>
							</tr>
						{/endif}
						<tr>
							<td>
								<a class="forschinfo" onclick="ShiptypeBox.show({ship.type});return false;"
									href="./ds?module=schiffinfo&amp;ship={ship.type}">{ship.name}</a>
							</td>
							<td>{ship.cost}</td>
							<td><input type="text" size="3" maxlength="3" name="ship{ship.type}_count" value="0" /></td>
							<td>
								{if ship.ordercount}
									{ship.ordercount}x
								{/endif}
							</td>
						</tr>
						<!-- END ships.listitem -->
					</tbody>
					<tfoot>
						<tr>
							<td colspan="4">
								<ul>
									<li>
										<input type="checkbox" name="shipflag_disableiff" value="1" />
										<label for="shipflag_disableiff">IFF deaktiviert (+5 Punkte/Schiff)</label>
									</li>
									<li>
										<input type="checkbox" name="shipflag_nichtkaperbar" value="1" />
										<label for="shipflag_nichtkaperbar">Nicht kaperbar (+5 Punkte/Schiff)</label>
									</li>
									<li>
										<input type="checkbox" name="shipflag_handelsposten" value="1" />
										<label for="shipflag_handelsposten">Handelsposten (+5 Punkte/Schiff)</label>
									</li>
									<li>
										<input type="submit" value="bestellen" />
									</li>
								</ul>
							</td>
						</tr>
					</tfoot>
				</table>
			</form>
		</div>
		<div class="gfxbox npcorderbox">
			<table>
			<thead>
				<tr>
					<td>Offizier</td>
					<td>Rang</td>
					<td>Kosten</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
			<!-- BEGIN offiziere.listitem -->
				<tr>
					<td>
						{!link_to $offizier.name, order, order:$offizier.id} ({!link_to 5x, order, order:$offizier.id, count:5}, {!link_to 10x, order, order:$offizier.id, count:10})
					</td>
					<td align="center">
						<img src="{URL}data/interface/offiziere/off{offizier.rang}.png" alt="Rang {offizier.rang}" />
					</td>
					<td align="center">{offizier.cost}</td>
					{if offizier.ordercount}
						<td>&nbsp;{offizier.ordercount}x&nbsp;</td>
					{else}
						<td>&nbsp;</td>
					{/endif}
				</tr>
			<!-- END offiziere.listitem -->
			</tbody>
			</table>
		</div>
	{/endif}
	{if npcorder.medalsmenu}
		<br />
		<div align="center" style="width:780px">
			<div class="gfxbox" style="width:400px">
				<form action="./ds" method="post">
					Spieler bearbeiten: <input type="text" name="edituser" value="{edituser.id}" style="width:50px" />
 					{!form_create_hidden medals}
 					<input type="submit" value="bearbeiten" />
				</form>
			</div>
			{if edituser.id}
				<br />
				<div class="gfxbox" style="width:700px;text-align:left">
					<div align="center">
						{!link_to $edituser.name, default, css_class:profile, module:userprofile, user:$edituser.id}<br />
					</div>
					<br />
					<form action="./ds" method="post">
						<table width="100%" class="noBorderX">
							<tr>
								<td class="noBorderX">Rang bei Ihnen:</td>
								<td class="noBorderX" align="center" colspan="2">
									<select name="rank" size="1">
										<!-- BEGIN ranks.listitem -->
											<option value="{rank.id}" {if rank.active}selected="selected"{/endif}>{rank.name}</option>
										<!-- END ranks.listitem -->
									</select>
								</td>
							</tr>
						</table>
						<div style="text-align:center">
							{!form_create_hidden changeRank, edituser:$edituser.id}
							<input type="submit" value="Aktualisieren">
						</div>
					</form>
					{if npcorder.factionhead}
						<hr noshade="noshade" size="1" style="color:#cccccc" />
						<form action="./ds" method="post">
							<!-- BEGIN medals.listitem -->
								<div style="float:left;width:120px;min-height:160px;margin:5px;text-align:center">
									<img src="{URL}data/{medal.image}" alt="" /><br />
									<input type="radio" name="medal" id="_medal{medal.id}" value="{medal.id}" /><label for="_medal{medal.id}">{medal.name}</label>
								</div>
							<!-- END medals.listitem -->
							<div style="text-align:center;padding-top:10px;clear:both">
								Grund: [...Aufgrund der/deiner ]<input type="text" name="reason" value="" size="40" /><br />
								{!form_create_hidden awardMedal, edituser:$edituser.id}<br />
								<input type="submit" value="Spieler auszeichnen" />
							</div>
						</form>
					{/endif}
				</div>
			{/endif}
		</div>
	{/endif}
	{if npcorder.lpmenu}
		<div align="center" style="width:780px">
			<div class="gfxbox" style="width:400px">
				<form action="./ds" method="post">
					Spieler bearbeiten: <input type="text" name="edituser" value="{edituser.id}" style="width:50px" />
 					{!form_create_hidden lp}
 					<input type="submit" value="bearbeiten" />
				</form>
			</div>
			{if edituser.id}
				<br />
				<div class="gfxbox" style="width:900px;text-align:left">
					<div align="center">
						{!link_to $edituser.name, default, css_class:profile, module:userprofile, user:$edituser.id}<br />
					</div>
					<br />
					<div>
						Rang bei Ihnen: {edituser.rank.name}
					</div>
					<div style="margin-bottom:10px">
						Loyalitätspunkte bei Ihnen: {edituser.lpBeiNpc}
					</div>
					<form action="./ds" method="post">
						{!form_create_hidden editLp, edituser:$edituser.id}
						<table width="100%" class="datatable">
							<thead>
								<tr>
									<th>Zeitpunkt</th>
									<th>durch</th>
									<th>für</th>
									<th>Anmerkungen</th>
									<th>Punkte</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<!-- BEGIN lp.listitem -->
									<tr>
										<td>{lp.zeitpunkt}</td>
										<td><a href="./ds?module=userprofile&amp;action=default;&amp;user={lp.verliehenDurch.id}">{lp.verliehenDurch.name}</a></td>
										<td>{lp.grund}</td>
										<td><textarea style="width:200px;height:30px">{lp.anmerkungen}</textarea></td>
										<td>{lp.anzahlPunkte}</td>
										<td><a style="color:red" href="./ds?module=npcorder&amp;action=deleteLp&amp;edituser={edituser.id}&amp;lp={lp.id}">x</a></td>
									</tr>
								<!-- END lp.listitem -->
							</tbody>
							<tfoot>
								<tr>
									<td></td>
									<td></td>
									<td><input type="text" maxlength="255" size="30" name="grund" value="" /></td>
									<td><textarea style="width:200px;height:30px" name="anmerkungen"></textarea></td>
									<td>
										<input type="text" size="4" name="punkte" value="0" />
									</td>
									<td>
										<input type="submit" name="add" value="+" />
									</td>
								</tr>
							</tfoot>
						</table>
					</form>
				</div>
			{/endif}
		</div>
	{/endif}
	{if npcorder.transports}
		<div class="gfxbox" style="width:700px">
			<table class="noBorderX" width="100%">
			<tr>
				<td class="noBorderX" style="text-align:center" colspan="2">Frachter</td>
				<td class="noBorderX" style="text-align:center">Status</td>
				<td class="noBorderX" style="text-align:center">Auftrag</td>
			</tr>
			<!-- BEGIN transports.listitem -->
				<tr>
					<td class="noBorderX">
						<img style="vertical-align:middle;height:100px" src="{transport.ship.picture}" alt="" />
					</td>
					<td class="noBorderX">
						{!link_to $transport.ship, default, module:schiff, ship:$transport.ship.id} ({transport.ship.id})
					</td>
					<td class="noBorderX" style="text-align:center">&nbsp;{transport.status}&nbsp;</td>
					<td class="noBorderX" style="text-align:center">{transport.assignment}</td>
				</tr>
			<!-- END transports.listitem -->
			</table>
		</div>
	{/endif}
</span>