<table class="show" cellspacing="2" cellpadding="2">
<tr>
	<td class="noBorderS">NPC-Men&uuml;</td>
	<td class="noBorder">&nbsp;</td>
	<td class="noBorder">
		{!table_begin 400,center}
			{!link_to Ordermen&uuml;, default}
            &nbsp;|&nbsp;
            {!link_to Orden &amp; R&auml;nge, medals}
			{if npcorder.shop}
				&nbsp;|&nbsp;
				{!link_to Gany-Transport, viewTransports}
			{/endif}			
		{!table_end}
	</td>
</tr>
</table>
<br />
<br />
<span class="smallfont">
	{if npcorder.message}
		{npcorder.message}
		<br />
		<br />
	{/endif}
	{if npcorder.ordermenu}
		<span style="font-weight:bold">Kommandopunkte: {user.npcpunkte}</span><br /><br />
		<table class="noBorder">
		<tr>
			<td class="noBorderX" valign="top">
				{!table_begin 400,left}
					<table class="noBorderX" width="100%">
					<tr>
						<td class="noBorderX" colspan="2">Schiff</td>
						<td class="noBorderX">?</td>
						<td class="noBorderX">Kosten</td>
						<td class="noBorderX"></td>
					</tr>
					<!-- BEGIN ships.listitem -->
						{if ship.newclass}
							<tr>
								<td class="noBorderX" colspan="5">{ship.newclass.name}</td>
							</tr>
						{/endif}
						<tr>
							<td class="noBorderX">&nbsp;</td>
							<td class="noBorderX">
								{!link_to $ship.name, order, order:$ship.type} ({!link_to 5x, order, order:$ship.type, count:5}, {!link_to 10x, order, order:$ship.type, count:10})
							</td>
							<td class="noBorderX">
								<a class="forschinfo" onclick="ShiptypeBox.show({ship.type});return false;"
									href="./ds?module=schiffinfo&amp;ship={ship.type}">?</a>
							</td>
							<td class="noBorderX" align="center">{ship.cost}</td>
							{if ship.ordercount}
								<td class="noBorderX">&nbsp;{ship.ordercount}x&nbsp;</td>
							{else}
								<td class="noBorderX">&nbsp;</td>
							{/endif}
						</tr>
						<!-- END ships.listitem -->
					</table>
				{!table_end}
			</td>
			<td class="noBorderS" width="40">&nbsp;&nbsp;</td>
			<td class="noBorderS" valign="top">
				{!table_begin 400, left}
					<table class="noBorderX" width="100%">
					<tr>
						<td class="noBorderX">Offizier</td>
						<td class="noBorderX">Rang</td>
						<td class="noBorderX">Kosten</td>
						<td class="noBorderX"></td>
					</tr>
					<!-- BEGIN offiziere.listitem -->
						<tr>
							<td class="noBorderX">
								{!link_to $offizier.name, order, order:$offizier.id} ({!link_to 5x, order, order:$offizier.id, count:5}, {!link_to 10x, order, order:$offizier.id, count:10})
							</td>
							<td class="noBorderX" align="center">
								<img src="{URL}data/interface/offiziere/off{offizier.rang}.png" alt="Rang {offizier.rang}" />
							</td>
							<td class="noBorderX" align="center">{offizier.cost}</td>
							{if offizier.ordercount}
								<td class="noBorderX">&nbsp;{offizier.ordercount}x&nbsp;</td>
							{else}
								<td class="noBorderX">&nbsp;</td>
							{/endif}
						</tr>
					<!-- END offiziere.listitem -->
					</table>
				{!table_end}
			</td>
		</tr>	
		</table>
	{/endif}
	{if npcorder.medalsmenu}
		<br />
		<div align="center" style="width:780px">
			<div class="gfxbox" style="width:400px">
				<form action="./ds" method="post">
					Spieler bearbeiten: <input type="text" name="edituser" value="{edituser.id}" style="width:50px" />
 					{!form_create_hidden medals}
 					<input type="submit" value="bearbeiten" />
				</form>
			</div>
			{if edituser.id}
				<br />
				<div class="gfxbox" style="width:700px;text-align:left">
					<div align="center">
						{!link_to $edituser.name, default, css_class:profile, module:userprofile, user:$edituser.id}<br />
					</div>
					<br />
					<table width="100%" class="noBorderX">
						<form action="./ds" method="post">
							<tr>
								<td class="noBorderX">Rang bei Ihnen:</td>
								<td class="noBorderX" align="center" colspan="2">
									<select name="rank" size="1">
										<!-- BEGIN ranks.listitem -->
											<option value="{rank.id}" {if rank.active}selected="selected"{/endif}>{rank.name}</option>
										<!-- END ranks.listitem -->
									</select>
								</td>
							</tr>
 							<tr>
 								<td class="noBorderX" align="center" colspan="2">
									{!form_create_hidden changeRank, edituser:$edituser.id}
									<input type="submit" value="Aktualisieren">
								</td>
							</tr>
						</form>
					</table>
					<hr noshade="noshade" size="1" style="color:#cccccc" />
					<form action="./ds" method="post">
						<!-- BEGIN medals.listitem -->
							<div style="float:left;width:120px;min-height:160px;margin:5px;text-align:center">
								<img src="{URL}data/{medal.image}" alt="" /><br />
								<input type="radio" name="medal" id="_medal{medal.id}" value="{medal.id}" /><label for="_medal{medal.id}">{medal.name}</label>
							</div>
						<!-- END medals.listitem -->
						<tr>
							<td class="noBorderX" colspan="8" align="center">
								<br />
								Grund: [...Aufgrund der/deiner ]<input type="text" name="reason" value="" size="40" /><br />
								{!form_create_hidden awardMedal, edituser:$edituser.id}<br />
								<input type="submit" value="Spieler auszeichnen" />
							</td>
						</tr>
						</table>
					</form> 
				</div>
			{/endif}
		</div>
	{/endif}
	{if npcorder.transports}
		<div class="gfxbox" style="width:700px">
			<table class="noBorderX" width="100%">
			<tr>
				<td class="noBorderX" style="text-align:center" colspan="2">Frachter</td>
				<td class="noBorderX" style="text-align:center">Status</td>
				<td class="noBorderX" style="text-align:center">Auftrag</td>
			</tr>
			<!-- BEGIN transports.listitem -->
				<tr>
					<td class="noBorderX">
						<img style="vertical-align:middle;height:100px" src="{transport.ship.picture}" alt="" />
					</td>
					<td class="noBorderX">
						{!link_to $transport.ship, default, module:schiff, ship:$transport.ship.id} ({transport.ship.id})
					</td>
					<td class="noBorderX" style="text-align:center">&nbsp;{transport.status}&nbsp;</td>
					<td class="noBorderX" style="text-align:center">{transport.assignment}</td>
				</tr>
			<!-- END transports.listitem -->
			</table>
		</div>
	{/endif}
</span>