{if pluendern.message}
	<span class="smallfont">
		{pluendern.message}
	</span>
	<br />
	<br />
{/endif}

<div class="gfxbox" style="width:440px;text-align:center">
	{fromship.name} ({fromship.id}) pl&uuml;ndert {toship.name} ({toship.id})<br /><br />
	<form action="./ds" method="post">
	{if frompage.kapern}<input type="hidden" name="fromkapern" value="1" />{/endif}
	<table class="noBorderX" border="0">
	<!-- BEGIN res.listitem -->
		<tr>
			<td class="noBorderX"><img src="{res.image}" alt="" /></td>
			<td class="noBorderX">{res.name}</td>
			<td class="noBorderX" align="right">{res.cargo1}</td>
			<td class="noBorderX">
				<input name="{res.id}to" type="text" size="3" value="0" />
			</td>
			<td class="noBorderX">
				<input name="{res.id}from" type="text" size="3" value="0" />
			</td>
			<td class="noBorderX">
				{res.cargo2}
			</td>
		</tr>
	<!-- END res.listitem -->
	<tr>
		<td class="noBorderX" colspan="6">
			<hr noshade="noshade" size="1" style="color:#cccccc" />
		</td>
	</tr>

	<tr>
		<td class="noBorderX"><img src="data/interface/leer.gif" alt= /></td>
		<td class="noBorderX">Leer</td>
		<td class="noBorderX" align="right">{fromship.cargo}</td>
		<td class="noBorderX" align="center">-</td>
		<td class="noBorderX" align="center">-</td>
		<td class="noBorderX">{toship.cargo}</td>
	</tr>

	<tr>
		<td class="noBorderX" colspan="6" align="center"><br />
			{!form_create_hidden transfer, from:$fromship.id, to:$toship.id}
			<input type="submit" value="pl&uuml;ndern" style="width:150px" />
		</td>
	</tr>
	</table>
	</form>
</div>
<br />
{if frompage.kapern}
	{!link_to zur&uuml;ck, default, module:kapern, css_class:back, ship:$fromship.id, tar:$toship.id}
{else}
	{!link_to zur&uuml;ck, default, module:schiff, css_class:back, ship:$fromship.id}
{/endif}