<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
	<head>
		<title>DS2 - Drifting Souls 2</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="keywords" content="Spiel,Game,Games,Spiele,Browsergame,Strategie,Weltraum,Freespace,Strategiespiel,Strategiespiele,Browsergames,GTVA,Shivaner,Vasudaner,Onlinegame,Onlinespiel" />
		<meta name="description" content="Drifting Souls 2 - Ein kostenloses werbefreies Browsergame, welches im Weltraum spielt und sich an Freespace anlehnt" />
		
		<link rel="stylesheet" type="text/css" href="./format.css" />
		<link type="text/css" rel="stylesheet" href="{URL}data/css/ds2.css" />
		<link type="text/css" rel="stylesheet" href="{URL}data/css/facebox.css"/>
			
		<script type="text/javascript" src="{URL}data/javascript/jquery.js"></script>
		<script type="text/javascript" src="{URL}data/javascript/facebox.js"></script>
		<script type="text/javascript">
		jQuery(document).ready(function($) 
		{
			$('a[rel*=facebox]').facebox() 
		})
		
		</script>
	</head>
	<body>
	<ol id="navigation">
		<li><a class="portallink" title="Zur Startseite" href="./ds">Home</a></li>
		<li><a class="portallink" title="Zum Forum" href="http://forum.drifting-souls.net/phpbb3/index.php">Forum</a></li>
		<li><a class="portallink" title="Zur Wiki" href="http://wiki.drifting-souls.net/">Wiki</a></li>
		<li><a class="portallink" title="Entwicklung: Alle Bug, Feature Requests und Patches auf einen Blick. Weitere Informationen zur Entwicklung findest du in der Wiki und im Forum." 
				href="http://dev.drifting-souls.net/jira/">Bugtracker</a></li>
		<li><a class="portallink" title="Entwicklung: Bietet dir Zugriff das Continuous Integration System von Drifting Souls. Weitere Informationen zur Entwicklung findest du in der Wiki und im Forum." 
				href="http://dev.drifting-souls.net/bamboo/">Bamboo</a></li>
		<li><a class="portallink" title="Zur Galerie mit Fotos, Screenshots und Schiffsentw&uuml;rfen" href="http://fanart.drifting-souls.net/gallery/">Galerie</a></li>
		<li><a class="portallink" title="Zur AGB" href="./ds?module=portal&amp;action=infosAgb">AGB</a></li>
		<li><a class="portallink" title="Zum Impressum" href="./ds?module=portal&amp;action=impressum">Impressum</a></li>
	</ol>
	<ul id="document">
		{if show.msg.login.wrongpassword}
			<li>
				<p>
					<span style="color:red; font-weight:bold">Das Passwort stimmt nicht!</span>
					<span style="color:white">Offenbar ist etwas schiefgelaufen .... Versuch geloggt</span>
				</p>
			</li>
		</ul>
		{/endif}
		{if show.login.msg.accdisabled}
			<li>
				<p>
					<span style="color:red; font-weight:bold">Der Account wurde gesperrt! Login nicht m&auml;glich!</span>
				</p>
			</li>
		{/endif}
		{if show.login.msg.tick}
			<li>
				<p>
					<span style="color:red; font-weight:bold">Der Tick bearbeitet gerade einige ihrer Accountdaten. Bitte versuchen sie es gleich nochmal!</span>
				</p>
			</li>
		{/endif}
		{if show.login.logindisabled}
			<li>
				<p>
					<span style="color:red">Es ist zur Zeit leider nicht m&ouml;glich sich in Drifting Souls einzuloggen</span><br />
					<br />
					Grund: {login.logindisabled.msg}
				</p>
			</li>
		{/endif}
		{if show.login.vacmode.msg.accerror}
			<li>
				<p>
					<span style="color:red; font-weight:bold">Es liegt ein Problem mit den Accountdaten vor.<br />Bitte loggen sie sich neu ein und versuchen sie es nocheinmal!</span>
				</p>
			</li>
		{/endif}
		{if show.register.msg.wrongname}
			<li>
				<p>
					<a href="./ds?module=portal&amp;action=register"><span style="color:red;font-weight:bold">Der von Ihnen gew&uuml;nschte Name ist bereits belegt.</span></a>
				</p>
			</li>
		{/endif}
		{if show.register.msg.wrongemail}
			<li>
				<p>
					<a href="./ds?module=portal&amp;action=register"><span style="color:red;font-weight:bold">Die E-Mail Adresse wird bereits von einem anderen Account verwendet</span></a>
				</p>
			</li>
		{/endif}
		{if show.register.msg.wrongrace}
			<li>
				<p>
					<a href="./ds?module=portal&amp;action=register"><span style="color:red;font-weight:bold">Die von Ihnen gew&uuml;nschte Rasse ist leider nicht spielbar. Bitte w&auml;hlen sie eine andere Rasse aus!</span></a>
				</p>		
			</li>
		{/endif}
		{if show.register.msg.wrongpassword}
			<li>
				<p>
					<a href="./ds?module=portal&amp;action=register"><span style="color:red;font-weight:bold">Die von Ihnen angegebenen Passw&ouml;rter sind leider nicht identisch</span></a>
				</p>
			</li>
		{/endif}
		{if show.register.msg.wrongkey}
			<li>
				<p>
					<a href="./ds?module=portal&amp;action=register"><span style="color:red">Der von Ihnen angegebene Registrierungsschl&uuml;ssel ist ung&uuml;ltig</span></a>
				</p>
			</li>
		{/endif}
		{if show.register.msg.ok}
			<li>
				<h1>Registrierung erfolgreich.</h1>
				<p>
					Dein Account hat die ID "{register.newid}" bekommen. Au&szlig;erdem wurde dir das Passwort via E-Mail zugesendet.<br />
					Viel Spa&szlig; bei Drifting Souls 2
				</p>
			</li>
		{/endif}
		{if show.register.registerdisabled}
			<li>
				<p>
					<span style="color:red">Es ist zur Zeit leider nicht m&ouml;glich sich bei Drifting Souls anzumelden</span><br />
					Grund: {register.registerdisabled.msg}
				</p>
			</li>	
		{/endif}
		{if show.login.vacmode}
			<li>
				<p>
					<span style="color:red; font-weight:bold">Du bist noch f&uuml;r {login.vacmode.dauer} Ticks im Urlaub.</span>
				</p>
			</li>		
		{/endif}
		
		{if ! show.register}
			{if ! show.register.choosesystem}
				{if ! show.register.msg.ok}
					{if ! is.logged.in}
						<li id="login">
							<form action="./ds" method="post">
								<ol>
									<li>Name: <input style="width:170px" name="username" type="text" maxlength="40" value="{login.username}" /></li>
									<li>Passwort: <input style="width:170px" name="password" type="password" value="" /></li>
									<li><input type="checkbox" id="login_usegfxpak" name="usegfxpak" value="1" checked="checked" /></li>
									<li><label for="login_usegfxpak">Grafikpack verwenden</label></li>
									<li><input type="checkbox" id="login_rememberme" name="rememberme" value="true" /></li>
									<li><label for="login_rememberme">Eingeloggt bleiben</label></li>
									<li><input type="hidden" name="action" value="login" /></li>
									<li><input type="hidden" name="module" value="portal" /></li>
									<li><input type="submit" value="Login" /></li>
								</ol>	
							</form>
						</li>
						<li id="lostpass">
							<a href="./ds?module=portal&amp;action=passwordLost" title="Passwort vergessen">Passwort vergessen?</a>
						</li>
					{else}
						<li id="login">
							<form action="./ds" method="post">
								<ol>
									<li>Willkommen zur&uuml;ck</li>
									<li><input type="hidden" name="action" value="relogin" /></li>
									<li><input type="hidden" name="module" value="portal" /></li>
									<li><input type="submit" value="Zum Spiel" /></li>
								</ol>	
							</form>
						</li>
					{/endif}
				{/endif}
			{/endif}
		{/endif}
		
		
		{if show.register.choosesystem}
		<script type="text/javascript">
		<!--
			var lastSystemSelect = {register.system.id};
			
			function actionSystemSelectChange(action) {
				if( document.getElementById("register_systemdesc_"+action) != null ) {
					document.getElementById("register_systemdesc_"+action).style.display = 'inline';
				}
				if( document.getElementById("register_systemdesc_"+lastSystemSelect) != null ) {
					document.getElementById("register_systemdesc_"+lastSystemSelect).style.display = 'none';
				}
				lastSystemSelect = action;
			}
		-->
		</script>
			<li>
				<h1>Startpunkt</h1>
				<p>
					Es wurde automatisch das Sternensystem {register.system.name} als g&uuml;nstigster Startpunkt f&uuml;r sie festgestellt.<br />
					Sollten sie einen anderen Startpunkt bevorzugen k&ouml;nnen sie diesen nun ausw&auml;hlen:<br />
					<div style="text-align:left">
						<form action="./ds" method="post">
						<select name="system" size="1" style="width:300px" onchange="actionSystemSelectChange(this.options[this.options.selectedIndex].value)">
						<!-- BEGIN register.systems.listitem -->
							<option value="{system.id}" {if system.selected}selected="selected"{/endif}>{system.name}{if system.selected} (empfohlen){/endif}</option>
						<!-- END register.systems.listitem -->
						</select>
						<br />
						{!form_create_hidden register}
						<input type="hidden" name="username" value="{register.username}" />
						<input type="hidden" name="email" value="{register.email}" />
						<input type="hidden" name="race" value="{register.race}" />
						{if register.needkey}
							<input type="hidden" name="key" value="{register.key}" />
						{/endif}
						<input type="submit" value="weiter" style="width:100px" />
						</form>
					</div>
				</p>
				<p>
			<!-- BEGIN register.systemdesc.listitem -->
				{if system.description}
					<div id="register_systemdesc_{system.id}" {if ! system.selected}style="display:none"{else}style="display:inline"{/endif}>
						{!table_begin 350,justify}
							<div style="text-align:center; font-weight:bold">{system.name}</div><br />
							{system.description}
						{!table_end}
					</div>
				{/endif}
			<!-- END register.systemdesc.listitem -->
				</p>
			</li>
		{/endif}

		{if show.register}
		<form action="./ds" method="post">
			<script type="text/javascript">
			<!--
				var lastRaceSelect = {register.rassen.selected};
				
				function actionRaceSelectChange(action) {
					if( document.getElementById("register_rassendesc_"+action) != null ) {
						document.getElementById("register_rassendesc_"+action).style.display = 'inline';
					}
					if( document.getElementById("register_rassendesc_"+lastRaceSelect) != null ) {
						document.getElementById("register_rassendesc_"+lastRaceSelect).style.display = 'none';
					}
					lastRaceSelect = action;
				}
			-->
			</script>
			
			<li>
				<h1>Registrierung</h1>
				<p>Bitte f&uuml;llen sie alle Felder aus<br />
				Das Passwort wird ihnen anschlie&szlig;end via E-Mail zugesandt<br /><br />
				<span style="color:red">Das setzt die Angabe einer g&uuml;ltigen E-mail Adresse voraus.<br /></span>
				</p>
				<p>
					<div style="width:100px; float:left;">Spezies</div> <select name="race" size="1" style="width:200px" onchange="actionRaceSelectChange(this.options[this.options.selectedIndex].value)">
					<!-- BEGIN register.rassen.listitem -->
						<option value="{rasse.id}" {if rasse.selected}selected="selected"{/endif}>{rasse.name}</option>
					<!-- END register.rassen.listitem -->
					</select>
				</p>
				<p>
					<div style="width:100px; float:left;">Loginname</div> <input name="username" type="text" style="width:200px"  maxlength="40" value="{register.username}" />
					<br />
					<div style="width:100px; float:left;">E-Mail</div> <input name="email" type="text" style="width:200px" maxlength="60" value="{register.email}" />
					<br />
				</p>
			{if register.needkey}
				<p>
					Reg.Schl&uuml;ssel <input name="key" type="text" style="width:200px" />
					<br />
				</p>
			{/endif}
				<p>
					<input type="hidden" name="action" value="register" />
					<input type="hidden" name="module" value="portal" />
					<input type="submit" value="Account registrieren" />
				</p>
			</li>
			<li>
			<!-- BEGIN register.rassendesc.listitem -->
			{if rasse.description}
				<div id="register_rassendesc_{rasse.id}" {if ! rasse.selected}style="display:none"{else}style="display:inline"{/endif}>
					{!table_begin 350,justify}
						<div style="text-align:center; font-weight:bold">{rasse.name}</div><br />
						{rasse.description}
					{!table_end}
				</div>
			{/endif}
			<!-- END register.rassendesc.listitem -->
			</li>
		</form>
		{/endif}
		{if show.passwordlost.msg.ok}
			<li>
				<p>
					<span style="color:green; font-weight:bold">Das Password wurde erstellt und zu ihrer Email-Adresse gesendet</span>
				</p>
			</li>
		{/endif}
		{if show.passwordlost.msg.error}
			<li>
				<p>
					<span style="color:green; font-weight:bold">Der angegebene Username existiert nicht! Fehleingabe?</span><br />
					Offenbar ist etwas schiefgelaufen .... Versuch geloggt
				</p>
			</li>
		{/endif}
		{if show.passwordlost}
			<li>
				<p>
					<form action="./ds" method="post">
					<span style="font-weight:bold; color:red">Passwort vergessen?</span><br />
					Bitte geben Sie Ihren Usernamen ein!<br />Ein neues Passwort wird dann erstellt und Ihnen an die gespeicherte E-Mail-Adresse gesandt.<br />
					<br/>
					Username: <input name="username" type="text" value="" />
					<input type="submit" value=".: ok" />
					<input type="hidden" name="action" value="passwordLost" />
					<input type="hidden" name="module" value="portal" />
					</form>
				</p>
			</li>
		{/endif}
		
		{if show.agb}
			<li>
					<h1>Allgemeine Gesch&auml;ftsbedingungen</h1>
					<ol id="agb">
						<li>Durch die Benutzung von DS2 erkennt der Spieler diese AGB automatisch an</li>
						<li>Die Registrierung/Betreibung mehrerer Accounts durch die selbe Person ist untersagt.</li>
						<li>Ausnahmegenehmigungen k&ouml;nnen durch die Administration erteilt werden.</li>
						<li>Eine kurzzeitige &uuml;bernahme eines fremden Accounts zum Zwecke der Vertretung ist gestattet, sofern nur die Grundfunktionen aufrecht gehalten werden. Hierzu ist es erlaubt Waren vom eigenen Account zum vertretenen Account zu transferieren. Warentransfers in die andere Richtung sind dabei untersagt.</li>
						<li>Es besteht kein Recht auf einen Account</li>
						<li>Es wird keinerlei Haftung f&uuml;r Sch&auml;den &uuml;bernommen, welche durch die Benutzung von Drifting Souls 2 und damit zusammenh&auml;ngender Produkte entstehen.</li>
						<li>Es besteht keinerlei Anspruch auf die Teilnahme an Drifing Souls.</li>
						<li>Die Administration beh&auml;lt sich das Recht vor, jederzeit und ohne Ank&uuml;ndigung Accounts und ohne Nennung von Gr&uuml;nden zu sperren oder zu l&ouml;schen.</li>
						<li>Durch die Teilnahme an Drifing Souls werden diese Nutzungsbedingungen automatisch akzeptiert</li>
						<li>Drifting Souls ist kostenlos und werbefrei.</li>
						<li>Das Ausnutzen von Bugs zum Vorteil seines Accounts oder eines anderen bzw. zum Schaden eines anderen ist untersagt.</li>
						<li>Durch den Nutzer gefundene Bugs sind der Administration unverz&uuml;glich zu melden.</li>
						<li>Das Benutzen von Programmen, bei denen es sich nicht eindeutig um Internetbrowser handelt, um auf Drifting Souls 2 zuzugreifen ist nur gestattet, wenn die Administration informiert wurde und eine Genehmigung erteilt wurde. Auf Nachfrage sind die Quellentexte des Programms zu Kontrollzwecken herauszugeben sowie eine Zug&auml;nglichmachung f&uuml;r alle DS2-Spieler durchzuf&uuml;hren.</li>
						<li>Die Administration beh&auml;lt sich das Recht vor diese AGB jederzeit zu &auml;ndern.</li>
					</ol>
			</li>
		{/endif}
		{if show.impressum}
			<li>
				<h1>Impressum</h1>
				<p>
				Webmaster/Administrator: Ralf Hajek - Alias: Guzman<br />
				Sch&ouml;nauer Stra&szlig;e 4<br />
				65232 Taunusstein<br />
				E-Mail: R.Hajek@t-online.de<br />
				Co-Administrator: Christopher Jung - Alias: bKtHeG<br />
				Ehemalige Programmierer: Ra, BoLt<br />
				Fleissige Helfer: Rhonabwy, Madison
				</p>
			</li>
		{/endif}
		
		{if show.overview}
			<li id="teaser">
				<h1>Was ist Drifting-Souls?</h1>
				<p>Drifting-Souls ist eine Kombination aus Aufbaustrategie- und Multiplayerspiel. 
				Du wirst also einen grossen Teil deiner Zeit mit anderen Spielern verbringen. 
				Die Frage was Du in Drifting-Souls machst ist wohl f&uuml;r jeden Spieler anders:
				Aufbauen, k&auml;mpfen, handeln. Nicht immer in der Reihenfolge und &ouml;fter auch
				gleichzeitig.<br />
				Aber Erkl&auml;rungen sind eigentlich langweilig. 
				Schau dir doch einfach mal ein paar Screenshots 
				an und wenn Du Interesse hast, dann geht es hier zur <a id="registerlink" href="./ds?module=portal&amp;action=register">Anmeldung</a></p>
			</li>
			<li id="screenshots">
				<a href="./data/interface/screenshots/teaser1_midsize.jpg" title="Eine Basis" rel="facebox">
					<img src="./data/interface/screenshots/teaser1_thumbnail.jpg" alt="Bild einer Basis" class="screenshot"/>
				</a>
				<a href="./data/interface/screenshots/teaser2_midsize.jpg" title="Ein Schiff" rel="facebox">
					<img src="./data/interface/screenshots/teaser2_thumbnail.jpg" alt="Schiffsbildschirm" class="screenshot"/>
				</a>
				<a href="./data/interface/screenshots/teaser3_midsize.jpg" title="Ansicht einer Werft" rel="facebox">
					<img src="./data/interface/screenshots/teaser3_thumbnail.jpg" alt="Werftansicht" class="screenshot"/>
				</a>
				<a href="./data/interface/screenshots/teaser4_midsize.jpg" title="Ein weiteres Schiff" rel="facebox">
					<img src="./data/interface/screenshots/teaser4_thumbnail.jpg" alt="Schiffsansicht" class="screenshot"/>
				</a>
			</li>
			<li id="opensource">
				<h1>Ist da noch mehr?</h1>
				<p>Klar. Drifting-Souls ist gleichzeitig auch ein Open-Source Projekt, 
				dass unter der LGPL steht. Als Programmiersprache verwenden wir Java. 
				Interesse mitzumachen? <br />
				Dann besuch uns doch einfach mal im <a class="portallink" href="irc://irc.euirc.net/ds">Chat</a>.</p>
			</li>
		{/endif}
		{if show.news}
			<li id="news">
				<h1>News</h1>
				<ol>
			<!-- BEGIN news.listitem -->
					<li class="newsitem">
						<h2 class="title">{news.title}</h2>
						<span class="authoring">{news.author}, {news.date}</span>
						<p class="newstext">{news.text}</p>
					</li>
			<!-- END news.listitem -->
				</ol>
			</li>
		{/endif}
			<li><a class="portallink" title="Zum News-Archiv" href="./ds?module=portal&amp;action=default&amp;archiv=1">Zum News-Archiv</a></li>
		
			<li id="votes">
				<a href="http://www.galaxy-news.de/?page=charts&amp;op=vote&amp;game_id=339"><img style="border: 0px none ; width: 86px; height: 29px;" src="http://ds.drifting-souls.net/ds2j/vote.gif" alt="vote4ds" /></a> - 
			</li>
		</ul>