<span class="smallfont">

{if global.scansector}
	{if sector.isscanable}
		<table class="show" cellpadding="2">
		<tr class="show">
			<td class="show">ID</td>
			<td class="show">Besitzer</td>
			<td class="show">Name</td>
			<td class="show">Klasse</td>
		</tr>
		
		{if sector.nebel}
			<tr>
				<td class="show2"></td>
				<td class="show2">&nbsp;</td>
				<td class="show2">&nbsp;</td>
				<td class="show2"><img src="{URL}data/objects/nebel{sector.nebel.type}.png"></td>
			</tr>
		{/endif}
		{if bases.list}
			<!-- BEGIN bases.listitem -->
			<tr>
				<td class="show2">
					<span class="smallfont">
						{if base.isown}
							{!link_to $base.id, default, module:base, css_class:schiff, link_target:main, col:$base.id}
						{else}
							{base.id}
						{/endif}
					</span>
				</td>
				<td class="show2">
					<span class="smallfont">
						{if base.owner.link}
							{!link_to $base.owner.name, default, css_class:profile, link_target:main, module:userprofile, user:$base.owner.id}
						{else}
							{base.owner.name}
						{/endif}
					</span>
				</td>
				<td class="show2">
					<span class="smallfont">{base.name}</span>
					{if base.size}
						<br /><span class="verysmallfont">Gr&ouml;&szlig;e: {base.size}</span>
					{/endif}
				</td>
				<td class="show2"><img src="{URL}data/starmap/kolonie{base.klasse}_srs.png" alt="" /></td>
			</tr>
			<!-- END bases.listitem -->
		{/endif}
		{if sector.jumpnode}
			<tr>
				<td class="show2"><span class="smallfont">{jumpnode.id}</span></td>
				<td class="show2">&nbsp;</td>
				<td class="show2"><span class="smallfont">{jumpnode.name}{jumpnode.blocked}</span></td>
				<td class="show2"><img src="{URL}data/objects/node.png" alt="" /></td>
			</tr>
		{/endif}
		{if battles.list}
			<!-- BEGIN battles.listitem -->
				<tr>
					<td class="show2"><span class="smallfont">{battle.id}</span></td>
					<td class="show2" align="center">
						<span class="smallfont">
							<img src="{URL}battle.png" alt="Schlacht">
							{if battle.isquestbattle}
								<br /><span class="verysmallfont">[Quest]</span>
							{/endif}
						</span>
					</td>
					<td class="show2" align="center">
						<span class="smallfont">{battle.party1}<br />vs<br />{battle.party2}</span>
					</td>
					<td class="show2"><span class="smallfont">{battle.shipcount} Schiffe</span></td>
				</tr>
			<!-- END battles.listitem -->
		{/endif}
		{if sector.subraumspalten}
			<tr>
				<td class="show2"><span class="smallfont">-</span></td>
				<td class="show2">&nbsp;</td>
				<td class="show2">
					<span class="smallfont">{sector.subraumspalten} Subraumspalte{if sector.subraumspalte > 1}n{/endif}</span>
				</td>
				<td class="show2"><img src="{URL}data/objects/subraumspalt.gif" alt="" /></td>
				<td class="show2">&nbsp;</td>
				<td class="show2"></td>
			</tr>
		{/endif}
		{if ships.list}
			<!-- BEGIN ships.listitem -->
				<tr class="show2">
					<td class="show2">
						<span class="smallfont">
							{if ship.isown}
								{!link_to $ship.id, default, module:schiff, css_class:schiff, link_target:main, ship:$ship.id}
							{else}
								{ship.id}
							{/endif}
						</span>
					</td>
					<td class="show2">
						<span class="smallfont">
							{if ship.ownerlink}
								{!link_to $ship.owner.name, default, css_class:profile, link_target:main, module:userprofile, user:$ship.owner.id}
							{else}
								{ship.owner.name}
							{/endif}
						</span>
					</td>
					<td class="show2">
						<span class="smallfont">
							{if ship.battle}
								<img src="{URL}battle_small.gif" "Schlacht" />
							{/endif}
							{ship.name}
						</span>
					</td>
					<td class="show2">
						<a target="main" class="noborder tooltip" target="_blank" 
							onclick="ShiptypeBox.show({ship.type});return false;"
							href="./ds?module=schiffinfo&ship={ship.type}">
							<img src="{global.user.imagepath}{ship.type.picture}" alt="">
							<span class="ttcontent">{ship.type.name}</span>
						</a>
					</td>
				</tr>
			<!-- END ships.listitem -->
		{/endif}
		</table>
	{else}
		<span class="smallfont">Der zu scannende Sektor liegt au&szlig;erhalb der Sensorreichweite</span>
	{/endif}
{else}
	<script type="text/javascript">
	<!--
		function scanSector(xcoord,ycoord) {
			document.getElementById('coords').firstChild.nodeValue = "Scan von "+xcoord+"/"+ycoord;

			sector.location.href = "ds?module=scan&action=scan&ship={global.ship.id}&admin={global.admin}&baseloc={global.baseloc}&range={global.baserange}&scanx="+xcoord+"&scany="+ycoord;
		}
	-->
	</script>
	<table class="noBorder" height="100%">
	<tr>
		<td class="noBorderS">
			<div align="center" style="font-weight:bold">Sensorreichweite: {global.range}</div>
		</td>
		<td class="noBorderS">&nbsp;</td>
		<td class="noBorderS">
			<span style="font-weight:bold; color:#ff0505" name="coords" id="coords">
				Scan von {global.scan.x}/{global.scan.y}
			</span>
		</td>
	</tr>
	<tr>
		<td class="noBorderS" valign="top">	
			<table cellpadding="0" cellspacing="0" class="show lrsmap">
			<tr>
				<td></td>
				<!-- BEGIN mapborder.listitem -->
					<td>{mapborder.x}</td>
				<!-- END mapborder.listitem -->
			</tr>
			<!-- BEGIN map.rowitem -->			
				<tr>
					<td>{map.border.y}</td>
					<!-- BEGIN map.listitem -->
						{if map.showsector}
							{if map.fleet}
								<td class="tooltip sector" onclick="javascript:scanSector({map.x},{map.y})" style="background:url('{URL}data/starmap/{map.image}.png') no-repeat;">
									<img src="{URL}data/starmap/fleet/fleet{map.fleet}.png" alt="{map.image.name}"/>
									{if map.tooltip}
										<span class="ttcontent">{map.tooltip}</span>
									{/endif}
								</td>
							{else}
								<td class="tooltip sector" onclick="javascript:scanSector({map.x},{map.y})">
									<img src="{URL}data/starmap/{map.image}{map.fleet}.png" alt="{map.image.name}" />
									{if map.tooltip}
										<span class="ttcontent">{map.tooltip}</span>
									{/endif}
								</td>
							{/endif}
							{if map.show.rightborder}
								<tr><td>{map.border.y}</td>
							{/endif}
						{else}
							<td>&nbsp;</td>
						{/endif}
					<!-- END map.listitem -->
					<td>{map.border.y}</td>
				</tr>
			<!-- END map.rowitem -->
			<tr>
				<td></td>
				{mapborder.list}
			</tr>
			</table>

			<br />
			<div align="center">
				{!link_to neu scannen, default, ship:$global.ship.id, admin:$global.admin, baseloc:$global.baseloc, range:$global.baserange, css_class:back} |
				{!link_to zur Sternenkarte, default, module:map, loadmap:1, sys:$global.scan.sys, xstart:$global.scan.minx, xend:$global.scan.maxx, ystart:$global.scan.miny, yend:$global.scan.maxy, css_class:back} | 
				{!link_to zur&uuml;ck, default, css_class:back, module:schiff, ship:$global.ship.id}
			</div>
		</td>
		<td class="noBorderS">&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td class="noBorderS" valign="top">
			<iframe src="ds?module=scan&amp;action=scan&amp;ship={global.ship.id}&amp;admin={global.admin}&amp;baseloc={global.baseloc}&amp;range={global.baserange}&amp;scanx={global.scan.x}&amp;scany={global.scan.y}" name="sector" width="550" height="700" scrolling="auto" marginheight="0" marginwidth="0" frameborder="0">
				Dein Browser kann leider keine iframes anzeigen. Am besten installierst du einen Browser neueren Datums wie z.B. <a class="forschinfo" href="http://www.mozilla.org">Mozilla Firefox</a>
			</iframe>
		</td>
	</tr>
	</table>
{/endif}

</span>