{if schiff.navigation.docked}
	{if schiff.navigation.docked.extern}
		Angedockt an<br />
	{else}
		Gelandet auf<br />
	{/endif}
	&gt;{!link_to $schiff.navigation.docked.master.name, default, css_class:academy, ship:$schiff.navigation.docked.master.id}&lt;<br />
	{if schiff.navigation.docked.extern}
		{!link_to Abflug, abladen, ship:$schiff.navigation.docked.master.id, tar:$ship.id}<br />
	{else}
		{!link_to Abflug, start, ship:$schiff.navigation.docked.master.id, shiplist:$ship.id}<br />
	{/endif}
	{!link_to Auftanken, default, module:transport, to:$schiff.navigation.docked.master.id, from:$ship.id, way:stos}
{else}
	{if schiff.navigation.showmessage}
		{schiff.navigation.showmessage}
	{else}

		<table class="navigation">
		<tr>
		<!-- BEGIN schiff.navigation.nav.listitem -->
			{if schiff.navigation.nav.newrow}
				</tr>
				<tr>
			{/endif}
			<td>
				<div class="imgcontainer">
					<div class="tile" style="background: url('{schiff.navigation.nav.tile}') no-repeat -{schiff.navigation.nav.tile.x}px -{schiff.navigation.nav.tile.y}px;">
					</div>
					{if schiff.navigation.nav.sectorimage}
						<div class="sectorimg" style="background: url('{schiff.navigation.nav.sectorimage}') no-repeat -{schiff.navigation.nav.sectorimage.x}px -{schiff.navigation.nav.sectorimage.y}px;">
						</div>
					{/endif}
					<div class="sectorlabel {if schiff.navigation.nav.warn}warn{/endif}">
						{if schiff.navigation.nav.warn}
							<div class="label" onclick="DS.ask('Wenn sie in diese Richtung fliegen werden Schiffe auf Alarmstufe Rot auf sie feuern!\nWollen sie diese Aktion wirklich ausf&uuml;hren?',DS.getUrl()+'?module=schiff&amp;ship={ship.id}&amp;action=plugin&amp;plugin={global.pluginid}&amp;navigation_ops[act]={schiff.navigation.nav.direction}&amp;navigation_ops[count]=1')">
						{else}
							<div class="label" onclick="document.location.href=DS.getUrl()+'?module=schiff&amp;ship={ship.id}&amp;action=plugin&amp;plugin={global.pluginid}&amp;navigation_ops[act]={schiff.navigation.nav.direction}&amp;navigation_ops[count]=1'">
						{/endif}
							{schiff.navigation.nav.location}
						</div>
					</div>
				</div>
			</td>
		<!-- END schiff.navigation.nav.listitem -->
		</tr>
		</table>
		

		<form action="./ds" method="post">
			<div style="margin-top:4px">
				Ziel: 
				<input name="navigation_ops[targetx]" type="text" size="3" value="" />/<input name="navigation_ops[targety]" type="text" size="3" value="" />
				{!form_create_hidden plugin, plugin:$global.pluginid, navigation_ops[moveship]:1, navigation_ops[act]:5, navigation_ops[count]:1, ship:$ship.id}
				<input type="submit" value="Autopilot" /><br />
			</div>
		</form>
	{/endif}
	
	<hr style="height:1px; border:0px; background-color:#606060; color:#606060" />
	<div class="smallfont">
		++ Notiz ++<br />
		<form action="./ds" method="post">
			<div>
				Ziel:
				<input name="navigation_ops[system]" type="text" size="3" value="{schiff.navigation.dest.system}" />
				:
				<input name="navigation_ops[x]" type="text" size="3" value="{schiff.navigation.dest.x}" />
				/
				<input name="navigation_ops[y]" type="text" size="3" value="{schiff.navigation.dest.y}" />
				<br />
				<textarea name="navigation_ops[com]" rows="5" cols="27">{schiff.navigation.dest.text}</textarea><br />
				<input type="checkbox" name="navigation_ops[bookmark]" id="navigation_ops_bookmark" value="1" {if schiff.navigation.bookmarked}checked="checked"{/endif} />
				<label for="navigation_ops_bookmark">Bookmark</label>
				{!form_create_hidden plugin, ship:$ship.id, plugin:$global.pluginid, navigation_ops[setdest]:1}<br />
				<input name="setdest" type="submit" value="Notiz speichern" />
			</div>
		</form>
	</div>
{/endif}