<table class="noBorderX" style="width:100%">
<tr>
	{objects.list}
	{if ! objects.list}
		{if objects.termtoshort}
			<tr>
				<td class="noBorderX" style="text-align:center">Der Suchbegriff muss mindestens 2 Zeichen lang sein</td>
			</tr>
		{else}
			{if search}
				<tr>
					<td class="noBorderX" style="text-align:center">Keine Objekte gefunden</td>
				</tr>
			{/endif}
		{/endif}
	{/endif}
	<!-- BEGIN base.listitem -->
		<tr>
			<td class="noBorderX" style="width:35px"><img src="{URL}data/starmap/asti/asti.png" alt="Basis" title="Basis" /></td>
			<td class="noBorderX">{!link_to $base.name, default, link_target:main, module: base, col: $base.id}</td>
			<td class="noBorderX">{base.location}</td>
		</tr>
	<!-- END base.listitem -->
	<!-- BEGIN ship.listitem -->
		<tr>
			<td class="noBorderX" style="width:35px"><img style="width:30px" src="{ship.type.picture}" alt="{ship.type.name}" title="{ship.type.name}" /></td>
			<td class="noBorderX">{!link_to $ship.name, default, link_target:main, module: schiff, ship: $ship.id}</td>
			<td class="noBorderX">{ship.location}</td>
		</tr>
	<!-- END ship.listitem -->
	<!-- BEGIN user.listitem -->
		<tr>
			<td class="noBorderX" style="width:35px"><img src="{URL}data/interface/menubar/usericon.png" alt="Spieler" title="Spieler" /></td>
			<td class="noBorderX">{!link_to $user.name, default, link_target:main, css_class:profile, module: userprofile, user: $user.id} ({user.id})</td>
			<td class="noBorderX"></td>
		</tr>
	<!-- END user.listitem -->
	{if objects.tomany}
		<tr>
			<td class="noBorderX" colspan="3" style="text-align:center">Und weitere...</td>
		</tr>
	{/endif}
</tr>
</table>
