<div class="smallfont">
<div class="gfxbox" style="width:300px;">
	Rasse: <a id="racelink" name="racelink" class="forschinfo" onclick="$('#raceBox').dsBox('show')" href="#">{race.name}</a>
</div>
<div id="raceBox" style="display:none">
	{race.list}
</div>
<br />
</div>
<div>
<!-- BEGIN tech.listitem -->
<tr>
	<td class="noBorderX">{!link_to $tech.name, default, module:forschinfo, css_style:font-weight:bold, res:$tech.id}</td>
	<td class="noBorderX">
		<img style="vertical-align:middle" src="{URL}data/interface/time.gif" alt="Dauer" />{tech.dauer}&nbsp;
		{if tech.specpoints}
			<img style="vertical-align:middle" src="{URL}data/interface/forschung/specpoints.gif" alt="Spezialisierungskosten" />{tech.specpoints}&nbsp;
		{/endif}
		<!-- BEGIN res.listitem -->
			<img style="vertical-align:middle" src="{warenb}" alt="{waren}" />{tech.cost}{if tech.cost.space}&nbsp;{/endif}
		<!-- END res.listitem -->
	</td>
	<td class="noBorderX">
		{if tech.req1.id}{!link_to $tech.req1.name, default, module:forschinfo, res:$tech.req1.id}{/endif}
		{if tech.req2.id}<br />{!link_to $tech.req2.name, default, module:forschinfo, res:$tech.req2.id}{/endif}
		{if tech.req3.id}<br />{!link_to $tech.req3.name, default, module:forschinfo, res:$tech.req3.id}{/endif}
		{if tech.noreq}&nbsp;{/endif}
	</td>
</tr>
<!-- END tech.listitem -->

<!-- BEGIN tech.researchable.listitem -->
	<td class="noBorderX" align="center">
		<a class="forschinfo" style="font-weight:bold" href="./ds?module=forschinfo&amp;res={tech.id}">
			<img style="border:0px" src="{URL}{tech.image}" alt="" />
		</a><br />
		{!link_to $tech.name, default, module:forschinfo, css_style:font-weight:bold, res:$tech.id}<br />
		{if tech.remaining}
			[noch <img style="vertical-align:middle" src="{URL}data/interface/time.gif" alt="Restzeit" />{tech.remaining}]<br />
		{/endif}
		{if ! tech.remaining}
			<img style="vertical-align:middle" src="{URL}data/interface/time.gif" alt="Dauer" />{tech.dauer}<br />
		{/endif}
		{if tech.specpoints}
			<img style="vertical-align:middle" src="{URL}data/interface/forschung/specpoints.gif" alt="Spezialisierungskosten" />{tech.specpoints}
		{/endif}
		{res.list}
		<br />
		<br />
	</td>
	{if tech.newline}
		</tr>
		<tr>
	{/endif}
<!-- END tech.researchable.listitem -->

{if tech.researchable.list}
	<div class="gfxbox" style="width:740px">
		<span style="color:yellow">Erforschbar</span><br />
		<table class="noBorderX" width="100%">
		<tr>
			{tech.researchable.list}
		</tr>
		</table>
	</div>
	<br />
{/endif}

{if tech.notResearchable.list}
	<div class="gfxbox" style="width:740px">
		<span style="color:red">Noch nicht erforschbar</span><br />
		<table class="noBorderX" width="100%">
		<tr>
			<td class="noBorderX" style="font-weight:bold">Name</td>
			<td class="noBorderX">Kosten</td>
			<td class="noBorderX">Vorraussetzungen</td>
		</tr>
		{tech.notResearchable.list}
		</table>
	</div>
	<br />
{/endif}

{if tech.invisible.list}
	<div class="gfxbox" style="width:740px">
		<span style="color:grey">Unsichtbar</span><br />
		<table class="noBorderX" width="100%">
		<tr>
			<td class="noBorderX" style="font-weight:bold">Name</td>
			<td class="noBorderX">Kosten</td>
			<td class="noBorderX">Vorraussetzungen</td>
		</tr>
			{tech.invisible.list}
		</table>
	</div>
	<br />
{/endif}

{if tech.researched.list}
	<div class="gfxbox" style="width:740px">
		<span style="color:green">Bereits erforscht</span><br />
		<table class="noBorderX" width="100%">
		<tr>
			<td class="noBorderX" style="font-weight:bold">Name</td>
			<td class="noBorderX">Kosten</td>
			<td class="noBorderX">Vorraussetzungen</td>
		</tr>
		{tech.researched.list}
		</table>
	</div>
	<br />
{/endif}
</div>