<span class="smallfont">
<!-- BEGIN msgs.listitem -->
	<img src="{waren.img}" alt="" />{waren.count} f&uuml;r {waren.re} RE eingezahlt<br />
<!-- END msgs.listitem -->
{if msgs.list}
	<br />
{/endif}
{!table_begin 430,center}
<form action="./main.php" method="post">
	<table class="noBorderX" cellpadding="2" width="100%">
	<tr>
		<td colspan="4" class="noBorderX">
			<span style="font-weight:bold">Waren verkaufen:</span>
		</td>
	</tr>
	<!-- BEGIN res.listitem -->
		<tr>
			<td class="noBorderX"><img src="{res.img}"alt="" />{res.name}</td>
			<td class="noBorderX">{res.cargo}</td>
			<td class="noBorderX"><input name="{res.id}to" type="text" size="3" value="0" /></td>
			<td class="noBorderX">{res.re}</td>
		</tr>
	<!-- END res.listitem -->
	<tr>
		<td class="noBorderX" colspan="4">
			<hr noshade="noshade" size="1" style="color:#cccccc" />
		</td>
	</tr>
	<tr>
		<td class="noBorderX" colspan="4" align="center">
			{!form_create_hidden sell, ship:$global.shipid, tradepost:$global.tradepost}
			<input type="submit" value="verkaufen" style="width:200px" />
		</td>
	</tr>
	</table>
	</form>
{!table_end}
<br />
{!link_to zur&uuml;ck, default, css_class:back, module:schiff, ship:$global.shipid}
</span>