<div class="smallfont werft">
{if werftgui.msg}
	{werftgui.msg}
	<br />
	<br />
{/endif}
{if werftgui.ws}
	<div class="gfxbox werkstatt" style="width:610px">
		<table class="noBorderX" width="100%" cellpadding="2">
		<tr>
			<td colspan="2" class="noBorderX">
				Werkstatt: {ship.name} ({ship.id})
				{if ! ship.own}von <a class="profile" href="./ds?module=userprofile&amp;user={ship.owner.id}">{ship.owner.name}</a>{/endif}
				<br />
				<hr style="height:1px; border:0px; background-color:#606060; color:#606060" />
			</td>
		</tr>
		<tr>
			<td class="noBorderX" valign="top">
			{if werftgui.ws.showinfo}
				<a target="_blank" class="noborder" onclick="ShiptypeBox.show({ship.type.id});return false;"
					href="./ds?module=schiffinfo&amp;ship={ship.type.id}">
					<img src="{ship.type.picture}" alt="{ship.type.name}" title="{ship.type.name}" style="border:0px; float:right; margin-right:5px; margin-left:15px;margin-bottom:10px" />
				</a>
				H&uuml;lle: <span style="color:{ship.hull.color}">{ship.hull}/{ship.type.hull}</span><br />
				Ablative Panzerung: <span style="color:{ship.ablativearmor.color}">{ship.ablativearmor}/{ship.type.ablativearmor}</span><br />
				Panzerung: {ship.panzerung}<br />
				{if ship.type.shields}
					Schilde: <span style="color:{ship.shields.color}">{ship.shields}/{ship.type.shields}</span><br />
				{/endif}
				Subsysteme:<br />
				{if ship.type.engine}
					+ Antrieb: <span style="color:{ship.engine.color}">{ship.engine}/{ship.type.engine}</span><br />
				{/endif}
				{if ship.type.weapons}
					+ Waffen: <span style="color:{ship.weapons.color}">{ship.weapons}/{ship.type.weapons}</span><br />
				{/endif}
				{if ship.type.comm}
					+ Kommunikation: <span style="color:{ship.comm.color}">{ship.comm}/{ship.type.comm}</span><br />
				{/endif}
				{if ship.type.sensors}
					+ Sensoren: <span style="color:{ship.sensors.color}">{ship.sensors}/{ship.type.sensors}</span><br />
				{/endif}
				Crew: <span style="color:{ship.crew.color}">{ship.crew}/{ship.type.crew}</span><br />
				Energie: <span style="color:{ship.e.color}">{ship.e}/{ship.type.e}</span><br />
				Triebwerks&uuml;berhitzung: {ship.heat}<br />
				{if ship.offizier.id}
					Offizier: <img style="vertical-align:middle" src="{ship.offizier.picture}" alt="Rang {ship.offizier.rang}" title="Rang {ship.offizier.rang}" />
					{!link_to $ship.offizier.name, default, module:choff, off:$ship.offizier.id}<br />
				{/endif}
			{/endif}
			{if werftgui.ws.repair}
				<div align="center">
					<img src="{ship.type.image}" alt="" />
				</div>
				<br /><br />
				<!-- BEGIN ws.repair.res.listitem -->
					<img align="middle" src="{res.image}" alt="{res.plainname}" title="{res.plainname}" />{res.cargo.needed} ben&ouml;tigt - 
					<img align="middle" src="{res.image}" alt="{res.plainname}" title="{res.plainname}" />{res.cargo.available} vorhanden<br />
				<!-- END ws.repair.res.listitem -->
				<br />
				{if ws.repair.error}
					<span style="color:red">
						{ws.repair.error}
					</span>
				{else}
					{ws.repair.message}
					{if ws.repair.conf}
						<br />
						<div align="center">
							<a class="ok" href="{werftgui.urlbase}&amp;ws={ship.id}&amp;werftact=repair&amp;conf=ok">{ship.name} reparieren</a>
						</div>
					{else}
						<div style="text-align:center; color:green">{ship.name} repariert</div>
					{/endif}				
				{/endif}
			{/endif}
			{if werftgui.ws.dismantle}
				<div align="center">
					<img src="{ship.type.image}" alt="" />
				</div>
				<br /><br />
				Schiff demontieren f&uuml;r:<br />
				<div align="center">
					<!-- BEGIN ws.dismantle.res.listitem -->
						<img align="middle" src="{res.image}" alt="{res.plainname}" title="{res.plainname}" />{res.cargo}
					<!-- END ws.dismantle.res.listitem -->
				</div>
				<br />
				Laderaum des Schiffes:<br />
				<div align="center">
					{ws.dismantle.available.list}
				</div>
				<br />
				{if ws.dismantle.error}
					<span style="color:red">Demontierung fehlgeschlagen:<br />
						{ws.dismantle.error}
					</span>
				{else}
					{if ws.dismantle.conf}
						<div align="center">
							<br />
							<a class="ok" href="{werftgui.urlbase}&amp;ws={ship.id}&amp;werftact=dismantle&amp;conf=ok">{ship.name} demontieren</a>
						</div>
					{else}
						<div align="center" style="color:green">{ship.name} demontiert</div>
						<br /><br />
					{/endif}
				{/endif}
			{/endif}
			{if werftgui.ws.modules}
				<div align="center">
					<img src="{ship.type.image}" alt="" />
				</div>
				<br /><br />
				{if ws.modules.msg}
					{ws.modules.msg}
					<br />
				{/endif}
				{if ws.modules.flotte}
					<form action="./ds" method="post" id="flotteMitModulenForm">
						{werftgui.formhidden}
						<input type="hidden" name="werftact" value="module" />
						<input type="hidden" name="ws" value="{ship.id}" />
						<input type="checkbox"
							   name="flotte"
							   id="flotteMitModulen"
							   value="1"
							   onclick="$('#flotteMitModulenForm').submit()"
							   onchange="$('#flotteMitModulenForm').submit()"
								{if ws.modules.flotte.aktiv}checked="checked"{/endif} />
						<label for="flotteMitModulen">Alle {ws.modules.flotte.anzahl} {ws.modules.flotte.typname} der Flotte ausrüsten</label>
					</form>
					<br />
				{/endif}
				<ul>
				<!-- BEGIN ws.modules.slots.listitem -->
					<li>
						{slot.name}:
						{if slot.empty}
							Leer
							{if slot.items.list}
								<form action="./ds" method="post">
								{werftgui.formhidden}
								<input type="hidden" name="werftact" value="module" />
								<input type="hidden" name="ws" value="{ship.id}" />
								<input type="hidden" name="slot" value="{slot.id}" />
								<input type="hidden" name="flotte" value="{ws.modules.flotte.aktiv}" />
								<select size="1" name="item">
									<!-- BEGIN slot.items.listitem -->
										<option value="{item.id}">{item.name}</option>
									<!-- END slot.items.listitem -->
								</select>
								<input type="submit" value="einbauen" />
								</form>
							{/endif}
						{else}
							{slot.module.name}
							<a class="error" href="{werftgui.urlbase}&amp;ws={ship.id}&amp;werftact=module&amp;slot={slot.id}&amp;flotte={ws.modules.flotte.aktiv}&amp;moduleaction=ausbauen">ausbauen</a>
						{/endif}
					</li>
				<!-- END ws.modules.slots.listitem -->
				</ul>
			{/endif}			
			</td>
			<td valign="top" align="center" class="noBorderX">
				<a class="forschinfo" href="{werftgui.urlbase}&amp;ws={ship.id}">Infos</a><br />
				<a class="forschinfo" href="{werftgui.urlbase}&amp;ws={ship.id}&amp;werftact=repair">Reparieren</a><br />
				{if ship.own}
					<a class="forschinfo" href="{werftgui.urlbase}&amp;ws={ship.id}&amp;werftact=dismantle">Demontieren</a><br />
				{/endif}
				{if ship.type.modules}
					<a class="forschinfo" href="{werftgui.urlbase}&amp;ws={ship.id}&amp;werftact=module">Module</a><br />
				{/endif}
			</td>
		</tr>
		</table>
		<br />
	</div>
	<br />
	<a class="back" href="{werftgui.urlbase}">Zur&uuml;ck zur Werft&uuml;bersicht</a>
	{if ship.own}
		 | {!link_to Zum Schiff, default, module:schiff, ship:$ship.id, css_class:back}
	{/endif}
	<br />
{/endif}
{if werftgui.build}
	<div class="gfxbox" style="width:540px">
		<div style="text-align:center">
			<h2>{build.type.name}</h2>
			<img src="{build.type.image}" alt="" />
			
			<hr noshade="noshade" size="1" style="color:#cccccc;width:80%" />
			
			<table class="noBorderX" cellpadding="2" cellspacing="1" style="margin-left:auto;margin-right:auto">
			<tr>
				<th style="text-align:center" colspan="5"><h3>Baukosten</h3></th>
			</tr>
			<tr>
				<td class="noBorderX" style="width:32px"></td>
				<td class="noBorderX" style="width:100px;text-align:right">Vorhanden</td>
				<td class="noBorderX" style="width:50px;text-align:right">Sofort</td>
				<td class="noBorderX" style="width:40px;text-align:center">oder</td>
				<td class="noBorderX" style="width:40px;text-align:right">Pro Tick</td>
			</tr>
			<!-- BEGIN build.res.listitem -->
				<tr>
					<td class="noBorderX" style="width:20px">
						<img src="{res.image}" alt="" title="{res.plainname}" />
					</td>
					<td class="noBorderX" style="width:100px;text-align:right">{res.cargo.available}</td>
					<td class="noBorderX" style="width:50px;text-align:right">
						{if res.cargo.mangel}
					 		<a class="error tooltip" href="#">
					 			<span class="ttcontent">Mehrbedarf:<br />{res.cargo.mangel} Einheiten</span>
						{/endif}
						{res.cargo.needed}
						{if res.cargo.mangel}
							</a>
						{/endif}
					</td>
					{if res.cargo.pertick}
						<td class="noBorderX"></td>
						<td class="noBorderX" style="width:40px;text-align:right">{res.cargo.pertick}</td>
					{else}
						<td class="noBorderX" colspan="2"></td>
					{/endif}
				</tr>
			<!-- END build.res.listitem -->
			<tr><td class="noBorderX" colspan="3"></td></tr>
			<tr>
				<th style="text-align:center" colspan="5"><h3>Werftkapazit&auml;t</h3></th>
			</tr>
			
			{build.othercosts.list}
			
			</table>
			<br />
			
			<hr noshade="noshade" size="1" style="color:#cccccc;width:80%" />
			<h3>Aktionen</h3>
			<div style="margin-top:3px; margin-bottom:3px">
				{if build.conf}
					{if build.instant.error}
						<span class="error">{build.instant.error}</span><br />
					{else}
						<a class="ok" href="{werftgui.urlbase}&amp;build={build.id}&amp;item={build.item.id}&amp;conf=ok&amp;pertick=0">Bauen und sofort bezahlen</a><br />
					{/endif}
				{else}
					{if build.error}
						<span class="error">{build.error}</span>
					{else}
						<span class="ok">alles ok - beginne mit Bau</span>
					{/endif}
				{/endif}
			</div>
			<hr noshade="noshade" size="1" style="color:#cccccc; width:10%" />
			<a class="ok" href="{werftgui.urlbase}">zur&uuml;ck</a><br />
		</div>
	</div>
{/endif}
{if werftgui.main}
	<div class="gfxbox" style="width:850px;text-align:center">
		<h3>Werft: {werftgui.name}</h3>
		<div style="text-align:left">
			<table class="noBorderX" cellpadding="2" cellspacing="1">
			<tr>
				<td class="noBorderX" style="vertical-align:top">
					<img style="width:64px" src="{werftgui.picture}" alt="" />
				</td>
				<td class="noBorderX" width="50"></td>
				<td class="noBorderX" style="vertical-align:top">
					Freies Personal: <img style="vertical-align:middle" src="data/interface/arbeitslos.gif" alt="" /> {werftgui.crew}<br />
					Werftkapazit&auml;t: <img style="vertical-align:middle" src="data/interface/schiffinfo/werftslots.png" alt="" /> {werftgui.werftslots}
				</td>
			    <td class="noBorderX" width="50"></td>
				<td class="noBorderX" style="vertical-align:top">
					Auslastung: {werftgui.totalqueueentries} Schiffe</a>
				</td>
			</table>
		</div>
		<br />
		<h3>Vorhandene Rohstoffe</h3>
		<table class="noBorderX">
		<tr>
		<td class="noBorderX">
		<!-- BEGIN reslist.res.listitem -->
				<img style="vertical-align:middle" src="{res.image}" alt="" title="{res.plainname}" />{res.cargo}
		<!-- END reslist.res.listitem -->
		</td>
		</tr>
		</table>
	
		<br />
		<h3>Aktionen</h3>
		<table class="noBorderX" style="width:90%; margin-left:auto; margin-right:auto">
		<tr>
			{if werftgui.allowBuild}
			<td class="noBorderX" style="text-align:center">
				<a class="forschinfo" href="{werftgui.urlbase}&amp;show=build">Bau</a>
			</td>
			{/endif}
			{if werftgui.allowRepair}
			<td class="noBorderX" style="text-align:center">
				<a class="forschinfo" href="{werftgui.urlbase}&amp;show=repair">Wartung</a>
			</td>
			{/endif}
			<td class="noBorderX" style="text-align:center">
				<a class="forschinfo" href="{werftgui.urlbase}&amp;show=queue">Bauschlange</a>
			</td>
			<td class="noBorderX" style="text-align:center">
				<a class="forschinfo" href="{werftgui.urlbase}&amp;show=options">Optionen</a>
			</td>
		</tr>
		</table>
		<br />
		<hr noshade="noshade" size="1" style="color:#cccccc" />
		<br />
		<script type="text/javascript">
		<!--
		//<![CDATA[
			function highlightRow(row, highlight) {
				if( highlight ) {
					row.style.backgroundColor = '#36413A';
				}
				else {
					row.style.backgroundColor = 'transparent';
				}
			}
		//]]>
		-->
		</script>
		{if werftgui.main.build}
			{if werftgui.buildshiplist}
				<div style="height:400px; overflow:auto;">
					<table class="noBorderX" style="width:95%">
					<tr>
						<td class="noBorderX"></td>
						<td class="noBorderX" style="text-align:center" colspan="2">Typ</td>
						<td class="noBorderX" style="text-align:center">Kosten pro Schiff</td>
						<td class="noBorderX"></td>
					</tr>
					<!-- BEGIN buildshiplist.listitem -->
						<tr onmouseover="highlightRow(this, true)" onmouseout="highlightRow(this, false)">
							<td class="noBorderX">
								{if buildship.item.id}
									<span style="color:{buildship.item.color}">[Item]</span>
									{if buildship.item.uses}
										<span style="font-style:italic">[{buildship.item.uses}]</span>
									{/endif}
								{/endif}
								{if buildship.flagschiff}
									<span class="smallfont" style="color:#EECC44" title="Flagschiff">[FS]</span>
								{/endif}
							</td>
							<td class="noBorderX">
								<img style="vertical-align:middle;width:64px" src="{buildship.type.image}" alt="" />
							</td>
							<td class="noBorderX">
								<a class="forschinfo" onclick="ShiptypeBox.show({buildship.type.id});return false;"
									href="./ds?module=schiffinfo&amp;ship={buildship.type.id}">
									{buildship.type.name}
								</a>
							</td>
							<td class="noBorderX">
								<!-- BEGIN buildship.res.listitem -->
									<span class="nobr"><img src="{res.image}" alt="" title="{res.plainname}" />{if res.mangel}<span style="color:red">{/endif}{res.count}{if res.mangel}</span>{/endif}</span>
								<!-- END buildship.res.listitem -->
							</td>
							<td class="noBorderX">
								<a class="forschinfo" href="{werftgui.urlbase}&amp;build={buildship.id}{if buildship.item.id}&amp;item={buildship.item.id}{/endif}">bauen</a>
							</td>
						</tr>		
					<!-- END buildshiplist.listitem -->
					</table>
				</div>
			{else}
				Keine baubaren Schiffstypen vorhanden
			{/endif}
		{/endif}
		{if werftgui.main.repair}
			{if werftgui.wsshiplist}
				<span style="font-weight:bold">Schiff in die Werkstatt:</span><br />
				<form action="./ds" method="post">
				{werftgui.formhidden}
				<div>
					<select name="ws">
						<option selected="selected">Ziel</option>
						<!-- BEGIN wsshiplist.listitem -->
							<option value="{ship.id}">{if ship.needsrepair}* {/endif}{ship.name} ({ship.id}){if ship.owner.name} {ship.owner.name}{/endif}</option>
						<!-- END wsshiplist.listitem -->
					</select>&nbsp;
				
					<input type="submit" value="zur Werkstatt" />
				</div>
				</form>
			{else}
				Es befinden sich keine Schiffe im Sektor
			{/endif}
		{/endif}
		{if werftgui.main.queue}
			{if werftgui.building.cancel}
				<div style="text-align:center">
					<span class="error">Bau abgebrochen</span>
				</div>
				<br />
			{/endif}
			{if queueshiplist.list}
				<div style="height:400px; overflow:auto;">
					<table class="noBorderX" style="width:95%" cellpadding="5">
					<tr>
						<td class="noBorderX" style="text-align:center;width:30%" colspan="2">Typ</td>
						<td class="noBorderX" style="width:50%">Status</td>
						<td class="noBorderX" style="width:5%"></td>
						<td class="noBorderX" style="width:15%">Aktionen</td>
					</tr>
					<!-- BEGIN queueshiplist.listitem -->
						<tr onmouseover="highlightRow(this, true)" onmouseout="highlightRow(this, false)">
							<td class="noBorderX">
								<img style="vertical-align:middle;width:64px" src="{queueship.type.image}" alt="" />
							</td>
							<td class="noBorderX">
								<a class="forschinfo" onclick="ShiptypeBox.show({queueship.type.id});return false;"
									href="./ds?module=schiffinfo&amp;ship={queueship.type.id}">
									{queueship.type.name}
								</a>
							</td>
							<td class="noBorderX">
								Fertigstellung in: <img vertical-align="middle" src="data/interface/time.gif" alt="Dauer" title="Dauer" />{queueship.remainingtotal}<br />
								Ben&ouml;tigte Slots: <img vertical-align="middle" src="data/interface/schiffinfo/werftslots.png" alt="Werftslots" title="Werftslots" />{queueship.slots}
								{if queueship.reqitem}
									<br />Ben&ouml;tigt: <img style="vertical-align:middle" src="data/items/{queueship.item.picture}" alt="{queueship.item.name}" />{queueship.item.name}
								{/endif}
								{if queueship.buildcosts.list}
									<br />Pro Tick: 
									<!-- BEGIN queueship.buildcosts.listitem -->
										<img style="vertical-align:middle" src="{res.image}" alt="{res.plainname}" title="{res.plainname}" />{res.cargo}
									<!-- END queueship.buildcosts.listitem -->
								{/endif}
							</td>
							<td class="noBorderX">
								{if queueship.building}
									<img vertical-align="middle" src="data/interface/werft/active.png" alt="wird gebaut" title="wird gebaut" />
								{/endif}
							</td>
							<td class="noBorderX">
								{if queueship.uppossible}
									<a href="{werftgui.urlbase}&amp;werftact=queuetop&entry={queueship.position}&amp;show=queue" title="Ganz nach oben verschieben">
										<img style="vertical-align:middle;border:0px" src="data/interface/werft/top.png" alt="Runter"/>
									</a>
									<a href="{werftgui.urlbase}&amp;werftact=queueup&entry={queueship.position}&amp;show=queue" title="Nach oben verschieben">
										<img style="vertical-align:middle;border:0px" src="data/interface/werft/up.png" alt="Runter" />
									</a>
								{else}
									<img style="vertical-align:middle;border:0px" src="data/interface/werft/spacer.png" alt="" />
									<img style="vertical-align:middle;border:0px" src="data/interface/werft/spacer.png" alt="" />
								{/endif}
								{if queueship.downpossible}
									<a href="{werftgui.urlbase}&amp;werftact=queuedown&entry={queueship.position}&amp;show=queue" title="Nach unten verschieben">
										<img style="vertical-align:middle;border:0px" src="data/interface/werft/down.png" alt="Hoch" />
									</a>
									<a href="{werftgui.urlbase}&amp;werftact=queuebottom&entry={queueship.position}&amp;show=queue" title="Ganz nach unten verschieben">
										<img style="vertical-align:middle;border:0px" src="data/interface/werft/bottom.png" alt="Hoch" />
									</a>
								{else}
									<img style="vertical-align:middle;border:0px" src="data/interface/werft/spacer.png" alt="" />
									<img style="vertical-align:middle;border:0px" src="data/interface/werft/spacer.png" alt="" />
								{/endif}
								{if queueship.cancelpossible}
									<a href="javascript:DS.ask('Soll der Bau wirklich abgebrochen werden?','{werftgui.urlbase}&amp;werftact=canclebuild&entry={queueship.position}&amp;show=queue')">
										<img style="vertical-align:middle;border:0px" src="data/interface/werft/delete.gif" alt="Abbrechen" title="Abbrechen" />
									</a>
								{/endif}
							</td>
							
						</tr>		
					<!-- END queueshiplist.listitem -->
					</table>
				</div>
			{else}
				Keine im Bau befindlichen Schiffe vorhanden
			{/endif}
		{/endif}
		{if werftgui.main.options}
			{if werftgui.komplexparts.list}
				<div style="height:400px; overflow:auto;">
					<table class="noBorderX" style="width:95%" cellpadding="5">
					<tr>
						<td class="noBorderX" style="text-align:center;width:30%" colspan="2">Werft</td>
						<td class="noBorderX" style="width:30%"></td>
						<td class="noBorderX" style="width:10%">Aktionen</td>
					</tr>
					<!-- BEGIN werftgui.komplexparts.listitem -->
						<tr onmouseover="highlightRow(this, true)" onmouseout="highlightRow(this, false)">
							<td class="noBorderX">
								<img style="vertical-align:middle;width:64px" src="{komplexpart.type.image}" alt="" />
							</td>
							<td class="noBorderX">
								<a class="forschinfo" href="{komplexpart.url}">{komplexpart.name}</a>
							</td>
							<td class="noBorderX">
								{if komplexpart.linkedbase.list}
									<form action="./ds" method="post">
									<div>
										<span style="font-weight:bold">An:&nbsp;&nbsp;</span>
										<select name="linkedbase" size="1">
										<!-- BEGIN komplexpart.linkedbase.listitem -->
											<option {if komplexpart.linkedbase.selected}selected="selected"{/endif} value="{komplexpart.linkedbase.value}">{komplexpart.linkedbase.name}</option>
										<!-- END komplexpart.linkedbase.listitem -->
										</select>
										{komplexpart.werftgui.formhidden}
										<input name="show" type="hidden" value="options" />
										<input type="submit" value="ok" /><br />
									</div>
									</form>
								{/endif}
							</td>
							<td class="noBorderX">
								<a href="{werftgui.urlbase}&amp;werftact=removefromkomplex&entry={komplexpart.id}&amp;show=options">
									<img style="vertical-align:middle;border:0px" src="data/interface/werft/delete.gif" alt="Entfernen" title="Entfernen" />
								</a>
							</td>
							
						</tr>		
					<!-- END werftgui.komplexparts.listitem -->
					</table>
				</div>
			{/endif}
			{if werftgui.linkedwerft.list}
				<form action="./ds" method="post">
				<div>
					<span style="font-weight:bold">An Werft koppeln:</span><br />
					<select name="linkedwerft" size="1">
					<!-- BEGIN werftgui.linkedwerft.listitem -->
						<option {if linkedwerft.selected}selected="selected"{/endif} value="{linkedwerft.value}">{linkedwerft.name}</option>
					<!-- END werftgui.linkedwerft.listitem -->
					</select>
					{werftgui.formhidden}
					<input name="show" type="hidden" value="options" />
					<input type="submit" value="ok" /><br />
				</div>
				</form>
				<br />
				<br />
			{/endif}
			{if werftgui.linkedbase.list}
				<form action="./ds" method="post">
				<div>
					<span style="font-weight:bold">An Asteroid koppeln:</span><br />
					<select name="linkedbase" size="1">
					<!-- BEGIN werftgui.linkedbase.listitem -->
						<option {if linkedbase.selected}selected="selected"{/endif} value="{linkedbase.value}">{linkedbase.name}</option>
					<!-- END werftgui.linkedbase.listitem -->
					</select>
					{werftgui.formhidden}
					<input name="show" type="hidden" value="options" />
					<input type="submit" value="ok" /><br />
				</div>
				</form>
			{else}
				{if ! werftgui.linkedwerft.list}
					{if ! werftgui.komplexparts.list}
						Keine Optionen verf&uuml;gbar
					{/endif}
				{/endif}
			{/endif}
		{/endif}
	</div>
{/endif}
</div>
