<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:annotation-config/>

	<!-- Server -->

	<bean id="regularTickJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="net.driftingsouls.ds2.server.tick.ScheduledTick" />
		<property name="jobDataAsMap">
			<map>
				<entry key="tickExecuter" value="net.driftingsouls.ds2.server.tick.RegularTick" />
			</map>
		</property>
	</bean>
	<bean id="rareTickJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="net.driftingsouls.ds2.server.tick.ScheduledTick" />
		<property name="jobDataAsMap">
			<map>
				<entry key="tickExecuter" value="net.driftingsouls.ds2.server.tick.RareTick" />
			</map>
		</property>
	</bean>
	<bean id="regularTickCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="regularTickJob" />
		<property name="cronExpression" value="0 0 0,4,12,16,18,20,22 * * ?" />
		<!--<property name="cronExpression" value="0 0 0,4 * * ?" />-->
	</bean>
	<bean id="rareTickCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="rareTickJob" />
		<property name="cronExpression" value="0 0 3 * * ?" />
	</bean>
	<bean name="quartzSchedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="regularTickCronTrigger" />
				<ref bean="rareTickCronTrigger" />
			</list>
		</property>
		<property name="applicationContextSchedulerContextKey" value="applicationContext"/>
	</bean>
	<bean class="net.driftingsouls.ds2.server.TickAdminCommand">
		<property name="regularTickCronTrigger" ref="regularTickCronTrigger" />
		<property name="rareTickCronTrigger" ref="rareTickCronTrigger" />
		<property name="scheduler" ref="quartzSchedulerFactory" />
	</bean>
</beans>